



{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block app %} Members {% endblock app %}

{% block active_members %}
active
{% endblock active_members %}

{% block active_econ_act  %}
active
{% endblock active_econ_act %}
{% block breadcrump %}
<li class="breadcrumb-item"><a href="{% url 'econ_act_list' %}">Economic Activities</a></li>
<li class="breadcrumb-item"><a href="{% url 'econ_act_list' %}">AOE</a></li>
{% endblock breadcrump %}

{% block show_members  %}
menu-open
{%  endblock show_members %}

{% block title %}

Dashboard Members - Economic Activities

{% endblock title %}



{% block dashboard_content %}

<section class="content">
    <div class="row d-flex justify-content-center">
      <div class="col-10">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Economic Activity Details Form</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">
                           
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
          
            {% crispy form %}

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
{% endblock dashboard_content %}





