{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Members {% endblock app %}

{% block active_members %}
active
{% endblock active_members %}

{% block active_econ_act %}
active
{% endblock active_econ_act %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'econ_act_list' %}">Economic Activities</a></li>
<li class="breadcrumb-item"><a href="{% url 'econ_act_list' %}">List</a></li>
{% endblock breadcrump %}

{% block show_members  %}
menu-open
{%  endblock show_members %}

{% block title %}

Dashboard Members 

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Member's Economic Activities Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">

                            <a href="{% url 'econ_act_aoe' %}"  class="btn btn-warning btn-sm" id="paymentBtn">
                              <i class="fas fa-pen fa-lg"></i>
                              New
                            </a>
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table  table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th> Name</th>
          
                <th>Edit</th>
              </tr>
              </thead>
              <tbody>
                {% for activity in activities %}
              <tr>
                <td>{{activity.name}}</td>
           
          
                  <td>   <a href="{% url 'econ_act_edit' pk=activity.id %}" class="btn btn-sm btn-success"> Edit  </a></td>
             
             
             
                </tr>

              {% endfor %}
  







          
              </tbody>
              <tfoot>
            
                <tr>
                  <th> Name</th>
                  <th>Edit</th>
                
                </tr>
        
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}


{% endblock extra_js %}