{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Members {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'groups_list' %}">Groups</a></li>
<li class="breadcrumb-item"><a href="">Details</a></li>
{% endblock breadcrump %}
{% block active_members %}
active
{% endblock active_members %}

{% block show_members  %}
menu-open
{%  endblock show_members %}
{% block active_group %}
active
{% endblock active_group %}
{% block title %}

Dashboard Groups

{% endblock title %}

{% block dashboard_content %}
<section class="content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">

            
                <div class="col-12 col-sm-12">
                    <div class="col-12" style="padding: 0;">

<!--                         
                            <div class="paymentBtn btn btn-danger btn-md btn-flat paymentBtn" id="paymentBtn">
                                Dormant
                            </div> -->
                        
                            
                          

                            <a href = "" class="btn btn-info btn-md btn-flat">
                                
                                <i class="fas fa-pen fa-lg "></i>
                                Edit
                            </a>
                    

                    </div>

                    <div class="row">
                        <div class="col-3">
                            <p class="my-3"><span class="t">Name:</span> {{ group.group_name }}</p>
                            <p><span class="t">Group Number:</span > {{ group.id }}.</p>
                                <p class="my-3"><span class="t">Total Members: {{ members.count }}</span> 

                        </div>

                    

                        <div class="col-3">
                            <p class="my-3"><span class="t">County:</span> {{ group.county }}</p>
                            <p class="my-3"><span class="t">Sub County:</span> {{ group.sub_county }}</p>
                            <p class="my-3"><span class="t">City:</span> {{ group.town }}</p>
                        </div>

                        <div class="col-3">
                            <p class="my-3"><span class="t">Total Loans:</span> 

                                <p class="my-3"><span class="t">Total Savings:</span> 
                                
                          
                           
                        </div>
                        <div class="col-3">
                            <p class="my-3"><span class="t">Date Created:</span> {{ group.date_created }}</p>
                            <p class="my-3"><span class="t">Created By:</span> {{ group.creator }}</p>
                            <p class="my-3"><span class="t">Date Modified:</span> {{ group.date_modified }}</p>
                            <p class="my-3"><span class="t">Modified By:</span> {{ group.modified_by }}</p>

                        </div>


                    </div>
                  

                 



                </div>
            </div>
            <div class="row">
                <nav class="w-100">
                    <div class="nav nav-tabs bg-warning" id="product-tab" role="tablist">
                        <a class="nav-item nav-link active" id="transactions-tab" data-toggle="tab" href="#transactions"
                            role="tab" aria-controls="product-desc" aria-selected="true">Members</a>
                        <a class="nav-item nav-link" id="loans-tab" data-toggle="tab" href="#loans"
                            role="tab" aria-controls="product-desc" aria-selected="true">Loans Issued</a>
                         
                            <a class="nav-item nav-link" id="savings-tab" data-toggle="tab" href="#savings"
                            role="tab" aria-controls="product-desc" aria-selected="true">Saving Curve</a>
                            <a class="nav-item nav-link" id="projects-tab" data-toggle="tab" href="#projects"
                            role="tab" aria-controls="product-desc" aria-selected="true">Loans Curve</a>


                            <a class="nav-item nav-link" id="letters-tab" data-toggle="tab" href="#letters" role="tab"
                            aria-controls="product-rating" aria-selected="false">Register Multiple Members</a>
                            <a class="nav-item nav-link" id="audit-tab" data-toggle="tab" href="#audit" role="tab"
                            aria-controls="product-rating" aria-selected="false">Group Audit Trail</a>
                         

                    </div>
                </nav>
                <div class="tab-content p-1" id="nav-tabContent" style="width: 98%;">
                    <div class="tab-pane fade" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title"> Group Members {{ group.group_name }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                           
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                                                <thead class="bg-info">
                                                <tr>
                                                  <th>First Name</th>
                                                  <th>Middle Name</th>
                                                  <th>Last Name</th>
                                                  <th>Phone Number</th>
                                  
                                                  <th>National Id</th>
                                                  
                                                  <th>Economic Activity</th>
                                                  <th>Saving Acc Bal</th>
                                  
                                                  <th>Current Acc Bal</th>
                                                  
                                                  <th>Group Acc Bal</th>
                                                  <th>Project Acc Bal</th>
                                                  <th>Remove</th>
                                                  <th>Status</th>
                                                  <th>Details</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                  {% for member in members %}
                                                <tr>
                                                  <td>{{member.first_name}}</td>
                                                  <td>
                                                    {{member.middle_name}}
                                                  </td>
                                                  <td>{{member.last_name}}</td>
                                                  <td>  {{member.phone_number }} </td>
                                                  <td>  {{member.id_number }}</td>
                                                  <td> {{member.economic_activity.name }}</td>

                                                  <td>  {{member.saving_acc.acc_balance }} </td>
                                                  <td>  {{member.current_acc.acc_balance }}</td>
                                                  <td> {{member.group_acc.acc_balance }}</td>
                                                  <td> {{member.project.acc_balance }}</td>
                                                  <td>   <a href="{% url 'group_remove_member' group=group.id pk=member.id %}" class="btn btn-sm btn-info"> Remove  </a></td>
                                                  <td> <a  class="btn btn-sm btn-success"> D  </a>
                                                  </td>
                                                  
                                            
                                                    <td>   <a href="{% url 'members_details' pk=member.id %}" class="btn btn-sm btn-success"> More  </a></td>
                                               
                                               
                                               
                                                  </tr>
                                  
                                                {% endfor %}
                                    
                                  
                                  
                                  
                                  
                                  
                                  
                                  
                                            
                                                </tbody>
                                                <tfoot>
                                              
                                                  <tr>
                                                    <th>First Name</th>
                                                    <th>Middle Name</th>
                                                    <th>Last Name</th>
                                                    <th>Phone Number</th>
                                    
                                                    <th>National Id</th>
                                                    
                                                    <th>Economic Activity</th>
                                                    <th>Saving Acc Bal</th>
                                  
                                                    <th>Current Acc Bal</th>
                                                    
                                                    <th>Group Acc Bal</th>
                                                    <th>Project Acc Bal</th>
                                                    <th>Remove</th>
                                                    <th>Status</th>
                                                    <th>Details</th>
                                                  </tr>
                                          
                                                </tfoot>
                                              </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>

                    <div class="tab-pane fade" id="loans" role="tabpanel" aria-labelledby="loans-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title"> Loans Taken By {{ group.group_name }} Members</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                           
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                                                <thead class="bg-info">
                                                    <tr>
                                                        <th>Number</th>
                                                        <th> Requeste Amount</th>
                                                        <th>Loan Product</th>
                                                        <th>Purpose</th>
                                                        <th>Amount Disbursed</th>
                                                        <th>Amount To Be Paid </th>
                                                        <th>Date request</th>
                                                        <th>Date Approved</th>
                                                        <th>Date Disbursed</th>
                                                        <th>View</th>
                                                        <th>Edit</th>                                                 
                                                        <th>Created by</th>
                                                        <th>Date Created</th>
                                                        <th>Modified by</th>
                                                        <th>Date Modified</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                             









                                                </tbody>
                                                <tfoot class="bg-secondary"> 
                                                    <tr>
                                                        <th>Number</th>
                                                        <th> Requeste Amount</th>
                                                        <th>Loan Product</th>
                                                        <th>Purpose</th>
                                                        <th>Amount Disbursed</th>
                                                        <th>Amount To Be Paid </th>
                                                        <th>Date request</th>
                                                        <th>Date Approved</th>
                                                        <th>Date Disbursed</th>
                                                        <th>View</th>
                                                        <th>Edit</th>                                                 
                                                        <th>Created by</th>
                                                        <th>Date Created</th>
                                                        <th>Modified by</th>
                                                        <th>Date Modified</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>

                    <div class="tab-pane fade" id="savings" role="tabpanel" aria-labelledby="savings-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title"> Savings Curve For  {{ group.group_name }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                           
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="card">
                                                <div class="card-header">
                                                   No Data Available To Plot
                                                </div>

                                                <div class="card-body">
                                                    <p>No Data available</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>

                    <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title"> Loan Curve For  {{ group.group_name }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                           
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="card">
                                                <div class="card-header">
                                                   No Data Available To Plot
                                                </div>

                                                <div class="card-body">
                                                    <p>No Data available</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>



                    <div class="tab-pane fade" id="g_loans" role="tabpanel" aria-labelledby="g_loans-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title"> Guaranteed Loans  {{ tenant.get_names }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                           
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                                                <thead class="bg-info">
                                                    <tr>
                                                        <th>Member</th>
                                                        <th colspan="3"> Loan Amount</th>
                                                       
                                                       
                                                       
                                                      
                                                        <th>Group</th>
                                                        <th>Date Created</th>

                                                        <th>Loan Is Cleared </th>
                                                        <th>Date </th>
                                                        <th>View</th>
                                                        <th>Edit</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>

                                             









                                                </tbody>
                                           
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>
                    <div class="tab-pane fade" id="groups" role="tabpanel" aria-labelledby="groups-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title"> Groups  Associated with {{ tenant.get_names }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                            <a href=""
                                                                class="btn btn-sm btn-warning"> <i class="fas fa-pen"></i> New</a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                                                <thead class="bg-info">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th colspan="3"> County</th>
                                                       
                                                       
                                                       
                                                      
                                                        <th>Sub County</th>
                                                        <th>Village</th>

                                                        <th>Current </th>
                                                       
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    {% for g in groups %}

                                                        <td> {{ g.name }} </td>
                                                        <td> {{ g.county }} </td>
                                                        <td> {{ g.sub_county }} </td>
                                                        <td> {{ g.village }} </td>
                                                        <td> {% if g.name == "Kathituni" %} Yes {% else %} No {% endif %}</td>


                                                    {% endfor %}

                                             









                                                </tbody>
                                            
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>
                    <div class="tab-pane fade" id="sms" role="tabpanel" aria-labelledby="sms-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title"> Sms sent to {{ tenant.get_names }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                            <a href=""
                                                                class="btn btn-sm btn-warning"> <i class="fas fa-pen"></i> New</a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">

                                            <div class="card">
                                                <div class="card-header">
                                                    No Sms Sent Yet
                                                </div>

                                                <div class="card-body">
                                                    <p>No Messages have been sent to this member yet</p>
                                                </div>
                                            </div>
                                            <!-- <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                                                <thead class="bg-info">
                                                    <tr>
                                                        <th>Number</th>
                                                        <th colspan="3"> Subject</th>
                                                       
                                                       
                                                       
                                                      
                                                        <th>Created by</th>
                                                        <th>Date Created</th>

                                                        <th>Modified by </th>
                                                        <th>Date Modified</th>
                                                        <th>View</th>
                                                        <th>Edit</th>
                                                        <th>Void</th>
                                                        <th>Created by</th>
                                                        <th>Date Created</th>

                                                        <th>Modified by </th>
                                                        <th>Date Modified</th>
                                                        <th>View</th>
                                                        <th>Edit</th>
                                                        <th>Void</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                             









                                                </tbody>
                                                <tfoot class="bg-secondary"> 

                                                    <tr>
                                                        <th>Number</th>
                                                        <th colspan="3"> Subject</th>
                                                       
                                                        <th>Created by</th>
                                                        <th>Date Created</th>

                                                        <th>Modified by </th>
                                                        <th>Date Modified</th>
                                                        <th>View</th>
                                                        <th>Edit</th>
                                                        <th>Void</th>
                                                    
                                                    </tr>

                                                </tfoot>
                                            </table> -->
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>

                    <div class="tab-pane fade" id="emails" role="tabpanel" aria-labelledby="emails-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title"> Emails Sent To {{ tenant.get_names }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                            <a href=""
                                                                class="btn btn-sm btn-warning"> <i class="fas fa-pen"></i> New</a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="card">
                                                <div class="card-header bg-info">
                                                    No Emails Sent Yet
                                                </div>

                                                <div class="card-body">
                                                    <p>No emails have been sent to this member yet</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>
                    <div class="tab-pane fade" id="letters" role="tabpanel" aria-labelledby="letters-tab">




                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title">Register Multiple Members to {{ group.group_name }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                          
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                         
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>

                    </div>




                    <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">




                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title">Notes to {{ tenant.get_names }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                            <a href=""
                                                                class="btn btn-sm btn-warning"> <i class="fas fa-pen"></i> New</a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="card">
                                                <div class="card-header bg-info">
                                                    No Notes Yet
                                                </div>

                                                <div class="card-body">
                                                    <p>No Notes have been Added to this member yet</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>

                    </div>


                    <div class="tab-pane fade" id="audit" role="tabpanel" aria-labelledby="audit-tab">




                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title">Audit Trial for {{ group.group_name }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                          
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <!-- <table id="dataTable" class="table table-bordered table-striped">
                                                <thead class="bg-secondary">
                                                    <tr>
                                                        <th>Invoice Number</th>
                                                        <th>Date</th>
                                                       
                                                       
                                                      
                                                        <th>Created by</th>
                                                        <th>Date Created</th>

                                                        <th>Modified by </th>
                                                        <th>Date Modified</th>
                                                        <th>View</th>
                                                        <th>Edit</th>
                                                        <th>Void</th>
                                                    
                                                    </tr>
                                                </thead>
                                                <tbody>










                                                </tbody>
                                                <tfoot class="bg-secondary"> 

                                                    <tr>
                                                        <th>Invoice Number</th>
                                                        <th>Date</th>
                                                       
                                                        <th>Created by</th>
                                                        <th>Date Created</th>

                                                        <th>Modified by </th>
                                                        <th>Date Modified</th>
                                                        <th>View</th>
                                                        <th>Edit</th>
                                                        <th>Void</th>
                                                    
                                                    </tr>

                                                </tfoot>
                                            </table> -->
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->



      <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog modal-xl" role="document">

            <div class="modal-content">
                    
            </div>
        
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
</section>





{% endblock dashboard_content %}



{% block extra_js %}







{% endblock extra_js %}