{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Members {% endblock app %}


{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'groups_list' %}">Groups</a></li>
<li class="breadcrumb-item"><a href="{% url 'groups_list' %}">List</a></li>
{% endblock breadcrump %}
{% block active_members %}
active
{% endblock active_members %}

{% block active_group %}
active
{% endblock active_group %}
{% block show_members  %}
menu-open
{%  endblock show_members %}
{% block title %}

Dashboard Member Groups 

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Groups Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">

                            <a href="{% url 'groups_aoe' %}"  class="btn btn-warning btn-sm" id="paymentBtn">
                              <i class="fas fa-pen fa-lg"></i>
                              New
                            </a>
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th>Name</th>
                <th>County</th>
                <th>Town</th>
                <th>Sub County</th>

                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
                <th>Edit</th>
                <th>More</th>
            
              </tr>
              </thead>
              <tbody>
                {% for group in groups %}
              <tr>
                <td>{{group.group_name}}</td>
                <td>
                  {{group.county}}
                </td>
                <td>{{group.town}}</td>
                <td>  {{group.sub_county }} </td>
                <td>  {{group.creator }}</td>
                <td> {{group.date_created }}</td>
                <td> {{group.modified_by  }}</td>
                <td> {{group.date_modified }}
                </td>
               
             
          


                  <td>   <a href="{% url 'groups_edit' pk=group.id %}" class="btn btn-sm btn-info"> Edit  </a></td>
                  <td>   <a href="{% url 'groups_details' pk=group.id %}" class="btn btn-sm btn-success"> More  </a></td>
             
                </tr>

              {% endfor %}
  







          
              </tbody>
              <tfoot class="bg-info">
            
                <tr>
                  <th>Name</th>
                  <th>County</th>
                  <th>Town</th>
                  <th>Sub County</th>
  
                  <th>Created By</th>
                  <th>Date Created</th>
                  <th>Modified By</th>
                  <th>Date Modified</th>
                  <th>Edit</th>
                  <th>More</th>
                </tr>
              </tfoot>
            </table>

            <div class="row">
              <div class="col-md-2">
                
              </div>

              <div class="col-md-8 text-left">
                {% if groups.has_other_pages %}
                <ul class="pagination">
                  {% if groups.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ groups.previous_page_number }}">&laquo;</a></li>
                  {% else %}
                  <li class="page-item disabled"><span class="page-link">  &laquo;</span></li>
                  {% endif %}
                  {% for i in groups.paginator.page_range %}
                  {% if users.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if groups.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ groups.next_page_number }}">&raquo;</a></li>
                  {% else %}
                  <li class="page-item disabled"><span>&raquo;</span></li>
                  {% endif %}
                </ul>
                {% endif %}
              </div>

              <div class="col-md-2">
                
              </div>

          
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}