{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block app %} Groups {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'groups_list' %}">Groups</a></li>
<li class="breadcrumb-item"><a href="{% url 'groups_aoe' %}">AOE</a></li>
{% endblock breadcrump %}
{% block active_members %}
active
{% endblock active_members %}

{% block active_new_group %}
active
{% endblock active_new_group %}
{% block show_members  %}
menu-open
{%  endblock show_members %}
{% block title %}

Dashboard Member Groups 

{% endblock title %}
{% block dashboard_content %}

<section class="content">
    <div class="row d-flex justify-content-center">
      <div class="col-10">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Group Registration Form</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">
                           
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
          
            {% crispy form %}

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
{% endblock dashboard_content %}





