{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Search Results {% endblock app %}

{% block active_s %}
active
{% endblock active_s %}

{% block active_me %}
active
{% endblock active_me %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'search' %}">Search Results</a></li>
<li class="breadcrumb-item"><a href="">Search</a></li>
{% endblock breadcrump %}

{% block show_s  %}
menu-open
{%  endblock show_s %}

{% block title %}

Dashboard Search Results for {{ term }}

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Members Search Results</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-3">
                          <h3 class="card-title">Total Results {{ members.count }}</h3>

                        </div>

                        <div class="col-3">



                            <a href="{% url 'members_aoe' %}"  class="btn btn-warning btn-sm" id="paymentBtn">
                              <i class="fas fa-pen fa-lg"></i>
                              New
                            </a>
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-sm table-lg table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th> Name</th>
              
                <th>Phone Number</th>

                <th>Account Number</th>

                <th>National Id</th>
                
                <th>Economic Activity</th>
                <th>Group</th>
                <th>Status</th>
                <th>Details</th>
                <th>Edit</th>
              </tr>
              </thead>
              <tbody>
                {% for member in members %}
              <tr>
                <td>{{member.get_names}}</td>
              
                <td>  {{member.phone_number }} </td>

                <td>  {{member.account_number }} </td>
                <td>  {{member.id_number }}</td>
                <td> {{member.economic_activity.name }}</td>
                <td> {{member.group.group_name  }}</td>
                <td> <a  class="btn btn-sm btn-success"> D  </a>
                </td>
                
          
                  <td>   <a href="{% url 'members_details' pk=member.id %}" class="btn btn-sm btn-success"> More  </a></td>
                  <td>   <a href="{% url 'members_edit' pk=member.id %}" class="btn btn-sm btn-warning"> Edit  </a></td>

             
             
                </tr>

              {% endfor %}
  







          
              </tbody>
        
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>


  <section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Groups Search Results</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>
                        <div class="col-3">
                          <h3 class="card-title">Total Results {{ groups.count }}</h3>

                        </div>

                        <div class="col-3">

                            <a href="{% url 'groups_aoe' %}"  class="btn btn-warning btn-sm" id="paymentBtn">
                              <i class="fas fa-pen fa-lg"></i>
                              New
                            </a>
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-sm table-sm table-bordered table-striped">
              <thead class="bg-warning">
              <tr>
                <th>Name</th>
                <th>County</th>
                <th>Town</th>
                <th>Sub County</th>

                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
                <th>Edit</th>
                <th>More</th>
            
              </tr>
              </thead>
              <tbody>
                {% for group in groups %}
              <tr>
                <td>{{group.group_name}}</td>
                <td>
                  {{group.county}}
                </td>
                <td>{{group.town}}</td>
                <td>  {{group.sub_county }} </td>
                <td>  {{group.creator }}</td>
                <td> {{group.date_created }}</td>
                <td> {{group.modified_by  }}</td>
                <td> {{group.date_modified }}
                </td>
               
             
          


                  <td>   <a href="{% url 'groups_edit' pk=group.id %}" class="btn btn-sm btn-info"> Edit  </a></td>
                  <td>   <a href="{% url 'groups_details' pk=group.id %}" class="btn btn-sm btn-success"> More  </a></td>
             
                </tr>

              {% endfor %}
  







          
              </tbody>
         
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>



  <section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header ">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Users Search Results</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-3">
                          <h3 class="card-title">Total Results {{ users.count }}</h3>

                        </div>

                        <div class="col-3">

                            <a href="{% url 'add_users' %}"  class="btn btn-warning btn-sm" id="paymentBtn">
                              <i class="fas fa-pen fa-lg"></i>
                              New
                            </a>
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-sm table-sm table-bordered table-striped">
              <thead class="bg-success">
              <tr>
                <th>Name</th>
                <th>username</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Branch</th>
                <th>Role</th>
                <th>Edit</th>
              </tr>
              </thead>
              <tbody>
                {% for user in users %}
              <tr>
                <td>{{user.get_full_names }}</td>
                <td>
                  {{user.username}}
                </td>
                <td>
                  {{user.gender}}
                </td>
                <td>
                  {{user.email}}
                </td>
                <td>{{user.phone_number}}</td>
                <td>{{user.branch.name }}</td>
                <td>  {{user.group.name }} </td>
               
          
                  <td>   <a href="{% url 'edit_users' pk=user.id %}" class="btn btn-sm btn-info"> Edit  </a></td>
             
             
             
                </tr>

              {% endfor %}
              </tbody>
          
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>
  <section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header ">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Branches Search Results</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-3">
                          <h3 class="card-title">Total Results {{ branches.count }}</h3>

                        </div>

                        <div class="col-3">
                            <a href="{% url 'branch_aoe' %}" class="btn btn-sm btn-warning"> Add New</a>
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="bg-primary">
              <tr>
                <th>Name</th>
                <th>Manager</th>
           
                <th>Phone Number</th>

                <th>County</th>
                <th>City</th>
                
                <th>Town</th>
                <th>Room Number</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>

                {% for location in branches %}
              <tr>
                <td>{{ location.name }}</td>
                <td>
                  {{ location.manager }}
                </td>
                <td>{{ location.phone_number }}</td>
                <td> {{ location.county }}</td>
                <td> {{ location.city }}</td>
                <td> {{ location.town }}</td>
                <td> {{ location.rommNumber }}</td>
              
                  <td>   <a href="" class="btn btn-sm btn-warning"> View </a></td>
              
                  <td>   <a href="{% url 'branch_edit' pk=location.id %}" class="btn btn-sm btn-success"> Edit </a></td>
                  <td>   <a href="" class="btn btn-sm btn-danger"> Delete  </a></td>
              </tr>
       

{% endfor %}







          
              </tbody>
         
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}