{% extends 'dashboard_base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block app %} Operations {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'eom' %}">End Of Month Operations</a></li>
{% endblock breadcrump %}

{% block active_operations %}
active
{% endblock active_operations %}


{% block show_operations %}
menu-open
{%  endblock show_operations %}
{% block title %}

Operations

{% endblock title %}

{% block active_eom %}
active
{% endblock active_eom %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">


      <div class="card">
        <div class="card-header bg-info">

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Manage Operations Easily</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>


              </div>


            </div>

            <div class="col-12">
              <div class="card card-primary card-outline">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    Month Operations
                  </h3>
                </div>
                <div class="card-body">


                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-overlay">
                    End Operations For The Current Month
                  </button>

   
                  <div class="text-muted mt-3">
                    Running Operations for the current month moves your system to the next month in the fiscal period
                    and prepares everything needed for the that month.

                    Running Operations for the last month of the year moves your system to the next financial year. You
                    can always System settings <a href="{{ year }}">Here</a>

                    </a>
                  </div>
                </div>
                <!-- /.card -->
              </div>
            </div>
          </div>



        </div>
        <!-- /.card-header -->
        <div class="card-body">

          <table id="dataTable" class="table table-bordered table-striped">
            <thead class="bg-info">
              <tr>
              <tr>
                <th>Month</th>
                <th> Financial Year</th>
                <th>Description</th>
                <th>Date Run</th>
                <th>Rerun</th>
                <th>Run By</th>
                <th>Analyisis</th>


              </tr>
              </tr>
            </thead>
            <tbody>

              {% for account in eoms %}
              <tr>
                <td>{{ account.month }}</td>
                <td>{{ account.financial_year }}
                </td>
                <td>{{ account.description }}</td>
                <td> {{ account.date_created }} </td>
                <td> {{ account.is_rerun }}</td>
                <td>{{ account.creator }}</td>
              
               
                <td> <a href="{% url 'eom_analysis' pk=account.id %}" class="btn btn-sm btn-warning btn-block"> Analysis </a></td>
              </tr>
              {% endfor %}







            </tbody>
 
          </table>

        </div>



        <div class="modal modal-warning fade" id="modal-overlay">
          <div class="modal-dialog modal-xl" role="document">

            <div class="modal-content">

              <div class="modal-header bg-warning pt-1 pb-1">
                <div class="container-fluid">
                  <div class="row align-center">
                    <div class="col-6">
                      <h5 class="modal-title">Operations</h5>
                    </div>

                    <div class="col-5">
                      <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Operations</a></li>
                        <li class="breadcrumb-item active">End Of Month</li>
                      </ol>
                    </div>

                    <div class="col-1">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>




              </div>

              <div class="modal-body">

                <div class="">


                  <section class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12">



                          <!-- Main content -->
                          <div class="invoice p-3 mb-3">
                            <!-- title row -->
                            <div class="row">
                              <div class="col-12">
                                <h4>
                                  <p> Run End Of Month Operations For The Current Month</p>
                                </h4>
                              </div>

                              <div class="col-12">
                                <h4>

                                  <p> Current Financial Period: <small><a
                                        class="date">{{ system.financial_period.name }}</a></small></p>
                                </h4>

                                <h4>

                                  <p> Current Month Financial Period: <small><a
                                        class="date">{{ system.financial_month.name }}</a></small></p>
                                </h4>
                              </div>
                              <!-- /.col -->
                            </div>

                            <hr>

                            <div class=" row">
                              <div class="modal fade">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title">Running Monthly Operations - {{ request.date }}</h4>


                                    </div>
                                    <div class="modal-body bg-info">
                                      <div class="row text-center">
                                        <div class="col-12 c_t">

                                        </div>

                                      </div>
                                    </div>

                                  </div>
                                  <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                              </div>
                            </div>







                            <hr>
                            <!-- this row will not appear when printing -->
                            <div class="row no-print">
                              <div class="col-12">


                                <a href="{% url 'eom_current' %}"
                                  class="btn btn-warning float-right custom-day-action-btn" style="margin-right: 5px;">
                                  Run End Of Month
                                </a>
                              </div>
                            </div>
                          </div>
                          <!-- /.invoice -->
                        </div><!-- /.col -->
                      </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                  </section>
                  <!-- /.content -->
                </div>


              </div>
            </div>

            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>


        <div class="modal modal-warning fade" id="modal-info">
          <div class="modal-dialog modal-xl" role="document">

            <div class="modal-content">

              <div class="modal-header bg-info pt-1 pb-1">
                <div class="container-fluid">
                  <div class="row align-center">
                    <div class="col-6">
                      <h5 class="modal-title">Operations</h5>
                    </div>

                    <div class="col-5">
                      <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Operations</a></li>
                        <li class="breadcrumb-item active">End Of Month</li>
                      </ol>
                    </div>

                    <div class="col-1">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>




              </div>

              <div class="modal-body">


                <div class="row">
                  <div class="col-6">
                    <h4>
                      <p> End Of Month Operations Past Month</p>
                    </h4>
                  </div>

                  <div class="col-6">
                    <h4>

                      <p> Current Financial Period: <small><a
                            class="date">{{ system.financial_period.name }}</a></small></p>
                    </h4>

                    <h4>

                      <p> Current Month Financial Period: <small><a
                            class="date">{{ system.financial_month.name }}</a></small></p>
                    </h4>
                  </div>
                  <!-- /.col -->
                </div>

                <hr>

                <div class="row">
                  <form action="{% url 'eom_custom' %}" method="post">

                    {% crispy eomform %}

                  </form>
                </div>





              </div>
            </div>

            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>



        <div class="modal modal-warning fade" id="modal-success">
          <div class="modal-dialog modal-xl" role="document">

            <div class="modal-content">

              <div class="modal-header bg-success pt-1 pb-1">
                <div class="container-fluid">
                  <div class="row align-center">
                    <div class="col-6">
                      <h5 class="modal-title">Operations</h5>
                    </div>

                    <div class="col-5">
                      <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Operations</a></li>
                        <li class="breadcrumb-item active">End Of Day</li>
                      </ol>
                    </div>

                    <div class="col-1">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>




              </div>

              <div class="modal-body">

                <div class="">


                  <section class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12">



                          <!-- Main content -->
                          <div class="invoice p-3 mb-3">
                            <!-- title row -->
                            <div class="row">
                              <div class="col-6">
                                <h4>
                                  <p> Custom End Of Day Operations</p>
                                </h4>
                              </div>

                              <div class="col-6">
                                <h4>

                                  <p> Current System Date: <small><a class="date">{{ request.date }}</a></small></p>
                                </h4>
                              </div>
                              <!-- /.col -->
                            </div>

                            <hr>

                            <div class=" row">
                              <div class="modal fade">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title">Running Daily Operations - {{ request.date }}</h4>


                                    </div>
                                    <div class="modal-body bg-info">
                                      <div class="row text-center">
                                        <div class="col-12 c_t">

                                        </div>

                                      </div>
                                    </div>

                                  </div>
                                  <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                              </div>
                            </div>







                            <hr>
                            <!-- this row will not appear when printing -->
                            <div class="row no-print">
                              <div class="col-12">


                                <button type="button" class="btn btn-success float-right custom-day-action-btn"
                                  style="margin-right: 5px;">
                                  Run End Of Day
                                </button>
                              </div>
                            </div>
                          </div>
                          <!-- /.invoice -->
                        </div><!-- /.col -->
                      </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                  </section>
                  <!-- /.content -->
                </div>


              </div>
            </div>

            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}