{% extends 'dashboard_base.html' %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block app %} Operations {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'eom' %}">End Of Month Operations Analysis</a></li>
{% endblock breadcrump %}

{% block active_operations %}
active
{% endblock active_operations %}


{% block show_operations %}
menu-open
{%  endblock show_operations %}
{% block title %}

Operations

{% endblock title %}

{% block active_eom %}
active
{% endblock active_eom %}

{% block dashboard_content %}



<section class="content">

  <div class="card card-primary card-outline">
    <div class="card-header bg-warning">
      <h2 class="card-title">
        <i class="fas fa-edit"></i>
        End Of Month Analysis for the month of {{ eom.month }} in the {{ eom.financial_year}} fiscal period
      </h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-3 col-sm-2">
          <div class="nav flex-column nav-tabs h-100 " id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab"
              aria-controls="vert-tabs-home" aria-selected="true">Summary</a>
            <a class="nav-link" id="vert-tabs-ledgers-tab" data-toggle="pill" href="#vert-tabs-ledgers" role="tab"
              aria-controls="vert-tabs-ledgers" aria-selected="false">Interest On Member Loans</a>


         

            <a class="nav-link" id="cash-book-tab" data-toggle="pill" href="#cash-book-tab-content" role="tab"
              aria-controls="cash-book-tab" aria-selected="false">Accrued Interest On Deposits</a>



            <a class="nav-link" id="balance-sheet-tab" data-toggle="pill" href="#balance-sheet-tab-content" role="tab"
              aria-controls="vert-tabs-settings" aria-selected="false">Penalty On Interest On Member Loans</a>


            <!-- <a class="nav-link" id="turn-over-balance-sheet-tab" data-toggle="pill" href="#turn-over-balance-sheet-tab-content" role="tab"
              aria-controls="vert-tabs-messages" aria-selected="false">Surplus & Loss Account</a>

            <a class="nav-link" id="expenses-tab" data-toggle="pill" href="#expenses-tab-content" role="tab"
              aria-controls="vert-tabs-messages" aria-selected="false">Expenses Report</a>

 


            <a class="nav-link" id="trial-tab" data-toggle="pill" href="#trial-tab-content" role="tab"
              aria-controls="vert-tabs-messages" aria-selected="false">Trial Balance</a> -->
          </div>
        </div>
        <div class="col-9 col-sm-10">
          <div class="tab-content" id="vert-tabs-tabContent">
            <div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel"
              aria-labelledby="vert-tabs-home-tab">
              <div class="" id="summary">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                  <div class="row no-print">
                    <div class="col-12">
                      <a href="" target="_blank" onclick="printDiv('summary')" class="btn btn-info no-print"><i
                        class="fas fa-print"></i> Print</a>


                    </div>
                  </div>
                </section>

                <section class="content">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-12">



                        <!-- Main content -->
                        <div class="invoice p-3 mb-3">
                          <!-- title row -->
                          <div class="row">
                            <div class="col-12">
                              <h4>
                                <i class="fas fa-globe"></i> {{ request.tenant.name }}.
                                <small class="float-right">Date: {{ eom.date_created }}</small>
                              </h4>
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- info row -->
                          <div class="row invoice-info">
                            <div class="col-sm-8 invoice-col">
                              <h4>Summary Report for the month of {{ eom.month }} in the {{ eom.financial_year}} fiscal
                                period</h4>
                              <br>

                            </div>
                            <!-- /.col -->
                            <div class="col-sm-2 invoice-col">

                            </div>
                            <!-- /.col -->
                            <div class="col-sm-2 invoice-col">

                            </div>

                            <br>
                            <!-- /.col -->
                          </div>
                          <!-- /.row -->

                          <!-- Table row -->
                          <div class="row">
                            <div class="col-12 table-responsive">
                              <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <th>Name </th>
                                    <th>Opening Balance</th>
                                    <th>Closing Balance </th>
                                    <th>Change</th>

                                  </tr>
                                </thead>
                                <tbody>
                                  {% for row in loc_archives %}
                                  <tr>
                                    <td>{{ row.name }}</td>
                                    <td>{{ row.initial_amount }}</td>
                                    <td>{{ row.remainder_amount }}</td>
                                    <td>{{ row.change }}</td>

                                  </tr>

                                  {% endfor %}

                                </tbody>
                              </table>
                            </div>
                            <!-- /.col -->
                          </div>
                          <!-- /.row -->




                        </div>

                      </div><!-- /.col -->
                    </div><!-- /.row -->
                  </div>
                </section>

              </div>

            </div>
            <div class="tab-pane fade" id="vert-tabs-ledgers" role="tabpanel" aria-labelledby="vert-tabs-ledgers-tab">
              <!-- this row will not appear when printing -->

              <br>
              <div class="row">
                <div class="col-12">
            
            
                  <div class="card card-sm">
                    <div class="card-header">
            
                

                      <h4>Summary LEDGERS Report for the month of {{ eom.month }} in the {{ eom.financial_year}} fiscal
                        period</h4>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                      <table id="dataTable1" class="table  table-md table-bordered table-striped">
                        <thead class="">
                          <tr>
                            <th>Title</th>
                            <th>Code</th>
                            <th> Initial Amount</th>
                            <th>Remainder</th>
                            <!-- <th>Anticipated Amount</th> -->
                            <th>Created By</th>
                            <th>Date Created</th>
                            <th>Modified By</th>
                            <th>Date Modified</th>
                      
                         
                          </tr>
                        </thead>
                        <tbody>
            
                          {% for account in ledgers %}
                          <tr>
                            <td>{{ account.name }}</td>
                            <td>{{ account.code }}</td>
                            <td>{{ account.initial_amount | intcomma }}
                            </td>
                            <td>{{ account.remainder_amount | intcomma }}</td>
                            <!-- <td> 
                              
                              {{ account.anticipated_remainder_amount }}
                            </td> -->
                        
                            <td> {{ account.creator.phone_number }}</td>
                            <td>{{ account.date_created }}</td>
                            <td> {{ account.modified_by }}</td>
                            <td> {{ account.date_modified }}</td>
            
                       
                          </tr>
                          {% endfor %}
            
            
            
            
            
            
            
                        </tbody>
                        <tfoot>
            
                          <tr>
                            <th>Title</th>
                            <th>Code</th>
                            <th> Initial Amount</th>
                            <th>Remainder</th>
                            <!-- <th>Anticipated Amount</th> -->
                            <th>Created By</th>
                            <th>Date Created</th>
                            <th>Modified By</th>
                            <th>Date Modified</th>
                       
                         
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
                <!-- /.col -->
              </div>




            </div>
            <div class="tab-pane fade" id="vert-tabs-accounts" role="tabpanel" aria-labelledby="vert-tabs-accounts-tab">
              <section class="content">
                <div class="row">
                  <div class="col-12">


                    <div class="card card-sm">
                      <div class="card-header mb-1 bg-info">

                        <div class="row d-flex justify-content-center">
                          <div class="col-6">
                            <h3 class="card-title">Accounts Movements</h3>
                          </div>

                          <div class="col-6">
                            <div class="row">
                              <div class="col-6">
                              </div>

                              <div class="col-6">

                              </div>
                            </div>


                          </div>
                        </div>
                      </div>
                      <!-- /.card-header -->
                      <div class="card-body">
                        <table id="dataTable" class="table  table-sm table-bordered table-striped">
                          <thead class="bg-info">
                            <tr>
                              <th>Name</th>
                              <th> Type</th>
                              <th>Description</th>
                              <th>Opening </th>
                              <th>Remainder</th>
                              <th>Created By</th>
                              <th>Date Created</th>
                              <th>Modified By</th>
                              <th>Date Modified</th>
                              <th>Movement</th>

                            </tr>
                          </thead>
                          <tbody>

                            {% for account in accounts %}
                            <tr>
                              <td>{{ account.name }}</td>
                              <td>{{ account.type.title }}
                              </td>
                              <td>{{ account.description }}</td>
                              <td>

                                <a class="btn btn-sm btn-info"> {{ account.opening_balance }} </a>

                              </td>
                              <td>

                                <a class="btn btn-sm btn-info"> {{ account.balance }} </a>

                              </td>
                              <td> {{ account.creator.phone_number }}</td>
                              <td>{{ account.date_created }}</td>
                              <td> {{ account.modified_by }}</td>
                              <td> {{ account.date_modified }}</td>
                              <td> <a href="{% url 'coa_details' pk=account.id %}" class="btn btn-sm btn-warning">
                                  Movement </a></td>
                            </tr>
                            {% endfor %}







                          </tbody>
                          <tfoot>

                            <tr>
                              <th>Name</th>
                              <th> Type</th>
                              <th>Description</th>
                              <th>Opening </th>
                              <th>Remainder</th>
                              <th>Created By</th>
                              <th>Date Created</th>
                              <th>Modified By</th>
                              <th>Date Modified</th>
                              <th>Movement</th>

                            </tr>
                          </tfoot>
                        </table>
                      </div>
                      <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </section>
            </div>


            <div class="tab-pane fade" id="cash-book-tab-content" role="tabpanel" aria-labelledby="cash-book-tab">
              <div class="card" id="cashbook">
                <div class="card-header bg-warning">
                  <h3 class="card-title">Cash Book</h3>

                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <a href="" target="_blank" onclick="printDiv('cashbook')" class="btn btn-info no-print"><i
                          class="fas fa-print "></i> Print</a>


                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive pb-1">
                  <div class="container-fluid">



                    <section class="content">
                      <div class="">

                        <div class="card">
                          <div class="card-header">
                            <h4> CASHBOOK Report for the month of {{ eom.month }} in the {{ eom.financial_year}} fiscal
                              period</h4>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <div class="row">
                              <div class="col-12 table-responsive">
                                <div class="row">
                        
                                  <div class="col-6">
                                    <h2>
                                      <i class="fas fa-globe"></i> Thanns Sacco.
                    
                                  
                                    </h2>
                                    <br>
                                  </div>
                                  <div class="col-6">
                                    <h5>
                                      CashBook
                                      <small class="float-right"></small>
                                    </h5>
                                    <h5>
                                      Month:   {{ eom.month }} - Year: {{ eom.financial_year}}
                                      <small class="float-right"></small>
                                    </h5>
                                  </div>
                          
                                  <!-- /.col -->
                                </div>
                    
                
                
                            <table id="dataTable" class="table  table-sm table-bordered table-striped">
                              <thead>
                                <tr>
                                  <th>Date </th>
                                  <th colspan="5"></th>
                  
                                 
                                 
                                  <th colspan="3">Cash</th>
                                  <th></th>
                                  <th colspan="3">Bank</th>
                                  
                  
                                  <th></th>
                             
                  
                             
                  
                                
                            
                               
                                  
                              </tr>
                                <tr>
                                  <th>Date </th>
                                  <th>Id</th>
                  
                                  <th>Description</th>
                                  <!-- <th> Group</th> -->
                                  <th> P.V</th>
                  
                                  <th> Vote</th>
                                  <th> CHQ</th>
                                  <th>Receipts</th>
                                  <th>Payments</th>
                              
                                
                  
                                  <th>Balance</th>
                                  <th></th>
                             
                  
                                  <th>Receipts</th>
                                  <th>Payments</th>
                              
                                
                  
                                  <th>Balance</th>
                  <th></th>
                                
                            
                                 
                                  
                              </tr>
                              </thead>
                              <tbody>
                  
                                  {% for transaction in transactions %}
                                  <tr>
                  
                                    <td>{{ transaction.transaction.date |date:'m-d' }} </td>
                                 
                  
                                      <td> {{ transaction.id}}</td>
                  
                                      <td>{{ transaction.description }}</td>
                  
                                      <!-- <td> {{ transaction.transaction.group.group_name }}     </td> -->
                                      <td> {{ transaction.transaction.expense.pv_number_ }}</td>
                                      <td> {{ transaction.transaction.type.vote_h }}</td>
                                      <td> {{ transaction.transaction.slip.cheque_number}}</td>
                  
                                      {% if transaction.loc.is_cash %}
                                      <td> 
                              
                                        {{ transaction.transaction.cr_amount | intcomma }}
                                    
                                      </td>
                  
                                      <td> 
                                        {{ transaction.transaction.dr_amount | intcomma }}
                                        </td>
                                        <td>{{ transaction.remainder | intcomma  }}</td>
                
                                      {% else %}
                
                                      <td></td>
                                      <td></td>
                                      <td></td>
                                      {% endif %}
                
                                      <td></td>
                
                
                                      {% if transaction.loc.is_bank %}
                                      <td> 
                              
                                        {{ transaction.transaction.cr_amount | intcomma }}
                                    
                                      </td>
                  
                                      <td> 
                                        {{ transaction.transaction.dr_amount | intcomma }}
                                        </td>
                                        <td>{{ transaction.remainder | intcomma  }}</td>
                                        {% else %}
                
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                      {% endif %}
                  
                                <th></th>
                  
                  
                
                                  </tr>
                  
                  
                  
                  
                  
                  
                                  {% endfor %}
                  
                  
                              </tbody>
                  
                              <tfoot class="">
                                <tr>
                                  <th> </th>
                                  <th colspan="5">Totals</th>
                  
                                 
                                 
                                  <th>{{ cr_cash.transaction__dr_amount__sum | intcomma }}</th>
                                  <th>{{ dr_cash.transaction__cr_amount__sum | intcomma}}</th>
                                  <th></th>
                                  <th></th>
                                  <th>{{ cr_bank.transaction__cr_amount__sum | intcomma}}</th>
                                  <th>{{ dr_bank.transaction__dr_amount__sum | intcomma }}</th>
                                  <th></th>
                                  
                  
                                  <th></th>
                             
                  
                             
                  
                    
                               
                                  
                              </tr>
                
                              <tr>
                                <th> </th>
                                <th colspan="5">Balances</th>
                
                               
                               
                                <th></th>
                                <th></th>
                                <th>{{ cash.remainder_amount | intcomma }}</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>{{ bank.remainder_amount | intcomma}}</th>
                                
                
                                <th></th>
                           
                
                           
                
                              
                     
                              
                                
                            </tr>
                            </tfoot>
                      
                          </table>
                  
                              </div>
                              <!-- /.col -->
                            </div>
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>



               

                  </div>
                </div>
                <!-- /.card-body -->
              </div>

            </div>


            <div class="tab-pane fade" id="brief-cash-book-tab-content" role="tabpanel" aria-labelledby="brief-cash-book-tab">
              <div class="card" id="briefcashbook">
                <div class="card-header bg-warning">
                  <h3 class="card-title">Brief Cash Book</h3>

                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <a href="" target="_blank" onclick="printDiv('briefcashbook')" class="btn btn-info no-print"><i
                          class="fas fa-print "></i> Print</a>


                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive pb-1">
                  <div class="container-fluid">



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title">End Of Month Status</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table id="dataTable" class="table  table-md table-bordered table-striped table-sm">
                              <thead class="bg-warning">
                                <tr>
                                  <th>Title</th>
                                  <th>Code</th>
                                  <th> Initial Amount</th>
                                  <th>Balance</th>
                                  <th>Anticipated Remainder Amount</th>


                                </tr>
                              </thead>
                              <tbody>

                                {% for account in loc %}
                                <tr>
                                  <td>{{ account.name }}</td>
                                  <td>{{ account.code }}</td>
                                  <td>{{ account.initial_amount}}
                                  </td>
                                  <td>{{ account.remainder_amount }}</td>
                                  <td>

                                    {{ account.anticipated_remainder_amount }}
                                  </td>



                                </tr>
                                {% endfor %}







                              </tbody>

                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title">Events</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table id="dataTable" class="table  table-bordered table-striped table-sm">
                              <thead class="bg-info">
                                <tr>
                                  <th>Date </th>
                                  <th colspan="4"></th>



                                  <th colspan="4">Cash</th>

                                  <th colspan="3">Bank</th>

                                  <th></th>





                                  <!-- <th class="no-print"> Processed By</th> -->


                                </tr>
                                <tr>
                                  <th>Date </th>
                                  <th>Id</th>

                                  <th>Description</th>

                                  <th> Vote</th>
                                  <th> CHQ</th>
                                  <th>Receipts</th>
                                  <th>Payments</th>
                                  <th>Balance</th>
                                  <td></td>
                                  <th>Receipts</th>
                                  <th>Payments</th>
                                  <th>Balance</th>
                                  <td></td>





                                  <!-- <th class="no-print">Processed By</th> -->


                                </tr>
                              </thead>
                              <tbody>

                                {% for transaction in g_transactions %}
                                <tr>

                                  <td> {{ transaction.transaction.date | date }}</td>


                                  <td> {{ transaction.id}}</td>

                                  <td>{{ transaction.description }}</td>






                                  <td> {{ transaction.type.vote }}</td>
                                  <td> {{ transaction.transaction.code}}</td>



                                  {% if transaction.loc_account == 'cash' %}

                                  <td>
                                    {% if transaction.type == "Dr" %}
                                    {{ transaction.amount }}
                                    {% endif %}
                                  </td>

                                  <td> {% if transaction.type == "Cr" %}
                                    {{ transaction.amount }}
                                    {% endif %}</td>
                                  <td>{{ transaction.remainder }}</td>
                                  {% else %}
                                  <td></td>
                                  <td></td>
                                  <td></td>



                                  {% endif %}
                                  <td></td>

                                  {% if transaction.loc_account == 'bank' %}
                                  <td>
                                    {% if transaction.type == "Dr" %}
                                    {{ transaction.amount }}
                                    {% endif %}
                                  </td>

                                  <td> {% if transaction.type == "Cr" %}
                                    {{ transaction.amount }}
                                    {% endif %}</td>


                                  <td>{{ transaction.remainder }}</td>

                                  {% else %}


                                  <td></td>
                                  <td></td>
                                  <td></td>


                                  {% endif %}


                                  <td></td>




                                  <!-- <td class="no-print"> {{ transaction.creator}}</td> -->
                                </tr>






                                {% endfor %}


                              </tbody>

                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>

                  </div>
                </div>
                <!-- /.card-body -->
              </div>

            </div>


            <div class="tab-pane fade" id="trial-tab-content" role="tabpanel" aria-labelledby="trial-tab">
              <div class="card" id="trial">
                <div class="card-header bg-warning">
                  <h3 class="card-title">Trial Balance</h3>

                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <a href="" target="_blank" onclick="printDiv('trial')" class="btn btn-info no-print"><i
                          class="fas fa-print "></i> Print</a>


                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive pb-1">
                  <div class="container-fluid">



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title"> Assets</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                        
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title">Liabilities</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                         
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title">Shareholders Equity</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                          
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title">Totals</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                          
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>

                  </div>
                </div>
                <!-- /.card-body -->
              </div>

            </div>


            <div class="tab-pane fade" id="bank-tab-content" role="tabpanel" aria-labelledby="bank-tab">
              <div class="card" id="bank">
                <div class="card-header bg-warning">
                  <h3 class="card-title">Bank Report</h3>

                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <a href="" target="_blank" onclick="printDiv('bank')" class="btn btn-info no-print"><i
                          class="fas fa-print "></i> Print</a>


                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive pb-1">
                  <div class="container-fluid">



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title">End Of Month Status</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table id="dataTable" class="table  table-md table-bordered table-striped table-sm">
                              <thead class="bg-warning">
                                <tr>
                                  <th>Title</th>
                                  <th>Code</th>
                                  <th> Initial Amount</th>
                                  <th>Balance</th>
                                  <th>Anticipated Remainder Amount</th>


                                </tr>
                              </thead>
                              <tbody>

                                {% for account in loc %}
                                <tr>
                                  <td>{{ account.name }}</td>
                                  <td>{{ account.code }}</td>
                                  <td>{{ account.initial_amount}}
                                  </td>
                                  <td>{{ account.remainder_amount }}</td>
                                  <td>

                                    {{ account.anticipated_remainder_amount }}
                                  </td>



                                </tr>
                                {% endfor %}







                              </tbody>

                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title">Line Of Credit Events</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table id="dataTable" class="table  table-bordered table-striped table-sm">
                              <thead class="bg-info">
                                <tr>
                                  <th>Date </th>
                                  <th colspan="4"></th>



                                  <th colspan="4">Cash</th>

                                  <th colspan="3">Bank</th>

                                  <th></th>





                                  <!-- <th class="no-print"> Processed By</th> -->


                                </tr>
                                <tr>
                                  <th>Date </th>
                                  <th>Id</th>

                                  <th>Description</th>

                                  <th> Vote</th>
                                  <th> CHQ</th>
                                  <th>Receipts</th>
                                  <th>Payments</th>
                                  <th>Balance</th>
                                  <td></td>
                                  <th>Receipts</th>
                                  <th>Payments</th>
                                  <th>Balance</th>
                                  <td></td>





                                  <!-- <th class="no-print">Processed By</th> -->


                                </tr>
                              </thead>
                              <tbody>

                                {% for transaction in events %}
                                <tr>

                                  <td> {{ transaction.transaction.date | date }}</td>


                                  <td> {{ transaction.id}}</td>

                                  <td>{{ transaction.description }}</td>






                                  <td> {{ transaction.transaction.code}}</td>
                                  <td> {{ transaction.transaction.code}}</td>





                                  <td>
                                    {% if transaction.type == "Dr" %}
                                    {{ transaction.amount }}
                                    {% endif %}
                                  </td>

                                  <td> {% if transaction.type == "Cr" %}
                                    {{ transaction.amount }}
                                    {% endif %}</td>
                                  <td>{{ transaction.remainder }}</td>
                                  <td></td>


                                  <td>
                                    {% if transaction.type == "Dr" %}
                                    {{ transaction.amount }}
                                    {% endif %}
                                  </td>

                                  <td> {% if transaction.type == "Cr" %}
                                    {{ transaction.amount }}
                                    {% endif %}</td>


                                  <td>{{ transaction.remainder }}</td>


                                  <td></td>




                                  <!-- <td class="no-print"> {{ transaction.creator}}</td> -->
                                </tr>






                                {% endfor %}


                              </tbody>

                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>

                  </div>
                </div>
                <!-- /.card-body -->
              </div>

            </div>



            <div class="tab-pane fade" id="branch-tab-content" role="tabpanel" aria-labelledby="branch-tab">
              <div class="card" id="branch">
                <div class="card-header bg-warning">
                  <h3 class="card-title">Branch Report</h3>

                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <a href="" target="_blank" onclick="printDiv('branch')" class="btn btn-info no-print"><i
                          class="fas fa-print "></i> Print</a>


                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive pb-1">
                  <div class="container-fluid">



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title">End Of Month Status</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table id="dataTable" class="table  table-md table-bordered table-striped table-sm">
                              <thead class="bg-warning">
                                <tr>
                                  <th>Title</th>
                                  <th>Code</th>
                                  <th> Initial Amount</th>
                                  <th>Balance</th>
                                  <th>Anticipated Remainder Amount</th>


                                </tr>
                              </thead>
                              <tbody>

                                {% for account in loc %}
                                <tr>
                                  <td>{{ account.name }}</td>
                                  <td>{{ account.code }}</td>
                                  <td>{{ account.initial_amount}}
                                  </td>
                                  <td>{{ account.remainder_amount }}</td>
                                  <td>

                                    {{ account.anticipated_remainder_amount }}
                                  </td>



                                </tr>
                                {% endfor %}







                              </tbody>

                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title">Line Of Credit Events</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table id="dataTable" class="table  table-bordered table-striped table-sm">
                              <thead class="bg-info">
                                <tr>
                                  <th>Date </th>
                                  <th colspan="4"></th>



                                  <th colspan="4">Cash</th>

                                  <th colspan="3">Bank</th>

                                  <th></th>





                                  <!-- <th class="no-print"> Processed By</th> -->


                                </tr>
                                <tr>
                                  <th>Date </th>
                                  <th>Id</th>

                                  <th>Description</th>

                                  <th> Vote</th>
                                  <th> CHQ</th>
                                  <th>Receipts</th>
                                  <th>Payments</th>
                                  <th>Balance</th>
                                  <td></td>
                                  <th>Receipts</th>
                                  <th>Payments</th>
                                  <th>Balance</th>
                                  <td></td>





                                  <!-- <th class="no-print">Processed By</th> -->


                                </tr>
                              </thead>
                              <tbody>

                                {% for transaction in events %}
                                <tr>

                                  <td> {{ transaction.transaction.date | date }}</td>


                                  <td> {{ transaction.id}}</td>

                                  <td>{{ transaction.description }}</td>






                                  <td> {{ transaction.transaction.code}}</td>
                                  <td> {{ transaction.transaction.code}}</td>





                                  <td>
                                    {% if transaction.type == "Dr" %}
                                    {{ transaction.amount }}
                                    {% endif %}
                                  </td>

                                  <td> {% if transaction.type == "Cr" %}
                                    {{ transaction.amount }}
                                    {% endif %}</td>
                                  <td>{{ transaction.remainder }}</td>
                                  <td></td>


                                  <td>
                                    {% if transaction.type == "Dr" %}
                                    {{ transaction.amount }}
                                    {% endif %}
                                  </td>

                                  <td> {% if transaction.type == "Cr" %}
                                    {{ transaction.amount }}
                                    {% endif %}</td>


                                  <td>{{ transaction.remainder }}</td>


                                  <td></td>




                                  <!-- <td class="no-print"> {{ transaction.creator}}</td> -->
                                </tr>






                                {% endfor %}


                              </tbody>

                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>

                  </div>
                </div>
                <!-- /.card-body -->
              </div>

            </div>


            <div class="tab-pane fade" id="expenses-tab-content" role="tabpanel" aria-labelledby="expenses-tab">
              <div class="card" id="expenses">
                <div class="card-header bg-warning">
                  <h3 class="card-title">Expenses Report</h3>

                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <a href="" target="_blank" onclick="printDiv('expenses')" class="btn btn-info no-print"><i
                          class="fas fa-print "></i> Print</a>


                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive pb-1">
                  <div class="container-fluid">



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title">End Of Month Status</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table id="dataTable" class="table  table-md table-bordered table-striped table-sm">
                              <thead class="bg-warning">
                                <tr>
                                  <th>Title</th>
                                  <th>Code</th>
                                  <th> Initial Amount</th>
                                  <th>Balance</th>
                                  <th>Anticipated Remainder Amount</th>


                                </tr>
                              </thead>
                              <tbody>

                                {% for account in loc %}
                                <tr>
                                  <td>{{ account.name }}</td>
                                  <td>{{ account.code }}</td>
                                  <td>{{ account.initial_amount}}
                                  </td>
                                  <td>{{ account.remainder_amount }}</td>
                                  <td>

                                    {{ account.anticipated_remainder_amount }}
                                  </td>



                                </tr>
                                {% endfor %}







                              </tbody>

                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title">Line Of Credit Events</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table id="dataTable" class="table  table-bordered table-striped table-sm">
                              <thead class="bg-info">
                                <tr>
                                  <th>Date </th>
                                  <th colspan="4"></th>



                                  <th colspan="4">Cash</th>

                                  <th colspan="3">Bank</th>

                                  <th></th>





                                  <!-- <th class="no-print"> Processed By</th> -->


                                </tr>
                                <tr>
                                  <th>Date </th>
                                  <th>Id</th>

                                  <th>Description</th>

                                  <th> Vote</th>
                                  <th> CHQ</th>
                                  <th>Receipts</th>
                                  <th>Payments</th>
                                  <th>Balance</th>
                                  <td></td>
                                  <th>Receipts</th>
                                  <th>Payments</th>
                                  <th>Balance</th>
                                  <td></td>





                                  <!-- <th class="no-print">Processed By</th> -->


                                </tr>
                              </thead>
                              <tbody>

                                {% for transaction in events %}
                                <tr>

                                  <td> {{ transaction.transaction.date | date }}</td>


                                  <td> {{ transaction.id}}</td>

                                  <td>{{ transaction.description }}</td>






                                  <td> {{ transaction.transaction.code}}</td>
                                  <td> {{ transaction.transaction.code}}</td>





                                  <td>
                                    {% if transaction.type == "Dr" %}
                                    {{ transaction.amount }}
                                    {% endif %}
                                  </td>

                                  <td> {% if transaction.type == "Cr" %}
                                    {{ transaction.amount }}
                                    {% endif %}</td>
                                  <td>{{ transaction.remainder }}</td>
                                  <td></td>


                                  <td>
                                    {% if transaction.type == "Dr" %}
                                    {{ transaction.amount }}
                                    {% endif %}
                                  </td>

                                  <td> {% if transaction.type == "Cr" %}
                                    {{ transaction.amount }}
                                    {% endif %}</td>


                                  <td>{{ transaction.remainder }}</td>


                                  <td></td>




                                  <!-- <td class="no-print"> {{ transaction.creator}}</td> -->
                                </tr>






                                {% endfor %}


                              </tbody>

                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>

                  </div>
                </div>
                <!-- /.card-body -->
              </div>

            </div>



            <div class="tab-pane fade" id="turn-over-balance-sheet-tab-content" role="tabpanel" aria-labelledby="turn-over-balance-sheet-tab">
              <div class="card" id="turnover">
                <div class="card-header bg-warning">
                  <h3 class="card-title">Turn Over Balance Sheet</h3>

                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <a href="" target="_blank" onclick="printDiv('turnover')" class="btn btn-info no-print"><i
                          class="fas fa-print "></i> Print</a>


                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive pb-1">
                  <div class="container-fluid">



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title">End Of Month Status</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table id="dataTable" class="table  table-md table-bordered table-striped table-sm">
                              <thead class="bg-warning">
                                <tr>
                                  <th>Title</th>
                                  <th>Code</th>
                                  <th> Initial Amount</th>
                                  <th>Balance</th>
                                  <th>Anticipated Remainder Amount</th>


                                </tr>
                              </thead>
                              <tbody>

                                {% for account in loc %}
                                <tr>
                                  <td>{{ account.name }}</td>
                                  <td>{{ account.code }}</td>
                                  <td>{{ account.initial_amount}}
                                  </td>
                                  <td>{{ account.remainder_amount }}</td>
                                  <td>

                                    {{ account.anticipated_remainder_amount }}
                                  </td>



                                </tr>
                                {% endfor %}







                              </tbody>

                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title">Line Of Credit Events</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table id="dataTable" class="table  table-bordered table-striped table-sm">
                              <thead class="bg-info">
                                <tr>
                                  <th>Date </th>
                                  <th colspan="4"></th>



                                  <th colspan="4">Cash</th>

                                  <th colspan="3">Bank</th>

                                  <th></th>





                                  <!-- <th class="no-print"> Processed By</th> -->


                                </tr>
                                <tr>
                                  <th>Date </th>
                                  <th>Id</th>

                                  <th>Description</th>

                                  <th> Vote</th>
                                  <th> CHQ</th>
                                  <th>Receipts</th>
                                  <th>Payments</th>
                                  <th>Balance</th>
                                  <td></td>
                                  <th>Receipts</th>
                                  <th>Payments</th>
                                  <th>Balance</th>
                                  <td></td>





                                  <!-- <th class="no-print">Processed By</th> -->


                                </tr>
                              </thead>
                              <tbody>

                                {% for transaction in events %}
                                <tr>

                                  <td> {{ transaction.transaction.date | date }}</td>


                                  <td> {{ transaction.id}}</td>

                                  <td>{{ transaction.description }}</td>






                                  <td> {{ transaction.transaction.code}}</td>
                                  <td> {{ transaction.transaction.code}}</td>





                                  <td>
                                    {% if transaction.type == "Dr" %}
                                    {{ transaction.amount }}
                                    {% endif %}
                                  </td>

                                  <td> {% if transaction.type == "Cr" %}
                                    {{ transaction.amount }}
                                    {% endif %}</td>
                                  <td>{{ transaction.remainder }}</td>
                                  <td></td>


                                  <td>
                                    {% if transaction.type == "Dr" %}
                                    {{ transaction.amount }}
                                    {% endif %}
                                  </td>

                                  <td> {% if transaction.type == "Cr" %}
                                    {{ transaction.amount }}
                                    {% endif %}</td>


                                  <td>{{ transaction.remainder }}</td>


                                  <td></td>




                                  <!-- <td class="no-print"> {{ transaction.creator}}</td> -->
                                </tr>






                                {% endfor %}


                              </tbody>

                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>

                  </div>
                </div>
                <!-- /.card-body -->
              </div>

            </div>




            <div class="tab-pane fade" id="balance-sheet-tab-content" role="tabpanel" aria-labelledby="balance-sheet-tab">
              <div class="card" id="sheet">
                <div class="card-header bg-warning">
                  <h3 class="card-title">Balance Sheet</h3>

                  <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                      <a href="" target="_blank" onclick="printDiv('sheet')" class="btn btn-info no-print"><i
                          class="fas fa-print "></i> Print</a>


                    </div>
                  </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive pb-1">
                  <div class="container-fluid">



                 



                    <section class="content">
                      <div class="container-fluid">

                        <div class="card">
                          <div class="card-header">
                            <div class="col-md-5">
                              <h3 class="card-title">Line Of Credit Events</h3>
                            </div>
                            <div class="col-md-6">

                            </div>
                          </div>
                          <!-- /.card-header -->
                          <div class="card-body">
                            <table id="dataTable" class="table  table-bordered table-striped table-sm">
                              <thead class="bg-info">
                                <tr>
                                  <th>Date </th>
                                  <th colspan="4"></th>



                                  <th colspan="4">Cash</th>

                                  <th colspan="3">Bank</th>

                                  <th></th>





                                  <!-- <th class="no-print"> Processed By</th> -->


                                </tr>
                                <tr>
                                  <th>Date </th>
                                  <th>Id</th>

                                  <th>Description</th>

                                  <th> Vote</th>
                                  <th> CHQ</th>
                                  <th>Receipts</th>
                                  <th>Payments</th>
                                  <th>Balance</th>
                                  <td></td>
                                  <th>Receipts</th>
                                  <th>Payments</th>
                                  <th>Balance</th>
                                  <td></td>





                                  <!-- <th class="no-print">Processed By</th> -->


                                </tr>
                              </thead>
                              <tbody>

                                {% for transaction in events %}
                                <tr>

                                  <td> {{ transaction.transaction.date | date }}</td>


                                  <td> {{ transaction.id}}</td>

                                  <td>{{ transaction.description }}</td>






                                  <td> {{ transaction.transaction.code}}</td>
                                  <td> {{ transaction.transaction.code}}</td>





                                  <td>
                                    {% if transaction.type == "Dr" %}
                                    {{ transaction.amount }}
                                    {% endif %}
                                  </td>

                                  <td> {% if transaction.type == "Cr" %}
                                    {{ transaction.amount }}
                                    {% endif %}</td>
                                  <td>{{ transaction.remainder }}</td>
                                  <td></td>


                                  <td>
                                    {% if transaction.type == "Dr" %}
                                    {{ transaction.amount }}
                                    {% endif %}
                                  </td>

                                  <td> {% if transaction.type == "Cr" %}
                                    {{ transaction.amount }}
                                    {% endif %}</td>


                                  <td>{{ transaction.remainder }}</td>


                                  <td></td>




                                  <!-- <td class="no-print"> {{ transaction.creator}}</td> -->
                                </tr>






                                {% endfor %}


                              </tbody>

                            </table>
                          </div>
                          <!-- /.card-body -->
                        </div>
                      </div>
                    </section>

                  </div>
                </div>
                <!-- /.card-body -->
              </div>

            </div>


           
          </div>
        </div>
      </div>

    </div>
    <!-- /.card -->
  </div>

</section>

{% endblock dashboard_content %}



{% block extra_js %}
{% endblock extra_js %}