{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Operations {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'eom' %}">End Of Year Operations</a></li>
{% endblock breadcrump %}

{% block active_operations %}
active
{% endblock active_operations %}


{% block show_operations %}
menu-open
{%  endblock show_operations %}
{% block title %}

 Operations

{% endblock title %}

{% block active_eoy %}
      active    
{% endblock active_eoy %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">


      <div class="card">
        <div class="card-header bg-info">

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Manage Operations Easily</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

               
              </div>


            </div>

            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title">
                        <i class="fas fa-edit"></i>
                        End of Year Operations
                      </h3>
                    </div>
                    <div class="card-body">
                    
                     
                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-overlay">
                        Operations For The Current Year
                      </button>

                   

                      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-success">
                        End Operations For A different Month in a different Year
                      </button>
                      <div class="text-muted mt-3">
                        Running Operations for the current year moves your system to the next fiscal period and prepares everything needed for the following year.
                       </a>
                      </div>
                    </div>
                    <!-- /.card -->
                  </div>
            </div>
          </div>



        </div>
        <!-- /.card-header -->
        <div class="card-body">

            <table id="dataTable" class="table table-bordered table-striped">
                <thead class="bg-info">
                  <tr>
                    <tr>
                        <th> Financial Year</th>
                        <th>Description</th>
                        <th>Date Run</th>
                        <th>Rerun</th>
                        <th>Run By</th>
                        <th>Analyisis</th>
                        
                   
                      </tr>
                  </tr>
                </thead>
                <tbody>
    
                  {% for account in accounts %}
                  <tr>
                    <td>{{ account.name }}</td>
                    <td>{{ account.type.title }}
                    </td>
                    <td>{{ account.description }}</td>
                    <td> {{ account.balance }} </td>
                    <td> {{ account.creator.phone_number }}</td>
                    <td>{{ account.date_created }}</td>
                    <td> {{ account.modified_by }}</td>
                    <td> {{ account.date_modified }}</td>
                    <td> <a href="{% url 'coa_details' pk=account.id %}" class="btn btn-sm btn-warning"> View </a></td>
                    <td> <a href="{% url 'coa_edit' pk=account.id %}" class="btn btn-sm btn-success"> Edit </a></td>
                    <td> <a href="{% url 'coa_delete' pk=account.id %}" class="btn btn-sm btn-danger"> Delete </a></td>
                  </tr>
                  {% endfor %}
    
    
    
    
    
    
    
                </tbody>
                <tfoot>
    
                  <tr>
                    <th> Financial Year</th>
                    <th>Description</th>
                    <th>Date Run</th>
                    <th>Rerun</th>
                    <th>Run By</th>
                    <th>Analyisis</th>
                    
               
                  </tr>
    
                </tfoot>
              </table>
       
        </div>



        <div class="modal modal-warning fade" id="modal-overlay">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="overlay d-flex justify-content-center align-items-center">
                    <i class="fas fa-2x fa-sync fa-spin"></i>
                </div>
                <div class="modal-header">
                  <h4 class="modal-title">Default Modal</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>


          <div class="modal fade" id="modal-info">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Default Modal</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>



          <div class="modal fade" id="modal-success">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Default Modal</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}