{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% load static %}
{% block app %} Security {% endblock app %}
{% block active_security %}
active
{% endblock active_security %}
{% block active_users %}
active
{% endblock active_users %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'users' %}">Users</a></li>
<li class="breadcrumb-item"><a href="{% url 'add_users' %}">Add User</a></li>
{% endblock breadcrump %}

{% block show_security  %}
menu-open
{%  endblock show_security %}

{% block title %}

Dashboard Add User 

{% endblock title %}

{% block dashboard_content %}
<section class="content">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
  

      <div class="card">
        <div class="card-header bg-info">
        
          <div class="row">
              <div class="col-6">
                  <h3 class="card-title">Add User Form</h3>
              </div>

              <div class="col-6">
                  <div class="row">
                      <div class="col-6">
                      </div>

                      <div class="col-6">
                         
                      </div>
                  </div>
                
               
              </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
        
          {% crispy form %}

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}