{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% load static %}
{% block app %} Security {% endblock app %}
{% block active_security %}
active
{% endblock active_security %}
{% block active_roles %}
active
{% endblock active_roles %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'roles' %}">Roles</a></li>
<li class="breadcrumb-item"><a href="{% url 'add_users' %}">Add Role</a></li>
{% endblock breadcrump %}

{% block show_security  %}
menu-open
{%  endblock show_security %}

{% block title %}

Dashboard Add Role 

{% endblock title %}
{% block extra_css %}
<style>
  select.form-control[multiple], select.form-control[size] {

    min-height: 400px;
  
  }
</style>

{% endblock extra_css %}
{% block dashboard_content %}
<section class="content">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
  

      <div class="card" style="min-height: 650px;">
        <div class="card-header bg-info">
        
          <div class="row">
              <div class="col-6">
                  <h3 class="card-title">Add User Role Form</h3>
              </div>

              <div class="col-6">
                  <div class="row">
                      <div class="col-6">
                      </div>

                      <div class="col-6">
                         
                      </div>
                  </div>
                
               
              </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" style="min-height: 550px;">
        
          {% crispy form %}

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}