{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Security {% endblock app %}
{% block active_security %}
active
{% endblock active_security %}
{% block active_roles %}
active
{% endblock active_roles %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'roles' %}">Roles</a></li>
<li class="breadcrumb-item"><a href="{% url 'roles' %}">List</a></li>
{% endblock breadcrump %}

{% block show_security  %}
menu-open
{%  endblock show_security %}

{% block title %}

Dashboard security 

{% endblock title %}

{% block dashboard_content %}

{% if perms.auth.read_group %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Roles Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">

                            <a href="{% url 'add_roles' %}"  class="btn btn-warning btn-sm" id="paymentBtn">
                              <i class="fas fa-pen fa-lg"></i>
                              New
                            </a>
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table  table-sm table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th> Name</th>
                <th>Description</th>
                <th>Edit</th>
              </tr>
              </thead>
              <tbody>
                {% for group in groups %}
              <tr>
                <td>{{group.name}}</td>
                <td>
                  {{group.name}}
                </td>
                  <td>   <a href="{% url 'edit_roles' pk=group.id %}" class="btn btn-sm btn-info"> Edit  </a></td>
                </tr>

              {% endfor %}
  







          
              </tbody>
              <tfoot>
            
                <tr class="bg-info">
                    <th> Name</th>
                    <th>Description</th>
                    <th>Edit</th>
                  </tr>
        
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>
{% endif %}

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}