{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Security {% endblock app %}
{% block active_security %}
active
{% endblock active_security %}
{% block active_users %}
active
{% endblock active_users %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'users' %}">Users</a></li>
<li class="breadcrumb-item"><a href="{% url 'users' %}">List</a></li>
{% endblock breadcrump %}

{% block show_security  %}
menu-open
{%  endblock show_security %}

{% block title %}

Dashboard security 

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Users Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">

                            <a href="{% url 'add_users' %}"  class="btn btn-warning btn-sm" id="paymentBtn">
                              <i class="fas fa-pen fa-lg"></i>
                              New
                            </a>
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th>Name</th>
                <th>username</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Branch</th>
                <th>Role</th>
                <th>Edit</th>
              </tr>
              </thead>
              <tbody>
                {% for user in users %}
              <tr>
                <td>{{user.get_full_names }}</td>
                <td>
                  {{user.username}}
                </td>
                <td>
                  {{user.gender}}
                </td>
                <td>
                  {{user.email}}
                </td>
                <td>{{user.phone_number}}</td>
                <td>{{user.branch.name }}</td>
                <td>  {{user.group.name }} </td>
               
          
                  <td>   <a href="{% url 'edit_users' pk=user.id %}" class="btn btn-sm btn-info"> Edit  </a></td>
             
             
             
                </tr>

              {% endfor %}
              </tbody>
              <tfoot class="bg-info">
                <tr>
                  <th>Name</th>
                  <th>username</th>
                  <th>Gender</th>
                  <th>Email</th>
                  <th>Phone Number</th>
                  <th>Branch</th>
                  <th>Role</th>
                  <th>Edit</th>
                </tr>
        
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}