{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FinSA | Home </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/finsa.png' %}">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Ionicons -->
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">

    <style>
        .lockscreen-item {
            border-radius: 4px;
            margin: 10px auto 30px;
            padding: 0;
            position: relative;
            width: 290px;
        }
    </style>
    <!-- Google Font: Source Sans Pro -->
</head>

<body class="hold-transition lockscreen">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
           <h1><a href="" ><b>Fin</b>SA</a></h1>
      
                <a href="" class="text-black">
                   <small style="font-size: 14px; color:cadetblue;">Fingate Stand Alone Installation</small> </a>
            
        </div>
        <!-- User name -->

        <div class="lockscreen-item" style="background:lavender;">

            {% if user.is_authenticated %}
            <div class="lockscreen-name"> <a href="{% url 'profile' %}">{{ request.user }}</a></div><br>

            <div class="lockscreen-name"> <a href="{% url 'roles' %}">{{ request.user.group }}</a></div><br>
            <!-- lockscreen image -->
            <div class="lockscreen-image">
                <img src="{{ request.user.avatar.thumbnail.url }}" alt="User Image">
            </div>

            <form class="lockscreen-credentials">
            </form>
        

            {% endif %}


        </div>
        {% if user.is_authenticated %}

        <a class="nav-link btn btn-warning mr-2" href="{% url 'fosa' %}" role="button"><i class="fas fa-window-alt"></i>  POS</a><br>
        <a class="nav-link btn btn-success mr-2" href="{% url 'dashboard' %}" role="button"><i class="fas fa-tachometer-alt"></i>  Dashboard</a><br>
        <a class="nav-link btn btn-info mr-2" href="/admin" role="button">ADMIN</a><br>

        <a class="nav-link btn btn-danger mr-2" href="{% url 'logout' %}" role="button"><i class="fas fa-sign-out-alt"></i>  Logout</a>
        {% else %}

        <a class="nav-link btn btn-info mr-2" href="{% url 'login' %}" role="button">Login</a>
        {% endif %}

        <!-- START LOCK SCREEN ITEM -->
        <div class="lockscreen-item">



        </div>
        <!-- /.lockscreen-item -->


        <div class="lockscreen-footer text-center">
            Copyright &copy; 2020 <br> <b><a href="http://fingate.co.ke" class="text-black">Fingate Services <br> Factor
                    Technologies Limited</a></b><br>
            All rights reserved
        </div>
    </div>
    <!-- /.center -->

    <!-- jQuery -->
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>