{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Daily {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item"><a href="{% url 'dashboard_daily' %}">Daily</a></li>
{% endblock breadcrump %}
{% block active_dash %}
active
{% endblock active_dash %}
{% block title %}

Dashboard Daily Report View

{% endblock title %}



{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/flexmonster.css' %}">

{%  endblock extra_css %}

{% block show_dash %}
menu-open
{%  endblock show_dash %}
{% block menu_class_daily %}
active

{% endblock menu_class_daily %}

{% block dashboard_content %}




<section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-2">
          <div class="info-box">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user"></i></span>

            <div class="info-box-content">
              <a href="{% url 'members_list' %}" ><span class="info-box-text">Members</span></a>
              <span class="info-box-number">
                {{ snapshot.members }}
               
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-2">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
              <a href="{% url 'groups_list' %}" ><span class="info-box-text">Member Groups</span></a>
              <span class="info-box-number"> {{ snapshot.member_groups }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-2">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-map"></i></span>

            <div class="info-box-content">
              <a href="{% url 'branches' %}" ><span class="info-box-text">Branches</span></a>
              <span class="info-box-number"> {{ snapshot.branches }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <div class="col-12 col-sm-6 col-md-2">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-success elevation-1"><i class="fas fa-map"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Departments</span>
              <span class="info-box-number"> {{ snapshot.departments }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-2">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Loan Agents</span>
              <span class="info-box-number">  {{ snapshot.loan_agents }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <div class="col-12 col-sm-6 col-md-2">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-secondary elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Users</span>
              <span class="info-box-number">  {{ snapshot.users }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <!-- /.row -->

      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-8">
        
       

          <div class="card">
            <div class="card-header border-transparent bg-danger">
              <h3 class="card-title">Over Due Loans</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table m-0">
                  <thead>
                  <tr>
                    <th>Member</th>
                    <th>Amount</th>
                    <th>Date Expected</th>
                    <th>Is rescheduled</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>

                    {% for member in late_members %}
                  <tr>
                    <td><a href="">{{ member.get_names }}</a></td>
                    <td>{{ member.phone_number }}</td>
                    <td></td>
                    <td>
                      {{ tenant.date_created }}
                    </td>
                    <td>
                      <a href="{% url 'members_details' pk=member.id %}" class="btn btn-sm btn-danger"> More  </a>
                    </td>
                    <td>

                    </td>

                    <td></td>
                
                  </tr>

                  {% endfor %}
             
                 
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <a href="javascript:void(0)" class="btn btn-sm btn-info float-right">View All</a>Over Due Loans
            </div>
            <!-- /.card-footer -->
          </div>
          <div class="card">
            <div class="card-header border-transparent bg-info">
              <h3 class="card-title">Notes</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-tool" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table m-0">
                  <thead>
                  <tr>
                    <th>Member</th>
                    <th>Subject </th>
                    <th>Particulars</th>
                
                    <th>Due Date</th>
                 
                  </tr>
                  </thead>
                  <tbody>

                    {% for note in notes %}
                  <tr>
                    <td><a href="">{{ note.member.get_names }}</a></td>
                    <td>{{ note.subject }}</td>
                    <td> {{ note.message }}</td>
                    <td>
                      {{ note.due_date }}
                    </td>
                    <td>

                    </td>

                    <td></td>
                
                  </tr>

                  {% endfor %}
             
                 
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <a href="javascript:void(0)" class="btn btn-sm btn-info float-right">View Payments</a>
            </div>
            <!-- /.card-footer -->
          </div>

     
          <!-- /.card -->
        </div>
        <!-- /.col -->

        <div class="col-md-4">
          <!-- Info Boxes Style 2 -->
          <div class="info-box mb-3 bg-warning">
            <span class="info-box-icon"><i class="fas fa-tag"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Disbursed Loans</span>
              <span class="info-box-number"> {{ snapshot.d_loan_disbursed }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <div class="info-box mb-3 bg-success">
            <span class="info-box-icon"><i class="fas fa-tag"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Loans Request</span>
              <span class="info-box-number">{{ snapshot.d_loan_requests }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->

          <div class="row">
            <div class="col-12">
              <div class="info-box mb-3 bg-primary">
                <span class="info-box-icon"><i class="fas fa-clock"></i></span>
    
                <div class="info-box-content">
                  <span class="info-box-text">Over Due</span>
                  <span class="info-box-number">{{ snapshot.overdue_today }}</span>
                </div>
                <!-- /.info-box-content -->
              </div>
            </div>

        
          </div>
        
     
          <!-- /.info-box -->
          <div class="card bg-gradient-success">
            <div class="card-header border-0">

              <h3 class="card-title">
                <i class="far fa-calendar-alt"></i>
                Calendar
              </h3>
              <!-- tools card -->
              <div class="card-tools">
                <!-- button with a dropdown -->
                <div class="btn-group">
                  <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown">
                    <i class="fas fa-bars"></i></button>
                  <div class="dropdown-menu float-right" role="menu">
                    <a href="#" class="dropdown-item">Add new event</a>
                    <a href="#" class="dropdown-item">Clear events</a>
                    <div class="dropdown-divider"></div>
                    <a href="#" class="dropdown-item">View calendar</a>
                  </div>
                </div>
                <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
                <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                  <i class="fas fa-times"></i>
                </button>
              </div>
              <!-- /. tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body pt-0">
              <!--The calendar -->
              <div id="calendar" style="width: 100%"></div>
            </div>
            <!-- /.card-body -->
          </div>
      
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!--/. container-fluid -->
  </section>

{% endblock dashboard_content %}



{% block extra_js %}

<script src="{% static 'js/flexmonster.js' %}"></script>



{% endblock extra_js %}