{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Dashboard {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
{% endblock breadcrump %}
{% block active_dash %}
active
{% endblock active_dash %}
{% block title %}

Dashboard

{% endblock title %}

{% block show_dash %}
menu-open
{%  endblock show_dash %}

{% block dashboard_content %}






{% endblock dashboard_content %}