{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>FinGate Member's Portal</title>

    <!-- Favicon -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'portal/style.css' %}">


    {% block extra_css %}




    {% endblock extra_css %}

</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>


        <!-- ##### Header Area Start ##### -->
        <header class="header-area">
            <!-- Top Header Area -->
          
    
            <!-- Navbar Area -->
            <div class="credit-main-menu" id="sticker">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Menu -->
                        <nav class="classy-navbar justify-content-between" id="creditNav">
    
                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>
    
                            <!-- Menu -->
                            <div class="classy-menu">
    
                                <!-- Close Button -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>
    
                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="{% url 'index' %}">Home</a></li>
                                        <li><a href="{% url 'about' %}">About Us</a></li>
                                        <li><a href="{% url 'about' %}">How Tos</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                        <li><a class="btn btn-success" href="{% url 'login' %}">Login</a></li>
                                        <li><a class="btn btn-success" href="{% url 'signup' %}">Signup</a></li>
                                    </ul>
                                </div>
                                <!-- Nav End -->
                            </div>
    
                            <!-- Contact -->
                          <!-- <div class="contact"> -->
                                <!-- <a href="#"><img src="img/core-img/call2.png" alt=""> 0725252520</a> -->
                            <!-- </div> -->
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ##### Header Area End ##### -->



    {% block content %}






    {% endblock content %}


    {% block inner_content %}






    {% endblock inner_content %}



    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'portal/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'portal/js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'portal/js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'portal/js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'portal/js/active.js' %}"></script>
</body>

</html>