{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Finance {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'budget_list' %}">Budget</a></li>
<li class="breadcrumb-item"><a href="{% url 'budget_list' %}">List</a></li>
{% endblock breadcrump %}


{% block active_finance %}
active
{% endblock active_finance %}


{% block show_finance  %}
menu-open
{%  endblock show_finance %}
{% block title %}

Dashboard Finance

{% endblock title %}

{% block active_budget %}
active
{% endblock active_budget %}




{% block dashboard_content %}



<div class="container-fluid" id="page">



  <section class="content">
    <div class="container-fluid">

      <div class="card">
        <div class="card-header">
          <div class="col-md-5">
            <h3 class="card-title">Budget</h3>
          </div>
          <div class="col-md-6">

          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="dataTable" class="table  table-md table-bordered table-striped">
            <thead class="bg-warning">
              <tr>
                <th>Year</th>
                <th>Total Estimate</th>
                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
                <th>Edit</th>

              </tr>
            </thead>
            <tbody>

              {% for account in accounts %}
              <tr>
                <td>{{ account.financial_year }}</td>

                <td>{{ account.total }}</td>
                <td> {{ account.creator }}</td>
                <td>{{ account.date_created }}</td>
                <td> {{ account.modified_by }}</td>
                <td> {{ account.date_modified }}</td>
                <td> <a href="{% url 'budget_edit' pk=account.id %}" class="btn btn-sm btn-success"> Edit </a></td>
              </tr>
              {% endfor %}







            </tbody>

          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </section>



  <section class="content">
    <div class="container-fluid">

      <div class="card">
        <div class="card-header">
          <div class="col-md-5">
            <h3 class="card-title">Estimates</h3>
          </div>
          <div class="col-md-6">

          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="dataTable" class="table  table-bordered table-striped">
            <thead class="bg-info">

              <tr>
                <th>Budget </th>
                <th>Vote</th>

                <th>Estimate</th>
                <th> Created By</th>


                <th> Date Created</th>
                <th> Modified By</th>
                <th>Date Modified</th>



              </tr>
            </thead>
            <tbody>

              {% for transaction in events %}
              <tr>
                <td> {{ transaction.budget }}</td>
                <td> {{ transaction.event }}</td>
                <td>{{ transaction.estimate }}</td>
                <td> {{ transaction.creator}}</td>
                <td> {{ transaction.date_created }}</td>
                <td> {{ transaction.modified_by }}</td>
                <td>{{ transaction.date_modified }}</td>
              </tr>
              {% endfor %}


            </tbody>

          </table>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
  </section>

</div>

{% endblock dashboard_content %}



{% block extra_js %}

<script src="{% static 'js/flexmonster.js' %}"></script>



{% endblock extra_js %}