{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Finance {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'budget_list' %}">Budget</a></li>
<li class="breadcrumb-item"><a href="{% url 'budget_list' %}">List</a></li>
{% endblock breadcrump %}

{% block active_finance %}
active
{% endblock active_finance %}


{% block show_finance  %}
menu-open
{%  endblock show_finance %}
{% block title %}

Dashboard Finance

{% endblock title %}

{% block active_budget %}
      active    
{% endblock active_budget %}

{% block dashboard_content %}

{% if perms.chartsoa.read_account %}
<section class="content">
  <div class="row">
    <div class="col-12">


      <div class="card card-sm">
        <div class="card-header mb-1 bg-info">

          <div class="row d-flex justify-content-center">
            <div class="col-6">
              <h3 class="card-title">Manage Budgets Easily</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

                <div class="col-6">
                  <a href="{% url 'budget_aoe' %}" class="btn btn-sm btn-warning"> Add New</a>
               
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="dataTable" class="table  table-md table-bordered table-striped">
            <thead class="bg-info">
              <tr>
                <th>Financial Period</th>
                <th>Total Estimate</th>
                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
          
                <th>Estimates</th>
                <th>Edit</th>
             
              </tr>
            </thead>
            <tbody>

              {% for account in accounts %}
              <tr>
                <td>{{ account.financial_year }}</td>
            <td>{{ account.total }}</td>
            
                <td> {{ account.creator.phone_number }}</td>
                <td>{{ account.date_created }}</td>
                <td> {{ account.modified_by }}</td>
                <td> {{ account.date_modified }}</td>
             
                <td> <a href="{% url 'budget_details' pk=account.id %}" class="btn btn-sm btn-warning"> Estimates </a></td>
                <td> <a href="{% url 'budget_edit' pk=account.id %}" class="btn btn-sm btn-success"> Edit </a></td>
              </tr>
              {% endfor %}







            </tbody>
            <tfoot>

              <tr>
                <th>Financial Period</th>
                <th>Total Estimate</th>
                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
          
                <th>Estimates</th>
                <th>Edit</th>
             
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% else %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>404 Error Page</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">404 Error Page</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-info">404</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-danger"></i> You do not have permissions to view.</h3>

      <p>
    Contact Administrator
      </p>


    </div>
  </div>
  <!-- /.error-page -->

</section>
{% endif %}
{% endblock dashboard_content %}