{% extends 'dashboard_base.html' %}
{% load static %}
{% block app %} Savings {% endblock app %}

{% block active_savings %}
active
{% endblock active_savings %}

{% block active_savings_deposits %}
active
{% endblock active_savings_deposits %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'sdeposit_contracts_list' %}">Saving Deposit Contracts</a></li>
<li class="breadcrumb-item"><a href="{% url 'sdeposit_contracts_list' %}">List</a></li>
{% endblock breadcrump %}

{% block show_savings  %}
menu-open
{%  endblock show_savings %}

{% block title %}

Dashboard Savings - Deposit Contracts

{% endblock title %}

{% block dashboard_content %}





<section class="content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header">
        <div class="col-md-5">
          <h3 class="card-title">Saving Deposit Contract</h3>
        </div>
        <div class="col-md-6">
       
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="dataTable" class="table table-sm table-bordered table-striped">
            <thead class="bg-info">
            <tr>
              <th> Product</th>
              <th>Member</th>
              <th>Code</th>
              <th>Creation Date</th>
              <th>Saving Officer</th>
              <th>Created By</th>
              <th>Date Created</th>
              <th>Modified By</th>
              <th>Date Modified</th>
              <th>Analysis</th>
            </tr>
            </thead>

            <tbody>
              {% for contract in contracts %}

              <tr>
                <td>{{ contract.product }}</td>



                <td>{{ contract.member }}</td>

                <td>{{ contract.code }}</td>

                <td>{{ contract.creation_date }}</td>


                <td>
                  {{ contract.savings_officer  }}
                </td>

                <td>
                  {{ contract.date_created }}
                </td>

                <td>
                  {{ contract.creator }}
                </td>

                <td>
                  {{ contract.modified_by }}
                </td>


                <td>
                  {{ contract.date_modified }}
                </td>


                <td>
                  <a href="{% url 'sdeposit_contracts_details' pk=contract.id %}" class="btn btn-sm btn-success"> Analysis  </a>
                </td>
              </tr>






              {% endfor %}
            </tbody>
      
            <tfoot>
          
              <tr>
                <th> Product</th>
                <th>Member</th>
                <th>Code</th>
                <th>Creation Date</th>
                <th>Saving Officer</th>
                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
                <th>Analysis</th>
              </tr>
      
            </tfoot>
          </table>
      </div>
      <!-- /.card-body -->
    </div>
</div>
</section>



<section class="content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header">
        <div class="col-md-5">
          <h3 class="card-title">Movements</h3>
        </div>
        <div class="col-md-6">
       
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="dataTable" class="table  table-bordered table-striped">
            <thead class="bg-info">
              <tr>
                <th>Tranaction Id</th>
                <th> Member</th>

                <th> Account</th>
               
               
                <th>Amount</th>

                <th>Actual Amount</th>
           

                <th>Receving Member</th>
                <th>Receiving Account</th>
             

                <th>Date </th>
                <th>Processed By</th>
               
                
            </tr>
            </thead>
            <tbody>

                {% for transaction in events %}
                <tr>


                    <td> {{ transaction.id}}</td>
              


      
               
                    <td> {{ transaction.member}}</td>

           
               

                    <td> {{ transaction.acc}}</td>
               

                    <td> {{ transaction.amount }}</td>

                    <td>{{ transaction.actual_amount }}</td>
           
              


                    <td> {{ transaction.receiving_member}}</td>
              


                    <td> {{ transaction.receiver}}</td>
             


                    <td> {{ transaction.date}}</td>
               


                    <td> {{ transaction.creator}}</td>
                </tr>






                {% endfor %}


            </tbody>
    
        </table>
      </div>
      <!-- /.card-body -->
    </div>
</div>
</section>
{% endblock dashboard_content %}



{% block extra_js %}

<script src="{% static 'js/flexmonster.js' %}"></script>



{% endblock extra_js %}











