{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block app %} Msater Data {% endblock app %}
{% block active_data %}
active
{% endblock active_data %}
{% block active_import %}
active
{% endblock active_import %}


{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'data_imp' %}">Data Import</a></li>
<li class="breadcrumb-item"><a href="{% url 'data_imp' %}">Data Import</a></li>
{% endblock breadcrump %}

{% block show_data  %}
menu-open
{%  endblock show_data %}

{% block title %}

Dashboard Data 

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Master Data Import</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">

                         
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">

           <form action="{% url 'data_import' %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}

          <input type="file" name="csv_file" id="">

          <button type="submit" class="btn btn-md btn-success">Upload</button>
           </form>
      
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}