
{% extends 'main/sub_base.html' %}
{% load static %}

{% block active_item_contact %}
active
{% endblock %}
{% block extra_css %}
{% endblock extra_css %}
{% block title %}

Our Contacts
{% endblock title %}
{% block inner_content %}

<section class="content container">

    <!-- Default box -->
    <div class="card mt-5 mr-5 ml-5 mb-5">
      <div class="card-header bg-warning">
        <h3 class="card-title">Our Offices</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            </button>
       
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
          
            <div class="row">
              <div class="col-12">
                <h4>Results</h4>
                  <div class="post">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="{% static 'dist/img/user1-128x128.jpg' %}" alt="user image">
                      <span class="username">
                        <a href="#">Jonathan Burke Jr.</a>
                      </span>
                      <span class="description">Shared publicly - 7:45 PM today</span>
                    </div>
                    <!-- /.user-block -->
                    <p>
                      Lorem ipsum represents a long-held tradition for designers,
                      typographers and the like. Some people hate it and argue for
                      its demise, but others ignore.
                    </p>

                    <p>
                      <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 1 v2</a>
                    </p>
                  </div>

                 
              </div>
            </div>
          </div>
        
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>

<section class="content container">

	<!-- Default box -->
	<div class="card card-solid">
	  <div class="card-body pb-0">
		<div class="row d-flex align-items-stretch">
		
		  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
			<div class="card bg-light">
			  <div class="card-header text-muted border-bottom-0">
				Digital Strategist
			  </div>
			  <div class="card-body pt-0">
				<div class="row">
				  <div class="col-7">
					<h2 class="lead"><b>Nicole Pearson</b></h2>
					<p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
					<ul class="ml-4 mb-0 fa-ul text-muted">
					  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
					  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
					</ul>
				  </div>
				  <div class="col-5 text-center">
					<img src="{% static 'dist/img/user2-160x160.jpg' %}" alt="" class="img-circle img-fluid">
				  </div>
				</div>
			  </div>
			  <div class="card-footer bg-warning">
				<div class="text-right">
				
				</div>
			  </div>
			</div>
		  </div>
		  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
			<div class="card bg-light">
			  <div class="card-header text-muted border-bottom-0">
				Digital Strategist
			  </div>
			  <div class="card-body pt-0">
				<div class="row">
				  <div class="col-7">
					<h2 class="lead"><b>Nicole Pearson</b></h2>
					<p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
					<ul class="ml-4 mb-0 fa-ul text-muted">
					  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
					  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
					</ul>
				  </div>
				  <div class="col-5 text-center">
					<img src="{% static 'dist/img/user2-160x160.jpg' %}" alt="" class="img-circle img-fluid">
				  </div>
				</div>
			  </div>
			  <div class="card-footer bg-warning">
				<div class="text-right">
				
				</div>
			  </div>
			</div>
		  </div>
	
		  <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
			<div class="card bg-light">
			  <div class="card-header text-muted border-bottom-0">
				Digital Strategist
			  </div>
			  <div class="card-body pt-0">
				<div class="row">
				  <div class="col-7">
					<h2 class="lead"><b>Nicole Pearson</b></h2>
					<p class="text-muted text-sm"><b>About: </b> Web Designer / UX / Graphic Artist / Coffee Lover </p>
					<ul class="ml-4 mb-0 fa-ul text-muted">
					  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Address: Demo Street 123, Demo City 04312, NJ</li>
					  <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> Phone #: + 800 - 12 12 23 52</li>
					</ul>
				  </div>
				  <div class="col-5 text-center">
					<img src="{% static 'dist/img/user2-160x160.jpg' %}" alt="" class="img-circle img-fluid">
				  </div>
				</div>
			  </div>
			  <div class="card-footer bg-warning">
				<div class="text-right">
			
				</div>
			  </div>
			</div>
		  </div>
	
		</div>
	  </div>
	  <!-- /.card-body -->
	
	  <!-- /.card-footer -->
	</div>
	<!-- /.card -->

  </section>




	{% endblock %}
