
{% extends 'main/sub_base.html' %}
{% load static %}

{% block active_item_contact %}
active
{% endblock %}
{% block extra_css %}
{% endblock extra_css %}
{% block title %}

Our Contacts
{% endblock title %}
{% block inner_content %}

<section class="content container">

    <!-- Default box -->
    <div class="card mt-5 mr-5 ml-5 mb-5">
      <div class="card-header bg-warning">
        <h3 class="card-title">To Get started Get In touch With Us</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            </button>
       
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
          
            <div class="row">
              <div class="col-12">
                <h4>Call Us</h4>
                  <div class="post">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="{% static 'dist/img/user1-128x128.jpg' %}" alt="user image">
                      <span class="username">
                        <a>Kelvin</a>
                      </span>
                      <span class="description">0799096667</span>
                    </div>
                    <!-- /.user-block -->
                    <p>
                      
                    </p>
                    <p>
                      <a class="link-black text-sm"><i class="fas fa-link mr-1"></i> Sales Service</a>
                    </p>
                  </div>
              </div>
            </div>
          </div>
        
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>






	{% endblock %}
