
{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>FinGate - Home </title>
        <meta name="description" content="A flexxible Sacco / Micro Finance solution that automates the process of offering financial services like loans and savings to individuals or groups.">

 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'index/assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/style.css' %}">

            <style>
                .slider-area .single-slider .slider-cap-wrapper .hero__img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                 
                }
                .slider-area .single-slider .slider-cap-wrapper .hero__img img {
                    width: 50%;
                    height: 50%;
                }
            </style>

            <style>
                .footer-padding {
                    padding-top: 30px;
                    padding-bottom: 20px;
                }
            </style>
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text hero__caption">
                  <h1>FinGate</h1>
                    <!-- <img src="{% static 'index/assets/img/logo/logo.png' %}" alt=""> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
                <div class="main-header  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                  <h1>FinGate</h1>

                                    <!-- <a href="{% url 'index' %}"><img src="{% static 'index/assets/img/logo/logo.png' %}" alt=""></a> -->
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">  
                                            <li class="active"><a href="{% url 'index' %}">Home</a></li>
                                            <li><a href="{% url 'about_us' %}">About Us</a></li>
                                            <li><a href="{% url 'our_services' %}">Our Services</a></li>
                                            <li><a href="{% url 'pricing' %}">Pricing</a></li>
                                            <li><a href="{% url 'contact' %}">Our Contact</a></li>

                                            <!-- <li>  <a  href="http://portal.fingate.co.ke:8004">Member's Portal</a></li> -->
                                            <!-- <li>  <a  href="http://affiliate.fingate.co.ke">Affiliate</a></li> -->
                                    
                                        </ul>
                                    </nav>
                                </div>
                            
                            </div>
                            </div>   
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

        <!-- slider Area Start-->
        <div class="slider-area slider-height" data-background="{% static 'index/assets/img/hero/h1_hero.jpg' %}">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider">
                    <div class="slider-cap-wrapper">
                        <div class="hero__caption">
                            <p data-animation="fadeInLeft" data-delay=".2s">Affordable, Secure, Scalable Fin-tech Solutions</p>
                            <h1 data-animation="fadeInLeft" data-delay=".5s">FinGate is a fin-tech solutions Platform.</h1>
                            <!-- Hero Btn -->
                       
                            <a class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s" href="{% url 'tenancy' %}">Get Started</a>
                            <a class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s" href="http://demo.fingate.co.ke/auth/login">Demo</a>
                        </div>
                        <div class="hero__img">
                            <img src="{% static 'img/about.png' %}" alt="">
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider">
                    <div class="slider-cap-wrapper">
                        <div class="hero__caption">
                            <p data-animation="fadeInLeft" data-delay=".2s">Try Our Services</p>
                            <h1 data-animation="fadeInLeft" data-delay=".5s">Use our demo services and see how FinGate works.</h1>
                            <!-- Hero Btn -->
                            <a class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s" href="{% url 'tenancy' %}">Get Started</a>
                            <a class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s" href="http://demo.fingate.co.ke/auth/login">Demo</a>

                        </div>
                        <div class="hero__img">
                            <img src="{% static 'img/about.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        

        </div>
        <!-- slider Area End-->


        
     
    
        <!-- Services Area Start -->
        <div class="services-area pt-150 pb-150" data-background="assets/img/gallery/section_bg02.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>what makes us stand out</span>
                            <h2>Our Saas Services.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-work"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a>Core Modules</a></h5>
                                <ul>
                                    <li>User Module</li>
                                    <li>Clients and Groups Module</li>
                                    <li>Loans  Module</li>
                                    <li>Savings  Module</li>
                                    <li><a style="color: darkblue;" href="{% url 'pricing' %}">More</a></li>
                                   
                                </ul>
                            
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a >Sms Gateway</a></h5>
                                <p>Reaching your members is now easier with our Sms Gateway Service.













                                    
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan-1"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a >Mobile App & Portal</a></h5>
                                <p>We ensure that your members can reach your services easily and conviniently</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-like"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a >Payment Intergration</a></h5>
                                <p>Fingate is fully integrated with Mpesa.</p>
                            </div>
                        </div>
                    </div>

                 </div>
            </div>
        </div>
        <!-- Services Area End -->

        <div class="services-area pt-50 pb-100" data-background="assets/img/gallery/section_bg02.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>what makes us stand out</span>
                            <h2>Our Products.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-work"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="">FinGate Stand alone installation</a></h5>
                                <p>Fingate is fully integrated with Mpesa, Credit Cards(Mastercard, Visa) and Paypal.</p>

                            </div>
                        </div>
                    </div>
                 
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-like"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a >Payment Intergration</a></h5>
                                <p>Fingate is fully integrated with Mpesa, Credit Cards(Mastercard, Visa) and Paypal.</p>
                            </div>
                        </div>
                    </div>

                 </div>
            </div>
        </div>
        <!-- Support Company Start-->
        <div class="support-company-area section-padding3 fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img mb-50">
                          <img src="{% static 'index/assets/img/hero/acacia.jpg' %}" alt="">
                          
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle">
                                <span>Why you will love our services</span>
                                <h2>Your Success is what motivates us.</h2>
                            </div>
                            <div class="support-caption">
                             
                                <div class="select-suport-items">
                                    <label class="single-items">Offering you 24/7 support; With us, you are never alone.
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="single-items">Affordable solutions scaling on your needs.
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="single-items">A one-stop shop for your organisation needs.
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="single-items">Going out of our way to make it easier for you.
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Company End-->

   

    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area">
            <div class="container">
               <div class="footer-top footer-padding">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo d-flex justify-content-center align-items-center">
                                        <a href="index.html">  <img src="{% static 'img/about.png' %}" alt="" style="height:100px; width:100px"></a>
                                    </div>
                                    <div class="footer-pera">
                                        <p>Affordable, Secure, Scalable Fin-tech Solutions</p>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Link</h4>
                                    <ul>
                                        <li><a href="{% url 'about_us' %}">About</a></li>
                                        <li><a href="{% url 'about_us' %}">Pricing</a></li>
                                        <li><a href="{% url 'our_services' %}">Services</a></li>
                                        <li><a href="{% url 'contact' %}"> Contact Us</a></li>
                                        <li><a href="http://portal.fingate.co.ke">Member's Portal</a></li>
                                        <li><a href="http://affiliate.fingate.co.ke">Affiliate</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Demo</h4>
                                    <ul>
                                        <li><a href="http://demo.fingate.co.ke/auth/login">FinGate Demo Service</a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Support</h4>
                                    <ul>
                                        <li><a href="#">Frequently Asked Questions</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#"> Privacy Policy</a></li>
                                        <li><a href="#">Report a Payment Issue</a></li>     
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  <!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

  <p>
    <strong>Copyright &copy; 2020 <a href="http://fingate.co.ke">FinGate </a> - <a href="http://factor.co.ke">Factor Technologies</a> </strong>
 </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="https://twitter.com/fingate"><i class="fab fa-twitter"></i></a>
                                <a href="https://facebook.com/fingate"><i class="fab fa-facebook-f"></i></a>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>


    <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'index/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'index/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'index/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'index/assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'index/assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'index/assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'index/assets/js/slick.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'index/assets/js/wow.min.js' %}"></script>
		<script src="{% static 'index/assets/js/animated.headline.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Nice-select, sticky -->
        <script src="{% static 'index/assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'index/assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="{% static 'index/assets/js/contact.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'index/assets/js/mail-script.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'index/assets/js/plugins.js' %}"></script>
        <script src="{% static 'index/assets/js/main.js' %}"></script>
        
    </body>
</html>