{% extends 'main/sub_base.html' %}
{% load static %}

{% block title %}

Home
{% endblock title %}
{% block active_item_home %}
active
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'land/css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link href="{% static 'css/landing-page.min.css' %}" rel="stylesheet">

{% endblock extra_css %}



{% block inner_content %}


<section class="about section-margin mb-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="about__img text-center text-md-left mb-5 mb-md-0">
                    <img class="img-fluid" src="{% static 'img/about.png' %}" alt="">
                  
                </div>
            </div>


            <div class="col-md-7 pl-xl-5">
                <div class="section-intro">
                    <h4 class="section-intro__title">who we are</h4>
                    <h2 class="section-intro__subtitle">Fingate Systems <br> </h2>
                </div>
                <p>Micro finance solutions</p>
                <div class="row">
                    <div class="col-6">
                        <a class="btn  btn-success mt-4" href="http://fingate.co.ke/get_started">Get Started</a>
                    </div>

                    <div class="col-6">
                        <a class="btn btn-info mt-4" href="http://demo.fingate.co.ke/auth/login">Demo</a>
                    </div>
                </div>
            
             
            </div>
        </div>
    </div>
</section>


<section class="features-icons bg-light text-center">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Mobile Ready</h3>
            <p class="lead mb-0">Our platform is fully responsive and can be accessed easily with smaller devices like SmartPhones!</p>
          </div>
        </div>

        <div class="col-lg-3">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>Member Portal and App</h3>
              <p class="lead mb-0">Our platform is fully responsive and can be accessed easily with smaller devices like SmartPhones!</p>
            </div>
          </div>
        <div class="col-lg-3">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Mpesa Integration</h3>
            <p class="lead mb-0">Fingate is fully integrated with mpesa.</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Sms Gateway</h3>
            <p class="lead mb-0">Reach all your members fast with messaging!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <!-- <h2 class="mb-4">Book A Demo</h2> -->
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <!-- <input type="email" class="form-control form-control-md" placeholder="Enter your email..."> -->
              </div>
              <div class="col-12 col-md-3">
                <!-- <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button> -->
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>



  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">What people are saying...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="" alt="">
            <h5>Karani - TEP CBO</h5>
            <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="" alt="">
            <h5>Salome</h5>
            <p class="font-weight-light mb-0">""</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="" alt="">
            <h5>Sarah</h5>
            <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>




{% endblock inner_content %}



{% block extra_js %}

{% endblock extra_js %}