{% extends 'main/sub_base.html' %}
{% load static %}

{% block title %}
Pricing
{% endblock title %}
{% block active_item_home %}
active
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
{% endblock extra_css %}



{% block inner_content %}


<div class="s002" >
  <form action="/listings/search" method="GET">
      <fieldset>
        <legend>Kondisha Listings</legend>
      </fieldset>
      <div class="inner-form">
        <div class="input-field first-wrap">
       
          <input id="search" type="text" placeholder="What are you looking for?" />
        </div>
        <div class="input-field second-wrap">
        
          <input class="datepicker" id="depart" type="text" placeholder="Apartment Size" />
        </div>
        <div class="input-field third-wrap">
       
          <input class="datepicker" id="return" type="text" placeholder="Agent Name" />
        </div>
        <div class="input-field fouth-wrap">
            <input id="Town" type="text" placeholder="town" />
     
        </div>
        <div class="input-field fifth-wrap">
          <button class="btn-search btn btn-success" type="button">SEARCH</button>
        </div>
      </div>
    </form>
  </div>

<div class="row m-5 d-flex justify-content-center">

 
</div>


{% endblock inner_content %}

