
{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>FinGate - Pricing </title>
        <meta name="description" content="A flexxible Sacco / Micro Finance solution that automates the process of offering financial services like loans and savings to individuals or groups.">

 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'index/assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/style.css' %}">

            <style>
                .footer-padding {
                    padding-top: 30px;
                    padding-bottom: 20px;
                }
            </style>
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text hero__caption">
                  <h1>FinGate</h1>
                    <!-- <img src="{% static 'index/assets/img/logo/logo.png' %}" alt=""> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
                <div class="main-header  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                  <h1>FinGate</h1>

                                    <!-- <a href="{% url 'index' %}"><img src="{% static 'index/assets/img/logo/logo.png' %}" alt=""></a> -->
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">  
                                            <li ><a href="{% url 'index' %}">Home</a></li>
                                            <li><a href="{% url 'about_us' %}">About Us</a></li>
                                            <li><a href="{% url 'our_services' %}">Our Services</a></li>
                                            <li class="active"><a href="{% url 'pricing' %}">Pricing</a></li>
                                            <li><a href="{% url 'contact' %}">Our Contact</a></li>

                                            <!-- <li>  <a  href="http://portal.fingate.co.ke:8004">Member's Portal</a></li> -->
                                            <!-- <li>  <a  href="http://affiliate.fingate.co.ke">Affiliate</a></li> -->
                                    
                                        </ul>
                                    </nav>
                                </div>
                            
                            </div>
                            </div>   
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

    
    
        <!-- Services Area Start -->
        <div class="services-area pt-150 pb-150" data-background="assets/img/gallery/section_bg02.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>Our Prices are Reasonable</span>
                            <h2>Pricing.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                   
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50  bg-warning">
                            <div class="cat-icon">
                                <i class="fas fa-database fa-lg"></i>                            </div>
                            <div class="cat-cap">
                             
                                <h4><a >Starter Package</a></h4>
                                <h5 style="color: white;">Ksh 4000</h5>

                                <ul>
                                    <li>User Module - Add Upto 10 Users in the system. </li>
                                    <li>Clients and Groups Module - Manage upto 400 Clients</li>
                                    <li>Loans  Module - Complete Access</li>
                                    <li>Savings  Module - Complete Access</li>
                                    <li>Financial Module - Complete Access</li>
                                    <li>Projects  Module - Complete Access</li>
                                    <li> Human Resource - Complete Access</li>
                                    <li>Financial Module - Complete Accesss</li>
                                    <li>Organisation Structure(Branches & Departments) - Complete Access</li>
                                    <li>Shares and Dividends - Complete Access</li>
                                    <li>Front Office - Complete Access</li>
                                    <li>Bulk Sms - Only Push Sms with FinGate Unique name</li>
                                    <li>Email - Cannot Send Emails</li>
                                </ul>

                                <div class="col-12 text-center">
                                    <button type="submit" href="{% url 'tenancy' %}" class="btn btn-primary btn-block"> Get Started</button>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50  bg-info">
                            <div class="cat-icon">
                                <i class="fas fa-database fa-lg"></i>                            </div>
                            <div class="cat-cap">
                                <h5><a ></a></h5>
                             
                                <h4><a >Intermediate Package</a></h4>
                                <h5 style="color: white;">Ksh 8000</h5>
                                <ul>
                                    <li>User Module - Add Upto 15 Users in the system. </li>
                                    <li>Clients and Groups Module - Manage upto 700 Clients</li>
                                    <li>Loans  Module - Complete Access</li>
                                    <li>Savings  Module - Complete Access</li>
                                    <li>Financial Module - Complete Access</li>
                                    <li>Projects  Module - Complete Access</li>
                                    <li> Human Resource - Complete Access</li>
                                    <li>Financial Module - Complete Accesss</li>
                                    <li>Organisation Structure(Branches & Departments) - Complete Access</li>
                                    <li>Shares and Dividends - Complete Access</li>
                                    <li>Front Office - Complete Access</li>
                                    <li>Bulk Sms - Only Push Sms with FinGate Unique name</li>
                                    <li>Email - Send limited Emails</li>
                                </ul>

                                <div class="col-12 text-center">
                                    <button type="submit" href="{% url 'tenancy' %}" class="btn btn-primary btn-block"> Get Started</button>
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50  bg-success">
                            <div class="cat-icon">
                                <i class="fas fa-database fa-lg"></i>                            </div>
                            <div class="cat-cap">
                                <h4><a >Advanced Package</a></h4>
                                <h5 style="color: white;">Ksh 15000</h5>
                                <ul>
                                    <li>User Module - Complete Access . </li>
                                    <li>Clients and Groups Module - Complete Access</li>
                                    <li>Loans  Module - Complete Access</li>
                                    <li>Savings  Module - Compleete Access</li>
                                    <li>Financial Module - Complete Access</li>
                                    <li>Projects  Module - Complete Access</li>
                                    <li> Human Resource - Complete Access</li>
                                    <li>Financial Module - Complete Accesss</li>
                                    <li>Organisation Structure(Branches & Departments) - Complete Access</li>
                                    <li>Shares and Dividends - Complete Access</li>
                                    <li>Front Office - Complete Access</li>
                                    <li>Bulk Sms - Only Push Sms with Your Unique name</li>
                                    <li>Email - Send Unlimited Emails</li>
                                </ul>

                                <div class="col-12 text-center">
                                    <button type="submit" href="{% url 'tenancy' %}" class="btn btn-primary btn-block"> Get Started</button>
                                  </div>
                            </div>
                        </div>
                    </div>

                 </div>
            </div>
        </div>


   

    </main>
    <footer>
        <!-- Footer Start-->
        <div class="footer-area">
            <div class="container">
               <div class="footer-top footer-padding">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="single-footer-caption mb-30">
                                    <!-- logo -->
                                    <div class="footer-logo d-flex justify-content-center align-items-center">
                                        <a href="index.html">  <img src="{% static 'img/about.png' %}" alt="" style="height:100px; width:100px"></a>
                                    </div>
                                    <div class="footer-pera">
                                        <p>Affordable, Secure, Scalable Fin-tech Solutions</p>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Quick Link</h4>
                                    <ul>
                                        <li><a href="{% url 'about_us' %}">About</a></li>
                                        <li><a href="{% url 'about_us' %}">Pricing</a></li>
                                        <li><a href="{% url 'our_services' %}">Services</a></li>
                                        <li><a href="{% url 'contact' %}"> Contact Us</a></li>
                                        <li><a href="http://portal.fingate.co.ke">Member's Portal</a></li>
                                        <li><a href="http://affiliate.fingate.co.ke">Affiliate</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Demo</h4>
                                    <ul>
                                        <li><a href="http://demo.fingate.co.ke/auth/login">FinGate Demo Service</a></li>
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Support</h4>
                                    <ul>
                                        <li><a href="#">Frequently Asked Questions</a></li>
                                        <li><a href="#">Terms & Conditions</a></li>
                                        <li><a href="#"> Privacy Policy</a></li>
                                        <li><a href="#">Report a Payment Issue</a></li>     
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
                <div class="footer-bottom">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-9 col-lg-8">
                            <div class="footer-copy-right">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  <!-- Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> -->
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>

  <p>
    <strong>Copyright &copy; 2020 <a href="http://fingate.co.ke">FinGate </a> - <a href="http://factor.co.ke">Factor Technologies</a> </strong>
 </p>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-4">
                            <!-- Footer Social -->
                            <div class="footer-social f-right">
                                <a href="https://twitter.com/fingate"><i class="fab fa-twitter"></i></a>
                                <a href="https://facebook.com/fingate"><i class="fab fa-facebook-f"></i></a>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Footer End-->
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>


    <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'index/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'index/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'index/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'index/assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'index/assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'index/assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'index/assets/js/slick.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'index/assets/js/wow.min.js' %}"></script>
		<script src="{% static 'index/assets/js/animated.headline.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Nice-select, sticky -->
        <script src="{% static 'index/assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'index/assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="{% static 'index/assets/js/contact.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'index/assets/js/mail-script.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'index/assets/js/plugins.js' %}"></script>
        <script src="{% static 'index/assets/js/main.js' %}"></script>
        
    </body>
</html>