 {% extends 'base.html' %}

 {% load static %}
 {% block content %}
 <!-- Navbar -->
  <nav class="navbar navbar-expand navbar-white navbar-light bborder">
    <div class="navbar-nav">
    
     
      <div class=" mr-5 ml-5">
        <a href="{% url 'index' %}" class="logo">{{ request.tenant.name }} </a>
      </div>

   
    </div>



    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
   
    



      {% if user.is_authenticated %}   
    


      <li class="nav-item">
        <a class="nav-link mr-2" href="{% url 'index' %}" role="button">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn btn-warning mr-2" href="{% url 'fosa' %}" role="button">POS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-info mr-2" href="{% url 'dashboard_daily' %}" role="button"> Dashoard</a>
      </li>

      <li class="nav-item">
        <a class="nav-link btn btn-danger mr-2" href="/admin" role="button">Admin</a>
      </li>



      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-comments"></i>
          <span class="badge badge-danger navbar-badge">0</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
    
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">0 Messages</a>
        </div>
      </li>
      <!-- Notifications Dropdown Menu -->
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-bell"></i>
          <span class="badge badge-warning navbar-badge">0</span>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
      
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item dropdown-footer">0 Notifications</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="far fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <span class="dropdown-item dropdown-header">Quick Links</span>
          <div class="dropdown-divider"></div>
          <a href="{% url 'profile' %}" class="dropdown-item">
            <i class="fas fa-user mr-2"></i> Profile
          </a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'dashboard_daily' %}" class="dropdown-item">
            <i class="fas fa-tachometer-alt mr-2"></i> Dashboard
          </a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'logout' %}" class="dropdown-item">
            <i class="fas fa-user mr-2"></i> Logout
          </a>
          <div class="dropdown-divider"></div>
        </div>
      </li>

     
    
      {% else %}
      <li class="nav-item d-none d-sm-inline-block"><a class="nav-link" href="http://fingate.co.ke">Fingate</a></li>
      <li class="nav-item">
        <a class="nav-link mr-2" href="{% url 'index' %}" role="button">Home</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block"><a class="nav-link" href="{% url 'about_us' %}">About Us</a></li>
      <li class="nav-item d-none d-sm-inline-block"><a class="nav-link" href="{% url 'our_services' %}">Our Services</a></li>
      <li class="nav-item d-none d-sm-inline-block"><a class="nav-link" href="{% url 'contact' %}">Our Contacts</a></li>
      <li class="nav-item d-none d-sm-inline-block bg-info"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
      {% endif %}

    </ul>
  </nav>
  <!-- /.navbar -->

  {% block inner_content %}



  {% endblock inner_content %}



  {% endblock content %}



  {% block footer_class %}
  
  d-flex justify-content-center align-items-center
  {% endblock footer_class %}