
{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ request.tenant.name }} - Home </title>
        <meta name="description" content="A flexxible Sacco / Micro Finance solution that automates the process of offering financial services like loans and savings to individuals or groups.">

 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'index/assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/style.css' %}">

            <style>
                .header-area .main-header {
                    padding: 0px 100px;
                    background: khaki;
                }
            </style>

            {% block extra_css %}




{% endblock extra_css %}
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text hero__caption">
                  <h1>{{ request.tenant.name }} </h1>
                    <!-- <img src="{% static 'index/assets/img/logo/logo.png' %}" alt=""> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
                <div class="main-header  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2 col-md-1">
                                <div class="logo">
                                  <h4>{{ request.tenant.name }}</h4>

                                    <!-- <a href="{% url 'index' %}"><img src="{% static 'index/assets/img/logo/logo.png' %}" alt=""></a> -->
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10 col-md-10">
                            <div class="menu-main d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu f-right d-none d-lg-block">
                                    <nav> 
                                        <ul id="navigation">  
                                            <li class=""><a href="http://fingate.co.ke">Fingate</a></li>
                                            <li class="{% block active_item_home %}
                                            
                                            {% endblock active_item_home %}"><a href="{% url 'index' %}">Home</a></li>
                                            <li class="{% block active_item_about %}
                                            
                                            {% endblock active_item_about %}"><a href="{% url 'about_us' %}">About Us</a></li>
                                            <li class="{% block active_item_services %}
                                            
                                            {% endblock active_item_services %}"><a href="{% url 'our_services' %}">Services</a></li>
                                            <li class="{% block active_item_contact %}
                                            
                                            {% endblock active_item_contact %}"><a href="{% url 'contact' %}">Contact</a></li>
                                            <!-- <li class="{% block active_item_portal %}
                                            
                                            {% endblock active_item_portal %}">  <a  href="http://portal.fingate.co.ke">Member's Portal</a></li> -->

                                            <li class="{% block active_item_login %}
                                            
                                            {% endblock active_item_login %}">  <a href="{{ login }}">Login</a></li>
                                    
                                        </ul>
                                    </nav>
                                </div>
                            
                            </div>
                            </div>   
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <!-- Header End -->
    </header>
    <main>

{% block inner_content %}


{% endblock inner_content %}
    </main>
   
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>


    <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'index/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'index/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'index/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'index/assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'index/assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'index/assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'index/assets/js/slick.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'index/assets/js/wow.min.js' %}"></script>
		<script src="{% static 'index/assets/js/animated.headline.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Nice-select, sticky -->
        <script src="{% static 'index/assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'index/assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="{% static 'index/assets/js/contact.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'index/assets/js/mail-script.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'index/assets/js/plugins.js' %}"></script>
        <script src="{% static 'index/assets/js/main.js' %}"></script>

        {% block extra_js %}




{% endblock extra_js %}
        
    </body>
</html>