{% extends 'main/tenant_base.html' %}
{% load static %}

{% block title %}

Home
{% endblock title %}
{% block active_item_home %}
active
{% endblock %}
{% block extra_css %}
<style>
    .ie {
      
        margin-top: 200px;
    }
    .paddi {
        padding-top: 150px;
    }
</style>



{% endblock extra_css %}



{% block inner_content %}

<main>


<section class="about section-margin mb-5 ie">
    <div class="container paddi">
        <div class="row align-items-center">
            <div class="col-md-5">
                <div class="about__img text-center text-md-left mb-5 mb-md-0">
                    <img class="img-fluid" src="{% static 'img/about.png' %}" alt="">
                  
                </div>
            </div>


            <div class="col-md-7 pl-xl-5">
                <div class="section-intro">
                    <h4 class="section-intro__title">who we are</h4>
                    <h2 class="section-intro__subtitle">{{ name }} <br> </h2>
                </div>
                <!-- <p>Micro finance solutions</p> -->
                <div class="row">
                    <div class="col-6">

                        <p>{{ index.message }}</p>
                        <a class="btn  btn-success mt-4" href="{{ login }}">Login</a>
                    </div>

                    <div class="col-6">
                        <!-- <a class="btn btn-info mt-4" href="http://.fingate.co.ke/auth/login">Demo</a> -->
                    </div>
                </div>
            
             
            </div>
        </div>
    </div>
</section>

<section class="about section-margin mb-5">
  <div class="container">
      <div class="row align-items-center">
       
      </div>
  </div>
</section>
</main>
<div class="services-area pt-150 pb-150" data-background="assets/img/gallery/section_bg02.jpg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>what makes us stand out</span>
                    <h2>Products and Services.</h2>
                </div>
            </div>
        </div>
        <div class="row">
  
          {% for service in services %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-work"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="">{{ service.name }}</a></h5>
                        <p>{{ service.description}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
         
  
         </div>
    </div>
  </div>

{% endblock inner_content %}



{% block extra_js %}

{% endblock extra_js %}