{% extends 'main/tenant_base.html' %}
{% load static %}

{% block active_item_services %}
active
{% endblock active_item_services %}

{% block title %}

Services
{% endblock title %}

{% block extra_css %}
{% endblock extra_css %}

{% block inner_content %}


<div class="services-area pt-150 pb-150" data-background="assets/img/gallery/section_bg02.jpg">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6 col-md-10">
              <!-- Section Tittle -->
              <div class="section-tittle text-center mb-80">
                  <span>what makes us stand out</span>
                  <h2>Products and Services.</h2>
              </div>
          </div>
      </div>
      <div class="row">

        {% for service in services %}
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="single-cat text-center mb-50">
                  <div class="cat-icon">
                      <span class="flaticon-work"></span>
                  </div>
                  <div class="cat-cap">
                      <h5><a href="">{{ service.name }}</a></h5>
                      <p>{{ service.description}}</p>
                  </div>
              </div>
          </div>
          {% endfor %}
       

       </div>
  </div>
</div>



	{% endblock inner_content %}


