{% extends 'main/tenant_base.html' %}
{% load static %}

{% block active_item_about %}
active
{% endblock active_item_about %}

{% block title %}

About
{% endblock title %}

{% block extra_css %}
{% endblock extra_css %}

{% block inner_content %}



<!-- Services Area Start -->

<!-- Services Area End -->
<!-- Support Company Start-->
<div class="support-company-area section-padding3 fix">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
                <!-- about-img -->
                <img src="{% static 'img/about.png' %}" alt="">
                <div class="about-img ">

                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="about-caption mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-35">
                        <span>About Our {{ request.tenant.name }}</span>
                        <h2>{{ about.banner }}.</h2>
                    </div>
                    <p>{{ about.what_we_do}}</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Support Company End-->



{% endblock inner_content %}