
{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ request.tenant.name }} - Home </title>
        <meta name="description" content="A flexxible Sacco / Micro Finance solution that automates the process of offering financial services like loans and savings to individuals or groups.">

 
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'index/assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'index/assets/css/style.css' %}">

        

            {% block extra_css %}




{% endblock extra_css %}
   </head>

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text hero__caption">
                  <h1>{{ request.tenant.name }} </h1>
                    <!-- <img src="{% static 'index/assets/img/logo/logo.png' %}" alt=""> -->
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <main>

{% block inner_content %}


{% endblock inner_content %}
    </main>

    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>


    <!-- JS here -->
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'index/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'index/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'index/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'index/assets/js/bootstrap.min.js' %}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'index/assets/js/jquery.slicknav.min.js' %}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'index/assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'index/assets/js/slick.min.js' %}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'index/assets/js/wow.min.js' %}"></script>
		<script src="{% static 'index/assets/js/animated.headline.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.magnific-popup.js' %}"></script>

		<!-- Nice-select, sticky -->
        <script src="{% static 'index/assets/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'index/assets/js/jquery.sticky.js"></script>
        
        <!-- contact js -->
        <script src="{% static 'index/assets/js/contact.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.form.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.validate.min.js' %}"></script>
        <script src="{% static 'index/assets/js/mail-script.js' %}"></script>
        <script src="{% static 'index/assets/js/jquery.ajaxchimp.min.js' %}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'index/assets/js/plugins.js' %}"></script>
        <script src="{% static 'index/assets/js/main.js' %}"></script>

        {% block extra_js %}




{% endblock extra_js %}
        
    </body>
</html>