
{% extends 'main/tenant_base_.html' %}
{% load static %}

{% block active_item_contact %}
active
{% endblock %}
{% block extra_css %}
<style>
	.content {
		display: flex;
		height: 100vh;
		width: 80%;

		justify-content: center;
		align-items: center;

		flex-direction: column;
		padding-top: 200px;

	}
</style>

{% endblock extra_css %}
{% block title %}

Our Contacts
{% endblock title %}
{% block inner_content %}
<main>


<section class="container content">

<div class="row ">
	{% for contact in contacts %}

 
	<div class="col-6">
		<div class="card bg-light">
			<div class="card-header text-muted border-bottom-0">
				{{ contact.name }}
			</div>
			<div class="card-body pt-0">
			  <div class="row">
				<div class="col-12">
				  <h2 class="lead"><b>Name: {{ contact.name }}</b></h2>
				  <p class="text-muted text-sm"><b>Office: </b> {{ contact.office }} </p>
				  <p class="text-muted text-sm"><b>Location: </b> {{ contact.location }} </p>
				  <ul class="ml-4 mb-0 fa-ul text-muted">
					<li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> {{ contact.phone_number }}</li>
				  </ul>
				</div>
			  </div>
			</div>
			<div class="card-footer bg-warning">
			  <div class="text-right">
			  
			  </div>
			</div>
		  </div>
	</div>

	{% endfor %}
</div>


  </section>
</main>





	{% endblock %}
