{% extends 'main/tenant_base_.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Tenancy
{% endblock title %}
{% block active_item_home %}

{% endblock %}
{% block extra_css %}

<style>
  .ie {
    
      margin-top: 200px;
  }
  .paddi {
      padding-top: 150px;
  }
</style>
{% endblock extra_css %}


  {% block inner_content %}
  <div class="content paddi">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container">
        <div class="row mb-1">
          <div class="col-sm-6">
            <h1>Register A Micro Finance</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
              <li class="breadcrumb-item active">Getting Started</li>
           
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->

      <hr>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container">
        <div class="row">
        
          <!-- /.col -->
          <div class="col-md-12">
            <div class="card">
              <div class="card-header p-2 bg-warning">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link bg-info active">Organisation Details Page</a>     <p>Note: setting up everything may take up to 2 mins</p></li>

                    <br>
               

                
                 
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                {% crispy form %}

                <li class="nav-item"><p>The use of this software is subject to our terms of service available <a style="color:blue" href="{% url 'terms' %}">Here </a> </p>    </li>
                
                <!-- <li class="nav-item"><p>The Use of this software is subject to our terms of service available <a href="{% url 'terms' %}">Here </a> </p>    </li> -->

                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.nav-tabs-custom -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
<br>
<hr>
  <br>



  {% endblock inner_content %}