{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Savings {% endblock app %}

{% block active_savings %}
active
{% endblock active_savings %}

{% block active_savings_deposits %}
active
{% endblock active_savings_deposits %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'sdeposit_contracts_list' %}">Saving Deposit Contracts</a></li>
<li class="breadcrumb-item"><a href="{% url 'sdeposit_contracts_list' %}">List</a></li>
{% endblock breadcrump %}

{% block show_savings  %}
menu-open
{%  endblock show_savings %}

{% block title %}

Dashboard Savings - Deposit Contracts

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Saving Deposit Contracts Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">

                            <a href="{% url 'sdeposit_contracts_aoe' %}"  class="btn btn-warning btn-sm" id="paymentBtn">
                              <i class="fas fa-pen fa-lg"></i>
                              New
                            </a>
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>

                <th>National Id</th>
                
                <th>Economic Activity</th>
                <th>Group</th>
                <th>Status</th>
                <th>Details</th>
              </tr>
              </thead>
              <tbody>
                {% for member in members %}
              <tr>
                <td>{{member.first_name}}</td>
                <td>
                  {{member.middle_name}}
                </td>
                <td>{{member.last_name}}</td>
                <td>  {{member.phone_number }} </td>
                <td>  {{member.id_number }}</td>
                <td> {{member.economic_activity.name }}</td>
                <td> {{member.group.group_name  }}</td>
                <td> <a  class="btn btn-sm btn-success"> D  </a>
                </td>
                
          
                  <td>   <a href="{% url 'members_details' pk=member.id %}" class="btn btn-sm btn-success"> More  </a></td>
             
             
             
                </tr>

              {% endfor %}
  







          
              </tbody>
              <tfoot>
            
                <tr>
                  <th>First Name</th>
                  <th>Middle Name</th>
                  <th>Last Name</th>
                  <th>Phone Number</th>
  
                  <th>National Id</th>
                  
                  <th>Economic Activity</th>
                  <th>Group</th>
                  <th>Status</th>
                  <th>Details</th>
                </tr>
        
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}

<script type="text/javascript">
    $(document).ready(function() {
        $(".paymentBtn").modalForm({
            formURL: "{% url 'payment' %}"
        });
        $(".invoiceBtn").modalForm({
            formURL: "{% url 'invoice' %}"
        });
        $(".statementBtn").modalForm({
            formURL: "{% url 'statement' %}"
        });    
    });
    </script>

{% endblock extra_js %}