{% extends 'dashboard_base.html' %}

{% load static %}

{% load humanize %}
{% block app %} Finance {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loc_list' %}">Line Of Credit</a></li>
<li class="breadcrumb-item"><a href="{% url 'loc_list' %}">List</a></li>
{% endblock breadcrump %}

{% block active_accounts %}
active
{% endblock active_accounts %}


{% block show_accounts  %}
menu-open
{%  endblock show_accounts %}
{% block title %}

Member Accounts

{% endblock title %}

{% block active_accounts_m_accounts %}
      active    
{% endblock active_accounts_m_accounts %}

{% block dashboard_content %}

{% if perms.chartsoa.read_account %}
<section class="content">
  <div class="row">
    <div class="col-12">


      <div class="card card-sm">
        <div class="card-header mb-1 bg-info">

          <div class="row d-flex justify-content-center">
            <div class="col-6">
              <h3 class="card-title">Manage Member Accounts Easily</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

                <div class="col-6">
                  <!-- <a href="{% url 'loc_aoe' %}" class="btn btn-sm btn-warning"> Add New</a> -->
               
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="dataTable1" class="table  table-sm table-bordered table-striped">
            <thead class="bg-info">
              <tr>
                <th>Member</th>
                <th>Type</th>
                <th>Number</th>
                <th> Opening</th>
                <th>Balance</th>
          
                <th>Created By</th>
                <th>Date Created</th>
             
             
              </tr>
            </thead>
            <tbody>

              {% for account in accounts %}
              <tr>
                <td> {{ account.member }}</td>
                <td>{{ account.acc_type }}</td>
                <td>{{ account.acc_number }}</td>
                <td>{{ account.opening_balance | intcomma }}
                </td>
                <td>{{ account.acc_balance | intcomma }}</td>
            
          
                <td>{{ account.creator }}</td>
                <td> {{ account.date_created }}</td>
            
              </tr>
              {% endfor %}







            </tbody>
            <tfoot>

              <tr>
                <th>Member</th>
                <th>Type</th>
                <th>Number</th>
                <th> Opening</th>
                <th>Balance</th>
          
                <th>Created By</th>
                <th>Date Created</th>
             
             
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->



</section>
{% else %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>404 Error Page</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">404 Error Page</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-info">404</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-danger"></i> You do not have permissions to view.</h3>

      <p>
    Contact Administrator
      </p>


    </div>
  </div>
  <!-- /.error-page -->

</section>
{% endif %}
{% endblock dashboard_content %}