{% extends 'dashboard_base.html' %}

{% load static %}

{% load humanize %}
{% block app %} Finance {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loc_list' %}">Products</a></li>
<li class="breadcrumb-item"><a href="{% url 'loc_list' %}">List</a></li>
{% endblock breadcrump %}

{% block active_accounts %}
active
{% endblock active_accounts %}


{% block show_accounts  %}
menu-open
{%  endblock show_accounts %}
{% block title %}

Products

{% endblock title %}

{% block active_accounts_products %}
      active    
{% endblock active_accounts_products %}



{% block dashboard_content %}

{% if perms.chartsoa.read_account %}
<section class="content">
  <div class="row">
    <div class="col-12">


      <div class="card card-sm">
        <div class="card-header mb-1 bg-info">

          <div class="row d-flex justify-content-center">
            <div class="col-6">
              <h3 class="card-title">Manage Products Easily</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

                <div class="col-6">
                  <!-- <a href="{% url 'loc_aoe' %}" class="btn btn-sm btn-warning"> Add New</a> -->
               
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card card-success card-outline">
                     
          <div class="card-body">
            <div class="card-header">
              <h3 class="card-title">
                <i class="fas fa-edit"></i>
               All Products
              </h3>
            </div>
           
            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th> Name</th>
                <th>Client Type</th>
                <th>Is Active</th>
                <th>Currency</th>
            
                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
                <th>Edit</th>
              </tr>
              </thead>

              <tbody>
                {% for product in products %}

                <tr>
                  <td>{{ product.name }}</td>



                  <td>{{ product.client_type }}</td>

                  <td>{{ product.deleted }}</td>

                  <td>{{ product.currency}}</td>


                  <td>
                    {{ product.date_created }}
                  </td>

                  <td>
                    {{ product.creator }}
                  </td>

                  <td>
                    {{ product.modified_by }}
                  </td>


                  <td>
                    {{ product.date_modified }}
                  </td>


                  <td>
                    <a href="" class="btn btn-sm btn-info">
                      Edit
                    </a>
                  </td>

            
                </tr>






                {% endfor %}
              </tbody>
        
              <tfoot>
            
                <tr>
                  <th> Name</th>
                  <th>Client Type</th>
                  <th>Is Active</th>
                  <th>Currency</th>
              
                  <th>Created By</th>
                  <th>Date Created</th>
                  <th>Modified By</th>
                  <th>Date Modified</th>
                  <th>Edit</th>
                </tr>
        
              </tfoot>
            </table>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% else %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>404 Error Page</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">404 Error Page</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-info">404</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-danger"></i> You do not have permissions to view.</h3>

      <p>
    Contact Administrator
      </p>


    </div>
  </div>
  <!-- /.error-page -->

</section>
{% endif %}
{% endblock dashboard_content %}