{% extends 'dashboard_base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% block app %} Reports {% endblock app %}
{% block active_reports %}
active
{% endblock active_reports %}
{% block active_balance_sheet %}
active
{% endblock active_balance_sheet %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'balancesheet' %}"> Balance Sheet</a></li>
<li class="breadcrumb-item"><a href="{% url 'balancesheet' %}"> Balance Sheet</a></li>
{% endblock breadcrump %}

{% block show_reports  %}
menu-open
{%  endblock show_reports %}

{% block title %}

Dashboard - Balance Sheet

{% endblock title %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info">
          <div class="row">
            <div class="col-md-3">
              <h3 class="card-title">Balance Sheet</h3>

            </div>
            <div class="col-md-9">
              <form class="" action="{% url 'balancesheet' %}" method="post">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                  {{ error }}
                  {% endfor %}
                </div>
                {% endif %}


                <div class="row">



                  {% for field in form.visible_fields %}

                  <div class="col-md-2">
                    {{ field.label_tag }}

                  </div>
                  <div class="col-md-3">
                    <div class="form-group">

                      {% if form.is_bound %}
                      {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                      <div class="invalid-feedback">
                        {{ error }}
                      </div>
                      {% endfor %}
                      {% else %}
                      {% render_field field class="form-control is-valid" %}
                      {% endif %}
                      {% else %}
                      {% render_field field class="form-control" %}
                      {% endif %}

                      {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}

                  <div class="col-md-2">
                    <button class="btn btn-primary" type="submit">Generate</button>
                  </div>



                </div>

              </form>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" id="page">
          <div class="invoice p-3 mb-3">
            <div class="row">
              <div class="col-1">

              </div>
              <div class="col-5">
                <h2>
                  <i class="fas fa-globe"></i> Thanns Sacco.

              
                </h2>
                <br>
              </div>
              <div class="col-5">
                <h5>
                  Balance Sheet
                  <small class="float-right"></small>
                </h5>
              </div>
              <div class="col-1">
              
              </div>
              <!-- /.col -->
            </div>




            <div class="row">

              <div class="col-1">

              </div>
              <div class="col-10">


                <table class="table table-striped table-bordered  table-sm">
             
                  <tbody>
                    <tr>
                      <td class="bg-secondary" colspan="3">
                        <h5>Assets</h5>
                      </td>
                    </tr>

                    <tr>
                      <td colspan="3">
                        <h5>Current Assets</h5>
                      </td>
                    </tr>

                    {% for transaction in current_assets %}
                    <tr>

                      <td>{{ transaction.event.title }}</td>

                      <td>{{ transaction.received.amount__sum | intcomma }}</td>
                      <td>{{ transaction.budgeted.estimate | intcomma  }}</td>











                    </tr>
                    {% endfor %}


     


                    <tr>
                      <td colspan="3">
                        <h5>Fixed Assets</h5>
                      </td>
                    </tr>

                    {% for transaction in fixed_assets %}
                    <tr>

                      <td>{{ transaction.event.title }}</td>

                      <td>{{ transaction.received.amount__sum | intcomma }}</td>
                      <td>{{ transaction.budgeted.estimate | intcomma  }}</td>











                    </tr>
                    {% endfor %}


                    

                    <tr>
                      <td class="bg-secondary" colspan="3">
                        <h5>Liablities</h5>
                      </td>
                    </tr>

                    <tr>
                      <td colspan="3">
                        <h5>Current Liabilities</h5>
                      </td>
                    </tr>

                    {% for transaction in current_liabilities %}
                    <tr>

                      <td>{{ transaction.event.title }}</td>

                      <td>{{ transaction.received.amount__sum | intcomma }}</td>
                      <td>{{ transaction.budgeted.estimate | intcomma  }}</td>

                    </tr>
                    {% endfor %}


                    

                    <tr>
                      <td colspan="3">
                        <h5>Long Term Liabilities</h5>
                      </td>
                    </tr>

                    {% for transaction in long_liablities %}
                    <tr>

                      <td>{{ transaction.event.title }}</td>

                      <td>{{ transaction.received.amount__sum | intcomma  }}</td>
                      <td>{{ transaction.budgeted.estimate | intcomma  }}</td>











                    </tr>
                    {% endfor %}


                    
                    <tr>
                      <td class="bg-secondary" colspan="3">
                        <h5>Owners Equity</h5>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <h5>Owners Equity</h5>
                      </td>
                    </tr>
                    

                    {% for transaction in owners_equity %}
                    <tr>

                      <td>{{ transaction.event.title }}</td>

                      <td>{{ transaction.received.amount__sum | intcomma }}</td>
                      <td>{{ transaction.budgeted.estimate | intcomma }}</td>











                    </tr>
                    {% endfor %}








                  </tbody>
                  <tfoot>

                  </tfoot>

                </table>
              </div>

              <div class="col-1">

              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->



          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>

  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">

      <div class="modal-content">

      </div>

      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}