

{% load crispy_forms_tags %}


<form method="post" action="">
    {% csrf_token %}
  
   <div class="modal-header bg-secondary">
      <h5 class="modal-title">Add An Expense</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">

     
      {% crispy form %}

    </div>
  
  
  </form>