{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Finance {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'expenses_list' %}">Expenses</a></li>
<li class="breadcrumb-item"><a href="{% url 'expenses_list' %}">List</a></li>
{% endblock breadcrump %}



{% block active_finance %}
active
{% endblock active_finance %}


{% block show_finance  %}
menu-open
{%  endblock show_finance %}
{% block title %}

Dashboard Finance Manaagement - Expenses 

{% endblock title %}

{% block active_expenses %}
      active    
{% endblock active_expenses %}
{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">


      <div class="card">
        <div class="card-header bg-info">

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Manage Expenses Easily</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

                <div class="col-6">
                  <a class="expenseBtn btn btn-sm btn-warning"> <i class="fas fa-pen"></i>       New</a>
              
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="dataTable" class="table table-responsive table-bordered table-striped">
            <thead class="bg-info">
              <tr>
                <th> Account</th>
                <th>Amount</th>
                <th>Description</th>
                <th>Creator</th>
                <th>Date Created</th>
                <th>void</th>
              
              </tr>
            </thead>
            <tbody>

              {% for type in expenses %}
              <tr>
               
                <td>{{ type.account.name }}
                </td>
                <td>{{ type.amount }}</td>
                <td>{{ type.creator }}</td>
                <td>{{ type.date_created }}
                </td>
                <td> <a href="{% url 'types_details' pk=type.id %}" class="btn btn-sm btn-warning"> Void </a></td>
            
            </tr>
              {% endfor %}
            </tbody>
            <tfoot>

                <tr>
                    <th> Account</th>
                    <th>Amount</th>
                    <th>Description</th>
                    <th>Creator</th>
                    <th>Date Created</th>
                    <th>Void</th>
                  
                  </tr>

            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>

  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">

        <div class="modal-content">
                
        </div>
    
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}



{% block extra_js %}

<script type="text/javascript">
    $(document).ready(function() {

    
        $(".expenseBtn").modalForm({
            formURL: "{% url 'expense' %}"
        });





     
    
    });
    </script>

{% endblock extra_js %}