{% extends 'dashboard_base.html' %}

{% load static %}
{% load humanize %}
{% block app %} Finance {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'coa_list' %}">Chart Of Accounts</a></li>
<li class="breadcrumb-item"><a href="{% url 'coa_list' %}">List</a></li>
{% endblock breadcrump %}

{% block active_finance %}
active
{% endblock active_finance %}


{% block show_finance  %}
menu-open
{%  endblock show_finance %}
{% block title %}

Chart Of Accounts

{% endblock title %}


{% block active_coa_sec %}
      active    
{% endblock active_coa_sec %}


{% block active_finance_sec %}
          active
              {% endblock active_finance_sec %}


              {% block show_finance_sec %}
          menu-open
              {% endblock show_finance_sec %}


{% block dashboard_content %}

{% if perms.chartsoa.read_account %}
<section class="content">
  <div class="row" id="page">
    <div class="col-12">


      <div class="card card-sm">
        <div class="card-header mb-1 bg-info">

          <div class="row d-flex justify-content-center">
            <div class="col-6">
              <h3 class="card-title">Manage Chart Of Accounts</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

                <div class="col-6">
                  <a href="{% url 'sec_coa_aoe' %}" class="btn btn-sm btn-warning no-print"> Add New</a>
               
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" >
          <table id="dataTable1" class="table  table-sm table-bordered table-striped">
            <thead >
              <tr>
                <th>Name</th>
                <!-- <th class="no-print"> Account</th> -->
                <!-- <th>Description</th> -->
                <th>Type</th>
                <th>Year</th>
                <th> Month</th>
                <th>Opening </th>
                <th>Remainder</th>
             
                <th class="no-print">Created By</th>
                <th> Created</th>
                <!-- <th>Modified By</th> -->
                <!-- <th>Date Modified</th> -->
                <th class="no-print">Movement</th>
                <th class="no-print">Edit</th>
             
              </tr>
            </thead>
            <tbody>

              {% for account in accounts %}
              <tr>
                <td>{{ account.name }}</td>
                <!-- <td class="no-print">{{ account.type.title }}
                </td> -->
                <!-- <td>{{ account.description }}</td> -->
                <td>{{ account.transaction_type.title }}</td>

                <td> 
                  
                  <a > {{ account.financial_year }} </a>
                
                </td>
                <td> 
                  
                  <a > {{ account.financial_month }} </a>
                
                </td>
                <td> 
                  
                  <a > {{ account.opening_balance | intcomma }} </a>
                
                </td>
                <td> 
                  
                  <a > {{ account.balance | intcomma }} </a>
                
                </td>
                <td class="no-print"> {{ account.creator.phone_number }}</td>
                <td>{{ account.date_created | date:'Y-m-d'}}</td>
                <!-- <td> {{ account.modified_by }}</td> -->
                <!-- <td> {{ account.date_modified }}</td> -->
                <td class="no-print"> <a href="{% url 'sec_coa_details' pk=account.id %}" class="btn btn-sm btn-warning no-print"> Movement </a></td>
                <td class="no-print"> <a href="{% url 'sec_coa_edit' pk=account.id %}" class="btn btn-sm btn-success no-print"> Edit </a></td>
              </tr>
              {% endfor %}







            </tbody>
            <tfoot>

              <tr>
                <th>Name</th>
                <!-- <th class="no-print"> Account</th> -->
                <!-- <th>Description</th> -->
                <th>Type</th>
                <th>Year</th>
                <th> Month</th>
                <th>Opening </th>
                <th>Remainder</th>
             
                <th class="no-print">Created By</th>
                <th> Created</th>
                <!-- <th>Modified By</th> -->
                <!-- <th>Date Modified</th> -->
                <th class="no-print">Movement</th>
                <th class="no-print">Edit</th>
             
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% else %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>404 Error Page</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">404 Error Page</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-info">404</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-danger"></i> You do not have permissions to view.</h3>

      <p>
    Contact Administrator
      </p>


    </div>
  </div>
  <!-- /.error-page -->

</section>
{% endif %}
{% endblock dashboard_content %}