

{% load crispy_forms_tags %}


<form method="post" action="">
    {% csrf_token %}
  
   <div class="modal-header bg-secondary">
      <h5 class="modal-title">Process Rent Payment</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">

      
      <div class="callout callout-info bg-info">
        <h5><i class="fas fa-info"></i> Unprocessed Invoice Founds:</h5>
        An Invoice belonging to this tenant has been found. You can processed with making the payment without attaching the invoice if you so chooses.
      </div>
      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
         
          <address>
            <strong> Tenant Info</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            Phone: (804) 123-5432<br>
          
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
      
          <address>
            <strong>Rent Information</strong><br>
            795 Folsom Ave, Suite 600<br>
          
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <b>Invoices</b><br>
          <br>
          <b>Order ID:</b> 4F3S8J<br>
        
        </div>
        <!-- /.col -->
      </div>
      {% crispy form %}

    </div>
  
  
  </form>