{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Finance {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'methods_list' %}">Transactions</a></li>
<li class="breadcrumb-item"><a href="{% url 'methods_list' %}">List</a></li>
{% endblock breadcrump %}

{% block active_fosa %}
active
{% endblock active_fosa %}


{% block show_fosa  %}
menu-open
{%  endblock show_fosa %}
{% block title %}

Dashboard Finance

{% endblock title %}

{% block active_transactions %}
      active    
{% endblock active_transactions %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">


      <div class="card">
        <div class="card-header bg-info">

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Transactions</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-4">
                </div>

                <div class="col-4">
             
                </div>
                <div class="col-4">
             
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">


          <table class="table table-striped table-bordered  table-sm">
            <thead class="bg-secondary">
              <tr>
                <th>Id</th>
                <th> Member</th>
             
                <th>Particulars</th>

                <th> Account</th>
               
               
                <th>Amount</th>
                <th>Fees</th>

                <th>Total</th>
                <th>Code </th>
              

                <th>Receving </th>
                <th> Account</th>
             

                <th>Date </th>
                <th>Served By</th>
               
                
            </tr>
            </thead>
            <tbody>

                {% for transaction in transactions %}
                <tr>


                    <td> {{ transaction.id}}</td>
              

                    <td> {{ transaction.member}}</td>
               

                    <td> {{ transaction.description}}</td>


               

                    <td> {{ transaction.acc}}</td>
                   
                    <td>{{ transaction.amount }}</td>
                    <td> {{ transaction.fees.amount }}</td>

                    <td> {{ transaction.actual_amount }}</td>
               
                    <td> {{ transaction.code}}</td>
              



               

                    <td> {{ transaction.receiving_member}}</td>
              


                    <td> {{ transaction.receiver}}</td>
             


                    <td> {{ transaction.date}}</td>
               


                    <td> {{ transaction.creator}}</td>
                </tr>






                {% endfor %}

         









            </tbody>
      
        </table>
      
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}