{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Finance {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'types_list' %}">Account Types</a></li>
<li class="breadcrumb-item"><a href="{% url 'types_list' %}">List</a></li>
{% endblock breadcrump %}



{% block active_finance %}
active
{% endblock active_finance %}


{% block show_finance  %}
menu-open
{%  endblock show_finance %}
{% block title %}

Dashboard Finance Manaagement 

{% endblock title %}

{% block active_types %}
      active    
{% endblock active_types %}
{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">


      <div class="card">
        <div class="card-header bg-info">

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Manage Account Types Easily</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

                <div class="col-6">
                  <a href="{% url 'types_aoe' %}" class="btn btn-sm btn-warning"> Add New</a>
                  <a href="" class="btn btn-sm btn-warning"> Print </a>
                  <a href="" class="btn btn-sm btn-warning"> Export </a>
                  <a href="" class="btn btn-sm btn-warning"> Reports </a>
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="dataTable" class="table table-bordered table-striped">
            <thead class="bg-info">
              <tr>
                <th> Name</th>
                <th>Parent</th>
                <th>Description</th>
            
                <th>Edit</th>
              </tr>
            </thead>
            <tbody>

              {% for type in types %}
              <tr>
                <td>{{ type.title }}</td>
                <td>{{ type.parent.title }}
                </td>
                <td>{{ type.description }}
                </td>
                <td> <a href="{% url 'types_edit' pk=type.id %}" class="btn btn-sm btn-success"> Edit </a></td>
                <!-- <td> <a href="{% url 'types_details' pk=type.id  %}" class="btn btn-sm btn-danger"> Delete </a></td> -->
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>

              <tr>
                <th>Name</th>
                <th>Parent</th>
                <th>Description</th>
                <th>Edit</th>
                <!-- <th>Delete</th> -->
              </tr>

            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}