{% extends 'fosa/base.html' %}

{% load static %}

{% load humanize %}
{% block app %} System Search Results {% endblock app %}

{% block active_s %}
active
{% endblock active_s %}

{% block active_me %}
active
{% endblock active_me %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'search' %}">Seach Results</a></li>
<li class="breadcrumb-item"><a href="">Search</a></li>
{% endblock breadcrump %}

{% block show_s  %}
menu-open
{%  endblock show_s %}

{% block title %}

Accounts

{% endblock title %}

{% block extra_css %}

<style>



</style>


{% endblock extra_css %}

{% block content %}

<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-4">
      <h1>Search | Accounts</h1>
    </div>
    <div class="col-sm-5">
      <form class="form-inline ml-2" action="{% url 'all_accounts' %}" method='post'>
        {% csrf_token %}
        <div class="input-group input-group-md">
          <input class="form-control form-control-navbar" type="search" placeholder="Search by name, Id, phone Number etc" name="search_term" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-navbar bg-primary" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-3">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Accounts</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">

  <hr>
  <div class="row">
    <div class="col-12">


      <div class="card card-sm">
        <div class="card-header mb-1 bg-secondary">

          <div class="row d-flex justify-content-center">
            <div class="col-6">
              <h3 class="card-title">Member Accounts Search results for ---- {{ search_term }}</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

                <div class="col-6">
                  <!-- <a href="{% url 'loc_aoe' %}" class="btn btn-sm btn-warning"> Add New</a> -->
               
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="dataTable1" class="table  table-sm table-bordered table-striped">
            <thead class="bg-secondary">
              <tr>
                <th>Member</th>
                <th>Type</th>
                <th>Number</th>
                <th> Opening</th>
                <th>Balance</th>
          
                <th>Created By</th>
                <th>Date Created</th>
             
             
              </tr>
            </thead>
            <tbody>

              {% for account in accounts %}
              <tr>
                <td> {{ account.member }}</td>
                <td>{{ account.acc_type }}</td>
                <td>{{ account.acc_number }}</td>
                <td>{{ account.opening_balance | intcomma }}
                </td>
                <td>{{ account.acc_balance | intcomma }}</td>
            
          
                <td>{{ account.creator }}</td>
                <td> {{ account.date_created }}</td>
            
              </tr>
              {% endfor %}







            </tbody>
     
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>


  <div class="row">
    <div class="col-12">


      <div class="card card-sm">
        <div class="card-header mb-1 bg-info">

          <div class="row d-flex justify-content-center">
            <div class="col-6">
              <h3 class="card-title">Group Accounts Search results for ----  {{ search_term }} </h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

                <div class="col-6">
                  <!-- <a href="{% url 'loc_aoe' %}" class="btn btn-sm btn-warning"> Add New</a> -->
               
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="dataTable1" class="table  table-sm table-bordered table-striped">
            <thead class="bg-info">
              <tr>
                <th>Member</th>
                <th>Type</th>
                <th>Number</th>
                <th> Opening</th>
                <th>Balance</th>
          
                <th>Created By</th>
                <th>Date Created</th>
             
             
              </tr>
            </thead>
            <tbody>

              {% for account in g_accounts %}
              <tr>
                <td> {{ account.group }}</td>
                <td>{{ account.acc_type }}</td>
                <td>{{ account.acc_number }}</td>
                <td>{{ account.opening_balance | intcomma }}
                </td>
                <td>{{ account.acc_balance | intcomma }}</td>
            
          
                <td>{{ account.creator }}</td>
                <td> {{ account.date_created }}</td>
            
              </tr>
              {% endfor %}







            </tbody>
      
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>





{% endblock content %}




{% block date %}
<div class="row " id="fixedContainer" style="position: fixed; left:10px; top:100px;">
  <div class="info-box bg-secondary">
    <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">System Date</span>
      <span class="info-box-number">Year: {{ request.parameters.year }}</span>

      <div class="progress">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
      <span class="progress-description">
        Month: {{ request.parameters.month }} 
      </span>
    </div>
    <!-- /.info-box-content -->
  </div>
  </div>
</div>

{% endblock date %}



{% block extra_js %}



{% endblock extra_js %}