{% extends 'fosa/base.html' %}

{% load static %}
{% block app %} System Search Results {% endblock app %}

{% block active_s %}
active
{% endblock active_s %}

{% block active_me %}
active
{% endblock active_me %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'search' %}">Seach Results</a></li>
<li class="breadcrumb-item"><a href="">Search</a></li>
{% endblock breadcrump %}

{% block show_s  %}
menu-open
{%  endblock show_s %}

{% block title %}

Seacrh Results for {{ term }}

{% endblock title %}

{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }


</style>


{% endblock extra_css %}

{% block content %}

<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Member Details | Accounts</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Member Accounts</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">





  <hr>
  
    <div class="row">

      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-info card-outline" style="min-height: 69vh;">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle" src="{{ member.avatar.thumbnail.url }}"
                alt="User profile picture">
            </div>

            <hr>

            <h5 class="text-center">Member Info</h5>
            <hr>
            <p class="text-muted text-center">Name: {{ member.get_names }}</p>
            <p class="text-muted text-center">Member No: {{ member.account_number }}</p>
            <p class="text-muted text-center">ID No: {{ member.id_number }}</p>
            <p class="text-muted text-center">Phone No: {{ member.phone_number }}</p>
<hr>
            <h5 class="text-center">Group Info</h5>
            <hr>
            <p class="text-muted text-center">Group: {{ member.group }}</p>
          </div>
        </div>

        <div class="card card-info">
    
        </div>
      </div>
      <div class="col-9">
    

        <div class="card">
          <div class="card-header ">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Account Movement</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-3">
                          <h3 class="card-title">Total: {{ accounts.count }}</h3>

                        </div>

                        <div class="col-3">



                      
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-bordered table-striped">
              <thead class="bg-info">
              <tr>
             
                <th>Account Type</th>
                <th>Number </th>
                <th>Balance</th>
                <th>Date Created</th>
                <th>Created By</th>
             
              </tr>
              </thead>
              <tbody>
                {% for account in accounts %}
              <tr>
            
           
                <td>{{ account.acc_type.title }}</td>
                <td>  {{account.acc_number }}</td>
            
                <td> {{account.acc_balance }}</td>
               

                <td>  {{account.date_created }}</td>
            
                <td> {{account.creator }}</td>
           
          
          
             
             
                </tr>

              {% endfor %}
              </tbody>
        
            </table>
          </div>
          <!-- /.card-body -->
        </div>

        <hr>
        <div class="row">
          <div class="col-12">
        
    
            <div class="card">
              <div class="card-header">
              
                <div class="row">
                    <div class="col-6">
                        <h3 class="card-title">Transactions</h3>
                    </div>
    
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                            </div>
                            <div class="col-3">
                              <h3 class="card-title">Total: {{ transactions.count }}</h3>
    
                            </div>
    
                            <div class="col-3">
    
                           
                            </div>
    
                          
                        </div>
                      
                     
                    </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-striped table-sm table-bordered">
                  <thead class="bg-info">
                    <tr>
                      <th>Date </th>
                      <th>Id</th>
  
                      <th>Particulars</th>
                      <th>Vote </th>
                      <th>Cheque </th>
                      <th> Account</th>
                      <th>Amount</th>
  
  
  
                  
  
  
  
                      <th>Served</th>
  
  
                    </tr>
                  </thead>
                  <tbody>
  
                    {% for transaction in transactions %}
                    <tr>
                      <td> {{ transaction.date}}</td>
  
  
  
                      <td> {{ transaction.id}}</td>
  
  
  
  
  
  
                      <td> {{ transaction.type}}</td>
  
                      <td> {{ transaction.type.vote}}</td>
  
                      <td> {{ transaction.cheque_number}}</td>
                      <td> {{ transaction.acc}}</td>
  
  
                      <td> {{ transaction.amount }}</td>
  
  
  
  
  
  
  
  
  
           
  
  
  
                      <td> {{ transaction.creator}}</td>
                    </tr>
  
  
  
  
  
  
                    {% endfor %}
  
  
  
  
  
  
  
  
  
  
  
                  </tbody>
  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>





{% endblock content %}




{% block date %}
<div class="row " id="fixedContainer" style="position: fixed; left:10px; top:100px;">
  <div class="info-box bg-success">
    <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">System Date</span>
      <span class="info-box-number">Year: {{ request.parameters.year }}</span>

      <div class="progress">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
      <span class="progress-description">
        Month: {{ request.parameters.month }} 
      </span>
    </div>
    <!-- /.info-box-content -->
  </div>
  </div>
</div>

{% endblock date %}



{% block extra_js %}



{% endblock extra_js %}