{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }
</style>


{% endblock extra_css %}

{% block title %}

Banking


{% endblock title %}


{% block active_links %}
bg-secondary
{% endblock %}


{% block content  %}


<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1> Banking</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Banking</li>
      </ol>
    </div>
  </div>

</section>



  <section class="container">
    <hr>
    <div class="row">
      <div class="col-md-12">
        <table id="dataTable" class="table  table-md table-bordered table-striped">
          <thead class="bg-secondary">
            <tr>
              <th>Title</th>
              <th>Code</th>
              <th> Initial Amount</th>
              <th>Remainder</th>
              <th>Anticipated Amount</th>
           
           
            </tr>
          </thead>
          <tbody>

            {% for account in accounts %}
            <tr>
              <td>{{ account.name }}</td>
              <td>{{ account.code }}</td>
              <td>{{ account.initial_amount}}
              </td>
              <td>{{ account.remainder_amount }}</td>
              <td> 
                
                {{ account.anticipated_remainder_amount }}
              </td>
          
           
            </tr>
            {% endfor %}







          </tbody>
      
        </table>
      </div>
    </div>
    <div class="row d-flex justify-content-center">
      <div class="col-10">
    
  
        <div class="card">
          <div class="card-header bg-secondary">
          
            <div class="row">
                <div class="col-6">
  
                  {% if loc.is_cash %}
                    <h3 class="card-title">Banking Form</h3>
                  {% endif %}
  
  
                  {% if loc.is_bank %}
                    <h3 class="card-title">Cash From Bank Form</h3>
                  {% endif %}
                </div>
  
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>
  
                        <div class="col-6">
                           
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <form method="post" action="{% url 'banking_pos' %}">

              {% csrf_token %}
  
  
              <div class="row">
  
  
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Cheque Number</label>
                    <input type="text" class="form-control" name="sa-cheque_number" placeholder="Cheque Number" required>
                  </div>
                </div>
          
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>Date</label>
                    <input type="date"  name="sa-date" class="form-control"  required>
                  </div>
                </div>
  
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>P.V NO</label>
                    <input type="text"  name="sa-pv_number" class="form-control" placeholder="P.V NO" required>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <!-- text input -->
                <div class="form-group">
                  <label>Amount</label>
                  <input type="decimal" class="form-control" name="amount" placeholder="Amount" required>
                </div>
              </div>
  
              <div class="row spacer">
                <div class="col-6 offset-3">
                  <button class="btn btn-block btn-secondary" type="submit">
                    Submit </button>
  
                </div>
  
              </div>
              
              </form>
            
            
  
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  
  
  
  <section class="container">
    <div class="container-fluid">
  
      <div class="card">
        <div class="card-header">
          <div class="col-md-5">
            {% if loc.is_cash %}
            <h3 class="card-title">Banking Events</h3>
          {% endif %}
  
  
          {% if loc.is_bank %}
            <h3 class="card-title">Cash From Bank Events</h3>
          {% endif %}
          </div>
          <div class="col-md-6">
         
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="dataTable" class="table  table-bordered table-striped">
              <thead class="bg-secondary">
             
                <tr>
                  <th>Date </th>
                  <th>Id</th>
  
                  <th>Description</th>
                  <th> Amount</th>
  
                  <th>Processed By</th>
                 
                  
              </tr>
              </thead>
              <tbody>
  
                  {% for transaction in events %}
                  <tr>
  
                    <td> {{ transaction.date | date }}</td>
                 
  
                      <td> {{ transaction.id}}</td>
  
                      <td>{{ transaction.description }}</td>
                
  
  
        
                 
                      <td> {{ transaction.amount }}</td>
  
              
  
                   
  
                      <td> {{ transaction.creator}}</td>
                  </tr>
  
  
  
  
  
  
                  {% endfor %}
  
  
              </tbody>
      
          </table>
        </div>
        <!-- /.card-body -->
      </div>
  </div>
  </section>
  




{% endblock content %}




{% block extra_js %}
<script type='text/javascript'>
  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    console.log(newElement)
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
      console.log($(this).attr('name'))
      var name = $(this).prop('name').replace('-' + (total - 1) + '-', '-' + total + '-');
      var id = 'id_' + name;
      $(this).attr({
        'name': name,
        'id': id
      }).val('').removeAttr('checked');
    });
    newElement.find('label').each(function () {
      var forValue = $(this).attr('for');
      if (forValue) {
        forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
        $(this).attr({
          'for': forValue
        });
      }
    });
    console.log(newElement)
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
      .removeClass('btn-secondary').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>');
    return false;
  }

  function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1) {
      btn.closest('.form-row').remove();
      var forms = $('.form-row');
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
      for (var i = 0, formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).find(':input').each(function () {
          updateElementIndex(this, prefix, i);
        });
      }
    }
    return false;
  }
  $(document).on('click', '.add-form-row', function (e) {
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
  });
  $(document).on('click', '.remove-form-row', function (e) {
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
  });
</script>

{% endblock extra_js %}