


{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/finsa.png' %}">

  <title> FinSA POS - {% block title %}


    
    {% endblock title %}</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">

  
    <!-- <link href="https:// //cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet"> -->

  <!-- Google Font: Source Sans Pro -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"> -->
  {% block dashboard_css %}
  {% endblock dashboard_css %}
  <style>

  </style>

  
  {% block extra_css %}
 
  <style>
    #fixedContainer {
      position: fixed;
      width: 600px;
      height: 200px;
      left: 50%;
      top: 0%;
      margin-left: -300px; /*half the width*/
    }
    .fixed {
      position: absolute;
      margin-top: 0;
      margin-left: 0;
    }
    .product-image {

      max-width: 40%;
      height: auto;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
  
  }

  .bborder {
    border-bottom: 1px solid black;
  }
  .content-header {

    padding: .5rem;

}
  .logo {

    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: green;

}

.logo-dash {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}



.logo-dash:hover {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}


.main-header {
  transition: margin-left .3s ease-in-out;
  margin-left: 250px;
  margin-right: 250px;
}

body {
background: #fff;
}

.logo:hover {

  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: green;

}
  </style>

  {% endblock extra_css %}
</head>
<body class="hold-transition lockscreen" style="position: relative;">

  <nav class=" navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
    
      
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <!-- Left navbar links -->
        <ul class="navbar-nav">
    
  
          <li class="nav-item">
           <a class="nav-link mr-2" href="{% url 'index' %}" role="button">Home</a>
         </li>

         <li class="nav-item">
          <a class="nav-link mr-2 bg-warning" href="{% url 'fosa' %}" role="button">POS</a>
        </li>
         <li class="nav-item dropdown {% block active_links %} {% endblock %}">
          <a class="nav-link" data-toggle="dropdown" href="#">
             Links
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left bg-secondary">
            <span class=" dropdown-header ">Quick Links</span>
         

            <div class="dropdown-divider"></div>
            <a class="nav-link btn dropdown-item " href="{% url 'dashboard' %}" role="button"> <i class="fas fa-cog mr-2"></i>Dashboard Interface</a>
         
            <div class="dropdown-divider"></div>
            <a class="nav-link" href="/admin" role="button"><i class="fas fa-cog mr-2"></i> Admin Interface</a>
            <div class="dropdown-divider"></div>

            <div class="dropdown-divider"></div>
            <a class="nav-link" href="{% url 'adjust_account_balances' %}" role="button"><i class="fas fa-scroll mr-2"></i>Update COA & LOC Balances</a>

            <div class="dropdown-divider"></div>
            <a class="nav-link" href="{% url 'recovery' %}" role="button"><i class="fas fa-plus mr-2"></i>Debit Recovery</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link" href="{% url 'recovery_debit_loc' %}" role="button"><i class="fas fa-minus mr-2"></i>Credit Recovery</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link" href="{% url 'cash_from_bank_pos' %}" role="button"><i class="fas fa-scroll mr-2"></i>Cash From Bank</a>
            <div class="dropdown-divider"></div>
            <a class="nav-link" href="{% url 'posting' %}" role="button"><i class="fas fa-scroll mr-2"></i>Direct Ledger Posting</a>
            
            <div class="dropdown-divider"></div>
            <a class="nav-link" href="{% url 'banking_pos' %}" role="button"><i class="fas fa-scroll mr-2"></i>Banking</a>

            <div class="dropdown-divider"></div>
            <a class="nav-link" href="{% url 'all_accounts' %}" role="button"><i class="fas fa-scroll mr-2"></i>Accounts</a>

            <div class="dropdown-divider"></div>
            <a class="nav-link" href="{% url 'redeem' %}" role="button"><i class="fas fa-scroll mr-2"></i>Shares Redeem</a>

            <div class="dropdown-divider"></div>
            <a class="nav-link" href="{% url 'dividend' %}" role="button"><i class="fas fa-scroll mr-2"></i>Dividend Calculation</a>

            <div class="dropdown-divider"></div>
            <a class="nav-link" href="/admin" role="button"><i class="fas fa-scroll mr-2"></i>Loan Backtracking</a>


            <div class="dropdown-divider"></div>
            <a class="nav-link" href="{% url 'petty_cash' %}" role="button"><i class="fas fa-scroll mr-2"></i>Petty Cash</a>

            <div class="dropdown-divider"></div>
            <a class="nav-link" href="/admin" role="button"><i class="fas fa-scroll mr-2"></i>Vendors List</a>


          </div>
        </li>
      
    




    
 

        <li class="nav-item dropdown {% block active_expenses %} {% endblock %}">
          <a class="nav-link" data-toggle="dropdown" href="#">
             Payments & Revenues
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left bg-secondary">
            <span class="dropdown-item dropdown-header">Quick Links</span>
            <div class="dropdown-divider"></div>
            <a class="nav-link mr-2" href="{% url 'fosa_expenses' %}" role="button">Make Payment</a>

            <div class="dropdown-divider"></div>
            <a href="{% url 'fosa_expenses_list' %}" class="dropdown-item">
              Payment History
            </a>
         
         
            <div class="dropdown-divider"></div>
            <a class="nav-link mr-2" href="" role="button"></a>

            <div class="dropdown-divider"></div>
            <a class="nav-link mr-2" href="{% url 'fosa_revenues' %}" role="button">Receive Revenues</a>

            <div class="dropdown-divider"></div>
            <a href="{% url 'fosa_revenues_list' %}" class="dropdown-item">
              Revenues History
            </a>
         
         
            <div class="dropdown-divider"></div>

            
          </div>
        </li>



        <li class="nav-item dropdown {% block active_slips %} {% endblock %}">
          <a class="nav-link" data-toggle="dropdown" href="#">
            Slips
         </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left bg-secondary">
            <span class="dropdown-item dropdown-header">Quick Links</span>
            <div class="dropdown-divider"></div>
            <a class="nav-link"  href="{% url 'search_slips' %}">
              Search Slips
            </a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'all_slips' %}" class="dropdown-item">
              All Slips
            </a>
         
         
            <div class="dropdown-divider"></div>
          </div>
        </li>


        <li class="nav-item dropdown {% block active_tools %} {% endblock %}">
          <a class="nav-link" data-toggle="dropdown" href="#">
            Tools
         </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left bg-secondary">
            <span class="dropdown-item dropdown-header">Quick Links</span>
            <div class="dropdown-divider"></div>
            <a class="nav-link"  href="{% url 'calculator' %}">
              Calculator
            </a>
          
         
         
            <div class="dropdown-divider"></div>
          </div>
        </li>


 
    
     
        </ul>
          <!-- SEARCH FORM -->
    <form class="form-inline ml-2" action="{% url 'fosa_search' %}">
      <div class="input-group input-group-sm">
        <input class="form-control form-control-navbar" type="search" placeholder="Search by name, Id, phone Number etc" name="search_term" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
      </div>

  

      <ul class="navbar-nav ml-auto order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-comments"></i>
            <span class="badge badge-danger navbar-badge">0</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left">
   
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">0 Messages</a>
          </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-bell"></i>
            <span class="badge badge-warning navbar-badge">0</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left">
   
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item dropdown-footer">0 Notifications</a>
          </div>
        </li>
   
        <li class="nav-item dropdown">
          <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="far fa-user"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left">
            <span class="dropdown-item dropdown-header">Quick Links</span>
            <div class="dropdown-divider"></div>
            <a href="{% url 'profile' %}" class="dropdown-item">
              <i class="fas fa-cog mr-2"></i> {{ user }}
            </a>
       
            <div class="dropdown-divider"></div>
            <a href="{% url 'logout' %}" class="dropdown-item">
              <i class="fas fa-logout mr-2"></i> Logout
            </a>
            <div class="dropdown-divider"></div>
          </div>
        </li>
   
      </ul>
    </div>
  </nav>








  {% block tools %}



  {% endblock tools %}

  {% block date %}



  {% endblock date %}

  {% block content  %}



  {% endblock content %}



{% block notifications %}



{% endblock notifications %}
   
  <aside class="control-sidebar control-sidebar-dark">
    
  </aside>





<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

<!-- overlayScrollbars -->

{% block dashboard_js %}

{% endblock dashboard_js %}
<script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.js' %}"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'dist/js/demo.js' %}"></script>

<script>
  function printDiv(divName) {
    var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;

    document.body.innerHTML = printContents;

    window.print();

    document.body.innerHTML = originalContents;
}
</script>




{% block extra_js %}



{% endblock extra_js %}
</body>
</html>
