{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }
</style>


{% endblock extra_css %}

{% block title %}

Calculator


{% endblock title %}

{% block active_tools %}
bg-tertiary
{% endblock %}
{% block content  %}

<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Calculator</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Calculator</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">


<hr>

  <div class="card">
    <div class="card-header bg-info">
    
      <div class="row">
          <div class="col-6">
              <h3 class="card-title">Loan Calculator Form</h3>
          </div>

          <div class="col-6">
              <div class="row">
                  <div class="col-6">
                  </div>

                  <div class="col-6">
                     
                  </div>
              </div>
            
           
          </div>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    

  
        {% crispy form %}
  
    

    </div>
    <!-- /.card-body -->
  </div>

<hr>


</section>







{% endblock content %}




{% block extra_js %}



{% endblock extra_js %}