{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }
</style>


{% endblock extra_css %}

{% block title %}

Calculator


{% endblock title %}

{% block active_tools %}
bg-tertiary
{% endblock %}
{% block content  %}

<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Calculator</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Calculator</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">


<hr>

  <div class="card">
    <div class="card-header bg-info">
    
      <div class="row">
          <div class="col-6">
              <h3 class="card-title">Loan Calculator Form</h3>
          </div>

          <div class="col-6">
              <div class="row">
                  <div class="col-6">
                  </div>

                  <div class="col-6">
                     
                  </div>
              </div>
            
           
          </div>
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    

  
        {% crispy form %}
  
    

    </div>
    <!-- /.card-body -->
  </div>

<hr>

  <div class="row mb-auto">

    <div class="card">

      <div class="card-header bg-secondary">
        Amount: {{ loan_details.principal }} || Date Disbursed: {{ loan_details.date }}  || Loan Product: {{ loan_details.loan_product }}
      </div>
      <div class="card-body">

        <table id="dataTable1" class="table  table-sm table-bordered table-striped">
          <thead class="bg-secondary">
            <tr>
              <th>Repayment ID</th>
              <th>Repayment Due Date</th>
              <th>Principal Per Month</th>
              <th>Interest Per Month</th>
              <th>Average</th>
              <th> Total Payable</th>
              <th>Received</th>
           
           
            </tr>
          </thead>
          <tbody>
            {% for entry in loan_details.schedule %}
            <tr>
              <td>{{ entry.id }}</td>
              <td> {{ entry.date | date }}</td>
              <td>{{ entry.amount | intcomma  }}</td>
              <td>{{ entry.interest | intcomma }}</td>
              <td>{{entry.average }}</td>
              <td>{{ entry.total | intcomma }}
              </td>
              <td>{{ entry.received }}</td>
            </tr>
            {% endfor %}
          </tbody>

          <tfoot class="bg-secondary">
            <tr>
              <th></th>
              <th></th>
              <th>{{loan_details.principal_total | intcomma }}</th>
              <th>{{loan_details.interest_total | intcomma }}</th>
              <th></th>
              <th> {{loan_details.total | intcomma }}</th>
              <th></th>
           
           
            </tr>
          </tfoot>
   
        </table>
      </div>
    </div>
 
 



  </div>

</section>







{% endblock content %}




{% block extra_js %}



{% endblock extra_js %}