{% extends 'fosa/base.html' %}

{% load static %}
{% block app %} System Search Results {% endblock app %}

{% block active_s %}
active
{% endblock active_s %}

{% block active_me %}
active
{% endblock active_me %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'search' %}">Seach Results</a></li>
<li class="breadcrumb-item"><a href="">Search</a></li>
{% endblock breadcrump %}

{% block show_s  %}
menu-open
{%  endblock show_s %}

{% block title %}

Seacrh Results for {{ term }}

{% endblock title %}

{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }


</style>


{% endblock extra_css %}

{% block content %}


<section class="container content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Slip</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">FOSA</a></li>
          <li class="breadcrumb-item active">Transaction Slip</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
     
        

        {% if messages %}
        {% for message in messages %}
        <div class="callout callout-info">
        <div class="row">

          <h5><i class="fas fa-info"></i> Note:</h5>
          {{ message }}
        </div>
      </div>

        {% endfor %}
        
      
      
      {% endif %}


        <!-- Main content -->
        <div class="invoice p-3 mb-3">

          <div class="row">
            <div class="col-12">
              <div class="card ">
                <div class="row invoice-info">
                  <div class="col-sm-4 invoice-col">
                    Member Information
                    <address>
                      <strong>Admin, Inc.</strong><br>
                      795 Folsom Ave, Suite 600<br>
                      San Francisco, CA 94107<br>
                      Phone: (804) 123-5432<br>
                      Email: info@almasaeedstudio.com
                    </address>
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 invoice-col">
                    To
                    <address>
                      <strong>John Doe</strong><br>
                      795 Folsom Ave, Suite 600<br>
                      San Francisco, CA 94107<br>
                      Phone: (555) 539-1037<br>
                      Email: john.doe@example.com
                    </address>
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 invoice-col">
                    <b>Invoice #007612</b><br>
                    <br>
                    <b>Order ID:</b> 4F3S8J<br>
                    <b>Payment Due:</b> 2/22/2014<br>
                    <b>Account:</b> 968-34567
                  </div>
                  <!-- /.col -->
                </div>
        
              </div>
            </div>
          </div>
          <!-- title row -->

          <!-- info row -->
    

          <!-- Table row -->
          <div class="row">
            <div class="col-12 table-responsive">
           

              <table class="table table-striped table-bordered  table-sm">
                <thead class="bg-secondary">
                  <tr>
                    <th>Id</th>
                 
                    <th>Particulars</th>
    
                    <th> Account</th>
                   
                   
                    <th>Amount</th>
    
                    <th>Actual</th>
                    <th>Code </th>
                  
    
                    <th>Receving </th>
                    <th> Account</th>
                 
    
                    <th>Date </th>
                    <th>Served By</th>
                   
                    
                </tr>
                </thead>
                <tbody>
    
                    {% for transaction in transactions %}
                    <tr>
    
    
                        <td> {{ transaction.id}}</td>
                  
    
    
                   
    
                        <td> {{ transaction.description}}</td>
    
    
                   
    
                        <td> {{ transaction.acc}}</td>
                   
    
                        <td> {{ transaction.amount }}</td>
    
                        <td>{{ transaction.actual_amount }}</td>
                   
                        <td> {{ transaction.code}}</td>
                  
    
    
    
                   
    
                        <td> {{ transaction.receiving_member}}</td>
                  
    
    
                        <td> {{ transaction.receiver}}</td>
                 
    
    
                        <td> {{ transaction.date}}</td>
                   
    
    
                        <td> {{ transaction.creator}}</td>
                    </tr>
    
    
    
    
    
    
                    {% endfor %}
    
             
    
    
    
    
    
    
    
    
    
                </tbody>
          
            </table>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-6">
             
            </div>
            <!-- /.col -->
            <div class="col-6">

              <div class="table-responsive">
                <table class="table">
                 
                  <tr>
                    <th>Tax</th>
                    <td>Ksh: {{ slip.tax }}</td>
                  </tr>
                  <tr>
                    <th>Charged Fees:</th>
                    <td>Ksh: {{ slip.fees }}</td>
                  </tr>
                  <tr>
                    <th>Total:</th>
                    <td>Ksh: {{ slip.total }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-12">
              <a href="invoice-print.html" target="_blank" class="btn btn-info"><i class="fas fa-print"></i> Print</a>
             
              <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                <i class="fas fa-download"></i> Generate PDF
              </button>
            </div>
          </div>
        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>




{% endblock content %}







{% block extra_js %}



{% endblock extra_js %}