{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block extra_css %}

{% block title %}


{% endblock title %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }
</style>


{% endblock extra_css %}

{% block content  %}


<section class="container content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Slip</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">FOSA</a></li>
          <li class="breadcrumb-item active">Dusbursement Report</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="container">
  <div class="row no-print">
    <div class="col-12">
      <a href="" target="_blank" onclick="printDiv('page')" class="btn btn-info"><i class="fas fa-print"></i> Print</a>


    </div>
  </div>
</section>

<br>

<section class="container" id="page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">



        {% if messages %}
        {% for message in messages %}
        <div class="callout callout-info">
          <div class="row">

            <h5><i class="fas fa-info"></i> Note:</h5>
            {{ message }}
          </div>
        </div>

        {% endfor %}



        {% endif %}


        <!-- Main content -->
        <div class="invoice p-3 mb-3">
          <!-- title row -->
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fas fa-globe"></i> Thanns Sacco.
                <small class="float-right"> {{ group_slip.date }}</small>
              </h4>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
              Group Information
              <address>
                <strong>Name: {{ group }}.</strong> <br>
                <strong>County: {{ group.county}}</strong>

              </address>
            </div>
            <!-- /.col -->
            <div class="col-sm-4 invoice-col">

            </div>

            <!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <b>Receipt No: {{ group_slip.number }}</b><br>
              <b>Date: {{ group_slip.date }}</b><br>


            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-12 table-responsive">


              <table class="table table-striped table-bordered  table-sm">
                <thead class="bg-secondary">
                  <tr>
                    <th>Id</th>

                    <th>Particulars</th>

                    <th> Account</th>


                    <th>Amount</th>




                    <th>Date </th>
                    <th>Served By</th>


                  </tr>
                </thead>
                <tbody>

                  {% for transaction in transactions %}
                  <tr>


                    <td> {{ transaction.id}}</td>





                    <td> {{ transaction.get_action_display }}</td> 




                    <td> {{ transaction.acc}}</td>


                    <td> {{ transaction.amount }}</td>





                    <td> {{ transaction.date}}</td>



                    <td> {{ transaction.creator}}</td>
                  </tr>






                  {% endfor %}











                </tbody>

              </table>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-6">

            </div>
            <!-- /.col -->
            <div class="col-6">

              <div class="table-responsive">
                <table class="table">

                  <tr>
                    <th>Total</th>
                    <td>Ksh: {{ group_slip.total }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- this row will not appear when printing -->

        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->


  <div class="container-fluid">
    <div class="row">
      <div class="col-12">



        {% if messages %}
        {% for message in messages %}
        <div class="callout callout-info">
          <div class="row">

            <h5><i class="fas fa-info"></i> Note:</h5>
            {{ message }}
          </div>
        </div>

        {% endfor %}



        {% endif %}

        <div class="card">
          <div class="card-header bg-warning">


            <div class="row">
              <div class="col-6">
                <h3 class="card-title">Disbursed Slips For Members</h3>
              </div>

              <div class="col-6">
                <div class="row">
                  <div class="col-6">
                  </div>

                  <div class="col-6">


                  </div>


                </div>


              </div>
            </div>

          </div>

          <div class="card-body">

            {% for slip in slips %}


            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> Thanns Sacco.
                    <small class="float-right"> {{ date }}</small>
                  </h4>
                </div>
                <!-- /.col -->
              </div>

              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-4 invoice-col">
                  Member Information
                  <address>
                    <strong>Name: {{ slip.member.get_names }}</strong><br>
                    <strong>Phone: {{ slip.member.phone_number }}</strong><br>
                    <strong>Email: {{ slip.member.email }}</strong>
                  </address>
                </div>
                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <strong>Member Number: {{ slip.member.account_number }}</strong><br>

                </div>

                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                  <b>Receipt No: {{ slip.slip.number }}</b><br>
                  <b>Cheque No: {{ slip.slip.cheque_number }}</b><br>
                  <b>Date: {{ slip.slip.date }}</b><br>
                  <br>

                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">


                  <table class="table table-striped table-bordered  table-sm">
                    <thead class="bg-secondary">
                      <tr>
                        <th>Id</th>

                        <th>Particulars</th>

                        <th> Account</th>


                        <th>Amount</th>
                        <th>Fees</th>

                        <th>Total</th>
                        <th>Code </th>


                      


                        <th>Date </th>
                        <th>Served By</th>


                      </tr>
                    </thead>
                    <tbody>

                      {% for transaction in slip.transactions %}
                      <tr>


                        <td> {{ transaction.id}}</td>





                        <td> {{ transaction.description}}</td>




                        <td> {{ transaction.acc}}</td>

                        <td>{{ transaction.amount }}</td>
                        <td> {{ transaction.fees.amount }}</td>

                        <td> {{ transaction.actual_amount }}</td>

                        <td> {{ transaction.code}}</td>






                    



                        <td> {{ transaction.date}}</td>



                        <td> {{ transaction.creator}}</td>
                      </tr>






                      {% endfor %}











                    </tbody>

                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              {% if slip.repayments.count > 0 %}
              <div class="row">
                <div class="col-12 table-responsive">
               <h5>Loans</h5>
  
                  <table class="table table-striped table-bordered  table-sm">
                    <thead class="bg-secondary">
                      <tr>
                        <th>Id</th>
                     
        
                        <th> Slip</th>
                       
                       
                        <th>Loan</th>
                        <th>Type</th>
                        <th>Principal</th>
                        <th>Amount Paid</th>
        
                  
                        <th>Balance </th>
                      
        
  
                        
                    </tr>
                    </thead>
                    <tbody>
        
                        {% for repayment in slip.repayments %}
                        <tr>
                            <td> {{ repayment.id}}</td>
                            <td> {{ repayment.slip.number }}</td>
                            <td>{{ repayment.loan_status }}</td>
                            <td>{{ repayment.transaction.type }}</td>
                            <td>{{ repayment.loan_status.total_loans }}</td>
                            <td>{{ repayment.amount }}</td>
                          
                            <td> {{ repayment.loan_balance }}</td>
                        </tr>
        
        
        
        
        
        
                        {% endfor %}
        
                 
        
        
        
        
        
        
        
        
        
                    </tbody>
              
                </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
              {% endif %}

              <div class="row">
                <!-- accepted payments column -->
                <div class="col-6">

                </div>
                <!-- /.col -->
                <div class="col-6">

                  <div class="table-responsive">
                    <table class="table">

                      <tr>
                        <th>Tax</th>
                        <td>Ksh: {{ slip.slip.tax }}</td>
                      </tr>
                      <tr>
                        <th>Charged Fees:</th>
                        <td>Ksh: {{ slip.slip.fees }}</td>
                      </tr>
                      <tr>
                        <th>Total:</th>
                        <td>Ksh: {{ slip.slip.total }}</td>
                      </tr>
                    </table>
                  </div>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->


            </div>

            {% endfor %}

          </div>



        </div>


        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>






{% endblock content %}




{% block extra_js %}

<script type='text/javascript'>
  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    console.log(newElement)
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
      console.log($(this).attr('name'))
      var name = $(this).prop('name').replace('-' + (total - 1) + '-', '-' + total + '-');
      var id = 'id_' + name;
      $(this).attr({
        'name': name,
        'id': id
      }).val('').removeAttr('checked');
    });
    newElement.find('label').each(function () {
      var forValue = $(this).attr('for');
      if (forValue) {
        forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
        $(this).attr({
          'for': forValue
        });
      }
    });
    console.log(newElement)
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
      .removeClass('btn-success').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>');
    return false;
  }

  function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1) {
      btn.closest('.form-row').remove();
      var forms = $('.form-row');
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
      for (var i = 0, formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).find(':input').each(function () {
          updateElementIndex(this, prefix, i);
        });
      }
    }
    return false;
  }
  $(document).on('click', '.add-form-row', function (e) {
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
  });
  $(document).on('click', '.remove-form-row', function (e) {
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
  });
</script>

{% endblock extra_js %}