




{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block active_links %}
bg-secondary
{% endblock %}
{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }


</style>


{% endblock extra_css %}

{% block content  %}


<section class="content content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Dividend Distribution</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">FOSA</a></li>
            <li class="breadcrumb-item active">Dividend Distribution</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
       
          

          {% if messages %}
          {% for message in messages %}
          <div class="callout callout-info">
          <div class="row">

            <h5><i class="fas fa-info"></i> Note:</h5>
            {{ message }}
          </div>
        </div>

          {% endfor %}
          
        
        
        {% endif %}


          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> Thanns Sacco.
                  <small class="float-right"> {{ date }}</small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
         
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
             

                <table class="table table-striped table-bordered  table-sm">
                  <thead class="bg-secondary">
                    <tr>
                      <th>Member</th>
                      <th>Bank Code</th>
                      <th>Account</th>
                      <th>Shares</th>
      
                      <th> Rate</th>
                     
                     
                      <th>Gross S. Rebates</th>
                      <th>Deposits</th>
      
                      <th>Rate</th>
                      <th>Gross D. Rebates </th>
                    
                      <th>Gross Total Rebates </th>
                      <th> WithHolding Tax </th>
                      <th>Net Rebates </th>
                   
                   
      
                      
                  </tr>
                  </thead>
                  <tbody>
      
                      {% for transaction in transactions %}
                      <tr>
      
      
                          <td> {{ transaction.id}}</td>
                    
      
      
                     
      
                          <td> {{ transaction.description}}</td>
      
      
                     
      
                          <td> {{ transaction.acc}}</td>
                         
                          <td>{{ transaction.amount }}</td>
                          <td> {{ transaction.fees.amount }}</td>

                          <td> {{ transaction.actual_amount }}</td>
                     
                          <td> {{ transaction.code}}</td>
                    
      
      
      
                     
      
                          <td> {{ transaction.receiving_member}}</td>
                    
      
      
                          <td> {{ transaction.receiver}}</td>
                   
      
      
                          <td> {{ transaction.date}}</td>
                     
      
      
                          <td> {{ transaction.creator}}</td>
                      </tr>
      
      
      
      
      
      
                      {% endfor %}
      
               
      
      
      
      
      
      
      
      
      
                  </tbody>
            
              </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
              <div class="col-12">
                <a onclick="printDiv('page')" class="btn btn-info"><i class="fas fa-print"></i> Print</a>

            
              </div>
            </div>
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>




{% endblock content %}




{% block extra_js %}



{% endblock extra_js %}





















