


{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{{ request.tenant.name }} - FinGate - {% block title %}


    
    {% endblock title %}</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <!-- <link href="https:// //cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet"> -->

  <!-- Google Font: Source Sans Pro -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"> -->
  {% block dashboard_css %}
  {% endblock dashboard_css %}
  <style>
    .product-image {

      max-width: 40%;
      height: auto;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
  
  }

  .bborder {
    border-bottom: 1px solid black;
  }
  .content-header {

    padding: .5rem;

}
  .logo {

    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: green;

}

.logo-dash {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}



.logo-dash:hover {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}


.logo:hover {

  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: green;

}
  </style>

  
  {% block extra_css %}


  {% endblock extra_css %}
</head>
<body class="hold-transition lockscreen">


   
        <!-- Automatic element centering -->
        <div class="lockscreen-wrapper">
          <div class="lockscreen-logo">
            <a ><b>{{ request.tenant.name }}</b> <br>FOSA</a>
          </div>
          <!-- User name -->
          <div class="lockscreen-name">{{ user.username }}</div>
        
          <!-- START LOCK SCREEN ITEM -->
          <div class="lockscreen-item">
            <!-- lockscreen image -->
            <div class="lockscreen-image">
              <img src="{% static 'index/assets/img/hero/acacia.jpg' %}" alt="User Image">            </div>
            <!-- /.lockscreen-image -->
        
            <!-- lockscreen credentials (contains the form) -->
            <form class="lockscreen-credentials">
              <div class="input-group">
                <input type="password" class="form-control" placeholder="password">
        
                <div class="input-group-append">
                  <a type="button" href="{% url 'fosa_index' %}" class="btn btn-warning"><i class="fas fa-arrow-right text-muted"></i></a>
                </div>
              </div>
            </form>
            <!-- /.lockscreen credentials -->
        
          </div>
          <!-- /.lockscreen-item -->
          <div class="help-block text-center">
            Enter your password to retrieve your session
          </div>
          <!-- <div class="text-center">
            <a href="">Or sign in as a different user</a>
          </div> -->
          <div class="text-center">
            <a href="{% url 'dashboard' %}">Back Office</a>
          </div>
          <div class="lockscreen-footer text-center">
            Copyright &copy; 2020 <b><a class="text-black">FinGate Systems</a></b><br>
            All rights reserved
          </div>
        </div>
        <!-- /.center -->
     
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

<!-- overlayScrollbars -->

{% block dashboard_js %}

{% endblock dashboard_js %}
<script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.js' %}"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'dist/js/demo.js' %}"></script>


<!-- <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script> -->


{% block extra_js %}



{% endblock extra_js %}
</body>
</html>
