{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block title %}

Group Slip - 
    
    {% endblock title %}

{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }
</style>


{% endblock extra_css %}

{% block content  %}


<section class="container content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Slip</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">FOSA</a></li>
          <li class="breadcrumb-item active">Transaction Slip</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="container">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-12">



        {% if messages %}
        {% for message in messages %}
        <div class="callout callout-warning">
          <div class="row ">

            <h5><i class="fas fa-info"></i> Note:</h5>
            {{ message }}
          </div>
        </div>

        {% endfor %}



        {% endif %}


        <!-- Main content -->
        <div class="invoice p-3 mb-3" id="page">
          <!-- title row -->
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fas fa-globe"></i> Thanns Sacco.
                <small class="float-right"> {{ date }}</small>
              </h4>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
             <strong>Group Information</strong>
              <address>
                <strong>Name: {{ slip.group.get_names }}.</strong> <br>
                <strong>County: {{ slip.group.county}}</strong>



              </address>
            </div>
            <div class="col-sm-4 invoice-col">
          
            </div>
            <div class="col-sm-4 invoice-col">
              <b>Receipt No: {{ slip.number }}</b><br>
              <b>Cheque No: {{ slip.cheque_number }}</b><br>
              <b>Date: {{ slip.date }}</b><br>


            </div>
            <!-- /.col -->


            <!-- /.col -->

            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-12 table-responsive">


              <form method="post" action="{% url 'group_slip_edit' pk=1 %}" novalidate>

                {%  csrf_token %}

                {{ transaction_form.management_form }}

                {% for form in transaction_form %}

                {% if form.non_field_errors %}

                <div class="alert alert-danger" role="alert">

                  {% for error in form.non_field_errors %}
                  {{ error }}

                  {% endfor %}

                </div>





                {% endif %}



                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}

                {% endfor %}


                <div class="row form-row spacer">
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label>{{ form.id.label }}</label>

                      {% render_field form.id class="form-control" %}

                    </div>
                  </div>

                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>{{ form.type.label }}</label>


                      {% render_field form.type class="form-control" %}




                    </div>
                  </div>
                  <div class="col-sm-4">
                    <!-- text input -->
                    <div class="form-group">
                      <label>{{ form.amount.label }}</label>


                      {% render_field form.amount class="form-control" %}




                    </div>
                  </div>


                  <div class="col-sm-2 d-flex align-items-center justify-content-center">
                    <div class="form-group d-flex align-items-center justify-content-center">
                      <div class="input-group-append d-flex align-items-center justify-content-center pt-4">
                        <button class="btn btn-danger remove-form-row ">-</button>
                      </div>
                    </div>
                  </div>
                </div>









                <br>



                {% endfor %}

                <br>

                <div class="row spacer">
                  <div class="col-6 offset-3">
                    <button class="btn btn-block btn-warning">
                      Save
                    </button>

                  </div>

                </div>







              </form>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-12">
              <a href="" target="_blank" onclick="printDiv('page')" class="btn btn-info"><i class="fas fa-print"></i> Print</a>
                        </div>
          </div>
        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>








{% endblock content %}




{% block extra_js %}

<script type='text/javascript'>
  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    console.log(newElement)
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
      console.log($(this).attr('name'))
      var name = $(this).prop('name').replace('-' + (total - 1) + '-', '-' + total + '-');
      var id = 'id_' + name;
      $(this).attr({
        'name': name,
        'id': id
      }).val('').removeAttr('checked');
    });
    newElement.find('label').each(function () {
      var forValue = $(this).attr('for');
      if (forValue) {
        forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
        $(this).attr({
          'for': forValue
        });
      }
    });
    console.log(newElement)
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
      .removeClass('btn-warning').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>');
    return false;
  }

  function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1) {
      btn.closest('.form-row').remove();
      var forms = $('.form-row');
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
      for (var i = 0, formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).find(':input').each(function () {
          updateElementIndex(this, prefix, i);
        });
      }
    }
    return false;
  }
  $(document).on('click', '.add-form-row', function (e) {
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
  });
  $(document).on('click', '.remove-form-row', function (e) {
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
  });
</script>

{% endblock extra_js %}