{% extends 'fosa/base.html' %}

{% load static %}
{% block app %} System Search Results {% endblock app %}

{% block active_s %}
active
{% endblock active_s %}

{% block active_me %}
active
{% endblock active_me %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'search' %}">Seach Results</a></li>
<li class="breadcrumb-item"><a href="">Search</a></li>
{% endblock breadcrump %}

{% block show_s  %}
menu-open
{%  endblock show_s %}

{% block title %}

Seacrh Results for {{ term }}

{% endblock title %}

{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }


</style>


{% endblock extra_css %}

{% block content %}

<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Group Details | Accounts</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Group Accounts</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">





  <hr>
  
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-warning card-outline" style="min-height: 50vh;">
          <div class="card-body box-profile">
            <div class="text-center">
            </div>

            <h3 class="profile-username text-center">Group: {{ group.get_names }}</h3>

            <p class="text-muted text-center">County: {{ group.county }}</p>
            <p class="text-muted text-center">Sub - County: {{ group.sub_county }}</p>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-warning">

        </div>
        <!-- /.card -->
      </div>
      <div class="col-9">
    

        <div class="card">
          <div class="card-header ">
          
            <div class="row">
                <div class="col-3">
                    <h3 class="card-title">Group Accounts</h3>
                </div>

                <div class="col-9">
                    <div class="row">
                        <div class="col-7">
                          <h3 class="card-title">Group Details: {{ group.get_names }}</h3>
                        </div>

                        <div class="col-5">
                          <h3 class="card-title">Droup Id: {{ group.id }}</h3>

                        </div>

                   
                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="bg-warning">
              <tr>
                <th>Group</th>
                <th> Account Type</th>
                <th>Number </th>
                <th>Balance</th>
             
            
                
                <th>Date Created</th>
                <th>Created By</th>

             
              </tr>
              </thead>
              <tbody>
                {% for account in accounts %}
              <tr>
                <td>{{account.group.get_names }}</td>
           
                <td>{{ account.acc_type.title }}</td>
                <td>  {{account.acc_number }}</td>
            
                <td> {{account.acc_balance }}</td>
               

                <td>  {{account.date_created }}</td>
            
                <td> {{account.creator }}</td>
           
          
               
             
             
                </tr>

              {% endfor %}
              </tbody>
        
            </table>
          </div>
          <!-- /.card-body -->
        </div>


        <hr/>
        <div class="row">
          <div class="col-12">
        
    
            <div class="card">
              <div class="card-header ">
              
                <div class="row">
                    <div class="col-3">
                        <h3 class="card-title">Group Accounts</h3>
                    </div>
    
                    <div class="col-9">
                        <div class="row">
                            <div class="col-7">
                              <h3 class="card-title">Group Details: {{ group.get_names }}</h3>
                            </div>
    
                            <div class="col-5">
                              <h3 class="card-title">Group Id: {{ group.id }}</h3>
    
                            </div>
    
    
                          
                        </div>
                      
                     
                    </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-striped table-sm table-bordered">
                  <thead class="bg-secondary">
                    <tr>
                      <th>Date </th>
                      <th>Id</th>
  
                      <th>Particulars</th>
                      <th>Vote </th>
                      <th>Cheque </th>
                      <th> Account</th>
                      <th>Amount</th>
  
  
  
                  
  
  
  
                      <th>Served</th>
  
  
                    </tr>
                  </thead>
                  <tbody>
  
                    {% for transaction in transactions %}
                    <tr>
                      <td> {{ transaction.date}}</td>
  
  
  
                      <td> {{ transaction.id}}</td>
  
  
  
  
  
  
                      <td> {{ transaction.type}}</td>
  
                      <td> {{ transaction.type.vote}}</td>
  
                      <td> {{ transaction.cheque_number}}</td>
                      <td> {{ transaction.acc}}</td>
  
  
                      <td> {{ transaction.amount }}</td>
  
  
  
  
  
  
  
  
  
           
  
  
  
                      <td> {{ transaction.creator}}</td>
                    </tr>
  
  
  
  
  
  
                    {% endfor %}
  
  
  
  
  
  
  
  
  
  
  
                  </tbody>
  
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
    
        <div class="modal fade" id="modal" role="dialog">
          <div class="modal-dialog modal-xl" role="document">
    
              <div class="modal-content">
                      
              </div>
          
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>




  <section class="content">

    <hr>
  
 
    

      <!-- /.row -->
    </section>
  


{% endblock content %}







{% block extra_js %}



{% endblock extra_js %}