




{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }


</style>


{% endblock extra_css %}

{% block content  %}


<section class="container content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Transactions History</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">FOSA</a></li>
            <li class="breadcrumb-item active">Transactions</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
       
          

          {% if messages %}
          {% for message in messages %}
          <div class="callout callout-info">
          <div class="row">

            <h5><i class="fas fa-info"></i> Note:</h5>
            {{ message }}
          </div>
        </div>

          {% endfor %}
          
        
        
        {% endif %}


          <!-- Main content -->
          <div class="invoice p-3 mb-3">

            <div class="row no-print">
              <div class="col-12">
                <a href="" target="_blank" onclick="printDiv('page')" class="btn btn-info"><i class="fas fa-print"></i> Print</a>
               
             
              </div>
            </div>
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> Thanns Sacco.
                  <small class="float-right"> {{ date }}</small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                Group Information
                <address>
                  <strong>Name:{{ group.get_names }}.</strong> <br>
                  County: {{ group.county }}<br>
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
             
              </div>
          
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <br>
             
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
             

                <table class="table table-striped table-sm table-bordered">
                  <thead class="bg-secondary">
                    <tr>
                      <th>Date </th>
                      <th>Id</th>
  
                      <th>Slip Number</th>
                      <th>Activity</th>
                      <th>Vote </th>
                      <th>Cheque </th>
                      <th> Account</th>
                      <th>Amount</th>
  
  
  
                  
  
  
  
                      <th>Served</th>
  
  
                    </tr>
                  </thead>
                  <tbody>
  
                    {% for transaction in transactions %}
                    <tr>
                      <td> {{ transaction.date}}</td>
  
  
  
                      <td> {{ transaction.id}}</td>
  
  
  
  
  
                      <td> {{ transaction.slip.number }}</td>
  
                      <td> {{ transaction.type}}</td>
  
                      <td> {{ transaction.code}}</td>
  
                      <td> {{ transaction.code}}</td>
                      <td> {{ transaction.acc}}</td>
  
  
                      <td> {{ transaction.amount }}</td>
  
  
  
  
  
  
  
  
  
           
  
  
  
                      <td> {{ transaction.creator}}</td>
                    </tr>
  
  
  
  
  
  
                    {% endfor %}
  
  
  
  
  
  
  
  
  
  
  
                  </tbody>
  
                </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- /.row -->

            <!-- this row will not appear when printing -->
        
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>




{% endblock content %}




{% block extra_js %}



{% endblock extra_js %}





















