{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% load widget_tweaks %}


{% block title %}

Group Slip - 
    
    {% endblock title %}


    {% block active_slips %}
bg-danger
{% endblock %}

{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }
</style>


{% endblock extra_css %}

{% block content  %}


<section class="container content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Slip</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">FOSA</a></li>
          <li class="breadcrumb-item active">Transaction Slip</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="container" id="page">
  <hr>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-12">



        {% if message %}
        {% for mes in message %}
        <div class="callout callout-warning bg-danger">
          <div class="row ">

            <h5><i class="fas fa-info"></i> Note:</h5>
            {{ mes }}
          </div>
        </div>

        {% endfor %}



        {% endif %}


        <!-- Main content -->
        <div class="invoice p-3 mb-3" >
          <!-- title row -->
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fas fa-globe"></i> Thanns Sacco.
                <small class="float-right"> {{ date }}</small>
              </h4>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-6 invoice-col">
             <strong>Group Information</strong>
              <address>
                <strong>Name: {{ slip.group.get_names }}.</strong> <br>
                <strong>County: {{ slip.group.county}}</strong>



              </address>
            </div>
            <div class="col-sm-5 invoice-col text-right">
              <b>Receipt No: {{ slip.number }}</b><br>
              <b>Cheque No: {{ slip.cheque_number }}</b><br>
              <b>Date: {{ slip.date }}</b><br>


            </div>

            <div class="col-sm-1 invoice-col text-right">
              </div>
            <!-- /.col -->
 

            <!-- /.col -->

            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-12 table-responsive">


              <table class="table table-striped table-bordered  table-sm">
                <thead class="">
                  <tr>
                    <th>Id</th>

                    <th>Date </th>
                    <th>Particulars</th>

                    <!-- <th> Account</th> -->


                    <th>Cr </th>
                    <th>Dr </th>



                    <th>Reversed</th>
                    <th>Served By</th>


                  </tr>
                </thead>
                <tbody>

                  {% for transaction in transactions %}
                  <tr>


                    <td> {{ transaction.id}}</td>



                    <td> {{ transaction.date | date }}</td>

                    <td> {{ transaction.type.title }}</td>




                    <!-- <td> {{ transaction.acc}}</td> -->


                    <td> {{ transaction.cr_amount | intcomma }}</td>



                    <td> {{ transaction.dr_amount | intcomma }}</td>

                

                    <td>{% if transaction.is_cancelled %} True {% else %} False {% endif %}</td>

                    <td> {{ transaction.creator}}</td>
                  </tr>






                  {% endfor %}











                </tbody>

              </table>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-6">

            </div>
            <!-- /.col -->
            <div class="col-6">

              <div class="table-responsive">
                <table class="table">

                  <tr>
                    <th>Total:</th>
                    <td>Ksh: {{ slip.total | intcomma }}</td>
                  </tr>
                </table>
              </div>

              <hr>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-12">
              <a href="" target="_blank" onclick="printDiv('page')" class="btn btn-info"><i class="fas fa-print"></i> Print</a>
                        </div>
          </div>
        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>


<section class="container">
  <div class="container-fluid">
    <div class="card-header bg-warning">

      <div class="row">
        <div class="col-6">
          <h3 class="card-title">Disburse To Member's Accounts</h3>
        </div>

        <div class="col-6">
          <div class="row">
            <div class="col-6">
            </div>

            <div class="col-6">


            </div>


          </div>


        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Main content -->
        <div class="invoice p-3 mb-3">
          <div class="row">
            <div class="col-md-12">



              <form method="post" action="{% url 'disburse_to_members' pk=slip.id %}" novalidate>

                {%  csrf_token %}

                {{ transaction_form.management_form }}

                {% for form in transaction_form %}

                {% if form.non_field_errors %}

                <div class="alert alert-danger" role="alert">

                  {% for error in form.non_field_errors %}
                  {{ error }}

                  {% endfor %}

                </div>





                {% endif %}



                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}

                {% endfor %}


                <div class="row form-row spacer">
                  <div class="col-sm-3">
                    <!-- text input -->
                    <div class="form-group">
                      <label>{{ form.member.label }}</label>


                      {% render_field form.member class="form-control" %}




                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="form-group">
                      <label>{{ form.type.label }}</label>


                      {% render_field form.type class="form-control" %}




                    </div>
                  </div>
                  <div class="col-sm-3">
                    <!-- text input -->
                    <div class="form-group">
                      <label>{{ form.amount.label }}</label>


                      {% render_field form.amount class="form-control" %}




                    </div>
                  </div>


                  <div class="col-sm-2 d-flex align-items-center justify-content-center">
                    <div class="form-group d-flex align-items-center justify-content-center">
                      <div class="input-group-append d-flex align-items-center justify-content-center pt-4">
                        <button class="btn btn-warning add-form-row ">+</button>
                      </div>
                    </div>
                  </div>
                </div>









                <br>



                {% endfor %}

                <br>

                <div class="row spacer">
                  <div class="col-6 offset-3">
                    <button class="btn btn-block btn-warning">
                      Disburse
                    </button>

                  </div>

                </div>






              </form>

            </div>


          </div>

        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>






{% endblock content %}




{% block extra_js %}

<script type='text/javascript'>
  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    console.log(newElement)
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
      console.log($(this).attr('name'))
      var name = $(this).prop('name').replace('-' + (total - 1) + '-', '-' + total + '-');
      var id = 'id_' + name;
      $(this).attr({
        'name': name,
        'id': id
      }).val('').removeAttr('checked');
    });
    newElement.find('label').each(function () {
      var forValue = $(this).attr('for');
      if (forValue) {
        forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
        $(this).attr({
          'for': forValue
        });
      }
    });
    console.log(newElement)
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
      .removeClass('btn-warning').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>');
    return false;
  }

  function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1) {
      btn.closest('.form-row').remove();
      var forms = $('.form-row');
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
      for (var i = 0, formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).find(':input').each(function () {
          updateElementIndex(this, prefix, i);
        });
      }
    }
    return false;
  }
  $(document).on('click', '.add-form-row', function (e) {
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
  });
  $(document).on('click', '.remove-form-row', function (e) {
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
  });
</script>

{% endblock extra_js %}