{% extends 'fosa/base.html' %}

{% load static %}
{% block app %} System Search Results {% endblock app %}

{% block active_s %}
active
{% endblock active_s %}

{% block active_me %}
active
{% endblock active_me %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'search' %}">Seach Results</a></li>
<li class="breadcrumb-item"><a href="">Search</a></li>
{% endblock breadcrump %}

{% block show_s  %}
menu-open
{%  endblock show_s %}

{% block title %}

Seacrh Results for {{ term }}

{% endblock title %}

{% block extra_css %}

<style>


</style>


{% endblock extra_css %}

{% block content %}


<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Group Details | Accounts</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Group Accounts</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">





  <hr>
  
    <div class="row">

      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-warning card-outline" style="min-height: 50vh;">
          <div class="card-body box-profile">
            <div class="text-center">
            </div>

            <h3 class="profile-username text-center">Group: {{ group.get_names }}</h3>

            <p class="text-muted text-center">County: {{ group.county }}</p>
            <p class="text-muted text-center">Sub - County: {{ group.sub_county }}</p>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- About Me Box -->
        <div class="card card-warning">

        </div>
        <!-- /.card -->
      </div>
      <div class="col-9">
    

        <div class="card">
          <div class="card-header ">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Group Accounts</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                          <h3 class="card-title">Group Details {{ members.count }}</h3>
                        </div>

                        <div class="col-6">
                          <h3 class="card-title">Total Results {{ members.count }}</h3>

                        </div>

               

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="bg-warning">
              <tr>
                <th> Account Type</th>
                <th>Number </th>
                <th>Balance</th>
             
            
                
                <th>Date Created</th>
                <th>Created By</th>

                <th>Movement</th>
             
              </tr>
              </thead>
              <tbody>
                {% for account in accounts %}
              <tr>
           
                <td>{{ account.acc_type.title }}</td>
                <td>  {{account.acc_number }}</td>
            
                <td> {{account.acc_balance }}</td>
               

                <td>  {{account.date_created }}</td>
            
                <td> {{account.creator }}</td>
           
          
                <td>   <a href="{% url 'groups_accounts_details' pk=account.id %}" class="btn btn-sm btn-warning"> Movement  </a></td>
               
             
             
                </tr>

              {% endfor %}
              </tbody>
        
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>





{% endblock content %}







{% block extra_js %}



{% endblock extra_js %}