




{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }


</style>


{% endblock extra_css %}

{% block content  %}

<section class="container">

<hr/>
  
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header ">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Group Accounts</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                          <h3 class="card-title">Group Details {{ members.count }}</h3>
                        </div>

                        <div class="col-3">
                          <h3 class="card-title">Total Results {{ members.count }}</h3>
                        </div>

                        <div class="col-3">
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-bordered table-striped">
              <thead class="bg-secondary">
              <tr>
                <th>Group</th>
                <th> Account Type</th>
                <th>Number </th>
                <th>Balance</th>
             
            
                
                <th>Date Created</th>

             
              </tr>
              </thead>
              <tbody>
                {% for account in accounts %}
              <tr>
                <td>{{account.group.get_names }}</td>
           
                <td>{{ account.acc_type.title }}</td>
                <td>  {{account.acc_number }}</td>
            
                <td> {{account.acc_balance }}</td>
               

                <td>  {{account.date_created }}</td>
            
           
          
               
             
             
                </tr>

              {% endfor %}
              </tbody>
        
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>




{% endblock content %}




{% block extra_js %}



{% endblock extra_js %}





















