{% extends 'fosa/base.html' %}

{% load static %}

{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }
</style>


{% endblock extra_css %}

{% block title %}

POS


{% endblock title %}


{% block content  %}

<section class="container">
  <!-- Automatic element centering -->
  <div class="lockscreen-wrapper">
    <div class="lockscreen-logo">
      <a><b>Search Member or Group</b></a>
    </div>
    <!-- User name -->


    <!-- START LOCK SCREEN ITEM -->
    <div class="lockscreen-item">
      <!-- lockscreen image -->
      <div class="lockscreen-image">
      </div>
      <!-- /.lockscreen-image -->

      <form class="form-inline" action="{% url 'fosa_search' %}">
        <div class="input-group input-group-lg">
          <input class="form-control form-control-navbar" type="search" placeholder="Search by name, Id, phone Number etc" name="search_term"
            aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-navbar btn-warning" type="submit">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

    </div>
    <!-- /.lockscreen-item -->
    <div class="help-block text-center">

    </div>
    <div class="text-center">
      <div class="lockscreen-name"> Logged In User</div>
      <a href="{% url 'profile' %}">{{ request.user }}</a>
    </div>
    <div class="lockscreen-footer text-center">

    </div>
  </div>

  <br>

  <br>


  <br>

  <div class="row mb-auto">

    <!-- <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="info-box bg-light">
            <div class="info-box-content">
              <span class="info-box-text text-center text-muted"> Company Information</span>
              <span class="info-box-number text-center text-muted mb-0">Thanns Sacco</span>
            </div>
          </div>
        </div>
   
      </div>

    </div> -->

 
    <!-- <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
      <div class="row">
    
        <div class="col-12 col-sm-6">
          <div class="info-box bg-warning">
            <div class="info-box-content">
              <span class="info-box-text text-center text-muted">Contacts</span>
              <span class="info-box-number text-center text-muted mb-0">You can always get in touch - <a href="http://fingate.co.ke">0792883792</a></span>
              <span class="info-box-number text-center text-muted mb-0">Send An Email- <a href="http://fingate.co.ke">local@fingate.co.ke</a></span>

            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="info-box bg-warning">
            <div class="info-box-content">
              <span class="info-box-text text-center text-muted">Documentation  & Help </span>
                <span class="info-box-number text-center text-muted mb-0">You can now Access Our Cloud | Online Solutions Platform - <a href="http://fingate.co.ke/documentation">Here</a></span>

            </div>
          </div>
        </div>
   
      </div>

    </div>
    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
      <div class="row">
        <div class="col-12 col-sm-12">
          <div class="info-box bg-light">
            <div class="info-box-content">
              <span class="info-box-text text-center text-muted"></span>
              <span class="info-box-number text-center text-muted mb-0">FinSA System</span>
              <span class="info-box-number text-center text-muted mb-0">FinSA is Stand Alone installation Version of FinGate Solutions Platform</span>
              <span class="info-box-text text-center text-muted">Software Developement Company Information</span>
              <span class="info-box-number text-center text-muted mb-0">FinGate Stand Alone Installation - A product of Factor Technologies</span>
              <span class="info-box-number text-center text-muted mb-0">You can now Access Our Cloud | Online Solutions Platform - <a href="http://fingate.co.ke">Here</a></span>
            </div>
          </div>
        </div>
   
      </div>

    </div> -->




  </div>

</section>







{% endblock content %}


{% block notifications %}

<!-- {% if True %}
<div class="row " id="fixedContainer" style="position: fixed; right:10px; top:100px;">
  <div class="info-box bg-danger">
    <span class="info-box-icon"><i class="far fa-bell"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">System Setup Information</span>
      <span class="info-box-number">Primary Accounts </span>

      <div class="progress">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
      <span class="progress-description">
       Please set the primary <br> accounts in the system 
      </span>
      <span class="progress-description">
        Go to <br> => Admin Interface <br>  => Parameters <br>  => System Settings <br>  => Choose the Primary Accounts
       </span>
    </div>
  </div>


</div>
{% endif %} -->
{% endblock notifications %}


{% block date %}
<div class="row " id="fixedContainer" style="position: fixed; left:10px; top:100px;">
  <div class="info-box bg-secondary">
    <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">System Date</span>
      <span class="info-box-number">Year: {{ request.parameters.year }}</span>

      <div class="progress">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
      <span class="progress-description">
        Month: {{ request.parameters.month }} 
      </span>
    </div>
    <!-- /.info-box-content -->
  </div>
  </div>
</div>

{% endblock date %}

{% block extra_js %}



{% endblock extra_js %}