{% extends 'fosa/base.html' %}

{% load static %}

{% load crispy_forms_tags %}


{% block app %} System Search Results {% endblock app %}

{% block active_s %}
active
{% endblock active_s %}

{% block active_me %}
active
{% endblock active_me %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'search' %}">Seach Results</a></li>
<li class="breadcrumb-item"><a href="">Search</a></li>
{% endblock breadcrump %}

{% block show_s  %}
menu-open
{%  endblock show_s %}

{% block title %}

Seacrh Results for {{ term }}

{% endblock title %}

{% block extra_css %}

<style>



</style>


{% endblock extra_css %}

{% block content %}

<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Loan Application</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Loan Application Form</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">





<hr/>
  
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-info card-outline" style="min-height: 69vh;">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle" src="{{ member.avatar.thumbnail.url }}"
                alt="User profile picture">
            </div>

            <hr>

            <h5 class="text-center">Member Info</h5>
            <hr>
            <p class="text-muted text-center">Name: {{ member.get_names }}</p>
            <p class="text-muted text-center">Member No: {{ member.account_number }}</p>
            <p class="text-muted text-center">ID No: {{ member.id_number }}</p>
            <p class="text-muted text-center">Phone No: {{ member.phone_number }}</p>
            <hr>
            <h5 class="text-center">Group Info</h5>
            <hr>
            <p class="text-muted text-center">Group: {{ member.group }}</p>
          </div>
        </div>

        <div class="card card-info">
    
        </div>
      </div>
      <div class="col-9">
    

        <div class="card">

          <div class="card-header bg-warning ">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Loan Application Procedure</h3>
                </div>

                <div class="col-6 text-center">

                 
                </div>
            </div>
          </div>
          <div class="card-header ">
          
            <div class="row">
          

              <div class="col-12 text-center">
    
                    <div class="progress">
                      <div class="progress-bar" style="width: 0%"></div>
                    </div>
                    <span class="progress-description">
                      0% Done   <h3 class="card-title">Start</h3>
                    </span>
              
              </div>
          </div>
          </div>

          {% if messages %}

          <div class="row">
              <ul class="messages">
                  {% for message in messages %}
                  <div class="callout callout-danger bg-warning">
                    <h5><i class="fas fa-info"></i> Message</h5>
                    {{ message }}
                  </div>
                  {% endfor %}
                </ul>
          </div>
        
        {% endif %}
          <!-- /.card-header -->
          <div class="card-body">




            <br><br>
            <form method="post">
          
            {% csrf_token %}

            {% crispy form %}

           


            {% if form.errors %}
  {% for field in form %}
      {% for error in field.errors %}
          <div class="alert alert-danger">
              <strong>{{ field.name }}{{ error|escape }}</strong>
          </div>
      {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
      <div class="alert alert-danger">
          <strong>{{ error|escape }}</strong>
      </div>
  {% endfor %}
{% endif %}


          </form>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>






{% endblock content %}







{% block extra_js %}



{% endblock extra_js %}