{% extends 'fosa/base.html' %}

{% load static %}
{% block app %} System Search Results {% endblock app %}

{% block active_s %}
active
{% endblock active_s %}

{% block active_me %}
active
{% endblock active_me %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'search' %}">Seach Results</a></li>
<li class="breadcrumb-item"><a href="">Search</a></li>
{% endblock breadcrump %}

{% block show_s  %}
menu-open
{%  endblock show_s %}

{% block title %}

Seacrh Results for {{ term }}

{% endblock title %}

{% block extra_css %}

<style>



</style>


{% endblock extra_css %}

{% block content %}


<section class="container">

  <hr>

<hr/>
  
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-info card-outline" style="min-height: 69vh;">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle" src="{{ member.avatar.thumbnail.url }}"
                alt="User profile picture">
            </div>

            <hr>

            <h5 class="text-center">Member Info</h5>
            <hr>
            <p class="text-muted text-center">Name: {{ member.get_names }}</p>
            <p class="text-muted text-center">Member No: {{ member.account_number }}</p>
            <p class="text-muted text-center">ID No: {{ member.id_number }}</p>
            <p class="text-muted text-center">Phone No: {{ member.phone_number }}</p>
            <hr>
            <h5 class="text-center">Group Info</h5>
            <hr>
            <p class="text-muted text-center">Group: {{ member.group }}</p>
          </div>
        </div>

        <div class="card card-info">
    
        </div>
      </div>
      <div class="col-9">
    

        <div class="card">
          <div class="card-header ">
          
            <div class="row">
                <div class="col-3">
                    <h3 class="card-title">Member Accounts</h3>
                </div>

                <div class="col-9 text-center">

                  <a class="btn btn-info" href="{% url 'member_transaction' pk=member.id %}">Transaction</a>

                  <a class="btn btn-info" href="{% url 'member_loans' pk=member.id %}">Loans</a>
                  <a class="btn btn-info" href="{% url 'loan_form' pk=member.id %}">Loan Application</a>
                  <a class="btn btn-info" href="{% url 'one_member_slips' pk=member.id %}">Slips</a>


                  <a class="btn btn-info" href="{% url 'member_statement' pk=member.id %}">Statement</a>
                  <a class="btn btn-info" href="{% url 'member_transaction_history' pk=member.id %}">History</a>
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="bg-info">
              <tr>
             
                <th>Account Type</th>
                <th>Number </th>
                <th>Balance</th>
                <th>Date Created</th>
                <th>Created By</th>
                <th>Movement</th>
             
              </tr>
              </thead>
              <tbody>
                {% for account in accounts %}
              <tr>
            
           
                <td>{{ account.acc_type.title }}</td>
                <td>  {{account.acc_number }}</td>
            
                <td> {{account.acc_balance }}</td>
               

                <td>  {{account.date_created }}</td>
            
                <td> {{account.creator }}</td>
           
          
                <td>   <a href="{% url 'accounts_details' pk=account.id %}" class="btn btn-sm btn-info"> History  </a></td>
               
             
             
                </tr>

              {% endfor %}
              </tbody>
        
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>






{% endblock content %}







{% block extra_js %}



{% endblock extra_js %}