




{% extends 'fosa/base.html' %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}


{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }


</style>


{% endblock extra_css %}


{% block active_slips %}
bg-danger
{% endblock %}

{% block content  %}


<section class="container content-header">
   
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Slip</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">FOSA</a></li>
            <li class="breadcrumb-item active">Transaction Slip</li>
          </ol>
        </div>
      </div>
 
  </section>

  <section class="container">
  
      <div class="row">
        <div class="col-12">
       
          

          {% if messages %}
          {% for message in messages %}
          <div class="callout callout-info">
          <div class="row">

            <h5><i class="fas fa-info"></i> Note:</h5>
            {{ message }}
          </div>
        </div>

          {% endfor %}
          
        
        
        {% endif %}


          <!-- Main content -->
          <div class="invoice p-3 mb-3" id="page">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> {{ request.tenant.name }}.
                  <small class="float-right"> {{ date }}</small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                Member Innformation
                <address>
                  <strong>{{ member.get_names }}.</strong><br>
                  Phone: {{ member.phone_number }}<br>
                  Email: {{ member.email }}
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
             
              </div>
          
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <b>Receipt No: {{ slip.number }}</b><br>
                <b>Cheque No: {{ slip.cheque_number }}</b><br>
                <b>Date: {{ slip.date_created }}</b><br>
                <br>
             
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
             
                <h5>Transactions</h5>

                <table class="table table-striped table-bordered  table-sm">
                  <thead class="bg-secondary">
                    <tr>
                      <th>Id</th>
                   
                      <th>Particulars</th>
      
                      <th> Account</th>
                     
                     
                      <th>Amount</th>
                      <th>Fees</th>
      
                      <th>Total</th>
                      <th>Code </th>
                    
      
                      <th>Receving </th>
                      <th> Account</th>
                   
      
                      <th>Date </th>
                      <th>Served By</th>
                     
                      
                  </tr>
                  </thead>
                  <tbody>
      
                      {% for transaction in transactions %}
                      <tr>
      
      
                          <td> {{ transaction.id}}</td>
                    
      
      
                     
      
                          <td> {{ transaction.description}}</td>
      
      
                     
      
                          <td> {{ transaction.acc}}</td>
                         
                          <td>{{ transaction.amount | intcomma }}</td>
                          <td> {{ transaction.fees.amount | intcomma }}</td>

                          <td> {{ transaction.actual_amount | intcomma }}</td>
                     
                          <td> {{ transaction.code}}</td>
                    
      
      
      
                     
      
                          <td> {{ transaction.receiving_member}}</td>
                    
      
      
                          <td> {{ transaction.receiver}}</td>
                   
      
      
                          <td> {{ transaction.date}}</td>
                     
      
      
                          <td> {{ transaction.creator}}</td>
                      </tr>
      
      
      
      
      
      
                      {% endfor %}
      
               
      
      
      
      
      
      
      
      
      
                  </tbody>
            
              </table>
              </div>
              <!-- /.col -->
            </div>

            {% if repayments.count > 0 %}
            <div class="row">
              <div class="col-12 table-responsive">
             <h5>Loans</h5>

                <table class="table table-striped table-bordered  table-sm">
                  <thead class="bg-secondary">
                    <tr>
                      <th>Id</th>
                   
      
                      <th> Slip</th>
                     
                     
                      <th>Loan</th>
                      <th>Type</th>
                      <th>Principal</th>
                      <th>Amount Paid</th>
      
                
                      <th>Balance </th>
                    
      

                      
                  </tr>
                  </thead>
                  <tbody>
      
                      {% for repayment in repayments %}
                      <tr>
                          <td> {{ repayment.id}}</td>
                          <td> {{ repayment.slip.number }}</td>
                          <td>{{ repayment.loan_status }}</td>
                          <td>{{ repayment.transaction.type }}</td>
                          <td>{{ repayment.loan_status.total_loans }}</td>
                          <td>{{ repayment.amount | intcomma }}</td>
                        
                          <td> {{ repayment.loan_status.loan_balance | intcomma }}</td>
                      </tr>
      
      
      
      
      
      
                      {% endfor %}
      
               
      
      
      
      
      
      
      
      
      
                  </tbody>
            
              </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->
            {% endif %}
            <div class="row">
              <!-- accepted payments column -->
              <div class="col-6">
               
              </div>
              <!-- /.col -->
              <div class="col-6">

                <div class="table-responsive">
                  <table class="table">
                   
                    <tr>
                      <th>Tax</th>
                      <td>Ksh: {{ slip.tax | intcomma }}</td>
                    </tr>
                    <tr>
                      <th>Charged Fees:</th>
                      <td>Ksh: {{ slip.fees | intcomma }}</td>
                    </tr>
                    <tr>
                      <th>Total:</th>
                      <td>Ksh: {{ slip.total | intcomma }}</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
              <div class="col-12">
                <a href="" target="_blank" onclick="printDiv('page')" class="btn btn-info"><i class="fas fa-print"></i> Print</a>
              </div>
            </div>
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->

  </section>




{% endblock content %}




{% block extra_js %}



{% endblock extra_js %}





















