

{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}


{% block title %}
Member Transactions

{% endblock title %}

{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }


</style>


{% endblock extra_css %}

{% block content  %}


<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Member | {{ member.get_names | upper  }} - {{ member.account_number | upper }}</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Member Transactions</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">





  <hr>

  {% if messages %}

  <div class="row">
      <ul class="messages">
          {% for message in messages %}
          <div class="callout callout-danger bg-warning">
            <h5><i class="fas fa-info"></i> Message</h5>
            {{ message }}
          </div>
          {% endfor %}
        </ul>
  </div>

{% endif %}

  <!-- Default box -->
  <div class="card">
    <div class="card-header bg-info">
      <h3 class="card-title">Transactions</h3>

      <div class="card-tools">

      <strong>Member: {{ member.get_names | upper  }} - {{ member.account_number | upper }}</strong>
      </div>
    </div>
    <div class="card-body">
 




      <div class="row">
        <div class="col-md-12">

 

          <form method="post" action="{% url 'fosa_member_payments' pk=member.id %}" >

            <div class="row">
              <div class="col-sm-3">
                <!-- text input -->
                <div class="form-group">
                  <label>Receipt Number</label>
                  <input type="text" class="form-control" name="receipt" placeholder="Receipt Number" required>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Method</label>
                  <select class="form-control select2" name="method" style="width: 100%;">
                    {% for method in payments_methods %}
                    <option selected="cash" value="{{ method.name }}">{{ method.name }}</option>

                    {% endfor %}

                  </select>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Cheque Number</label>
                  <input type="text" class="form-control" name="cheque" placeholder="Cheque Number" required>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label>Date</label>
                  <input type="date"  name="date" class="form-control"  required>
                </div>
              </div>



            </div>

            <div class="row">
             <div class="col-md-12">
               <h5>Transactions</h5>
               <hr>
             </div>
            </div>

            {%  csrf_token %}

            {{ formset.management_form }}

            {% for form in formset %}

            {% if form.non_field_errors %}

            <div class="alert alert-danger" role="alert">

              {% for error in form.non_field_errors %}
              {{ error }}

              {% endfor %}

            </div>





            {% endif %}



            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}

            {% endfor %}


            <div class="row form-row spacer">
              <div class="col-sm-5">
                <div class="form-group">
                  <label>{{ form.type.label }}</label>


                  {% render_field form.type class="form-control" %}

            


                </div>
              </div>
              <div class="col-sm-5">
                <!-- text input -->
                <div class="form-group">
                  <label>{{ form.amount.label }}</label>


                  {% render_field form.amount class="form-control" %}

            


                </div>
              </div>
              
          
           


              <div class="col-sm-2 d-flex align-items-center justify-content-center">
                <div class="form-group d-flex align-items-center justify-content-center">
                  <div class="input-group-append d-flex align-items-center justify-content-center pt-4">
                    <button class="btn btn-info add-form-row ">+</button>
                  </div>
                </div>
              </div>
            </div>




        




        <br>

     

        {% endfor %}

        <br>

        <div class="row spacer">
          <div class="col-6 offset-3">
            <button class="btn btn-block btn-info">
              Process
            </button>

          </div>

        </div>






        </form>

        </div>
   
      
      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>




{% endblock content %}


{% block tools %}

<div class="row " id="fixedContainer" style="position: fixed; right:10px; top:100px;">
  <div class="info-box">
    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-plus"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">Total Amount</span>
      <span class="info-box-number">
        <h4 id="total">0</h4>
     
      </span>
    </div>
    <!-- /.info-box-content -->
  </div>
</div>

{% endblock tools %}

{% block date %}
<div class="row " id="fixedContainer" style="position: fixed; left:10px; top:100px;">
  <div class="info-box bg-info">
    <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">System Date</span>
      <span class="info-box-number">Year: {{ request.parameters.year }}</span>

      <div class="progress">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
      <span class="progress-description">
        Month: {{ request.parameters.month }} 
      </span>
    </div>
    <!-- /.info-box-content -->
  </div>
  </div>
</div>

{% endblock date %}


{% block extra_js %}
<script type='text/javascript'>
  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    console.log(newElement)
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
      console.log($(this).attr('name'))
      var name = $(this).prop('name').replace('-' + (total - 1) + '-', '-' + total + '-');
      var id = 'id_' + name;
      $(this).attr({
        'name': name,
        'id': id
      }).val('').removeAttr('checked');
    });
    newElement.find('label').each(function () {
      var forValue = $(this).attr('for');
      if (forValue) {
        forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
        $(this).attr({
          'for': forValue
        });
      }
    });
    console.log(newElement)
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
      .removeClass('btn-warning').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>');
    return false;
  }

  function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1) {
      btn.closest('.form-row').remove();
      var forms = $('.form-row');
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
      for (var i = 0, formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).find(':input').each(function () {
          updateElementIndex(this, prefix, i);
        });
      }
    }
    return false;
  }
  $(document).on('click', '.add-form-row', function (e) {
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
  });
  $(document).on('click', '.remove-form-row', function (e) {
    e.preventDefault();

    console.log(e);

    var er = e;

    var total = Number($('#total').text());
    total = total - Number(100);
    $('#total').text(total);

    deleteForm('form', $(this));
    return false;
  });
</script>



<script>

  added_forms = {};

  $("form :input").change(function() {
    $(this).closest('form').data('changed', true);
   

    if (this.type == "number") {
      var newValue = this.value;

      if (this.id in added_forms){
        var oldValue = added_forms[this.id]
        var diff = newValue - oldValue;
        var total = Number($('#total').text());
        total = total + Number(diff);
        $('#total').text(total);

      } else {
        added_forms[this.id] = newValue;

        var total = Number($('#total').text());
        total = total + Number(newValue);
        $('#total').text(total);
      }

    }


  });

 


</script>

{% endblock extra_js %}
