

{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }


</style>


{% endblock extra_css %}

{% block content  %}

<section class="container content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Slip</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">FOSA</a></li>
          <li class="breadcrumb-item active">Transaction Slip</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
     
        

        {% if messages %}
        {% for message in messages %}
        <div class="callout callout-info">
        <div class="row">

          <h5><i class="fas fa-info"></i> Note:</h5>
          {{ message }}
        </div>
      </div>

        {% endfor %}
        
      
      
      {% endif %}


        <!-- Main content -->
        <div class="invoice p-3 mb-3">

          <div class="row">
            <div class="col-12">
              <div class="card ">
                <div class="row invoice-info">
                  <div class="col-sm-4 invoice-col">
                    Member Information
                    <address>
                      <strong>Admin, Inc.</strong><br>
                      795 Folsom Ave, Suite 600<br>
                      San Francisco, CA 94107<br>
                      Phone: (804) 123-5432<br>
                      Email: info@almasaeedstudio.com
                    </address>
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 invoice-col">
                    To
                    <address>
                      <strong>John Doe</strong><br>
                      795 Folsom Ave, Suite 600<br>
                      San Francisco, CA 94107<br>
                      Phone: (555) 539-1037<br>
                      Email: john.doe@example.com
                    </address>
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-4 invoice-col">
                    <b>Invoice #007612</b><br>
                    <br>
                    <b>Order ID:</b> 4F3S8J<br>
                    <b>Payment Due:</b> 2/22/2014<br>
                    <b>Account:</b> 968-34567
                  </div>
                  <!-- /.col -->
                </div>
        
              </div>
            </div>
          </div>
          <!-- title row -->

          <!-- info row -->
    

          <!-- Table row -->
          <div class="row">
            <div class="col-12 table-responsive">
           

              <table class="table table-striped table-bordered  table-sm">
                <thead class="bg-secondary">
                  <tr>
                    <th>Id</th>
                 
                    <th>Particulars</th>
    
                    <th> Account</th>
                   
                   
                    <th>Amount</th>
    
                    <th>Actual</th>
                    <th>Code </th>
                  
    
                    <th>Receving </th>
                    <th> Account</th>
                 
    
                    <th>Date </th>
                    <th>Served By</th>
                   
                    
                </tr>
                </thead>
                <tbody>
    
                    {% for transaction in transactions %}
                    <tr>
    
    
                        <td> {{ transaction.id}}</td>
                  
    
    
                   
    
                        <td> {{ transaction.description}}</td>
    
    
                   
    
                        <td> {{ transaction.acc}}</td>
                   
    
                        <td> {{ transaction.amount }}</td>
    
                        <td>{{ transaction.actual_amount }}</td>
                   
                        <td> {{ transaction.code}}</td>
                  
    
    
    
                   
    
                        <td> {{ transaction.receiving_member}}</td>
                  
    
    
                        <td> {{ transaction.receiver}}</td>
                 
    
    
                        <td> {{ transaction.date}}</td>
                   
    
    
                        <td> {{ transaction.creator}}</td>
                    </tr>
    
    
    
    
    
    
                    {% endfor %}
    
             
    
    
    
    
    
    
    
    
    
                </tbody>
          
            </table>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <div class="row">
            <!-- accepted payments column -->
            <div class="col-6">
             
            </div>
            <!-- /.col -->
            <div class="col-6">

              <div class="table-responsive">
                <table class="table">
                 
                  <tr>
                    <th>Tax</th>
                    <td>Ksh: {{ slip.tax }}</td>
                  </tr>
                  <tr>
                    <th>Charged Fees:</th>
                    <td>Ksh: {{ slip.fees }}</td>
                  </tr>
                  <tr>
                    <th>Total:</th>
                    <td>Ksh: {{ slip.total }}</td>
                  </tr>
                </table>
              </div>
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->

          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-12">
              <a href="invoice-print.html" target="_blank" class="btn btn-info"><i class="fas fa-print"></i> Print</a>
             
              <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                <i class="fas fa-download"></i> Generate PDF
              </button>
            </div>
          </div>
        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>




{% endblock content %}




{% block extra_js %}
<script type='text/javascript'>
  function updateElementIndex(el, prefix, ndx) {
      var id_regex = new RegExp('(' + prefix + '-\\d+)');
      var replacement = prefix + '-' + ndx;
      if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
      if (el.id) el.id = el.id.replace(id_regex, replacement);
      if (el.name) el.name = el.name.replace(id_regex, replacement);
  }
  function cloneMore(selector, prefix) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
      console.log(newElement)
      newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        console.log($(this).attr('name'))
          var name = $(this).prop('name').replace('-' + (total-1) + '-', '-' + total + '-');
          var id = 'id_' + name;
          $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
      });
      newElement.find('label').each(function() {
          var forValue = $(this).attr('for');
          if (forValue) {
            forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
            $(this).attr({'for': forValue});
          }
      });
      console.log(newElement)
      total++;
      $('#id_' + prefix + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
      var conditionRow = $('.form-row:not(:last)');
      conditionRow.find('.btn.add-form-row')
      .removeClass('btn-success').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>');
      return false;
  }
  function deleteForm(prefix, btn) {
      var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
      if (total > 1){
          btn.closest('.form-row').remove();
          var forms = $('.form-row');
          $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
          for (var i=0, formCount=forms.length; i<formCount; i++) {
              $(forms.get(i)).find(':input').each(function() {
                  updateElementIndex(this, prefix, i);
              });
          }
      }
      return false;
  }
  $(document).on('click', '.add-form-row', function(e){
      e.preventDefault();
      cloneMore('.form-row:last', 'form');
      return false;
  });
  $(document).on('click', '.remove-form-row', function(e){
      e.preventDefault();
      deleteForm('form', $(this));
      return false;
  });
  </script>

{% endblock extra_js %}
