{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }
</style>


{% endblock extra_css %}

{% block content  %}


<section class="container content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Member Profile</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">FOSA</a></li>
          <li class="breadcrumb-item active">Member Profile</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<section class="container">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">



        {% if messages %}
        {% for message in messages %}
        <div class="callout callout-info">
          <div class="row">

            <h5><i class="fas fa-info"></i> Note:</h5>
            {{ message }}
          </div>
        </div>

        {% endfor %}



        {% endif %}


        <!-- Main content -->
        <div class="invoice p-3 mb-3">
          <!-- title row -->
          <div class="row">
            <div class="col-12">
              <h4>
                <i class="fas fa-globe"></i> {{ request.tenant.name }}.
                <small class="float-right"> {{ date }}</small>
              </h4>
            </div>
            <!-- /.col -->
          </div>
          <!-- info row -->

          <!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-md-3">


              <h5 class="d-inline-block d-sm-none">{{ member.get_names }}</h5>
              <div class="col-12 d-flex justify-content-center">
                <img src="{{ member.avatar.url }}" class="product-image" alt="{{ member.get_names }} Image">
              </div>
              <div class="col-12 product-image-thumbs">

              </div>

            </div>
            <div class="col-md-6">


              <div class="row">
                <div class="col-3">
                  <p><span class="t">Name:</span> {{ member.get_names }}</p>
                  <p><span class="t">Saving Acc: <a style="color: blue;">{{ saving_acc.acc_number }}</a> </span></p>
                  <p><span class="t">Saving Balance: Ksh {{ saving_acc.acc_balance }}</span></p>
              

                </div>



                <div class="col-3">
                  <p><span class="t">Phone Number:</span> {{ member.phone_number }}</p>

                  <p><span class="t">Current Acc: <a style="color: blue;"> {{ current_acc.acc_number }}</a></span></p>
                  <p><span class="t">Current Balance: Ksh {{ current_acc.acc_balance }}</span></p>

                </div>

                <div class="col-3">
                  <p><span class="t">National Id:</span> {{ member.id_number }}.</p>






                  <p><span class="t">Group Acc: </span></p>
                  <p><span class="t">Group Balance: Ksh </span></p>




                </div>
                <div class="col-3">

                  <p class=""><span class="t">Shares:</span> {{ member.get_overpayments }} </p>
     

                  <p><span class="t">Project Acc: </span></p>
                  <p><span class="t">Project Balance: Ksh </span></p>

                </div>


              </div>

            </div>

            <div class="col-md-3">


              <h5 class="d-inline-block d-sm-none">{{ member.get_names }}</h5>
              <div class="col-12 d-flex justify-content-center">
                <img src="{{ member.avatar.url }}" class="product-image" alt="{{ member.get_names }} Image">
              </div>
              <div class="col-12 product-image-thumbs">

              </div>

            </div>

          </div>


          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-12">
              <a href="invoice-print.html" target="_blank" class="btn btn-info"><i class="fas fa-print"></i> Print</a>

              <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                <i class="fas fa-download"></i> Generate PDF
              </button>
            </div>
          </div>
        </div>
        <!-- /.invoice -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>




{% endblock content %}




{% block extra_js %}



{% endblock extra_js %}