




{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block active_links %}
bg-secondary
{% endblock %}
{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }


</style>


{% endblock extra_css %}

{% block content  %}


<section class="content content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Petty Cash</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">FOSA</a></li>
            <li class="breadcrumb-item active">Petty Cash</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
       

          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> Thanns Sacco.
                  <small class="float-right"> Petty Cash</small>
                  <small class="float-right"> {{ date }}</small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
         
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
             

                <hr>

                <table id="dataTable" class="table  table-sm table-bordered table-striped">
                  <thead class="bg-secondary">
                    <tr>
                      <th>Date </th>
                      <th colspan="5"></th>
        
                     
                     
                      <th colspan="2">Balances</th>
        
                  
                 
        
                    
                
                  </tr>
                    <tr>
                      <th>Date </th>
                      <th>Id</th>
        
                      <th>Description</th>
                      <!-- <th> Slip </th> -->
                      <th> P.V</th>
        
                      <th> Vote</th>
                      <th> CHQ</th>
                      <th>Receipts</th>
                      <th>Payments</th>
                  
                    

                      
                  </tr>
                  </thead>
                  <tbody>
        
                      {% for transaction in events %}
                      <tr>
        
                        <td> {{ transaction.transaction.date | date:'Y-m-d' }}</td>
                     
        
                          <td> {{ transaction.id}}</td>
        
                          <td>{{ transaction.account.transaction_type }}</td>
        
                          <!-- <td> {{ transaction.transaction.slip.number }}</td> -->
                          <td> {{ transaction.transaction.expense.pv_number_ }}</td>
                          <td> {{ transaction.transaction.type.vote_h }}</td>
                          <td> {{ transaction.transaction.slip.cheque_number}}</td>
        
                          <td> 
                  
                            {{ transaction.transaction.cr_amount | intcomma }}
                        
                          </td>
        
                          <td> 
                            {{ transaction.transaction.dr_amount | intcomma }}
                            </td>
 
        
                      
                      </tr>
        
        
        
        
        
        
                      {% endfor %}
        
        
                  </tbody>
        
                  <tfoot class="">
                    <tr>
                      <th>Totals </th>
                      <th colspan="4"></th>
        
                     <th></th>
                     
                    
                     <th>{{ credits.transaction__cr_amount__sum | intcomma  }}</th>
                      <th> {{ debits.transaction__dr_amount__sum  | intcomma }}</th>
                   
        
                  </tr>
                </tfoot>
          
              </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
              <div class="col-12">
                <a onclick="printDiv('page')" class="btn btn-info"><i class="fas fa-print"></i> Print</a>

            
              </div>
            </div>
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>




{% endblock content %}




{% block extra_js %}



{% endblock extra_js %}





















