{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }
</style>


{% endblock extra_css %}

{% block title %}

Debit Line Of Credit


{% endblock title %}


{% block active_links %}
bg-secondary
{% endblock %}


{% block content  %}


<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1> Credit Recovery</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Credit Recovery</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">





  <hr>

  {% if messages %}

  <div class="row">
    <ul class="messages">
      {% for message in messages %}
      <div class="callout callout-danger bg-secondary">
        <h5><i class="fas fa-info"></i> Message</h5>
        {{ message }}
      </div>
      {% endfor %}
    </ul>
  </div>

  {% endif %}

  <!-- Default box -->
  <div class="card">
    <div class="card-header bg-secondary">
      <h3 class="card-title">Credit Recovery</h3>

      <div class="card-tools">


      </div>
    </div>
    <div class="card-body">





      <div class="row">
        <div class="col-md-12">



          {% crispy form %}


        </div>


      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>




{% endblock content %}


{% block date %}
<div class="row " id="fixedContainer" style="position: fixed; left:10px; top:100px;">
  <div class="info-box bg-secondary">
    <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">System Date</span>
      <span class="info-box-number">Year: {{ request.parameters.year }}</span>

      <div class="progress">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
      <span class="progress-description">
        Month: {{ request.parameters.month }} 
      </span>
    </div>
    <!-- /.info-box-content -->
  </div>
  </div>
</div>

{% endblock date %}


{% block extra_js %}
<script type='text/javascript'>
  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    console.log(newElement)
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
      console.log($(this).attr('name'))
      var name = $(this).prop('name').replace('-' + (total - 1) + '-', '-' + total + '-');
      var id = 'id_' + name;
      $(this).attr({
        'name': name,
        'id': id
      }).val('').removeAttr('checked');
    });
    newElement.find('label').each(function () {
      var forValue = $(this).attr('for');
      if (forValue) {
        forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
        $(this).attr({
          'for': forValue
        });
      }
    });
    console.log(newElement)
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
      .removeClass('btn-secondary').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>');
    return false;
  }

  function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1) {
      btn.closest('.form-row').remove();
      var forms = $('.form-row');
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
      for (var i = 0, formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).find(':input').each(function () {
          updateElementIndex(this, prefix, i);
        });
      }
    }
    return false;
  }
  $(document).on('click', '.add-form-row', function (e) {
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
  });
  $(document).on('click', '.remove-form-row', function (e) {
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
  });
</script>

{% endblock extra_js %}