{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }
</style>


{% endblock extra_css %}

{% block title %}

Home


{% endblock title %}


{% block active_revenues %}
bg-primary
{% endblock %}
{% block content  %}

<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Revenues</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Revenues Processing</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">





  <hr>

  {% if messages %}

  <div class="row">
      <ul class="messages">
          {% for message in messages %}
          <div class="callout callout-danger bg-primary">
            <h5><i class="fas fa-info"></i> Message</h5>
            {{ message }}
          </div>
          {% endfor %}
        </ul>
  </div>

{% endif %}

<div class="card-header bg-primary">
  <h5 class="card-title">Revenue Details</h5>


</div>
<div class="card-body">



  <br>

  <div class="row">
    <div class="col-12 ">
  
  

    </div>
    <!-- /.col -->
  </div>


  <div class="invoice p-3 mb-3">
    <!-- title row -->
    <div class="row">
      <div class="col-12">
        <h4>
          <i class="fas fa-globe"></i> Thanns Sacco.
          <small class="float-right"> {{ date }}</small>
        </h4>
      </div>
      <!-- /.col -->
    </div>

    <!-- info row -->
    <div class="row invoice-info">
      <div class="col-sm-4 invoice-col">
        Payment Information
        <address>
          <strong>Paid To: {{ expense.paid_to }}</strong><br>
       
        </address>
      </div>
      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
 
      </div>

      <!-- /.col -->
      <div class="col-sm-4 invoice-col">
        <strong>Cheque Number: {{ expense.cheque_number }}</strong><br>
        <strong>P.V Number: {{ expense.pv_number }}</strong><br>
        <b>Date: {{ expense.date }}</b><br>
        <br>

      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->


    <div class="row">
      <div class="col-12 table-responsive">
     <h5>Transactions</h5>

     <table class="table table-striped table-bordered  table-sm">
      <thead class="bg-primary">
        <tr>
          <th>Id</th>

          <th>Particulars</th>

          <th> Type</th>


          <th>Amount</th>
          <th>Fees</th>

          <th>Total</th>
          <th>Code </th>


        


          <th>Date </th>
          <th>Served By</th>


        </tr>
      </thead>
      <tbody>

        {% for transaction in transactions %}
        <tr>


          <td> {{ transaction.id}}</td>





          <td> {{ transaction.description}}</td>




          <td> {{ transaction.type.title}}</td>

          <td>{{ transaction.amount }}</td>
          <td> {{ transaction.fees.amount }}</td>

          <td> {{ transaction.actual_amount }}</td>

          <td> {{ transaction.code}}</td>

          <td> {{ transaction.date}}</td>



          <td> {{ transaction.creator}}</td>
        </tr>






        {% endfor %}











      </tbody>

    </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->


    <div class="row">
      <!-- accepted payments column -->
      <div class="col-6">

      </div>
      <!-- /.col -->
      <div class="col-6">

        <div class="table-responsive">
          <table class="table">

   
            <tr>
              <th>Total:</th>
              <td>Ksh: {{ expense.total }}</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->


  </div>
  
</div>



</section>




{% endblock content %}




{% block extra_js %}
<script type='text/javascript'>
  function updateElementIndex(el, prefix, ndx) {
      var id_regex = new RegExp('(' + prefix + '-\\d+)');
      var replacement = prefix + '-' + ndx;
      if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
      if (el.id) el.id = el.id.replace(id_regex, replacement);
      if (el.name) el.name = el.name.replace(id_regex, replacement);
  }
  function cloneMore(selector, prefix) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
      console.log(newElement)
      newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        console.log($(this).attr('name'))
          var name = $(this).prop('name').replace('-' + (total-1) + '-', '-' + total + '-');
          var id = 'id_' + name;
          $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
      });
      newElement.find('label').each(function() {
          var forValue = $(this).attr('for');
          if (forValue) {
            forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
            $(this).attr({'for': forValue});
          }
      });
      console.log(newElement)
      total++;
      $('#id_' + prefix + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
      var conditionRow = $('.form-row:not(:last)');
      conditionRow.find('.btn.add-form-row')
      .removeClass('btn-primary').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>');
      return false;
  }
  function deleteForm(prefix, btn) {
      var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
      if (total > 1){
          btn.closest('.form-row').remove();
          var forms = $('.form-row');
          $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
          for (var i=0, formCount=forms.length; i<formCount; i++) {
              $(forms.get(i)).find(':input').each(function() {
                  updateElementIndex(this, prefix, i);
              });
          }
      }
      return false;
  }
  $(document).on('click', '.add-form-row', function(e){
      e.preventDefault();
      cloneMore('.form-row:last', 'form');
      return false;
  });
  $(document).on('click', '.remove-form-row', function(e){
      e.preventDefault();
      deleteForm('form', $(this));
      return false;
  });
  </script>

{% endblock extra_js %}