{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }
</style>


{% endblock extra_css %}

{% block title %}

Home


{% endblock title %}


{% block active_revenues %}
bg-primary
{% endblock %}
{% block content  %}

<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Revenues</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Revenues Processing</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">





  <hr>

  {% if messages %}

  <div class="row">
      <ul class="messages">
          {% for message in messages %}
          <div class="callout callout-danger bg-primary">
            <h5><i class="fas fa-primary"></i> Message</h5>
            {{ message }}
          </div>
          {% endfor %}
        </ul>
  </div>

{% endif %}
<div class="card">
<div class="card-header bg-primary">
  <h3 class="card-title">Revenues</h3>

  <div class="card-tools">

    <form class="form-inline ml-3" action="{% url 'search_expenses' %}" method="post">
      {% csrf_token %}
      <div class="input-group input-group-md">
        <input class="form-control form-control-navbar" type="search" placeholder="Search By Paid To" name="search_term" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-navbar btn-warning" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
    </form>
 
  </div>
</div>
<div class="card-body">
  <table id="dataTable" class="table table-sm table-bordered table-striped">
    <thead class="bg-primary">
    <tr>
      <th>Received From</th>
      <th>Cheque Number </th>
      <th>Date</th>
   
      <!-- <th>P.V NO</th> -->
      
      <th>Total</th>
      <th>Details</th>
  
    </tr>
    </thead>
    <tbody>
      {% for expense in expenses %}
    <tr>
      <td>{{expense.received_from }}</td>
 
      <td>{{ expense.cheque_number }}</td>
      <td>  {{expense.date }}</td>
  
      <!-- <td> {{expense.pv_number }}</td> -->
     
     
      <td> 
        {{ expense.total }}
    
     
      </td>
     
      <td>   <a href="{% url 'revenues_detail' pk=expense.id %}" class="btn btn-sm btn-primary"> More  </a></td>

     
    
    

    
      


   
   
      </tr>

    {% endfor %}
    </tbody>

  </table>
</div>
</div>
</section>




{% endblock content %}




{% block extra_js %}
<script type='text/javascript'>
  function updateElementIndex(el, prefix, ndx) {
      var id_regex = new RegExp('(' + prefix + '-\\d+)');
      var replacement = prefix + '-' + ndx;
      if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
      if (el.id) el.id = el.id.replace(id_regex, replacement);
      if (el.name) el.name = el.name.replace(id_regex, replacement);
  }
  function cloneMore(selector, prefix) {
      var newElement = $(selector).clone(true);
      var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
      console.log(newElement)
      newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
        console.log($(this).attr('name'))
          var name = $(this).prop('name').replace('-' + (total-1) + '-', '-' + total + '-');
          var id = 'id_' + name;
          $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
      });
      newElement.find('label').each(function() {
          var forValue = $(this).attr('for');
          if (forValue) {
            forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
            $(this).attr({'for': forValue});
          }
      });
      console.log(newElement)
      total++;
      $('#id_' + prefix + '-TOTAL_FORMS').val(total);
      $(selector).after(newElement);
      var conditionRow = $('.form-row:not(:last)');
      conditionRow.find('.btn.add-form-row')
      .removeClass('btn-primary').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>');
      return false;
  }
  function deleteForm(prefix, btn) {
      var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
      if (total > 1){
          btn.closest('.form-row').remove();
          var forms = $('.form-row');
          $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
          for (var i=0, formCount=forms.length; i<formCount; i++) {
              $(forms.get(i)).find(':input').each(function() {
                  updateElementIndex(this, prefix, i);
              });
          }
      }
      return false;
  }
  $(document).on('click', '.add-form-row', function(e){
      e.preventDefault();
      cloneMore('.form-row:last', 'form');
      return false;
  });
  $(document).on('click', '.remove-form-row', function(e){
      e.preventDefault();
      deleteForm('form', $(this));
      return false;
  });
  </script>

{% endblock extra_js %}