{% extends 'fosa/base.html' %}

{% load static %}
{% block app %} System Search Results {% endblock app %}

{% block active_s %}
active
{% endblock active_s %}

{% block active_me %}
active
{% endblock active_me %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'search' %}">Seach Results</a></li>
<li class="breadcrumb-item"><a href="">Search</a></li>
{% endblock breadcrump %}

{% block show_s  %}
menu-open
{%  endblock show_s %}

{% block title %}

Seacrh Results for {{ term }}

{% endblock title %}

{% block extra_css %}

<style>
  .content {
    margin-left: 50px;
    margin-right: 50px;
  }


</style>


{% endblock extra_css %}

{% block content %}

<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Search Results for {{ term }}</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Search</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">





  <hr>
  
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Members Search Results for {{ term }}</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-5">
                          <h3 class="card-title">Total Results {{ members.count }}</h3>

                        </div>

                        <div class="col-1">



                            <!-- <a href="{% url 'members_aoe' %}"  class="btn btn-warning btn-sm" id="paymentBtn">
                              <i class="fas fa-pen fa-lg"></i>
                              New Member
                            </a> -->
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="bg-secondary">
              <tr>
                <th> Name</th>
                <th>Number </th>
                <!-- <th>Id</th> -->
             
                <th>Group</th>
                
                <th>Transaction</th>
                <th>Accounts</th>
                <th>Loans</th>
                <!-- <th>Request</th> -->
                <!-- <th>Transfer</th> -->
                <!-- <th>Cheque</th> -->
                <!-- <th>History</th> -->
                <th>Slips</th>
                <!-- <th>Statement</th> -->
              </tr>
              </thead>
              <tbody>
                {% for member in members %}
              <tr>
                <td> <a href="{% url 'member_loans' pk=member.id %}"  class="btn btn-sm btn-info"> <i class="fas fa-user"> </i>   {{member.get_names }}   </a></td>
           
                <td>{{ member.account_number }}</td>
                <!-- <td>  {{member.id_number }}</td> -->
            
                <td> {{member.group.group_name  }}</td>
               
               
                <td> <a href="{% url 'member_transaction' pk=member.id %}"  class="btn btn-sm btn-info"> Transaction  </a>
                </td>
               
                <td>   <a href="{% url 'accounts' pk=member.id %}" class="btn btn-sm btn-info"> Accounts  </a></td>

               
                <td> <a href="{% url 'member_loans' pk=member.id %}"  class="btn btn-sm btn-info"> Loans  </a>
                </td>
                <!-- <td> <a href="{% url 'loan_form' pk=member.id %}"  class="btn btn-sm btn-info"> Loan  </a>
                </td> -->

                <!-- <td> <a href="{% url 'member_transfer' pk=member.id %}"  class="btn btn-sm btn-info"> Transfer  </a>
                </td> -->
                <!-- <td> <a href="{% url 'member_cheque' pk=member.id %}"  class="btn btn-sm btn-info"> Cheque  </a>
                </td> -->
                <!-- <td> <a  href="{% url 'member_transaction_history' pk=member.id %}"  class="btn btn-sm btn-info"> History  </a>
                </td> -->

                <td> <a  href="{% url 'one_member_slips' pk=member.id %}"  class="btn btn-sm btn-info"> Slips  </a>
                </td>
                <!-- <td> <a  href="{% url 'member_statement' pk=member.id %}"  class="btn btn-sm btn-info"> Statement  </a>
                </td> -->
                
          

             
             
                </tr>

              {% endfor %}
              </tbody>
        
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>


  <section class="container">

    <hr>

    <hr/>
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-warning">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Groups Search Results for {{ term }}</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>
                        <div class="col-5">
                          <h3 class="card-title">Total Results {{ groups.count }}</h3>

                        </div>

                        <div class="col-1">

                            <!-- <a href="{% url 'groups_aoe' %}"  class="btn btn-warning btn-sm" id="paymentBtn">
                              <i class="fas fa-pen fa-lg"></i>
                              New Group
                            </a> -->
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="bg-secondary">
              <tr>
                <th>Name</th>
                <th>County</th>
                <th>Town</th>

                <th>Transactions</th>
                <th>Accounts</th>
                <th>History</th>
                <th>Slips</th>
                <th>Statement</th>
             
            
              </tr>
              </thead>
              <tbody>
                {% for group in groups %}
              <tr>
                <td> <a href="{% url 'groups_accounts' pk=group.id %}" class="btn btn-sm btn-warning"> <i class="fas fa-users"> </i>   {{group.group_name}}   </a></td>
                <td>
                  {{group.county}}
                </td>
                <td>{{group.town}}</td>
                <td>   <a href="{% url 'group_transaction' pk=group.id %}" class="btn btn-sm btn-warning"> Transactions  </a></td>
                <td>   <a href="{% url 'groups_accounts' pk=group.id %}" class="btn btn-sm btn-warning"> Accounts  </a></td>

               
                <td>   <a href="{% url 'group_transaction_history' pk=group.id %}" class="btn btn-sm btn-warning"> History  </a></td>
                <td>   <a href="{% url 'group_slips' pk=group.id %}" class="btn btn-sm btn-warning"> Slips  </a></td>
                <td>   <a href="{% url 'group_statement' pk=group.id %}" class="btn btn-sm btn-warning"> Statement  </a></td>
               
             
          

               
             
                </tr>

              {% endfor %}
  







          
              </tbody>
         
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>




{% endblock content %}




{% block date %}
<div class="row " id="fixedContainer" style="position: fixed; left:10px; top:100px;">
  <div class="info-box bg-success">
    <span class="info-box-icon"><i class="far fa-calendar-alt"></i></span>

    <div class="info-box-content">
      <span class="info-box-text">System Date</span>
      <span class="info-box-number">Year: {{ request.parameters.year }}</span>

      <div class="progress">
        <div class="progress-bar" style="width: 100%"></div>
      </div>
      <span class="progress-description">
        Month: {{ request.parameters.month }} 
      </span>
    </div>
    <!-- /.info-box-content -->
  </div>
  </div>
</div>

{% endblock date %}



{% block extra_js %}



{% endblock extra_js %}