
{% extends 'fosa/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block title %}

Slips
{% endblock %}

{% block active_slips %}
bg-danger
{% endblock %}

{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }


</style>


{% endblock extra_css %}

{% block content  %}
<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Slips</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Slips</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">





  <hr>
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header">
          
            <div class="row">
                <div class="col-3">
                    <h3 class="card-title">Slips Search Results</h3>
                </div>

                <div class="col-6">
                    <form class="form-inline ml-3" action="{% url 'search_slips' %}">
                        <!-- {{ csrf_token }} -->
                        <div class="input-group input-group-md">
                          <input class="form-control form-control-navbar" type="search" placeholder="Search Slips" name="search_term" aria-label="Search">
                          <div class="input-group-append">
                            <button class="btn btn-navbar btn-warning" type="submit">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                        </div>
                      </form>
                  
                 
                </div>

                <div class="col-3">
                   
                </div>
            </div>
          </div>
       
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

  
    <!-- /.row -->
  </section>





{% endblock content %}




{% block extra_js %}



{% endblock extra_js %}





















