
{% extends 'fosa/base.html' %}

{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}

{% block title %}
Slip Results

{% endblock title %}
{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }


</style>


{% endblock extra_css %}

{% block active_slips %}
bg-danger
{% endblock %}

{% block content  %}

<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Slips</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Slips</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">





  <hr>
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header">
          
            <div class="row">
                <div class="col-3">
                    <h3 class="card-title">Slips Search Results</h3>
                </div>

                <div class="col-6">
                    <form class="form-inline ml-3" action="{% url 'search_slips' %}" method="get">
                        <!-- {{ csrf_token }} -->
                        <div class="input-group input-group-md">
                          <input class="form-control form-control-navbar" type="search" placeholder="Search Slips" name="search_term" aria-label="Search">
                          <div class="input-group-append">
                            <button class="btn btn-navbar btn-warning" type="submit">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                        </div>
                      </form>
                  
                 
                </div>

                <div class="col-3">
                   
                </div>
            </div>
          </div>
       
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

  
    <!-- /.row -->
  </section>


{% if slips.count > 0 %}
<section class="container">

    <hr>

    <hr/>
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Member Slips Search Results</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>
                        <div class="col-3">
                          <h3 class="card-title">Total Results {{ slips.count }}</h3>

                        </div>

                        <div class="col-3">

                          
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table  table-bordered table-striped">
              <thead class="bg-secondary">
              <tr>
                <th>Slip Number</th>
                <th>Cheque No</th>
                <th>Member</th>
                <th>Date</th>
                <th>Total</th>
                <th>More</th>
              
             
            
              </tr>
              </thead>
              <tbody>
                {% for slip in slips %}
              <tr>
                <td>{{slip.number }}</td>
                <td>{{ slip.cheque_number }}</td>
                <td>
                  {{ slip.member }}
                </td>
                <td>
                  {{ slip.date_created }}
                </td>
                <td>{{slip.total | intcomma}}</td>
           
                  <td>   <a href="{% url 'member_end_transaction' pk=slip.id %}" class="btn btn-sm btn-info"> View  </a></td>
               
             
                </tr>

              {% endfor %}
  







          
              </tbody>
         
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>




  

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

  {% else %}


  <section class="container">
    <div class="card">
      <p>{{ slips.count }} slips</p>
    </div>
  </section>




{% endif %}







{% if group_slips.count > 0 %}
<section class="container">

    <hr>

  




    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Group Slips Search Results</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>
                        <div class="col-3">
                          <h3 class="card-title">Total Results {{ group_slips.count }}</h3>

                        </div>

                        <div class="col-3">

                          
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table  table-sm table-bordered table-striped">
              <thead class="bg-secondary">
              <tr>
                <th>Slip Number</th>
                <th>Group</th>
                <th>Financial Year</th>
                <th>Month</th>
                <th>Total</th>
                <th>Date</th>
                <th>Disbursed</th>
             
                <th>More</th>
              
             
            
              </tr>
              </thead>
              <tbody>
                {% for slip in group_slips %}
              <tr>
                <td>{{slip.number }}</td>
                <td>
                  {{ slip.group }}
                </td>
                <td> {{ slip.financial_period.name }}</td>
                <td> {{ slip.financial_month }}</td>
               
                <td>{{slip.total | intcomma}}</td>
                <td>{{ slip.date_created | date:'Y-m-d'}}</td>

           <td>

            {% if slip.disbursed %}

            <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>

            {% else %}

            {% if slip.disbursed_partial %}

            <button type="button" class="btn btn-sm btn-tertiary float-right" style="margin-right: 5px;"><i class="fas fa-strikethrough"></i></button>

            {% else %}
            <button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-times"></i></button>


            {% endif %}

            {% endif %}
             
            
           </td>
           <!-- <td>     
            {% if slip.disbursed %}

            <a class="btn btn-sm btn-secondary disabled" href="{% url 'group_slip_edit' pk=slip.id %}" disabled>
              Edit
            </a>
            {% else %}      
                  <a class="btn btn-sm btn-info" href="{% url 'group_slip_edit' pk=slip.id %}">
            Edit
          </a>
          {% endif %}
        
        </td> -->
                  <td>   <a href="{% url 'group_end_transaction' pk=slip.id %}" class="btn btn-sm btn-warning"> View  </a></td>
               
             
                </tr>

              {% endfor %}
  







          
              </tbody>
         
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

 
    <!-- /.row -->
  </section>


{% endif %}




{% if slip != None %}
<section class="content content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Slip</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">FOSA</a></li>
            <li class="breadcrumb-item active">Transaction Slip</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
       
          

          {% if messages %}
          {% for message in messages %}
          <div class="callout callout-info">
          <div class="row">

            <h5><i class="fas fa-info"></i> Note:</h5>
            {{ message }}
          </div>
        </div>

          {% endfor %}
          
        
        
        {% endif %}


          <!-- Main content -->
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> {{ request.tenant.name }}.
                  <small class="float-right"> {{ date }}</small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-4 invoice-col">
                Member Innformation
                <address>
                  <strong>{{ member.get_names }}.</strong><br>
                  <br>
                  <br>
                  Phone: {{ member.phone_number }}<br>
                  Email: {{ member.email }}
                </address>
              </div>
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
             
              </div>
          
              <!-- /.col -->
              <div class="col-sm-4 invoice-col">
                <b>Receipt No: {{ slip.slip_no }}</b><br>
                <br>
                <b>Order ID:</b> 4F3S8J<br>
                <b>Payment Due:</b> 2/22/2014<br>
                <b>Account:</b> 968-34567
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Table row -->
            <div class="row">
              <div class="col-12 table-responsive">
             

                <table class="table table-sm table-striped table-bordered  table-sm">
                  <thead class="bg-secondary">
                    <tr>
                      <th>Id</th>
                   
                      <th>Particulars</th>
      
                      <th> Account</th>
                     
                     
                      <th>Amount</th>
      
                      <th>Actual</th>
                      <th>Code </th>
                    
      
                      <th>Receving </th>
                      <th> Account</th>
                   
      
                      <th>Date </th>
                      <th>Served By</th>
                     
                      
                  </tr>
                  </thead>
                  <tbody>
      
                      {% for transaction in transactions %}
                      <tr>
      
      
                          <td> {{ transaction.id}}</td>
                    
      
      
                     
      
                          <td> {{ transaction.description}}</td>
      
      
                     
      
                          <td> {{ transaction.acc}}</td>
                     
      
                          <td> {{ transaction.amount }}</td>
      
                          <td>{{ transaction.actual_amount }}</td>
                     
                          <td> {{ transaction.code}}</td>
                    
      
      
      
                     
      
                          <td> {{ transaction.receiving_member}}</td>
                    
      
      
                          <td> {{ transaction.receiver}}</td>
                   
      
      
                          <td> {{ transaction.date}}</td>
                     
      
      
                          <td> {{ transaction.creator}}</td>
                      </tr>
      
      
      
      
      
      
                      {% endfor %}
      
               
      
      
      
      
      
      
      
      
      
                  </tbody>
            
              </table>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <div class="row">
              <!-- accepted payments column -->
              <div class="col-6">
               
              </div>
              <!-- /.col -->
              <div class="col-6">

                <div class="table-responsive">
                  <table class="table">
                    <tr>
                      <th style="width:50%">Subtotal:</th>
                      <td>$250.30</td>
                    </tr>
                    <tr>
                      <th>Tax (9.3%)</th>
                      <td>$10.34</td>
                    </tr>
                    <tr>
                      <th>Shipping:</th>
                      <td>$5.80</td>
                    </tr>
                    <tr>
                      <th>Total:</th>
                      <td>$265.24</td>
                    </tr>
                  </table>
                </div>
              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- this row will not appear when printing -->
            <div class="row no-print">
              <div class="col-12">
                <a href="invoice-print.html" target="_blank" class="btn btn-info"><i class="fas fa-print"></i> Print</a>
               
                <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                  <i class="fas fa-download"></i> Generate PDF
                </button>
              </div>
            </div>
          </div>
          <!-- /.invoice -->
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>

{% endif %}


{% endblock content %}




{% block extra_js %}



{% endblock extra_js %}





















