{% extends 'fosa/base.html' %}

{% load static %}

{% block extra_css %}

<style>
  .content {
    margin-left: 250px;
    margin-right: 250px;
  }
</style>


{% endblock extra_css %}

{% block title %}

Slip Event


{% endblock title %}


{% block active_slips %}
bg-danger
{% endblock %}
{% block content  %}

<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Slips</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Slips</li>
      </ol>
    </div>
  </div>

</section>


<section class="container">





  <hr>



    <form class="row" action="{% url 'event_reassign' %}" method='post'>

      {%  csrf_token %}

      <div class="col-12">
        <div class="card card-warning">
          <div class="card-header">
            <h3 class="card-title" >Slip Events Change</h3>
          </div>
          <div class="card-body">
            <div class="row">

              <div class="col-10">
                <label for="">Slips</label>
                <input type="text" class="form-control" name="slips" placeholder="Slips">
              </div>


              <div class="col-2 text-center">
                <br>
                <button type="submit" class="btn btn-info btn-md">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>





  <br>


</section>







{% endblock content %}




{% block extra_js %}



{% endblock extra_js %}