{% extends 'fosa/base.html' %}

{% load static %}
{% load humanize %}
{% block app %} Loan Details {% endblock app %}

{% block active_s %}
active
{% endblock active_s %}

{% block active_me %}
active
{% endblock active_me %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'search' %}">Seach Results</a></li>
<li class="breadcrumb-item"><a href="">Search</a></li>
{% endblock breadcrump %}

{% block show_s  %}
menu-open
{%  endblock show_s %}

{% block title %}

Loan Details

{% endblock title %}

{% block extra_css %}

<style>



</style>


{% endblock extra_css %}

{% block content %}


<section class="container content-header">

  <div class="row">
    <div class="col-sm-6">
      <h1>Loan Details Page</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Loan Details - Loan </li>
      </ol>
    </div>
  </div>

</section>


<section class="container">



  <hr />

  <div class="row">
    <div class="col-md-12">

      <!-- Profile Image -->
      <div class="card card-info card-outline">
        <div class="card-body box-profile">
          <div class="row">
            <div class="col-md-3">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle" src="{{ member.avatar.thumbnail.url }}"
                  alt="User profile picture">
              </div>
            </div>



            <div class="col-md-3">


              <h6 class="text-center">Member Info</h6>
              <hr>
              <p class="text-muted text-center">Name: {{ member.get_names }}</p>
              <p class="text-muted text-center">Member No: {{ member.account_number }}</p>


            </div>


            <div class="col-md-3">


              <h6 class="text-center">Member Info</h6>
              <hr>
              <p class="text-muted text-center">ID No: {{ member.id_number }}</p>
              <p class="text-muted text-center">Phone No: {{ member.phone_number }}</p>

            </div>

            <div class="col-md-3">

              <h6 class="text-center">Group Info</h6>
              <hr>
              <p class="text-muted text-center">Group: {{ member.group }}</p>
            </div>
          </div>



        </div>
      </div>


    </div>
    <div class="col-md-12" id="page">


      <div class="card">
        <div class="card-header bg-secondary ">

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Loan Details</h3>
            </div>

            <div class="col-6 text-center">

              <a href="{% url 'loan_individual_pledges_pos' pk=loan.id %}" type="button"
              class="btn btn-sm btn-info" style="margin-right: 5px;"> ReFinancing</a>

              <a href="{% url 'loan_individual_pledges_pos' pk=loan.id %}" type="button"
              class="btn btn-sm btn-danger " style="margin-right: 5px;"> Wave Interest</a>

              <a href="{% url 'loan_individual_pledges_pos' pk=loan.id %}" type="button"
              class="btn btn-sm btn-danger " style="margin-right: 5px;"> Wave Penalties</a>


              <a href="{% url 'edit_loan' pk=loan.id %}" type="button"
              class="btn btn-sm btn-danger " style="margin-right: 5px;"><i class="fas fa-pen"></i> Edit</a>
            </div>
          </div>
        </div>


        <!-- /.card-header -->
        <div class="card-body">
     
     

          <div class="row">
         


            <div class="col-md-3">


              <strong>
                <h6 class="text-center"> Loan Info</h6>
              </strong>
              <hr>
              <p class="text-muted text-center"> Principal: {{ loan.requested_amount }}</p>
              <p class="text-muted text-center">Total Interest: {{ member.account_number }}</p>


            </div>


            <div class="col-md-3">


              <h6 class="text-center">Date Info</h6>
              <hr>
              <p class="text-muted text-center">Application Date: {{ member.id_number }}</p>
              <p class="text-muted text-center">Disbursement Date: {{ member.date_disbursed }}</p>

            </div>

            <div class="col-md-3">

              <h6 class="text-center">ReFinancing Details</h6>
              <hr>
              <p class="text-muted text-center">Is Refinanced:                       {% if loan.is_approved %}
                <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i
                    class="fas fa-check"></i></button>
                {% else %}

                <button type="button" class="btn btn-sm btn-info float-right" style="margin-right: 5px;"><i
                    class="fas fa-times"></i></button>

                {% endif %}</p>
            </div>


            <div class="col-md-3">

              <h6 class="text-center">Indicators</h6>
              <hr>
              <p class="text-muted text-center">Group: {{ member.group }}</p>
            </div>
          </div>


          <br>



        </div>
        <!-- /.card-body -->
      </div>




      <div class="card">
        <div class="card-header border-transparent bg-secondary">
          <div class="row">
            <div class="col-md-6">
              <h3 class="card-title">RePayment Schedule</h3>
            </div>

            <div class="col-md-6">
              <a href="{% url 'loan_individual_pledges_pos' pk=loan.id %}" type="button"
              class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"> Wave Interests</a>
            </div>
          </div>
        </div>
 
     
            <table id="dataTable1" class="table  table-sm table-bordered table-striped">
              <thead>
                <tr>
                  <th>Repayment ID</th>
                  <th>Repayment Due Date</th>
                  <th>Principal Per Month</th>
                  <th>Interest Per Month</th>
                  <th> Total Payable</th>
                  <th>Received</th>
                  <th>Action</th>
               
                </tr>
              </thead>
              <tbody>
                {% for entry in loans_details.schedule %}
                <tr>
                  <td>{{ entry.id }}</td>
                  <td> {{ entry.date | date }}</td>
                  <td>{{ entry.amount | intcomma  }}</td>
                  <td>{{ entry.interest | intcomma }}</td>
                  <td>{{ entry.total | intcomma }}
                  </td>
                  <td>{{ entry.received }}</td>

                  <td>           {% if loan.is_approved %}
                    <button type="button" class="btn btn-sm btn-info float-right" style="margin-right: 5px;">Wave Interest</button>
                    {% else %}
    
                    <button type="button" class="btn btn-sm btn-info float-right" style="margin-right: 5px;">Wave Interest</button>
    
                    {% endif %}</td>
                </tr>
                {% endfor %}
              </tbody>
    
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th>{{loan_details.principal_total}}</th>
                  <th>{{loan_details.interest_total}}</th>
                  <th> {{loan_details.total}}</th>
                  <th></th>
               
               
                </tr>
              </tfoot>
       
            </table>
        
      
      </div>


      <div class="card">
        <div class="card-header border-transparent bg-secondary">

          <div class="row">
            <div class="col-md-6">
              <h3 class="card-title">Penalties On Interest</h3>
            </div>

            <div class="col-md-6">
              <a href="{% url 'loan_individual_pledges_pos' pk=loan.id %}" type="button"
              class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"> Wave Penalties</a>
            </div>
          </div>



        </div>
 
     
            <table id="dataTable1" class="table  table-sm table-bordered table-striped">
              <thead>
                <tr>
                  <th>Repayment ID</th>
                  <th>Repayment Due Date</th>
                  <th>Principal Per Month</th>
                  <th>Interest Per Month</th>
                  <th> Total Payable</th>
                  <th>Received</th>

                  <th>Action</th>
               
               
                </tr>
              </thead>
              <tbody>
                {% for entry in loans_details.schedule %}
                <tr>
                  <td>{{ entry.id }}</td>
                  <td> {{ entry.date | date }}</td>
                  <td>{{ entry.amount | intcomma  }}</td>
                  <td>{{ entry.interest | intcomma }}</td>
                  <td>{{ entry.total | intcomma }}
                  </td>
                  <td>{{ entry.received }}</td>

                  <td>           {% if loan.is_approved %}
                    <a href=""  class="btn btn-sm btn-info float-right" style="margin-right: 5px;">Wave Penalties</a>
                    {% else %}
    
                    <a href="" class="btn btn-sm btn-info float-right" style="margin-right: 5px;">Wave Penalties</a>
    
                    {% endif %}</td>
                </tr>
                {% endfor %}
              </tbody>
    
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th>{{loan_details.principal_total}}</th>
                  <th>{{loan_details.interest_total}}</th>
                  <th> {{loan_details.total}}</th>
                  <th></th>
               
               
                </tr>
              </tfoot>
       
            </table>
        
      
      </div>

      <div class="card">
        <div class="card-header border-transparent bg-secondary">
          <h3 class="card-title">Release Info</h3>

          <div class="card-tools">
        

            <button type="button" class="btn btn-sm btn-tool" data-card-widget="collapse">
              <i class="fas fa-minus"></i>
            </button>
        
            </button>
          </div>
        </div>


        <!-- /.card-header -->
        <div class="card-body">








          <hr>
          <div class="row text-center">

            <div class="col-12">
              <h4 class="text-center">Pipeline Status</h4>
            </div>




            <div class="col-4">
              <h6>
                <p>Approved: <small><a class="is_approved">

                      {% if loan.is_approved %}
                      <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i
                          class="fas fa-check"></i></button>
                      {% else %}

                      <button type="button" class="btn btn-sm btn-info float-right" style="margin-right: 5px;"><i
                          class="fas fa-times"></i></button>

                      {% endif %}
                    </a></small></p>
              </h6>
            </div>

            <div class="col-4">
              <h6>
                <p>Confirmed: <small><a class="is_confirmed">

                      {% if loan.is_confirmed %}
                      <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i
                          class="fas fa-check"></i></button>
                      {% else %}

                      <button type="button" class="btn btn-sm btn-info float-right" style="margin-right: 5px;"><i
                          class="fas fa-times"></i></button>

                      {% endif %}



                    </a></small></p>
              </h6>
            </div>

            <div class="col-4">
              <h6>
                <p>Disbursed: <small><a class="is_disbursed">

                      {% if loan.is_disbursed %}
                      <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i
                          class="fas fa-check"></i></button>
                      {% else %}

                      <button type="button" class="btn btn-sm btn-info float-right" style="margin-right: 5px;"><i
                          class="fas fa-times"></i></button>

                      {% endif %}


                    </a></small></p>
              </h6>
            </div>

            <!-- /.col -->
          </div>

          <hr>
          <div class="row text-center">
            <div class="col-4">
              <h6>
                <p>Approved By: <small><a class="is_approved">


                      {% if loan.is_approved %}
                      {{ loan.approving_officer }}
                      {% else %}

                      None
                      {% endif %}

                    </a></small></p>
              </h6>
            </div>

            <div class="col-4">
              <h6>
                <p>Confirmed By: <small><a class="is_confirmed">


                      {% if loan.is_confirmed %}
                      {{ loan.confirming_officer }}
                      {% else %}

                      None
                      {% endif %}




                    </a></small></p>
              </h6>
            </div>

            <div class="col-4">
              <h6>
                <p>Disbursed By: <small><a class="is_disbursed">

                      {% if loan.is_disbursed %}
                      {{ loan.disbursing_officer }}
                      {% else %}

                      None
                      {% endif %}


                    </a></small></p>
              </h6>
            </div>

            <!-- /.col -->
          </div>
          <hr>
          <div class="row text-center">
            <div class="col-4">
              <h6>
                <p>Approved On: <small><a class="is_approved">


                      {% if loan.is_approved %}
                      {{ loan.date_approved }}
                      {% else %}

                      None
                      {% endif %}

                    </a></small></p>
              </h6>
            </div>

            <div class="col-4">
              <h6>
                <p>Confirmed On: <small><a class="is_confirmed">


                      {% if loan.is_confirmed %}
                      {{ loan.date_confirmed }}
                      {% else %}

                      None
                      {% endif %}




                    </a></small></p>
              </h6>
            </div>

            <div class="col-4">
              <h6>
                <p>Disbursed On: <small><a class="is_disbursed">

                      {% if loan.is_disbursed %}
                      {{ loan.date_disbursed }}
                      {% else %}

                      None
                      {% endif %}


                    </a></small></p>
              </h6>
            </div>

            <!-- /.col -->
          </div>
          <hr>
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-5">
              <h6>
                <p>Processed By: <small><a class="processed_by">{{ loan.creator }}</a></small></p>
              </h6>
            </div>

            <div class="col-5">
              <h6>
                <p>Processed On: <small><a class="processed_by">{{ loan.date_created }}</a></small></p>
              </h6>
            </div>
            <div class="col-md-1"></div>
            <!-- /.col -->
          </div>

          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-5">
              <h6>
                <p>Modified By: <small><a class="processed_by"> {{ loan.modified_by }} </a></small></p>
              </h6>
            </div>

            <div class="col-5">
              <h6>
                <p>Modified On: <small><a class="processed_by">{{ loan.date_modified }}</a></small></p>
              </h6>
            </div>
            <div class="col-md-1"></div>
            <!-- /.col -->
          </div>
          <hr>
          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-12">
              <a href="" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>

              <!-- <button type="button" class="btn btn-info float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i>Approve
                  </button> -->
            </div>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>


  <!-- /.row -->
</section>






{% endblock content %}







{% block extra_js %}



{% endblock extra_js %}