{% extends 'fosa/base.html' %}

{% load static %}
{% load humanize %}
{% block app %} Loan Details {% endblock app %}

{% block active_s %}
active
{% endblock active_s %}

{% block active_me %}
active
{% endblock active_me %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'search' %}">Wave Interest</a></li>
<li class="breadcrumb-item"><a href="">Search</a></li>
{% endblock breadcrump %}

{% block show_s  %}
menu-open
{%  endblock show_s %}

{% block title %}

Wave Interest

{% endblock title %}

{% block extra_css %}

<style>



</style>


{% endblock extra_css %}

{% block content %}


<section class="container content-header">

  <div class="row">
    <div class="col-sm-6">
      <h1>Loan Details Page</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Loan Details - Loan </li>
      </ol>
    </div>
  </div>

</section>


<section class="container">



  <hr />

  <div class="row">

    <div class="col-md-12" id="page">


      <div class="card">
        <div class="card-header bg-secondary ">
          

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Loan Details</h3>
            </div>

            <div class="col-6 text-center">




              <a href="{% url 'loan_details_pos' pk=loan.id %}" type="button"
              class="btn btn-sm btn-danger " style="margin-right: 5px;"><i class="fas fa-pen"></i> Loan Details</a>
            </div>
          </div>
        </div>


        <!-- /.card-header -->
        <div class="card-body">
     
          <div class="col-md-12">

  
                <div class="row">
                  <div class="col-md-3">
                    <div class="text-center">
                      <img class="profile-user-img img-fluid img-circle" src="{{ member.avatar.thumbnail.url }}"
                        alt="User profile picture">
                    </div>
                  </div>
      
      
      
                  <div class="col-md-3">
      
      
                    <h6 class="text-center">Member Info</h6>
                    <hr>
                    <p class="text-muted text-center">Name: {{ member.get_names }}</p>
                    <p class="text-muted text-center">Member No: {{ member.account_number }}</p>
      
      
                  </div>
      
      
                  <div class="col-md-3">
      
      
                    <h6 class="text-center">Member Info</h6>
                    <hr>
                    <p class="text-muted text-center">ID No: {{ member.id_number }}</p>
                    <p class="text-muted text-center">Phone No: {{ member.phone_number }}</p>
      
                  </div>
      
                  <div class="col-md-3">
      
                    <h6 class="text-center">Group Info</h6>
                    <hr>
                    <p class="text-muted text-center">Group: {{ member.group }}</p>
                  </div>
                </div>
      
      
      
        
      
      
          </div>

          <div class="row">
         


            <div class="col-md-3">


              <strong>
                <h6 class="text-center"> Loan Info</h6>
              </strong>
              <hr>
              <p class="text-muted text-center"> Principal: {{ loan.requested_amount }}</p>
              <p class="text-muted text-center">Total Interest: {{ member.account_number }}</p>


            </div>


            <div class="col-md-3">


              <h6 class="text-center">Date Info</h6>
              <hr>
              <p class="text-muted text-center">Application Date: {{ member.id_number }}</p>
              <p class="text-muted text-center">Disbursement Date: {{ member.date_disbursed }}</p>

            </div>

            <div class="col-md-3">

              <h6 class="text-center">ReFinancing Details</h6>
              <hr>
              <p class="text-muted text-center">Is Refinanced:                       {% if loan.is_approved %}
                <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i
                    class="fas fa-check"></i></button>
                {% else %}

                <button type="button" class="btn btn-sm btn-info float-right" style="margin-right: 5px;"><i
                    class="fas fa-times"></i></button>

                {% endif %}</p>
            </div>


            <div class="col-md-3">

              <h6 class="text-center">Indicators</h6>
              <hr>
              <p class="text-muted text-center">Group: {{ member.group }}</p>
            </div>
          </div>


          <br>



        </div>
        <!-- /.card-body -->
      </div>





      <div class="card">
        <div class="card-header border-transparent bg-secondary">
          <div class="row">
            <div class="col-md-6">
              <h3 class="card-title">RePayment Schedule</h3>
            </div>

            <div class="col-md-6">
          
            </div>
          </div>
        </div>
 
     
            <table id="dataTable1" class="table  table-sm table-bordered table-striped">
              <thead>
                <tr>
                  <th>Repayment ID</th>
                  <th>Repayment Due Date</th>
                  <th>Principal Per Month</th>
                  <th>Interest Per Month</th>
                  <th> Total Payable</th>
                  <th>Received</th>
                  <th>Action</th>
               
                </tr>
              </thead>
              <tbody>
                {% for entry in loans_details.schedule %}
                <tr>
                  <td>{{ entry.id }}</td>
                  <td> {{ entry.date | date }}</td>
                  <td>{{ entry.amount | intcomma  }}</td>
                  <td>{{ entry.interest | intcomma }}</td>
                  <td>{{ entry.total | intcomma }}
                  </td>
                  <td>{{ entry.received }}</td>

                  <td>           {% if loan.is_approved %}
                    <button type="button" class="btn btn-sm btn-info float-right" style="margin-right: 5px;">Wave Interest</button>
                    {% else %}
    
                    <button type="button" class="btn btn-sm btn-info float-right" style="margin-right: 5px;">Wave Interest</button>
    
                    {% endif %}</td>
                </tr>
                {% endfor %}
              </tbody>
    
              <tfoot>
                <tr>
                  <th></th>
                  <th></th>
                  <th>{{loan_details.principal_total}}</th>
                  <th>{{loan_details.interest_total}}</th>
                  <th> {{loan_details.total}}</th>
                  <th></th>
               
               
                </tr>
              </tfoot>
       
            </table>
        
      
      </div>


 
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>


  <!-- /.row -->
</section>






{% endblock content %}







{% block extra_js %}



{% endblock extra_js %}