{% extends 'main/sub_base.html' %}
{% load static %}

{% block title %}
Listings
{% endblock title %}
{% block active_item_home %}
active
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">

<style>
    
    .s002 {

        min-height: 5vh;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
      background: none;
            background-position-x: 0%;
            background-position-y: 0%;
            background-size: auto;
        background-size: cover;
        background-position: center center;
        border-bottom: 1px solid black;
       
       
    
    }

    .s002 form .inner-form {

        padding: 0;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
    
    }


    .s002 form .inner-form {

        padding: 0;
        display: -ms-flexbox;
        display: flex;
        width: 100%;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-align: center;
        align-items: center;
        border: 1 solid grey !important;
    
    }

    .s002 form .inner-form .input-field input {

        height: 40px;
        background: 
    
    #fff;
    
    border-radius: 0;
    
    border: 0;
    
    display: block;
    
    width: 100%;
    
    padding: 10px 20px 10px 45px;
    
    font-size: 16px;
    
    color:
    
        #555;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
    
    }

    .s002 form .inner-form .input-field.fifth-wrap .btn-search {

        height: 40px;
        width: 100%;
        background: 
    
    #ffc107;
    
    white-space: nowrap;
    
    border-radius: .5px;
    
    font-size: 20px;
    
    color:
    
        #fff;
        transition: all .2s ease-out, color .2s ease-out;
        border: 0;
        cursor: pointer;
        font-weight: 400;
        font-family: 'Poppins', sans-serif;
    
    }


    .s002 form .inner-form .input-field input {

      height: 40px;
      background: #fff;
      border-radius: 0;
      border: 0;
      display: block;
      width: 100%;
      padding: 10px 20px 10px 45px;
      font-size: 16px;
      color: black;
      font-weight: 600;
      font-family: 'Poppins', sans-serif;
  
  }
</style>

{% endblock extra_css %}



{% block inner_content %}


<div class="s002 container" >
    <form action="/" method="GET">
    
      <div class="inner-form">
        <div class="input-field first-wrap">
       
          <input id="search" type="text" placeholder="What are you looking for?" />
         
        </div>
        <div class="input-field second-wrap">
        
          <input class="datepicker" id="depart" type="text" placeholder="Apartment Size" />
        </div>
        <div class="input-field third-wrap">
       
          <input class="datepicker" id="return" type="text" placeholder="Agent Name" />
        </div>
        <div class="input-field fouth-wrap">
            <input id="Town" type="text" placeholder="town" />
     
        </div>
        <div class="input-field fifth-wrap">
          <button class="btn-search btn btn-success">SEARCH</button>
        </div>
      </div>
    </form>
  </div>


  <section class="content container">

    <!-- Default box -->
    <div class="card mt-5 mr-5 ml-5 mb-5">
      <div class="card-header bg-warning">
        <h3 class="card-title">Results Found</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            </button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
            </button>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">
            <div class="row">
              <div class="col-12 col-sm-3">
                <div class="info-box bg-primary">
                  <div class="info-box-content">
                    <span class="info-box-text text-center">Rent Range</span>
                    <span class="info-box-number text-center mb-0"> Ksh: 3000</span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Rent Range</span>
                    <span class="info-box-number text-center text-muted mb-0"> Ksh: 10000</span>
                  </div>
                </div>
              </div>
              <div class="col-12 col-sm-3">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Rent Range</span>
                    <span class="info-box-number text-center text-muted mb-0">Below Ksh: 50000 <span>
                  </div>
                </div>
              </div>

              <div class="col-12 col-sm-3">
                <div class="info-box bg-light">
                  <div class="info-box-content">
                    <span class="info-box-text text-center text-muted">Rent Range</span>
                    <span class="info-box-number text-center text-muted mb-0">Above  Ksh: 50000<span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h4>Results</h4>
                  <div class="post">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="{% static 'dist/img/user1-128x128.jpg' %}" alt="user image">
                      <span class="username">
                        <a href="#">Jonathan Burke Jr.</a>
                      </span>
                      <span class="description">Shared publicly - 7:45 PM today</span>
                    </div>
                    <!-- /.user-block -->
                    <p>
                      Lorem ipsum represents a long-held tradition for designers,
                      typographers and the like. Some people hate it and argue for
                      its demise, but others ignore.
                    </p>

                    <p>
                      <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 1 v2</a>
                    </p>
                  </div>

                  <div class="post clearfix">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="../../dist/img/user7-128x128.jpg" alt="User Image">
                      <span class="username">
                        <a href="#">Sarah Ross</a>
                      </span>
                      <span class="description">Sent you a message - 3 days ago</span>
                    </div>
                    <!-- /.user-block -->
                    <p>
                      Lorem ipsum represents a long-held tradition for designers,
                      typographers and the like. Some people hate it and argue for
                      its demise, but others ignore.
                    </p>
                    <p>
                      <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 2</a>
                    </p>
                  </div>

                  <div class="post">
                    <div class="user-block">
                      <img class="img-circle img-bordered-sm" src="../../dist/img/user1-128x128.jpg" alt="user image">
                      <span class="username">
                        <a href="#">Jonathan Burke Jr.</a>
                      </span>
                      <span class="description">Shared publicly - 5 days ago</span>
                    </div>
                    <!-- /.user-block -->
                    <p>
                      Lorem ipsum represents a long-held tradition for designers,
                      typographers and the like. Some people hate it and argue for
                      its demise, but others ignore.
                    </p>

                    <p>
                      <a href="#" class="link-black text-sm"><i class="fas fa-link mr-1"></i> Demo File 1 v1</a>
                    </p>
                  </div>
              </div>
            </div>
          </div>
        
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

  </section>




{% endblock inner_content %}

