{% extends 'dashboard_base.html' %}

{% load static %}

{% load humanize %}
{% block app %} Finance {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loc_list' %}">Line Of Credit</a></li>
<li class="breadcrumb-item"><a href="{% url 'loc_list' %}">List</a></li>
{% endblock breadcrump %}

{% block active_finance %}
active
{% endblock active_finance %}


{% block show_finance  %}
menu-open
{%  endblock show_finance %}
{% block title %}

Line Of Credit

{% endblock title %}

{% block active_loc %}
      active    
{% endblock active_loc %}


{% block active_finance_pri %}
          active
              {% endblock active_finance_pri %}


              {% block show_finance_pri %}
          menu-open
              {% endblock show_finance_pri %}

{% block dashboard_content %}

{% if perms.chartsoa.read_account %}
<section class="content">
  <div class="row">
    <div class="col-12">


      <div class="card card-sm">
        <div class="card-header mb-1 bg-info">

          <div class="row d-flex justify-content-center">
            <div class="col-6">
              <h3 class="card-title">Line Of Credit</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

                <div class="col-6">
                  <a href="{% url 'loc_aoe' %}" class="btn btn-sm btn-warning"> Add New</a>
               
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="dataTable1" class="table  table-sm table-bordered table-striped">
            <thead class="bg-info">
              <tr>
                <th>Title</th>
                <th>Code</th>
                <th> Initial Amount</th>
                <th>Remainder</th>
                <!-- <th>Anticipated Amount</th> -->
                <th>Year</th>
                <th>Month</th>
                <th>Modified By</th>
                <th>Date Modified</th>
                <th>Banking</th>
                <th>Financing</th>
                <th>Movement</th>
                <th>Edit</th>
             
              </tr>
            </thead>
            <tbody>

              {% for account in accounts %}
              <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.code }}</td>
                <td>{{ account.initial_amount | intcomma }}
                </td>
                <td>{{ account.remainder_amount | intcomma }}</td>
                <!-- <td> 
                  
                  {{ account.anticipated_remainder_amount }}
                </td> -->
            
                <td> {{ account.financial_year }}</td>
                <td>{{ account.financial_month }}</td>
                <td> {{ account.modified_by }}</td>
                <td> {{ account.date_modified }}</td>

                {% if account.is_cash %}
                <td><a href="{% url 'loc_banking' pk=account.id %}" class="btn btn-sm btn-warning"> Banking </a></td>

                {% else %}
                <td class="no-print"><a href="{% url 'loc_banking' pk=account.id %}" class="btn btn-sm btn-warning"> Cash From Bank </a></td>

                {% endif %}
               
                <td> <a href="{% url 'loc_finance' pk=account.id %}" class="btn btn-sm btn-warning"> Financing </a></td>
                <td> <a href="{% url 'loc_details' pk=account.id %}" class="btn btn-sm btn-warning"> Movement </a></td>
                <td> <a href="{% url 'loc_edit' pk=account.id %}" class="btn btn-sm btn-success"> Edit </a></td>
              </tr>
              {% endfor %}







            </tbody>
            <tfoot>

              <tr>
                <th>Title</th>
                <th>Code</th>
                <th> Initial Amount</th>
                <th>Remainder</th>
                <!-- <th>Anticipated Amount</th> -->
                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
                <th>Banking</th>
                <th>Financing</th>
                <th>Movement</th>
                <th>Edit</th>
             
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% else %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>404 Error Page</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">404 Error Page</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-info">404</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-danger"></i> You do not have permissions to view.</h3>

      <p>
    Contact Administrator
      </p>


    </div>
  </div>
  <!-- /.error-page -->

</section>
{% endif %}
{% endblock dashboard_content %}