{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Bulk Sms {% endblock app %}
{% block active_sms %}
active
{% endblock active_sms %}
{% block active_gate %}
active
{% endblock active_gate %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'gateway' %}">Bulk Sms Gateway Setup</a></li>
<li class="breadcrumb-item"><a href="{% url 'gateway' %}">Bulk Sms Gateway Setup</a></li>
{% endblock breadcrump %}

{% block show_sms  %}
menu-open
{%  endblock show_sms %}

{% block title %}

Dashboard Bulk Sms 

{% endblock title %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">


      <div class="card">
        <div class="card-header bg-info">

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Manage Operations Easily</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

               
              </div>


            </div>

            <div class="col-12">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                      <h3 class="card-title">
                        <i class="fas fa-edit"></i>
                        Day Operations
                      </h3>
                    </div>
                    <div class="card-body">
                    
                     
                      <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-overlay">
                        Run Today's End Of Day Operations
                      </button>

                      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal-info">
                        Run A Different Day End Of Day Operations
                      </button>

                      <div class="text-muted mt-3">
                        Running Operations for the current month moves your system to the next month in the fiscal period and prepares everything needed for the that month.

                        Running Operations for the last month of the year moves your system to the next financial year. You can always System settings <a href="{{ year }}">Here</a>

                       </a>
                      </div>
                    </div>
                    <!-- /.card -->
                  </div>
            </div>
          </div>



        </div>
        <!-- /.card-header -->
        <div class="card-body">

           
       
        </div>



        <div class="modal modal-warning fade" id="modal-overlay">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="overlay d-flex justify-content-center align-items-center">
                    <i class="fas fa-2x fa-sync fa-spin"></i>
                </div>
                <div class="modal-header">
                  <h4 class="modal-title">Default Modal</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>


          <div class="modal fade" id="modal-info">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Default Modal</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>



          <div class="modal fade" id="modal-success">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Default Modal</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>One fine body&hellip;</p>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}