{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Reports {% endblock app %}
{% load widget_tweaks %}
{% load humanize %}


{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'cashbook' %}">Cash Book</a></li>
<li class="breadcrumb-item"><a href="{% url 'cashbook' %}">Cash Book</a></li>
{% endblock breadcrump %}
{% block active_running_cashbook_pri %}
active
{% endblock active_running_cashbook_pri %}
{% block active_finance_pri %}
active
{% endblock active_finance_pri %}


{% block show_finance_pri %}
menu-open
{% endblock show_finance_pri %}

{% block active_finance %}
active
{% endblock active_finance %}


{% block show_finance  %}
menu-open
{%  endblock show_finance %}

{% block title %}

 Running Cash Book

{% endblock title %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info">
          <div class="row">
            <div class="col-md-3">
              <h3 class="card-title">Running Cash Book</h3>

            </div>
            <div class="col-md-9">

            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" id="page">
          <div class="invoice p-3 mb-3">
            <!-- title row -->




            <div class="row">
              <div class="col-12 table-responsive">
                <div class="row">

                  <div class="col-6">
                    <h2>
                      <i class="fas fa-globe"></i> Thanns Sacco.


                    </h2>
                    <br>
                  </div>
                  <div class="col-6">
                    <h5>
                      CashBook
                      <small class="float-right"></small>
                    </h5>
                    <h5>
                      Month: {{ month.name }} - Year: {{ period.name }}
                      <small class="float-right"></small>
                    </h5>
                  </div>

                  <!-- /.col -->
                </div>



                <table id="dataTable" class="table  table-sm table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Date </th>
                      <th colspan="5"></th>



                      <th colspan="3">Cash</th>
                      <th></th>
                      <th colspan="3">Bank</th>


                      <th class="no-print"></th>





                      <th class="no-print">Processed</th>


                    </tr>
                    <tr>
                      <th>Date </th>
                      <th>Id</th>

                      <th>Description</th>
                      <!-- <th> Group</th> -->
                      <th> P.V</th>

                      <th> Vote</th>
                      <th> CHQ</th>
                      <th>Receipts</th>
                      <th>Payments</th>



                      <th>Balance</th>
                      <th></th>


                      <th>Receipts</th>
                      <th>Payments</th>



                      <th>Balance</th>
                      <th class="no-print"></th>

                      <th class="no-print">Processed</th>


                    </tr>
                  </thead>
                  <tbody>

                    {% for transaction in transactions %}
                    <tr>

                      <td>{{ transaction.transaction.date |date:'Y-m-d' }} </td>


                      <td> {{ transaction.id}}</td>

                      <td>{{ transaction.description }}</td>

                      <!-- <td> {{ transaction.transaction.group.group_name }}     </td> -->
                      <td> {{ transaction.transaction.expense.pv_number_ }}</td>
                      <td> {{ transaction.transaction.type.vote_h }}</td>
                      <td> {{ transaction.transaction.slip.cheque_number}}</td>

                      {% if transaction.loc.is_cash %}

                      
                      <td>
                        {{ transaction.transaction.dr_amount | intcomma }}
                      </td>
                      <td>

                        {{ transaction.transaction.cr_amount | intcomma }}

                      </td>

                      <td>{{ transaction.remainder | intcomma  }}</td>

                      {% else %}

                      <td></td>
                      <td></td>
                      <td></td>
                      {% endif %}

                      <td></td>


                      {% if transaction.loc.is_bank %}

                      <td>
                        {{ transaction.transaction.dr_amount | intcomma }}
                      </td>
                      <td>

                        {{ transaction.transaction.cr_amount | intcomma }}

                      </td>

                
                      <td>{{ transaction.remainder | intcomma  }}</td>
                      {% else %}

                      <td></td>
                      <td></td>
                      <td></td>
                      {% endif %}

                      <th class="no-print"></th>

                      <td class="no-print"> {{ transaction.creator}}</td>


                    </tr>






                    {% endfor %}


                  </tbody>

                  <tfoot class="">
                    <tr>
                      <th> </th>
                      <th colspan="5">Totals</th>


                      <th>{{ dr_cash.transaction__cr_amount__sum | intcomma}}</th>
                      <th>{{ cr_cash.transaction__dr_amount__sum | intcomma }}</th>

                      <th></th>
                      <th></th>
                      <th>{{ cr_bank.transaction__cr_amount__sum | intcomma}}</th>
                      <th>{{ dr_bank.transaction__dr_amount__sum | intcomma }}</th>
                      <th></th>


                      <th class="no-print"></th>





                      <th class="no-print">Processed By</th>


                    </tr>

                    <tr>
                      <th> </th>
                      <th colspan="5">Balances</th>



                      <th></th>
                      <th></th>
                      <th>{{ cash.remainder_amount | intcomma }}</th>
                      <th></th>
                      <th></th>
                      <th></th>
                      <th>{{ bank.remainder_amount | intcomma}}</th>


                      <th class="no-print"></th>





                      <th class="no-print">Processed By</th>


                    </tr>
                  </tfoot>

                </table>

              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->



          </div>





        </div>

      </div>

    </div>

  </div>

  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">

      <div class="modal-content">

      </div>

      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.row -->
</section>





{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}