{% extends 'dashboard_base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% block app %} Finance {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'coa_list' %}">Chart Of Accounts</a></li>
<li class="breadcrumb-item"><a href="">Details</a></li>
{% endblock breadcrump %}


{% block active_finance %}
active
{% endblock active_finance %}


{% block show_finance  %}
menu-open
{%  endblock show_finance %}
{% block title %}

Dashboard Finance 

{% endblock title %}

{% block active_coa %}
      active    
{% endblock active_coa %}


{% block active_finance_pri %}
          active
              {% endblock active_finance_pri %}


              {% block show_finance_pri %}
          menu-open
              {% endblock show_finance_pri %}

{% block dashboard_content %}





<section class="content" id="page">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header">
        <div class="col-md-5">
          <h3 class="card-title">Charts Of Account</h3>
        </div>
        <div class="col-md-6">
       
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="dataTable" class="table  table-sm table-bordered table-striped">
            <thead class="bg-warning">
              <tr>
                <th>Name</th>
                <th> Account Type</th>
                <th>Description</th>
                <th>Opening Balance</th>
                <th>Remainder Balance</th>
                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
                <th>Edit</th>


           
             
              </tr>
            </thead>
            <tbody>

              {% for account in accounts %}
              <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.type.title }}
                </td>
                <td>{{ account.description }}</td>
                <td> {{ account.opening_balance | intcomma }} </td>
                <td> {{ account.balance  | intcomma  }} </td>
                <td> {{ account.creator.phone_number }}</td>
                <td>{{ account.date_created }}</td>
                <td> {{ account.modified_by }}</td>
                <td> {{ account.date_modified }}</td>
                <td> <a href="{% url 'coa_edit' pk=account.id %}" class="btn btn-sm btn-success"> Edit </a></td>
              </tr>
              {% endfor %}







            </tbody>



          </table>
      </div>
      <!-- /.card-body -->
    </div>
</div>



<div class="container-fluid">

  <div class="card">
    <div class="card-header">
      <div class="col-md-5">
        <h3 class="card-title">Account Movements</h3>
      </div>
      <div class="col-md-6">
     
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="dataTable" class="table  table-sm table-bordered table-striped">
          <thead class="bg-info">

            <tr>
              <th colspan="5"></th>
   
         
              <th colspan="2"></th>

              <th colspan="2"></th>
              <th colspan="3"></th>
             
              
          </tr>
            <tr>

              <th>Date</th>
              <th>Tranaction Id</th>
              <th> Group</th>
              <th> Slip</th>

              <th> Account</th>

              <th>Vote</th>
              <th>CHQ No</th>
              <th>Debits</th>
              <th>Credits</th>
          

              <th>Balance</th>
         


              
              <th>Processed By</th>
             
              
          </tr>
          </thead>
          <tbody>

              {% for transaction in events %}
              <tr>


<td>  {{ transaction.transaction.date | date:'Y-m-d'}} </td>
                  <td> {{ transaction.transaction.id}}</td>
            


    
             
                  <td> {{ transaction.transaction.group}}</td>

                  <td> {{ transaction.transaction.slip.number }}</td>
             

                  <td> {{ transaction.acc}}</td>
             
                  <td> {{ transaction.transaction.type }}</td>
             

                  <td> {{ transaction.slip.cheque_number}}</td>
                  <td> 
                  
                    {{ transaction.transaction.dr_amount  | intcomma  }}
                  
                  </td>

                  <td>  
                    {{ transaction.transaction.cr_amount  | intcomma  }}
                  </td>
             

 

                  <td>{{ transaction.coa_balance  | intcomma }}</td>
         
            
           



                  <td> {{ transaction.creator}}</td>
              </tr>






              {% endfor %}


          </tbody>
          <tfoot class="">
            <tr>
              <th colspan="7">Total</th>
              <th> {{ dr.transaction__dr_amount__sum  | intcomma }}</th>
              <th>{{ cr.transaction__cr_amount__sum   | intcomma}}</th>
   
        
             
              <th colspan="2"></th>


         
           
            </tr>
          </tfoot>
      
  
      </table>
    </div>
    <!-- /.card-body -->
  </div>
</div>
</section>



<section class="content">

</section>
{% endblock dashboard_content %}



{% block extra_js %}

<script src="{% static 'js/flexmonster.js' %}"></script>



{% endblock extra_js %}











