{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Finance {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'methods_list' %}">Methods</a></li>
<li class="breadcrumb-item"><a href="{% url 'methods_list' %}">List</a></li>
{% endblock breadcrump %}

{% block active_finance %}
active
{% endblock active_finance %}


{% block show_finance  %}
menu-open
{%  endblock show_finance %}
{% block title %}

Dashboard Finance

{% endblock title %}

{% block active_mp %}
      active    
{% endblock active_mp %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">


      <div class="card">
        <div class="card-header bg-info">

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Manage Payment Methods Easily</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

                <div class="col-6">
                  <a href="{% url 'methods_aoe' %}" class="btn btn-sm btn-warning"><i class="fas fa-pen"></i> New</a>
             
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="dataTable" class="table table-bordered table-striped">
            <thead class="bg-info">
            <tr>
              <th>Method</th>
              <th>Account</th>
              <th>Created By</th>
              <th>Date Created</th>
              <th>Modified By</th>
              <th>Date Modified</th>
              <th>Edit</th>

              <!-- <th>Delete</th> -->
            </tr>
            </thead>
            <tbody>

              {% for method in methods %}
            <tr>
              <td>{{ method.name }}</td>
              <td>
                {{ method.account.name }}
              </td>
              <td>{{ method.creator }}</td>
              <td>  {{ method.date_created }}</td>
              <td> {{ method.modified_by }}</td>
              <td>{{ method.date_modified }}</td>
               
              <td>   <a href="{% url 'methods_edit' pk=method.id %}" class="btn btn-sm btn-success"> Edit </a></td>
              <!-- <td>   <a href="" class="btn btn-sm btn-danger"> Delete  </a></td> -->
            </tr>

            {% endfor %}
        
        
            </tbody>
            <tfoot>
              <tr>
                <th>Method</th>
                <th>Account</th>
                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
                <th>Edit</th>
  
                <!-- <th>Delete</th> -->
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}