{% extends 'dashboard_base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% block app %} Reports {% endblock app %}

{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'surplus_account' %}"> Surplus And Loss Account</a></li>
<li class="breadcrumb-item"><a href="{% url 'surplus_account' %}"> Surplus And Loss Account</a></li>
{% endblock breadcrump %}
{% block active_running_surplusandlossacc_pri %}
active
{% endblock active_running_surplusandlossacc_pri %}
{% block active_finance_pri %}
          active
              {% endblock active_finance_pri %}


              {% block show_finance_pri %}
          menu-open
              {% endblock show_finance_pri %}

              {% block active_finance %}
              active
              {% endblock active_finance %}
              
              
              {% block show_finance  %}
              menu-open
              {%  endblock show_finance %}

{% block title %}

 Surplus And Loss Account

{% endblock title %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info">
          <div class="row">
            <div class="col-md-3">
              <h3 class="card-title">Surplus And Loss Account</h3>

            </div>
            <div class="col-md-9">

            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" id="page">
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-1">

              </div>
              <div class="col-5">
                <h2>
                  <i class="fas fa-globe"></i> Thanns Sacco.

              
                </h2>
                <br>
              </div>
              <div class="col-5">
                <h5>
                  Surplus And Loss Account
                  <small class="float-right"></small>
                </h5>
              </div>
              <div class="col-1">
              
              </div>
              <!-- /.col -->
            </div>




            <div class="row mt-0">

       
              <div class="col-12">


                <table class="table table-striped table-bordered  table-sm">
                  <thead class="bg-secondary">
                    <tr>


                      <th>Account</th>

                      <th> Vote</th>


                      <th>Amount</th>

                      <th>Budgeted</th>

                      <th>Variance</th>



                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td colspan="5">
                        <h4>INCOME</h4>
                      </td>
                    </tr>

                    {% for transaction in income_list %}
                    <tr>

                      <td>{{ transaction.event.title }}</td>
                      <td>{{ transaction.event.vote }}</td>
                      <td>{{ transaction.balance | intcomma }}</td>
                      <td>{{ transaction.estimate | intcomma }}</td>
                      <td>{{ transaction.variance  | intcomma }}</td>

                    </tr>
                    {% endfor %}

                    <tr>
                      <td colspan="2">
                        <h5>Totals</h5>
                      </td>
                      <td>
                        {{ income_total | intcomma  }}
                      </td>
                      <td>
                          {{ income_budget_total | intcomma }}
                      </td>
                      <td>
                          {{ income_variance_total | intcomma }}
                      </td>
                    </tr>


                    <br>
                    <tr>
                      <td colspan="5">
                        <h4>Expenditure</h4>
                      </td>
                    </tr>
                    <br>

                    {% for transaction in expenses %}
                    <tr>

                      <td>{{ transaction.event.title }}</td>
                      <td>{{ transaction.event.vote }}</td>
                      <td>{{ transaction.balance | intcomma }}</td>
                      <td>{{ transaction.estimate | intcomma }}</td>
                      <td>{{ transaction.variance  | intcomma }}</td>
                    </tr>
                    {% endfor %}

                    <tr>
                      <td colspan="2">
                        <h5>Totals</h5>
                      </td>
                      <td>
                        {{ expenses_total | intcomma  }}
                      </td>
                      <td>
                          {{ expenses_budget_total | intcomma }}
                      </td>
                      <td>
                          {{ expenses_variance_total | intcomma }}
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>


                      <th>Surplus</th>

                      <th> </th>

                      <th>

                      </th>

                      <th>

                      </th>

                      <th></th>


           



                    </tr>
                  </tfoot>

                </table>
              </div>

              <div class="col-1">

              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->



          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>

  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">

      <div class="modal-content">

      </div>

      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}