{% extends 'dashboard_base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% block app %} Reports {% endblock app %}
{% block active_reports %}
active
{% endblock active_reports %}
{% block active_trial_balance %}
active
{% endblock active_trial_balance %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'trial_balance' %}">Trial Balance</a></li>
<li class="breadcrumb-item"><a href="{% url 'trial_balance' %}">Trial Balance</a></li>
{% endblock breadcrump %}

{% block show_reports  %}
menu-open
{%  endblock show_reports %}

{% block title %}

 Trial Balance

{% endblock title %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info">
          <div class="row">
            <div class="col-md-3">
              <h3 class="card-title">Trial Balance</h3>

            </div>
            <div class="col-md-9">
              <form class="" action="{% url 'trial_balance' %}" method="post">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                  {{ error }}
                  {% endfor %}
                </div>
                {% endif %}


                <div class="row">



                  {% for field in form.visible_fields %}

                  <div class="col-md-2">
                    {{ field.label_tag }}

                  </div>
                  <div class="col-md-3">
                    <div class="form-group">

                      {% if form.is_bound %}
                      {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                      <div class="invalid-feedback">
                        {{ error }}
                      </div>
                      {% endfor %}
                      {% else %}
                      {% render_field field class="form-control is-valid" %}
                      {% endif %}
                      {% else %}
                      {% render_field field class="form-control" %}
                      {% endif %}

                      {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}

                  <div class="col-md-2">
                    <button class="btn btn-primary" type="submit">Generate</button>
                  </div>



                </div>

              </form>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" id="page">
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-1">

              </div>
              <div class="col-5">
                <h2>
                  <i class="fas fa-globe"></i> Thanns Sacco.

              
                </h2>
                <br>
              </div>
              <div class="col-5">
                <h5>
                  Trial Balance
                  <small class="float-right"></small>
                </h5>
              </div>
              <div class="col-1">
              
              </div>
              <!-- /.col -->
            </div>



<div class="container">
  <div class="row">

     
    <div class="col-12">


      <table class="table table-striped table-bordered  table-sm">
        <thead class="bg-secondary">
          <tr>


            <th>Details</th>

            <th> Folio</th>


            <th>Dr</th>

            <th>Cr</th>



          </tr>
        </thead>
        <tbody>

          {% for account in accounts %}
          <tr>

            <td>{{ account.name }}</td>
            <td>{{ account.transaction_type.vote_h }}</td>

            {% if account.transaction_type.is_expense %}
            <td> {{ account.balance | intcomma }}</td>
            <td></td>
            {% endif %}


            {% if account.transaction_type.is_income %}
            <td> {{ account.balance | intcomma }}</td>
            <td></td>
            {% endif %}
 

          </tr>
          {% endfor %}


  





        </tbody>
        <tfoot>
          <tr>


            <th>Totals</th>

            <th> </th>

            <th>{{ expenses_total | intcomma  }}</th>

            <th>{{ income_total | intcomma  }}</th>


 



          </tr>
        </tfoot>

      </table>
    </div>

  
    <!-- /.col -->
  </div>
</div>

            <!-- /.row -->



          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>

  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">

      <div class="modal-content">

      </div>

      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}