{% extends 'dashboard_base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% block app %} Finance {% endblock app %}

{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'trial_balance' %}">Trial Balance</a></li>
<li class="breadcrumb-item"><a href="{% url 'trial_balance' %}">Trial Balance</a></li>
{% endblock breadcrump %}

{% block active_running_trialbalance_pri %}
active
{% endblock active_running_trialbalance_pri %}
{% block active_finance_pri %}
active
{% endblock active_finance_pri %}


{% block show_finance_pri %}
menu-open
{% endblock show_finance_pri %}

{% block active_finance %}
active
{% endblock active_finance %}


{% block show_finance  %}
menu-open
{%  endblock show_finance %}

{% block title %}

Running Trial Balance

{% endblock title %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info">
          <div class="row">
            <div class="col-md-3">
              <h3 class="card-title">Trial Balance</h3>

            </div>
            <div class="col-md-9">

            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" id="page">
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-1">

              </div>
              <div class="col-5">
                <h2>
                  <i class="fas fa-globe"></i> Thanns Sacco.


                </h2>
                <br>
              </div>
              <div class="col-5">
                <h5>
                  Trial Balance
                  <small class="float-right"></small>
                </h5>
              </div>
              <div class="col-1">

              </div>
              <!-- /.col -->
            </div>



            <div class="container-fluid">
              <div class="row">


                <div class="col-12">


                  <table class="table table-striped table-bordered  table-sm">
                    <thead class="bg-secondary">
                      <tr>


                        <th>Details</th>

                        <th> Folio</th>


                        <th>Dr</th>

                        <th>Cr</th>



                      </tr>
                    </thead>
                    <tbody>

                      {% for transaction in income %}
                      <tr>

                        <td>{{ transaction.event.title }}</td>
                        <td>{{ transaction.event.vote }}</td>
                        <td></td>
                        <td>{{ transaction.account.balance | intcomma }}</td>


                      </tr>
                      {% endfor %}


                      {% for transaction in expenses %}
                      <tr>

                        <td>{{ transaction.event.title }}</td>
                        <td>{{ transaction.event.vote }}</td>
                        <td>{{ transaction.account.balance | intcomma }}</td>
                        <td></td>


                      </tr>
                      {% endfor %}





                    </tbody>
                    <tfoot>
                      <tr>


                        <th>Totals</th>

                        <th> </th>

                        <th>{{ expenses_total | intcomma  }}</th>

                        <th>{{ income_total | intcomma  }}</th>






                      </tr>
                    </tfoot>

                  </table>
                </div>


                <!-- /.col -->
              </div>
            </div>

            <!-- /.row -->



          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>


  <!-- /.row -->
</section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}