{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Reports {% endblock app %}
{% block active_reports %}
active
{% endblock active_reports %}
{% block active_aloan %}
active
{% endblock active_aloan %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="">Reports</a></li>
<li class="breadcrumb-item"><a href="{% url 'active_loans' %}">Loan Reports</a></li>
{% endblock breadcrump %}

{% block show_reports  %}
menu-open
{%  endblock show_reports %}

{% block title %}

Dashboard Reports -  Loan Reports

{% endblock title %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">


      <div class="card">
        <div class="card-header bg-info">

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Loans Reports</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-4">
                </div>

                <div class="col-4">
             
                </div>
                <div class="col-4">
             
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

          <div class="row">
            <div class="col-1">

            </div>



            <div class="col-10">
              
              <div class="row">
               


              

                
                
                 
                    <!-- SEARCH FORM -->
                    <form class="" action="{% url 'search' %}">

                      <div class="row">
                        <div class="col-3">
                          <div class="input-group input-group-md">
                          

                            <select name="" id=""  class="form-control form-control-navbar" >

                              <option value="one">Active Loans</option>
                              <option value="one">
                                Deliquent Loans
                              </option>
                         
                            </select> 
                           
                          </div>
                        </div>


                        <div class="col-3">
                          <div class="input-group input-group-md">
                            <select name="" id=""  class="form-control form-control-navbar" >

                              <option value="one">Active Loans</option>
                              <option value="one">
                                Deliquent Loans
                              </option>
                         
                            </select>                           
                          </div>


                        </div>


                        <div class="col-3">
                          <div class="input-group input-group-md">
                            <select name="" id=""  class="form-control form-control-navbar" >

                              <option value="one">Brief</option>
                              <option value="one">Detailed</option>
                              <option value="one">One</option>
                              <option value="one">One</option>
                              <option value="one">One</option>
                              <option value="one">One</option>
                            </select>                        
                          </div>


                        </div>


                        <div class="col-3">
                          <div class="input-group input-group-md">
                            <div class="input-group">
                              <button class="btn btn-navbar btn-info" type="submit">
                                <i class="fas fa-search"></i>
                              </button>
                            </div>
                          </div>


                        </div>
                      </div>


                      
                    
                    </form>
                 
                
                

              


               
                
              </div>

              <hr>
              <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                <thead class="bg-info">
                  <tr>
                    <th>Tranaction Id</th>
                    <!-- <th>Type</th> -->
                    <th> Member</th>
                    <th>Particulars</th>
    
                    <th> Account</th>
                   
                   
                    <th>Amount</th>
    
                    <th>Actual Amount</th>
                    <th>Code </th>
                    <th>Member Group</th>
    
                    <th>Receving Member</th>
                    <th>Receiving Account</th>
                 
    
                    <th>Date </th>
                    <th>Processed By</th>
                   
                    
                </tr>
                </thead>
                <tbody>
    
                    {% for transaction in transactions %}
                    <tr>
    
    
                        <td> {{ transaction.id}}</td>
                  
    
    
                        <!-- <td> {{ transaction.type}}</td> -->
                   
                        <td> {{ transaction.member}}</td>
    
                        <td> {{ transaction.description}}</td>
    
    
                   
    
                        <td> {{ transaction.acc}}</td>
                   
    
                        <td> {{ transaction.amount }}</td>
    
                        <td>{{ transaction.actual_amount }}</td>
                   
                        <td> {{ transaction.code}}</td>
                  
    
    
    
                        <td> {{ transaction.member.group }}</td>
                  
    
    
                        <td> {{ transaction.receiving_member}}</td>
                  
    
    
                        <td> {{ transaction.receiver}}</td>
                 
    
    
                        <td> {{ transaction.date}}</td>
                   
    
    
                        <td> {{ transaction.creator}}</td>
                    </tr>
    
    
    
    
    
    
                    {% endfor %}
    
             
    
    
    
    
    
    
    
    
    
                </tbody>
                <tfoot class="bg-secondary"> 
    
                    <tr>
                        <th>Tranaction Id</th>
                        <!-- <th>Type</th> -->
                        <th> Member</th>
                        <th>Particulars</th>
                        <th> Account</th>
                       
                       
                        <th>Amount</th>
                        <th>Actual Amount</th>
    
                        <th>Code </th>
                      
                        <th>Member Group</th>
    
                        <th>Receving Member</th>
                        <th>Receiving Account</th>
                     
    
                        <th>Date </th>
                        <th>Processed By</th>
                       
                        
                    </tr>
    
                </tfoot>
            </table>

            </div>


            <div class="col-1">

            </div>
          </div>
        
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>


{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}