{% extends 'dashboard_base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block app %} Reports {% endblock app %}
{% block active_reports %}
active
{% endblock active_reports %}
{% block active_group_report %}
active
{% endblock active_group_report %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'groups_reports' %}">Groups Reports</a></li>
<li class="breadcrumb-item"><a href="{% url 'groups_reports' %}">Groups Reports</a></li>
{% endblock breadcrump %}

{% block show_reports  %}
menu-open
{%  endblock show_reports %}

{% block title %}

Dashboard Reports - Trial Balance

{% endblock title %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info">
          <div class="row">
            <div class="col-3">
              <label for="">Loan Type</label>
              <div class="form-group">
                <select class="custom-select" name="scheme">
                  <option value="flat">Flat Loan</option>
                  <option value="fixed">Fixed Principal</option>
                  <option value="declining">Declining Principal</option>

                </select>
              </div>
            </div>
            <div class="col-3">
              <label for="">Amount</label>
              <input type="number" class="form-control" name="amount" placeholder="Amount">
            </div>
            <div class="col-2">
              <label for="">Interest P.M in %</label>
              <input type="number" class="form-control" name="interest" placeholder="Interest">
            </div>
            <div class="col-2">
              <label for="">Duration In Months</label>
              <input type="number" class="form-control" name="duration" placeholder="Duration">
            </div>

            <div class="col-2 text-center">
              <br>
              <button type="submit" class="btn btn-info btn-md">Calculate</button>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" id="page">
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-3">

              </div>
              <div class="col-6 text-center">
                <strong>
                  <h2>Thanns Sacco </h2>
                </strong>
                <address>
                  <strong>Trial Balance</strong><br>
                  <p>for {{ month.name }} - {{ year.name }}</p>

                </address>
              </div>
              <div class="col-3">

              </div>
              <!-- /.col -->
            </div>




            <div class="row">


              <div class="col-12">


                <table class="table table-striped table-bordered  table-sm">
                  <thead class="bg-secondary">
                    <tr>


                      <th>Account</th>

                      <th> Vote</th>


                      <th>Amount</th>

                      <th>Budgeted</th>

                      <th>Variance</th>



                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td colspan="5">
                        <h4>INCOME</h4>
                      </td>
                    </tr>

                    {% for transaction in income %}
                    <tr>

                      <td>{{ transaction.event.title }}</td>
                      <td>{{ transaction.event.vote }}</td>
                      <td>{{ transaction.received.amount__sum }}</td>
                      <td>{{ transaction.budgeted.estimate }}</td>
                      <td>{{ transaction.variance }}</td>

                    </tr>
                    {% endfor %}


                    <br>
                    <tr>
                      <td colspan="5">
                        <h4>Expenditure</h4>
                      </td>
                    </tr>
                    <br>

                    {% for transaction in expenses %}
                    <tr>

                      <td>{{ transaction.event.title }}</td>
                      <td>{{ transaction.event.vote }}</td>
                      <td>{{ transaction.received.amount__sum }}</td>
                      <td>{{ transaction.budgeted.estimate }}</td>
                      <td>{{ transaction.variance }}</td>
                    </tr>
                    {% endfor %}

                  </tbody>
                  <tfoot>
                    <tr>


                      <th>Totals</th>

                      <th> </th>


                      <th>{{ total }}</th>
                      <th>{{ budget.total }}</th>
                      <th></th>



                    </tr>
                  </tfoot>

                </table>
              </div>


            </div>
            <!-- /.row -->



          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>

  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">

      <div class="modal-content">

      </div>

      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}