{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Reports {% endblock app %}
{% load widget_tweaks %}
{% load humanize %}
{% block active_reports %}
active
{% endblock active_reports %}
{% block active_ledgers %}
active
{% endblock active_ledgers %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'ledgers' %}">Ledgers</a></li>
<li class="breadcrumb-item"><a href="{% url 'ledgers' %}">Ledger Movement</a></li>
{% endblock breadcrump %}

{% block show_reports  %}
menu-open
{%  endblock show_reports %}

{% block title %}

Dashboard Reports - Ledgers Book

{% endblock title %}

{% block dashboard_content %}

{% if perms.chartsoa.read_account %}

<section class="content" id="page">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header">
        <div class="col-md-5">
          <h3 class="card-title">Archive Charts Of Account</h3>
        </div>
        <div class="col-md-6">
       
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="dataTable" class="table  table-sm table-bordered table-striped">
            <thead class="bg-warning">
              <tr>
                <th>Name</th>
                <th> Account Type</th>
                <th>Description</th>
                <th>Opening Balance</th>
                <th>Remainder Balance</th>
                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
                <th>Edit</th>


           
             
              </tr>
            </thead>
            <tbody>

              {% for account in accounts %}
              <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.type.title }}
                </td>
                <td>{{ account.description }}</td>
                <td> {{ account.opening_balance | intcomma }} </td>
                <td> {{ account.balance  | intcomma  }} </td>
                <td> {{ account.creator.phone_number }}</td>
                <td>{{ account.date_created }}</td>
                <td> {{ account.modified_by }}</td>
                <td> {{ account.date_modified }}</td>
                <td> <a href="{% url 'coa_edit' pk=account.id %}" class="btn btn-sm btn-success"> Edit </a></td>
              </tr>
              {% endfor %}







            </tbody>



          </table>
      </div>
      <!-- /.card-body -->
    </div>
</div>



<div class="container-fluid">

  <div class="card">
    <div class="card-header">
      <div class="col-md-5">
        <h3 class="card-title">Account Movements</h3>
      </div>
      <div class="col-md-6">
     
      </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="dataTable" class="table  table-sm table-bordered table-striped">
          <thead class="bg-info">

    
            <tr>

              <th>Date</th>
              <th>Tranaction Id</th>
              <th> Group</th>
              <th> Slip</th>

              <th> Account</th>

              <th>Vote</th>
              <th>CHQ No</th>
             
              <th>Receipts</th>
              <th>Payments</th>

              <th>Balance</th>
         


              
              <th>Processed By</th>
             
              
          </tr>
          </thead>
          <tbody>

              {% for transaction in events %}
              <tr>


<td>  {{ transaction.transaction.date | date:'Y-m-d'}} </td>
                  <td> {{ transaction.transaction.id}}</td>
            


    
             
                  <td> {{ transaction.transaction.group}}</td>

                  <td> {{ transaction.transaction.slip.number }}</td>
             

                  <td> {{ transaction.acc}}</td>
             
                  <td> {{ transaction.transaction.type }}</td>
             

                  <td> {{ transaction.slip.cheque_number}}</td>
  

                  <td>  
                    {{ transaction.transaction.cr_amount  | intcomma  }}
                  </td>
             

                  <td> 
                  
                    {{ transaction.transaction.dr_amount  | intcomma  }}
                  
                  </td>

                  <td>{{ transaction.coa_balance  | intcomma }}</td>
         
            
           



                  <td> {{ transaction.creator}}</td>
              </tr>






              {% endfor %}


          </tbody>
          <tfoot class="">
            <tr>
              <th colspan="7">Total</th>
              <th>{{ cr.transaction__cr_amount__sum   | intcomma}}</th>
              <th> {{ dr.transaction__dr_amount__sum  | intcomma }}</th>
        
             
              <th colspan="2"></th>


         
           
            </tr>
          </tfoot>
      
  
      </table>
    </div>
    <!-- /.card-body -->
  </div>
</div>
</section>


{% else %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>404 Error Page</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">404 Error Page</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-info">404</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-danger"></i> You do not have permissions to view.</h3>

      <p>
    Contact Administrator
      </p>


    </div>
  </div>
  <!-- /.error-page -->

</section>
{% endif %}
{% endblock dashboard_content %}