{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Reports {% endblock app %}
{% load widget_tweaks %}
{% load humanize %}
{% block active_reports %}
active
{% endblock active_reports %}
{% block active_ledgers %}
active
{% endblock active_ledgers %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'ledgers' %}">Ledgers</a></li>
<li class="breadcrumb-item"><a href="{% url 'ledgers' %}">Ledgers</a></li>
{% endblock breadcrump %}

{% block show_reports  %}
menu-open
{%  endblock show_reports %}

{% block title %}

Dashboard Reports - Ledgers Book

{% endblock title %}

{% block dashboard_content %}

{% if perms.chartsoa.read_account %}
<section class="content">
  <div class="row" id="page">
    <div class="col-12">


      <div class="card card-sm">
        <div class="card-header bg-warning">

          <div class="row">
            <div class="col-md-3">
              <h3 class="card-title">Archives Ledgers</h3>
      
            </div>
            <div class="col-md-9">
              <form class="" action="{% url 'ledgers' %}" method="post">
                {% csrf_token %}
        
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}
        
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                  {{ error }}
                  {% endfor %}
                </div>
                {% endif %}
        
        
                <div class="row">
        
        
        
                  {% for field in form.visible_fields %}
        
                  <div class="col-md-2">
                    {{ field.label_tag }}
        
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
        
                      {% if form.is_bound %}
                      {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                      <div class="invalid-feedback">
                        {{ error }}
                      </div>
                      {% endfor %}
                      {% else %}
                      {% render_field field class="form-control is-valid" %}
                      {% endif %}
                      {% else %}
                      {% render_field field class="form-control" %}
                      {% endif %}
        
                      {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}
        
                  <div class="col-md-2">
                    <button class="btn btn-primary" type="submit">Generate</button>
                  </div>
        
        
        
                </div>
        
              </form>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" >
          <table id="dataTable" class="table  table-sm table-bordered table-striped">
            <thead >
              <tr>
                <th>Name</th>
                <!-- <th class="no-print"> Account</th> -->
                <!-- <th>Description</th> -->
                <th>Type</th>
                <th>Year</th>
                <th> Month</th>
                <th>Opening </th>
                <th>Remainder</th>
             
                <th class="no-print">Created By</th>
                <th> Created</th>
                <!-- <th>Modified By</th> -->
                <!-- <th>Date Modified</th> -->
                <th class="no-print">Movement</th>
            
             
              </tr>
            </thead>
            <tbody>

              {% for account in accounts %}
              <tr>
                <td>{{ account.name }}</td>
                <!-- <td class="no-print">{{ account.type.title }}
                </td> -->
                <!-- <td>{{ account.description }}</td> -->
                <td>{{ account.transaction_type.title }}</td>

                <td> 
                  
                  <a > {{ account.financial_year }} </a>
                
                </td>
                <td> 
                  
                  <a > {{ account.financial_month }} </a>
                
                </td>
                <td> 
                  
                  <a > {{ account.opening_balance | intcomma }} </a>
                
                </td>
                <td> 
                  
                  <a > {{ account.balance | intcomma }} </a>
                
                </td>
                <td class="no-print"> {{ account.creator.phone_number }}</td>
                <td>{{ account.date_created | date:'Y-m-d'}}</td>
                <!-- <td> {{ account.modified_by }}</td> -->
                <!-- <td> {{ account.date_modified }}</td> -->
                <td class="no-print"> <a href="{% url 'ledger_details' pk=account.id %}" class="btn btn-sm btn-warning no-print"> Movement </a></td>
               
              </tr>
              {% endfor %}







            </tbody>
            <tfoot>

              <tr>
                <th>Name</th>
                <!-- <th class="no-print"> Account</th> -->
                <!-- <th>Description</th> -->
                <th>Type</th>
                <th>Year</th>
                <th> Month</th>
                <th>Opening </th>
                <th>Remainder</th>
             
                <th class="no-print">Created By</th>
                <th> Created</th>
                <!-- <th>Modified By</th> -->
                <!-- <th>Date Modified</th> -->
                <th class="no-print">Movement</th>
            
             
              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% else %}

<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>404 Error Page</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">404 Error Page</li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="error-page">
    <h2 class="headline text-info">404</h2>

    <div class="error-content">
      <h3><i class="fas fa-exclamation-triangle text-danger"></i> You do not have permissions to view.</h3>

      <p>
    Contact Administrator
      </p>


    </div>
  </div>
  <!-- /.error-page -->

</section>
{% endif %}
{% endblock dashboard_content %}