{% extends 'dashboard_base.html' %}

{% load static %}
{% load widget_tweaks %}
{% block app %} Reports {% endblock app %}
{% block active_reports %}
active
{% endblock active_reports %}
{% block active_trial_balance %}
active
{% endblock active_trial_balance %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'trialbalance' %}">Trial Balance</a></li>
<li class="breadcrumb-item"><a href="{% url 'trialbalance' %}">Trial Balance</a></li>
{% endblock breadcrump %}

{% block show_reports  %}
menu-open
{%  endblock show_reports %}

{% block title %}

Dashboard Reports - Trial Balance

{% endblock title %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-info">
          <div class="row">
            <div class="col-md-3">
              <h3 class="card-title">Trial Balance</h3>

            </div>
            <div class="col-md-9">
              <form class="" action="{% url 'trialbalance' %}" method="post">
                {% csrf_token %}

                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}

                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                  {{ error }}
                  {% endfor %}
                </div>
                {% endif %}


                <div class="row">



                  {% for field in form.visible_fields %}

                  <div class="col-md-2">
                    {{ field.label_tag }}

                  </div>
                  <div class="col-md-3">
                    <div class="form-group">

                      {% if form.is_bound %}
                      {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                      <div class="invalid-feedback">
                        {{ error }}
                      </div>
                      {% endfor %}
                      {% else %}
                      {% render_field field class="form-control is-valid" %}
                      {% endif %}
                      {% else %}
                      {% render_field field class="form-control" %}
                      {% endif %}

                      {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}

                  <div class="col-md-2">
                    <button class="btn btn-primary" type="submit">Generate</button>
                  </div>



                </div>

              </form>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" id="page">
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-3">

              </div>
              <div class="col-6 text-center">
                <strong>
                  <h2>Thanns Sacco </h2>
                </strong>
                <address>
                  <strong>Trial Balance</strong><br>
                  <p>for {{ month.name }} - {{ year.name }}</p>

                </address>
              </div>
              <div class="col-3">

              </div>
              <!-- /.col -->
            </div>




            <div class="row">

              <div class="col-1">

              </div>
              <div class="col-10">


                <table class="table table-striped table-bordered  table-sm">
                  <thead class="bg-secondary">
                    <tr>


                      <th>Account</th>

                      <th> Vote</th>


                      <th>Amount</th>

                      <th>Budgeted</th>

                      <th>Variance</th>



                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td colspan="5">
                        <h4>INCOME</h4>
                      </td>
                    </tr>

                    {% for transaction in income %}
                    <tr>

                      <td>{{ transaction.event.title }}</td>
                      <td>{{ transaction.event.vote }}</td>
                      <td>{{ transaction.received.amount__sum }}</td>
                      <td>{{ transaction.budgeted.estimate }}</td>
                      <td>{{ transaction.variance }}</td>

                    </tr>
                    {% endfor %}


                    <br>
                    <tr>
                      <td colspan="5">
                        <h4>Expenditure</h4>
                      </td>
                    </tr>
                    <br>

                    {% for transaction in expenses %}
                    <tr>

                      <td>{{ transaction.event.title }}</td>
                      <td>{{ transaction.event.vote }}</td>
                      <td>{{ transaction.received.amount__sum }}</td>
                      <td>{{ transaction.budgeted.estimate }}</td>
                      <td>{{ transaction.variance }}</td>
                    </tr>
                    {% endfor %}

                  </tbody>
                  <tfoot>
                    <tr>


                      <th>Totals</th>

                      <th> </th>


                      <th>{{ total }}</th>
                      <th>{{ budget.total }}</th>
                      <th></th>



                    </tr>
                  </tfoot>

                </table>
              </div>

              <div class="col-1">

              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->



          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>

  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">

      <div class="modal-content">

      </div>

      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}