{% extends 'dashboard_base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load humanize %}
{% block app %} Reports {% endblock app %}
{% block active_reports %}
active
{% endblock active_reports %}
{% block active_surplus_account %}
active
{% endblock active_surplus_account %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'surplus_account' %}">Trial Balance</a></li>
<li class="breadcrumb-item"><a href="{% url 'surplus_account' %}">Trial Balance</a></li>
{% endblock breadcrump %}

{% block show_reports  %}
menu-open
{%  endblock show_reports %}

{% block title %}

Dashboard Reports - Trial Balance

{% endblock title %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card card-sm">
        <div class="card-header bg-warning">

          <div class="row">
            <div class="col-md-3">
              <h3 class="card-title">Archive Surplus And Loss Account</h3>
      
            </div>
            <div class="col-md-9">
              <form class="" action="{% url 'surplus_account' %}" method="post">
                {% csrf_token %}
        
                {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
                {% endfor %}
        
                {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                  {{ error }}
                  {% endfor %}
                </div>
                {% endif %}
        
        
                <div class="row">
        
        
        
                  {% for field in form.visible_fields %}
        
                  <div class="col-md-2">
                    {{ field.label_tag }}
        
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
        
                      {% if form.is_bound %}
                      {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                      <div class="invalid-feedback">
                        {{ error }}
                      </div>
                      {% endfor %}
                      {% else %}
                      {% render_field field class="form-control is-valid" %}
                      {% endif %}
                      {% else %}
                      {% render_field field class="form-control" %}
                      {% endif %}
        
                      {% if field.help_text %}
                      <small class="form-text text-muted">{{ field.help_text }}</small>
                      {% endif %}
                    </div>
                  </div>
                  {% endfor %}
        
                  <div class="col-md-2">
                    <button class="btn btn-primary" type="submit">Generate</button>
                  </div>
        
        
        
                </div>
        
              </form>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body" id="page">
          <div class="invoice p-3 mb-3">
            <!-- title row -->
            <div class="row">
              <div class="col-1">

              </div>
              <div class="col-5">
                <h2>
                  <i class="fas fa-globe"></i> Thanns Sacco.

              
                </h2>
                <br>
              </div>
              <div class="col-5">
                <h5>
                  Surplus And Loss Account for {{ year.name }} - {{month.name }}
           
                </h5>
              </div>
              <div class="col-1">
              
              </div>
              <!-- /.col -->
            </div>




            <div class="row mt-0">

       
              <div class="col-12">


                <table class="table table-striped table-bordered  table-sm">
                  <thead class="bg-secondary">
                    <tr>


                      <th>Account</th>

                      <th> Vote</th>


                      <th>Amount</th>

                      <th>Budgeted</th>

                      <th>Variance</th>



                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                      <td colspan="5">
                        <h4>INCOME</h4>
                      </td>
                    </tr>

                    {% for transaction in income_list %}
                    <tr>

                      <td>{{ transaction.event.title }}</td>
                      <td>{{ transaction.event.vote }}</td>
                      <td>{{ transaction.balance | intcomma }}</td>
                      <td>{{ transaction.estimate | intcomma }}</td>
                      <td>{{ transaction.variance  | intcomma }}</td>

                    </tr>
                    {% endfor %}

                    <tr>
                      <td colspan="2">
                        <h5>Totals</h5>
                      </td>
                      <td>
                        {{ income_total | intcomma  }}
                      </td>
                      <td>
                          {{ income_budget_total | intcomma }}
                      </td>
                      <td>
                          {{ income_variance_total | intcomma }}
                      </td>
                    </tr>


                    <br>
                    <tr>
                      <td colspan="5">
                        <h4>Expenditure</h4>
                      </td>
                    </tr>
                    <br>

                    {% for transaction in expenses %}
                    <tr>

                      <td>{{ transaction.event.title }}</td>
                      <td>{{ transaction.event.vote }}</td>
                      <td>{{ transaction.balance | intcomma }}</td>
                      <td>{{ transaction.estimate | intcomma }}</td>
                      <td>{{ transaction.variance  | intcomma }}</td>
                    </tr>
                    {% endfor %}

                    <tr>
                      <td colspan="2">
                        <h5>Totals</h5>
                      </td>
                      <td>
                        {{ expenses_total | intcomma  }}
                      </td>
                      <td>
                          {{ expenses_budget_total | intcomma }}
                      </td>
                      <td>
                          {{ expenses_variance_total | intcomma }}
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>


                      <th>Surplus</th>

                      <th> </th>

                      <th>

                      </th>

                      <th>

                      </th>

                      <th></th>


           



                    </tr>
                  </tfoot>

                </table>
              </div>

              <div class="col-1">

              </div>
              <!-- /.col -->
            </div>
            <!-- /.row -->



          </div>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>

  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">

      <div class="modal-content">

      </div>

      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}