{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Settings {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'dashboard_daily' %}">Dashboard</a></li>
<li class="breadcrumb-item"><a href="{% url 'mpesa' %}">Mpesa Integration</a></li>
{% endblock breadcrump %}

{% block setting_active %}
active
{% endblock setting_active %}
{% block active_mpesa %}
active
{% endblock active_mpesa  %}

{% block title %}

Mpesa Integration

{% endblock title %}


{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            <input class="form-control" placeholder="Search">
                        </div>

                        <div class="col-6">
                           
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
           
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}