{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Shares & Dividends Module {% endblock app %}

{% block active_shares %}
active
{% endblock active_shares %}

{% block active_share_accounts %}
active
{% endblock active_share_accounts %}
{% block breadcrump %}
<li class="breadcrumb-item"><a href="">Shares Module</a></li>

<li class="breadcrumb-item"><a href="">Shares & Dividends</a></li>
{% endblock breadcrump %}

{% block show_shares  %}
menu-open
{%  endblock show_shares %}

{% block title %}

Dashboard Shares  & Dividends 

{% endblock title %}


{% block extra_css %}

<style>
  p {
    padding: 0;
  }
</style>
{% endblock extra_css %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card card-success card-outline">
           
            <div class="card-body">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-edit"></i>
                 All Share Capital
                </h3>
              </div>
             
              <table id="dataTable" class="table table-sm table-bordered table-striped">
                <thead class="bg-info">
                <tr>
                  <th hidden>Id</th>
                  <th>Member</th>
                  <th>Member Number</th>
                  <th>NAtional Id</th>
                  <th>Balance</th>
                  <th>Created By</th>
                  <th>Date Created</th>
                  <th>Modified By</th>
                  <th>Date Modified</th>
                  <th>Movement</th>
                </tr>
                </thead>

                <tbody>
                  {% for request in accounts %}

                  <tr>
                    <td hidden class="id">{{ request.id }}</td>
                    <td class="name">{{ request.member }}</td>
                    <td>{{ request.member.account_number }}</td>
                    <td>{{ request.id_number }}</td>
                    <td>{{ request.share_bal}}</td>
                  
                    <td class="processed_by">{{ request.creator }}</td>
                    <td class="date">{{ request.date_created}}</td>

                    <td>{{ request.modified_by }}</td>
                    <td>{{ request.date_modified}}</td>

                    <td> <a href="{% url 'share_accounts_movement' pk=request.id %}" class="btn btn-sm btn-success action-btn">
                      Movement </a></td>

                    


                  </tr>





                  {% endfor %}
                </tbody>
          
                <tfoot>
              
                  <tr>
                    <th hidden>Id</th>
                    <th>Member</th>
                    <th>Member Number</th>
                    <th>NAtional Id</th>
                    <th>Balance</th>
                    <th>Created By</th>
                    <th>Date Created</th>
                    <th>Modified By</th>
                    <th>Date Modified</th>
                    <th>Movement</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card -->
          </div>
    </div>
    </div>

 
  </section>

{% endblock dashboard_content %}






