{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Shares & Dividends Module {% endblock app %}

{% block active_shares %}
active
{% endblock active_shares %}

{% block active_share_dividends %}
active
{% endblock active_share_dividends %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="">Shares & Dividends</a></li>
<li class="breadcrumb-item"><a href="">Requests</a></li>
{% endblock breadcrump %}

{% block show_shares  %}
menu-open
{%  endblock show_shares %}

{% block title %}

Dashboard Shares  & Dividends 

{% endblock title %}


{% block extra_css %}

<style>
  p {
    padding: 0;
  }
</style>
{% endblock extra_css %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-body bg-warning">

            <div class="row">
              <div class="col-6">
                <h3 class="card-title">Manage Loan Requests Easily</h3>
              </div>
  
              <div class="col-6">
                <div class="row">
                  <div class="col-6">
                  </div>
  
                 
                </div>
  
  
              </div>
  
              <div class="col-12">
                  <div class="card card-success card-outline">
                     
                      <div class="card-body">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="fas fa-edit"></i>
                           All Loan Requests
                          </h3>
                        </div>
                       
                        <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                          <thead class="bg-info">
                          <tr>
                            <th hidden>Id</th>
                            <th>Member Name</th>
                            <th>Id Number</th>
                            <th>Loan Product</th>
                            <th>Amount Requested</th>
                            <th>Amount Approved</th>
                            <th>Approved</th>
                            <th>Approving Officer</th>
                            <th>Confirmed</th>
                            <th>Cofirming Officer</th>
                            <th>Disbursed</th>
                            <th>Disbursing Officer</th>
                            <th>Created By</th>
                            <th>Date Created</th>
                            <th>Modified By</th>
                            <th>Date Modified</th>
                            <th>Analysis</th>
                          </tr>
                          </thead>

                          <tbody>
                            {% for request in requests %}

                            <tr>
                              <td hidden class="id">{{ request.id }}</td>
                              <td class="name">{{ request.member }}</td>
                              <td>{{ request.member.id_number }}</td>
                              <td>{{ request.loan_product }}</td>
                              <td>{{ request.requested_amount}}</td>
                              <td></td>
                              <td>{{ request.is_approved }}</td>
                              <td>{{ request.approving_officer}}</td>

                              <td>{{ request.is_confirmed }}</td>
                              <td>{{ request.confirming_officer}}</td>

                              <td>{{ request.is_disbursed }}</td>
                              <td>{{ request.disbursing_officer}}</td>

                              <td class="processed_by">{{ request.creator }}</td>
                              <td class="date">{{ request.date_created}}</td>

                              <td>{{ request.modified_by }}</td>
                              <td>{{ request.date_modified}}</td>

                              <td> <a href="" class="btn btn-sm btn-success action-btn" data-toggle="modal" data-target="#modal-info" id="action-btn">
                                Analysis </a></td>

                              


                            </tr>





                            {% endfor %}
                          </tbody>
                    
                          <tfoot>
                        
                            <tr>
                              <th hidden>Id</th>
                              <th>Member Name</th>
                              <th>Id Number</th>
                              <th>Loan Product</th>
                              <th>Amount Requested</th>
                              <th>Amount Approved</th>
                              <th>Approved</th>
                              <th>Approving Officer</th>
                              <th>Confirmed</th>
                              <th>Cofirming Officer</th>
                              <th>Disbursed</th>
                              <th>Disbursing Officer</th>
                              <th>Created By</th>
                              <th>Date Created</th>
                              <th>Modified By</th>
                              <th>Date Modified</th>
                              <th>Analysis</th>
                            </tr>
                    
                          </tfoot>
                        </table>
                      </div>
                      <!-- /.card -->
                    </div>
              </div>
            </div>
  
  
  
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

 
  </section>

{% endblock dashboard_content %}






