{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Shares And Dividends Module {% endblock app %}

{% block active_share_home %}
active
{% endblock active_share_home %}

{% block active_shares %}
active
{% endblock active_shares %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'share_home' %}">Shares</a></li>
<li class="breadcrumb-item"><a href="">List</a></li>
{% endblock breadcrump %}

{% block show_shares %}
menu-open
{%  endblock show_shares %}

{% block title %}
Shares And Dividends Module

{% endblock title %}

{% block dashboard_content %}

<section class="content">
    <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-3 col-sm-6 col-md-3">
                <div class="info-box">
                    <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user"></i></span>

                    <div class="info-box-content">
                        <a href="{% url 'members_list' %}"><span class="info-box-text">Members</span></a>
                        <span class="info-box-number">
                            {{ snapshot.members }}

                        </span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-3 col-sm-6 col-md-3">
                <div class="info-box mb-3">
                    <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-users"></i></span>

                    <div class="info-box-content">
                        <a href="{% url 'groups_list' %}"><span class="info-box-text">Member Groups</span></a>
                        <span class="info-box-number"> {{ snapshot.member_groups }}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

      

     
     
            <div class="col-lg-3 col-3">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{ savings_total }} amount to {{ savings_cash_total }}</h3>

                        <p>Savings Processed Today</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="{% url 'sdeposit_contracts_list' %}" class="small-box-footer">More info <i
                            class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-3">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{ loan_request }} <sup style="font-size: 20px"> amounting to
                                {{  loan_requests_cash.loan_requests_cash__sum }}</sup></h3>

                        <p>Loan Requests Today</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="{% url 'loans_requests' %}" class="small-box-footer">More info <i
                            class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
         
        </div>

        <div class="row">
            <!-- Left col -->
            <div class="col-md-12">



                <div class="card">
                    <div class="card-header border-transparent bg-warning">
                        <h3 class="card-title">Share Capital Payment Events</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove">
                                <i class="fas fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table m-0">
                                <thead>
                                    <tr>
                                        <th>Member</th>
                                        <th>Amount</th>
                                        <th>Date Expected</th>
                                        <th>Is rescheduled</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for loan in late_members %}
                                    <tr>
                                        <td><a
                                                href="{% url 'members_details' pk=loan.member.id %}">{{ loan.member.get_names }}</a>
                                        </td>
                                        <td>{{ loan.requested_amount }}</td>
                                        <td>{{ loan.date_created }}</td>

                                        <td> {% if loan.is_confirmed %}

                                            <button type="button" class="btn btn-sm btn-success float-right"><i
                                                    class="fas fa-check"></i></button>

                                            {% else %}

                                            <button type="button" class="btn btn-sm btn-warning float-right"><i
                                                    class="fas fa-check"></i></button>


                                            {% endif %}

                                        </td>
                                        <td>
                                            <a href="{% url 'members_details' pk=loan.member.id %}"
                                                class="btn btn-sm btn-danger"> More </a>
                                        </td>
                                        <td>

                                        </td>

                                        <td></td>

                                    </tr>

                                    {% endfor %}


                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer clearfix">
                        <a href="javascript:void(0)" class="btn btn-sm btn-info float-right">View All</a>
                    </div>
                    <!-- /.card-footer -->
                </div>
            


                <!-- /.card -->
            </div>
            <!-- /.col -->

            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!--/. container-fluid -->
</section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}