{% extends 'dashboard_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block app %} Org Structure - Departments {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'departments' %}">Departments</a></li>
<li class="breadcrumb-item"><a href="{% url 'departments' %}">Departments</a></li>
{% endblock breadcrump %}

{% block active_ostructure %}
active
{% endblock active_ostructure %}



{% block active_departments %}
active
{% endblock active_departments %}

{% block show_ostructure  %}
menu-open
{%  endblock show_ostructure %}

{% block title %}

Org Structure Departments Management

{% endblock title %}


{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Departments Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">
                            <a href="{% url 'department_aoe' %}" class="btn btn-sm btn-warning"> Add New</a>
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th>Name</th>
                <th>Manager</th>
           
                <th>Branch</th>

              
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>

                {% for location in clients %}
              <tr>
                <td>{{ location.name }}</td>
                <td>
                  {{ location.manager }}
                </td>
                <td>{{ location.branch.name }}</td>
               
              
                  <td>   <a href="{% url 'department_edit' pk=location.id %}" class="btn btn-sm btn-success"> Edit </a></td>
                  <td>   <a href="" class="btn btn-sm btn-danger"> Delete  </a></td>
              </tr>
       

{% endfor %}







          
              </tbody>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Manager</th>
             
                  <th>Branch</th>
  
                
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}