{% extends 'dashboard_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block app %} Departments {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'departments' %}">Departments</a></li>
<li class="breadcrumb-item"><a href="{% url 'department_details' %}">Department Details</a></li>
{% endblock breadcrump %}

{% block active_ostructure %}
active
{% endblock active_ostructure %}



{% block active_departments %}
active
{% endblock active_departments %}

{% block show_ostructure  %}
menu-open
{%  endblock show_ostructure %}
{% block title %}

Departments Management

{% endblock title %}

{% block dashboard_content %}
<section class="content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body">
            <div class="row">

                <div class="col-12 col-sm-4">
                    <h3 class="d-inline-block d-sm-none">Name: Joseph Karubi Kanene</h3>
                    <div class="col-12 d-flex justify-content-center">
                        <img src="{% static '/dist/img/prod-1.jpg' %}" class="product-image" alt="Product Image">
                    </div>
                    <div class="col-12 product-image-thumbs">

                    </div>
                </div>
                <div class="col-12 col-sm-8">
                    <div class="col-12">

                        <div class="mt-4">
                            <div class="btn btn-info btn-sm btn-flat">
                                <i class="fas fa-heart fa-lg "></i>
                                Receive Invoice
                            </div>
                            <div class="btn btn-success btn-sm btn-flat">
                                <i class="fas fa-heart fa-lg"></i>
                                Cheque
                            </div>
                            <div class="btn btn-danger btn-sm btn-flat">
                                <i class="fas fa-cart-plus fa-lg"></i>
                                Letter
                            </div>

                           
                            <div class="btn btn-info btn-sm btn-flat">
                                <i class="fas fa-heart fa-lg "></i>
                                Statement
                            </div>

                            <!-- <div class="btn btn-warning btn-sm btn-flat">
                                <i class="fas fa-heart fa-lg "></i>
                                Letter
                            </div> -->
                        </div>

                    </div>
                    <h3 class="my-3">Name: Joseph Karubi Kanene</h3>
                    <p>Account: 3638uj8390303.</p>

                    <!-- <h6 class="my-3">Payment Status:  <i class="fas fa-circle fa-2x text-red"></i></h6> -->
                    <!-- <h4 class="my-3">Payment Balance: Ksh 120000 </h3> -->



                </div>
            </div>
            <div class="row mt-4">
                <nav class="w-100">
                    <div class="nav nav-tabs" id="product-tab" role="tablist">
                        <a class="nav-item nav-link active" id="invoices-tab" data-toggle="tab" href="#invoices"
                            role="tab" aria-controls="product-desc" aria-selected="true">Invoices</a>
                        <a class="nav-item nav-link" id="product-desc-tab" data-toggle="tab" href="#product-desc"
                            role="tab" aria-controls="product-desc" aria-selected="true">Payments</a>
                        <a class="nav-item nav-link" id="product-comments-tab" data-toggle="tab"
                            href="#product-comments" role="tab" aria-controls="product-comments"
                            aria-selected="false">Buildings</a>
                        <a class="nav-item nav-link" id="product-rating-tab" data-toggle="tab" href="#product-rating"
                            role="tab" aria-controls="product-rating" aria-selected="false">Notes</a>
                        <a class="nav-item nav-link" id="letters-tab" data-toggle="tab" href="#letters" role="tab"
                            aria-controls="product-rating" aria-selected="false">Letters</a>

                    </div>
                </nav>
                <div class="tab-content p-3" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="invoices" role="tabpanel" aria-labelledby="invoices-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title">Manage Apartments / Units Easily</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <input class="form-control" placeholder="Search">
                                                        </div>

                                                        <div class="col-6">
                                                            <a href="{% url 'units_aoe' %}"
                                                                class="btn btn-sm btn-warning"> Add New</a>
                                                            <a href="" class="btn btn-sm btn-warning"> Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> Export </a>
                                                            <a href="" class="btn btn-sm btn-warning"> Reports </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>First Name</th>
                                                        <th>Middle Name</th>
                                                        <th>Last Name</th>
                                                        <th>Phone Number</th>

                                                        <th>Id</th>
                                                        <th>Type</th>
                                                        <th>Unit</th>
                                                        <th>Building</th>
                                                        <th>Status</th>
                                                        <th>Payment</th>
                                                        <th>Invoice</th>
                                                        <th>Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td> 4</td>
                                                        <td> 4</td>
                                                        <td>X</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 5.0
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td>5</td>
                                                        <td> 4</td>
                                                        <td>C</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 5.5
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td>5.5</td>
                                                        <td>A</td>
                                                        <td> 4</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>









                                                </tbody>
                                                <tfoot>

                                                    <tr>
                                                        <th>First Name</th>
                                                        <th>Middle Name</th>
                                                        <th>Last Name</th>
                                                        <th>Phone Number</th>
                                                        <th>Id</th>
                                                        <th>Type</th>
                                                        <th>Unit</th>
                                                        <th>Building</th>
                                                        <th>Status</th>
                                                        <th>Payment</th>
                                                        <th>Invoice</th>
                                                        <th>Details</th>
                                                    </tr>

                                                </tfoot>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>
                    </div>

                    <div class="tab-pane fade" id="product-desc" role="tabpanel" aria-labelledby="product-desc-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title">Manage Apartments / Units Easily</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <input class="form-control" placeholder="Search">
                                                        </div>

                                                        <div class="col-6">
                                                            <a href="{% url 'units_aoe' %}"
                                                                class="btn btn-sm btn-warning"> Add New</a>
                                                            <a href="" class="btn btn-sm btn-warning"> Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> Export </a>
                                                            <a href="" class="btn btn-sm btn-warning"> Reports </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>First Name</th>
                                                        <th>Middle Name</th>
                                                        <th>Last Name</th>
                                                        <th>Phone Number</th>

                                                        <th>Id</th>
                                                        <th>Type</th>
                                                        <th>Unit</th>
                                                        <th>Building</th>
                                                        <th>Status</th>
                                                        <th>Payment</th>
                                                        <th>Invoice</th>
                                                        <th>Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td> 4</td>
                                                        <td> 4</td>
                                                        <td>X</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 5.0
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td>5</td>
                                                        <td> 4</td>
                                                        <td>C</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 5.5
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td>5.5</td>
                                                        <td>A</td>
                                                        <td> 4</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>









                                                </tbody>
                                                <tfoot>

                                                    <tr>
                                                        <th>First Name</th>
                                                        <th>Middle Name</th>
                                                        <th>Last Name</th>
                                                        <th>Phone Number</th>
                                                        <th>Id</th>
                                                        <th>Type</th>
                                                        <th>Unit</th>
                                                        <th>Building</th>
                                                        <th>Status</th>
                                                        <th>Payment</th>
                                                        <th>Invoice</th>
                                                        <th>Details</th>
                                                    </tr>

                                                </tfoot>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>




                    </div>
                    <div class="tab-pane fade" id="product-comments" role="tabpanel"
                        aria-labelledby="product-comments-tab">

                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title">Manage Apartments / Units Easily</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <input class="form-control" placeholder="Search">
                                                        </div>

                                                        <div class="col-6">
                                                            <a href="{% url 'units_aoe' %}"
                                                                class="btn btn-sm btn-warning"> Add New</a>
                                                            <a href="" class="btn btn-sm btn-warning"> Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> Export </a>
                                                            <a href="" class="btn btn-sm btn-warning"> Reports </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>First Name</th>
                                                        <th>Middle Name</th>
                                                        <th>Last Name</th>
                                                        <th>Phone Number</th>

                                                        <th>Id</th>
                                                        <th>Type</th>
                                                        <th>Unit</th>
                                                        <th>Building</th>
                                                        <th>Status</th>
                                                        <th>Payment</th>
                                                        <th>Invoice</th>
                                                        <th>Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td> 4</td>
                                                        <td> 4</td>
                                                        <td>X</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 5.0
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td>5</td>
                                                        <td> 4</td>
                                                        <td>C</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 5.5
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td>5.5</td>
                                                        <td>A</td>
                                                        <td> 4</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>









                                                </tbody>
                                                <tfoot>

                                                    <tr>
                                                        <th>First Name</th>
                                                        <th>Middle Name</th>
                                                        <th>Last Name</th>
                                                        <th>Phone Number</th>
                                                        <th>Id</th>
                                                        <th>Type</th>
                                                        <th>Unit</th>
                                                        <th>Building</th>
                                                        <th>Status</th>
                                                        <th>Payment</th>
                                                        <th>Invoice</th>
                                                        <th>Details</th>
                                                    </tr>

                                                </tfoot>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>

                    </div>
                    <div class="tab-pane fade" id="product-rating" role="tabpanel" aria-labelledby="product-rating-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title">Manage Apartments / Units Easily</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <input class="form-control" placeholder="Search">
                                                        </div>

                                                        <div class="col-6">
                                                            <a href="{% url 'units_aoe' %}"
                                                                class="btn btn-sm btn-warning"> Add New</a>
                                                            <a href="" class="btn btn-sm btn-warning"> Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> Export </a>
                                                            <a href="" class="btn btn-sm btn-warning"> Reports </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>First Name</th>
                                                        <th>Middle Name</th>
                                                        <th>Last Name</th>
                                                        <th>Phone Number</th>

                                                        <th>Id</th>
                                                        <th>Type</th>
                                                        <th>Unit</th>
                                                        <th>Building</th>
                                                        <th>Status</th>
                                                        <th>Payment</th>
                                                        <th>Invoice</th>
                                                        <th>Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td> 4</td>
                                                        <td> 4</td>
                                                        <td>X</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 5.0
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td>5</td>
                                                        <td> 4</td>
                                                        <td>C</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 5.5
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td>5.5</td>
                                                        <td>A</td>
                                                        <td> 4</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>









                                                </tbody>
                                                <tfoot>

                                                    <tr>
                                                        <th>First Name</th>
                                                        <th>Middle Name</th>
                                                        <th>Last Name</th>
                                                        <th>Phone Number</th>
                                                        <th>Id</th>
                                                        <th>Type</th>
                                                        <th>Unit</th>
                                                        <th>Building</th>
                                                        <th>Status</th>
                                                        <th>Payment</th>
                                                        <th>Invoice</th>
                                                        <th>Details</th>
                                                    </tr>

                                                </tfoot>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>
                    <div class="tab-pane fade" id="letters" role="tabpanel" aria-labelledby="letters-tab">




                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title">Manage Apartments / Units Easily</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <input class="form-control" placeholder="Search">
                                                        </div>

                                                        <div class="col-6">
                                                            <a href="{% url 'units_aoe' %}"
                                                                class="btn btn-sm btn-warning"> Add New</a>
                                                            <a href="" class="btn btn-sm btn-warning"> Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> Export </a>
                                                            <a href="" class="btn btn-sm btn-warning"> Reports </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table id="example1" class="table table-bordered table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>First Name</th>
                                                        <th>Middle Name</th>
                                                        <th>Last Name</th>
                                                        <th>Phone Number</th>

                                                        <th>Id</th>
                                                        <th>Type</th>
                                                        <th>Unit</th>
                                                        <th>Building</th>
                                                        <th>Status</th>
                                                        <th>Payment</th>
                                                        <th>Invoice</th>
                                                        <th>Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td> 4</td>
                                                        <td> 4</td>
                                                        <td>X</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 5.0
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td>5</td>
                                                        <td> 4</td>
                                                        <td>C</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 5.5
                                                        </td>
                                                        <td>Win 95+</td>
                                                        <td>5.5</td>
                                                        <td>A</td>
                                                        <td> 4</td>
                                                        <td>Trident</td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td>Internet
                                                            Explorer 4.0
                                                        </td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-warning"> Payment </a></td>

                                                        <td> <a href=""
                                                                class="btn btn-sm btn-danger"> Invoice </a></td>
                                                        <td> <a href=""
                                                                class="btn btn-sm btn-success"> More </a></td>
                                                    </tr>

                                                </tbody>
                                                <tfoot>

                                                    <tr>
                                                        <th>First Name</th>
                                                        <th>Middle Name</th>
                                                        <th>Last Name</th>
                                                        <th>Phone Number</th>
                                                        <th>Id</th>
                                                        <th>Type</th>
                                                        <th>Unit</th>
                                                        <th>Building</th>
                                                        <th>Status</th>
                                                        <th>Payment</th>
                                                        <th>Invoice</th>
                                                        <th>Details</th>
                                                    </tr>

                                                </tfoot>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>

                    </div>

                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>

{% endblock dashboard_content %}