{% extends 'dashboard_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block app %} Departments {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'departments' %}">Departments</a></li>
<li class="breadcrumb-item"><a href="{% url 'department_aoe' %}">New Department</a></li>
{% endblock breadcrump %}
{% block active_ostructure %}
active
{% endblock active_ostructure %}



{% block active_departments %}
active
{% endblock active_departments %}

{% block show_ostructure  %}
menu-open
{%  endblock show_ostructure %}
{% block title %}

Departments Management

{% endblock title %}


{% block dashboard_content %}
<section class="content">
    <div class="row d-flex justify-content-center">
      <div class="col-10">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Department Details Form</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">
                           
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
          
            {% crispy form %}

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}