{% extends 'dashboard_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block app %} Branches {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'branches' %}">Branches</a></li>
<li class="breadcrumb-item"><a href="{% url 'branches' %}">Branches</a></li>
{% endblock breadcrump %}

{% block active_ostructure %}
active
{% endblock active_ostructure %}


{% block active_branches %}
active
{% endblock active_branches %}

{% block active_branches_inner %}
active
{% endblock active_branches_inner %}

{% block show_ostructure  %}
menu-open
{%  endblock show_ostructure %}
{% block show_branches  %}
menu-open
{%  endblock show_branches %}
{% block title %}

Org Structure Branch Management

{% endblock title %}


{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Branches Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">
                            <a href="{% url 'branch_aoe' %}" class="btn btn-sm btn-warning"> Add New</a>
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th>Name</th>
                <th>Manager</th>
           
                <th>Phone Number</th>

                <th>County</th>
                <th>City</th>
                
                <th>Town</th>
                <th>Room Number</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>

                {% for location in clients %}
              <tr>
                <td>{{ location.name }}</td>
                <td>
                  {{ location.manager }}
                </td>
                <td>{{ location.phone_number }}</td>
                <td> {{ location.county }}</td>
                <td> {{ location.city }}</td>
                <td> {{ location.town }}</td>
                <td> {{ location.rommNumber }}</td>
              
                  <td>   <a href="" class="btn btn-sm btn-warning"> View </a></td>
              
                  <td>   <a href="{% url 'branch_edit' pk=location.id %}" class="btn btn-sm btn-success"> Edit </a></td>
                  <td>   <a href="" class="btn btn-sm btn-danger"> Delete  </a></td>
              </tr>
       

{% endfor %}







          
              </tbody>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>Manager</th>
             
                  <th>Phone Number</th>
  
                  <th>County</th>
                  <th>City</th>
                  
                  <th>Town</th>
                  <th>Room Number</th>
                  <th>View</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}