{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Operations {% endblock app %}
{% block active_operations %}
active
{% endblock active_operations %}
{% block active_eod %}
active
{% endblock active_eod %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'eod' %}"> End Of Day</a></li>
<li class="breadcrumb-item"><a href="{% url 'eod' %}"> End Of Day</a></li>
{% endblock breadcrump %}

{% block show_operations  %}
menu-open
{%  endblock show_operations %}

{% block title %}

Dashboard Operations - End Of Day

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title"> End Of Day</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">

                         
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
      
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}