{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Savings {% endblock app %}

{% block active_savings %}
active
{% endblock active_savings %}

{% block active_scontracts %}
active
{% endblock active_scontracts %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'scontracts_list' %}">Saving Contracts</a></li>
<li class="breadcrumb-item"><a href="{% url 'scontracts_list' %}">List</a></li>
{% endblock breadcrump %}

{% block show_savings  %}
menu-open
{%  endblock show_savings %}

{% block title %}

Dashboard Savings Contracts

{% endblock title %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">
  

      <div class="card">
        <div class="card-body bg-warning">

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Manage Saving Contracts Easily</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

               
              </div>


            </div>

            <div class="col-12">
                <div class="card card-success card-outline">
                   
                    <div class="card-body">
                      <div class="card-header">
                        <h3 class="card-title">
                          <i class="fas fa-edit"></i>
                         All Saving Contracts
                        </h3>
                      </div>
                     
                      <table id="dataTable" class="table table-sm table-bordered table-striped">
                        <thead class="bg-info">
                        <tr>
                          <th> Product</th>
                          <th>Member</th>
                          <th>Code</th>
                          <th>Creation Date</th>
                          <th>Saving Officer</th>
                          <th>Created By</th>
                          <th>Date Created</th>
                          <th>Modified By</th>
                          <th>Date Modified</th>
                          <th>Analysis</th>
                        </tr>
                        </thead>

                        <tbody>
                          {% for contract in contracts %}

                          <tr>
                            <td>{{ contract.product }}</td>



                            <td>{{ contract.member }}</td>

                            <td>{{ contract.code }}</td>

                            <td>{{ contract.creation_date }}</td>


                            <td>
                              {{ contract.savings_officer  }}
                            </td>

                            <td>
                              {{ contract.date_created }}
                            </td>

                            <td>
                              {{ contract.creator }}
                            </td>

                            <td>
                              {{ contract.modified_by }}
                            </td>


                            <td>
                              {{ contract.date_modified }}
                            </td>


                            <td>
                              <a href="{% url 'sdeposit_contracts_details' pk=contract.id %}" class="btn btn-sm btn-success"> Analysis  </a>
                            </td>
                          </tr>






                          {% endfor %}
                        </tbody>
                  
                        <tfoot>
                      
                          <tr>
                            <th> Product</th>
                            <th>Member</th>
                            <th>Code</th>
                            <th>Creation Date</th>
                            <th>Saving Officer</th>
                            <th>Created By</th>
                            <th>Date Created</th>
                            <th>Modified By</th>
                            <th>Date Modified</th>
                            <th>Analysis</th>
                          </tr>
                  
                        </tfoot>
                      </table>
                    </div>
                    <!-- /.card -->
                  </div>
            </div>
          </div>



        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>

  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">

        <div class="modal-content">
                
        </div>
    
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}







{% block extra_js %}


{% endblock extra_js %}