

{% load crispy_forms_tags %}


<form method="post" action="">
    {% csrf_token %}
  
   <div class="modal-header bg-warning">
      <h5 class="modal-title">Unit Assignmment</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
    <div class="modal-body">

      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
          <address>
            <strong>Tenant Info.</strong><br>
            795 Folsom Ave, Suite 600<br>
         
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
        
          <address>
            <strong>{{ tenant.first_name }} More</strong><br>
           
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <b>Invoice #007612</b><br>
          <br>
      
        </div>
        <!-- /.col -->
      </div>
      {% crispy form %}

    </div>



    
  
  
  </form>



  <div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog modal-xl" role="document">

        <div class="modal-content">
                
        </div>
    
    </div>
  </div>


  
{% block extra_js %}

<script type="text/javascript">
    $(document).ready(function() {

    
        $(".alertmodalBtn").modalForm({
            formURL: "{% url 'payment' %}"
        });
    
    });
    </script>

{% endblock extra_js %}