{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block app %} Houses {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'buildings_list' %}">Houses</a></li>
<li class="breadcrumb-item"><a href="{% url 'buildings_aoe' %}">AOE</a></li>
{% endblock breadcrump %}

{% block active_b %} active {%  endblock active_b %}

{% block show_unit  %}
menu-open
{%  endblock show_unit %}
{% block title %}

Dashboard Houses 

{% endblock title %}


{% block active_p %}
    active      
 {% endblock active_p %}

{% block dashboard_content %}
<section class="content">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
  

      <div class="card">
        <div class="card-header bg-success">
        
          <div class="row">
              <div class="col-6">
                  <h3 class="card-title">House Details Form</h3>
              </div>

              <div class="col-6">
                  <div class="row">
                      <div class="col-6">
                      </div>

                      <div class="col-6">
                         
                      </div>
                  </div>
                
               
              </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
        
          {% crispy form %}

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}