{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Houses {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'buildings_list' %}">Houses</a></li>
<li class="breadcrumb-item"><a href="{% url 'buildings_list' %}">List</a></li>
{% endblock breadcrump %}

{% block active_b %} active {%  endblock active_b %}

{% block show_unit  %}
menu-open
{%  endblock show_unit %}
{% block title %}

Dashboard Houses 

{% endblock title %}


{% block active_p %}
    active      
 {% endblock active_p %}

{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">


      <div class="card">
        <div class="card-header bg-info">

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Manage Houses Easily</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

                <div class="col-6">
                  <a href="{% url 'buildings_aoe' %}" class="btn btn-sm btn-warning"> Add New</a>
                  <a href="" class="btn btn-sm btn-warning"> Print </a>
                  <a href="" class="btn btn-sm btn-warning"> Export </a>
                  <a href="" class="btn btn-sm btn-warning"> Reports </a>
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="dataTable" class="table table-bordered table-striped">
            <thead class="bg-info">
              <tr>
                
              <tr>
                <th>Name</th>
                <th>D on M</th>
                <th>D off M</th>
                <th>Client</th>
                <th>Deposit Policy</th>
                <th>County</th>
                <th>City</th>
                <th>Town</th>
                <th>View</th>
              
             
                <th>Edit</th>
                <th>Delete</th>

              </tr>

              </tr>
            </thead>
            <tbody>

              {% for building in buildings %}
              <tr>
                <td>{{ building.name }}</td>
                <td>{{ building.date_start_of_management}}</td>
                <td>{{ building.date_end_of_management}}</td>

                <td>{{ building.owner.first_name }}</td>
                <td>{{ building.deposit_policy }}</td>
                <td>{{ building.county }}</td>
                <td>{{ building.city }}</td>
                <td>{{ building.town }}</td>
                <td> <a href="{% url 'buildings_details' pk=building.id %}" class="btn btn-sm btn-warning"> View </a></td>

                <td> <a href="{% url 'buildings_edit' pk=building.id %}" class="btn btn-sm btn-success"> Edit </a></td>
                <td> <a href="{% url 'buildings_details' pk=building.id %}" class="btn btn-sm btn-danger"> Delete </a></td>
              </tr>

              {% endfor %}







            </tbody>
            <tfoot>

              <tr>
                <th>Name</th>
                <th>D on M</th>
                <th>D off M</th>
                <th>Client</th>
                <th>Deposit Policy</th>
                <th>County</th>
                <th>City</th>
                <th>Town</th>
                <th>View</th>
          
                <th>Edit</th>
                <th>Delete</th>

              </tr>
            </tfoot>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}