{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Units {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'units_list' %}">Units</a></li>
<li class="breadcrumb-item"><a href="{% url 'units_list' %}">List</a></li>
{% endblock breadcrump %}

{% block active_unit %}
active
{% endblock active_unit %}
{% block show_unit  %}
menu-open
{%  endblock show_unit %}
{% block title %}

Dashboard Unit 

{% endblock title %}
{% block active_p %}
    active      
 {% endblock active_p %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Apartments / Units Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">
                          <div class="row">
                            <div class="col-3">
                              <a href="{% url 'units_aoe' %}" class="btn btn-sm btn-warning"> New</a>

                            </div>

                            <div class="col-3">
                              <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i> Print </a>

                            </div>

                            <div class="col-3">
                              <a href="" class="btn btn-sm btn-warning"><i class="fas fa-csv"></i>  Export </a>
                            </div>

                            <div class="col-3">
                              <a href="" class="btn btn-sm btn-warning"> Reports </a>

                            </div>
                          </div>
                           
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th>Unit Name</th>
                <th>Number</th>
                <th>Rent</th>
                <th>Size</th>

                <th>Building</th>
                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
                <th>View</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>

                {% for unit in units %}
              <tr>
                <td>{{ unit.name }}</td>
                <td>
                  {{ unit.number }}
                </td>
                <td>{{ unit.rent }}</td>
                <td>  {{unit.size}}</td>
                <td>  {{ unit.building }}</td>
                <td> {{ unit.creator }}</td>
                <td>{{ unit.date_created }}</td>
                <td>{{ unit.modified_by }}
                </td>
                <td>{{ unit.date_modified }}
                  </td>
                  <td>   <a href="{% url 'units_details' pk=unit.id %}" class="btn btn-sm btn-warning"> View </a></td>
              
                  <td>   <a href="{% url 'units_edit' pk=unit.id %}" class="btn btn-sm btn-success"> Edit </a></td>
                  <td>   <a data-id="{% url 'delete_unit' unit.id %}" class="delete-unit btn btn-sm btn-danger"> Delete  </a></td>
              </tr>
     
              {% endfor %}






          
              </tbody>
              <tfoot>
            
                <tr>
                  <th>Unit Name</th>
                  <th>Number</th>
                  <th>Rent</th>
                  <th>Size</th>
  
                  <th>Building</th>
                  <th>Created By</th>
                  <th>Date Created</th>
                  <th>Modified By</th>
                  <th>Date Modified</th>
                  <th>View</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
        
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}


{% block extra_js %}
<script>
  $(".delete-unit").each(function() {
    $(this).modalForm({formUrl: $(this).data('id')});
  })
</script>


{% endblock %}