{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>FinSA | Login </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Ionicons -->
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">

{% block active_item_home %}

{% endblock %}
{% block extra_css %}
<style>
  .lockscreen-wrapper {
    margin: 0 auto;
    margin-top: 0px;
    max-width: 400px;
    margin-top: 10%;
}

.login-page, .register-page {
  -ms-flex-align: center;
  align-items: center;
  background: #e9ecef;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 40vh;
  -ms-flex-pack: center;
  justify-content: center;
}
</style>
{% endblock extra_css %}
    <!-- Google Font: Source Sans Pro -->
</head>

<body class="hold-transition lockscreen">
    <!-- Automatic element centering -->
    <div class="lockscreen-wrapper">
        <div class="lockscreen-logo">
           <h1><a href="" ><b>Fin</b>SA</a></h1>
      
                <a href="" class="text-black">
                   <small style="font-size: 14px; color:cadetblue;">Fingate Stand Alone Installation</small> </a>
                   <br>
            
        </div>

        <br>
        <br>
        <!-- User name -->
        <div class="hold-transition login-page">
          <div class="login-box">
            <div class="login-logo text-center">
              <!-- <h4>Thanns Sacco</h4> -->
            </div>
            <!-- /.login-logo -->
            <div class="card">
              <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in</p>
      
                
      
                <form  method="post" role="form" action="{% url 'login' %}" method="post">
                  {% csrf_token  %}
                  <div class="input-group mb-3">
                      <input type="text" name="phone_number" placeholder="Phone Number" class="form-control">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-phone"></span>
                      </div>
                    </div>
                  </div>
                  <div class="input-group mb-3">
                      <input type="password" name="password" placeholder="Password" class="form-control">
                    <div class="input-group-append">
                      <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                  
                    <!-- /.col -->
                    <div class="col-12 text-center">
                      <button type="submit" class="btn btn-info btn-block">Sign In</button>
                    </div>
                    <!-- /.col -->
                  </div>
      
                  <br>
                  <hr>
      
             
      
                  <p class="mb-1">
                    <a class="btn btn-info btn-block"  style="color: white;" href="{% url 'index' %}">Home</a>
                  </p>
                </form>

                <br>
          
         
                <!-- /.social-auth-links -->
          
            
              
              </div>
      
       
              <!-- /.login-card-body -->
            </div>
          </div>
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <div class="callout callout-danger">
              <h5><i class="fas fa-info"></i> Message</h5>
              {{ message }}
            </div>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
      
      
      <br>
      <br>

        <div class="lockscreen-footer text-center">
            Copyright &copy; 2020 <br> <b><a href="http://fingate.co.ke" class="text-black">Fingate Services <br> Factor
                    Technologies Limited</a></b><br>
            All rights reserved
        </div>
    </div>
    <!-- /.center -->

    <!-- jQuery -->
    <script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
    <!-- Bootstrap 4 -->
    <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>