{% extends 'main/sub_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Profile
{% endblock title %}
{% block active_item_home %}

{% endblock %}
{% block extra_css %}
{% endblock extra_css %}


{% block inner_content %}
<div class="content">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container">
      <div class="row mb-1">
        <div class="col-sm-6">
          <h1>Profile</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
            <li class="breadcrumb-item active">Profile</li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
  <section class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="card card-warning card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle" src="{{ request.user.avatar.thumbnail.url }}"
                  alt="User profile picture">
              </div>

              <h3 class="profile-username text-center">{{ form.username.value }}</h3>

              <p class="text-muted text-center">{{ form.phone_number.value }}</p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->

          <!-- About Me Box -->
          <div class="card card-warning">
            <!-- <div class="card-header"> -->
              <!-- <h3 class="card-title">About Me</h3> -->
            <!-- </div> -->
            <!-- /.card-header -->
            <!-- <div class="card-body"> -->
              <!-- <strong><i class="fas fa-book mr-1"></i> Occupation</strong> -->

              <!-- <p class="text-muted">
                  B.S. in Computer Science from the University of Tennessee at Knoxville
                </p> -->

              <!-- <hr> -->

              <!-- <strong><i class="fas fa-map-marker-alt mr-1"></i> Residence</strong> -->

              <!-- <p class="text-muted">Malibu, California</p> -->

              <!-- <hr> -->

            <!-- </div> -->
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card">
            <div class="card-header p-2 bg-warning">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link nav-warning active" href="#settings"
                    data-toggle="tab">Settings</a></li>
                <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Timeline</a></li>
                <li class="nav-item"><a class="nav-link" href="#messages" data-toggle="tab">Messages</a></li>
                <li class="nav-item"><a class="nav-link" href="#notifications" data-toggle="tab">Notifications</a></li>
                <li class="nav-item"><a class="nav-link" href="#documents" data-toggle="tab">Documents</a></li>
                <li class="nav-item"><a class="nav-link" href="#password" data-toggle="tab">Password Reset</a></li>

                <!-- <li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Tenancy</a></li> -->

              </ul>
            </div><!-- /.card-header -->
            <div class="card-body">
              <div class="tab-content">
                <div class=" tab-pane" id="activity">
                  <!-- Post -->
                  <!-- <div class="row">

                    {% if request.tenant.name == "kondisasa" %}
                    <div class="col-12 d-flex justify-content-center align-items-center" style="min-height:60vh;">
                      <a href="{% url 'tenancy' %}" class="btn btn-warning btn-lg"> Register A Management Agency</a>
                    </div>

                    
                    {% else %}

                    <div class="row" style="min-height:60vh;">

                      <div class="col-12">
                        <div class="card card-success" >
                          <div class="card-header">
                            <h3 class="card-title">{{ request.tenant.name }}</h3>
            
                            <div class="card-tools">
                              <button type="button" class="btn btn-tool" data-card-widget="card-refresh" data-source="widgets.html" data-source-selector="#card-refresh-content" data-load-on-init="false"><i class="fas fa-sync-alt"></i></button>
                              <button type="button" class="btn btn-tool" data-card-widget="maximize"><i class="fas fa-expand"></i></button>
                              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i></button>
                              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                            </div>
                          </div>
                          <div class="card-body">
                            <a href="{% url 'dashboard_daily' %}" class="btn btn-warning btn-lg">Access {{ request.tenant.name }}</a>
                          </div>
                        </div>
    
                      </div>

                    </div>
                
                    {% endif %}
                  </div> -->
                  <!-- /.post -->
                </div>
                <!-- /.tab-pane -->
                <div class="tab-pane" id="timeline">
                  <!-- The timeline -->
                  <div class="timeline timeline-inverse" style="min-height:60vh;">
                    <!-- timeline time label -->

                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>

                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> </span>

                        <h3 class="timeline-header"><a href="#">Info</a> </h3>

                        <div class="timeline-body">
                          There is no data to show.
                        </div>
                        <div class="timeline-footer">
                          <!-- <a href="#" class="btn btn-primary btn-sm">Read more</a> -->
                          <!-- <a href="#" class="btn btn-danger btn-sm">Delete</a> -->
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- /.tab-pane -->

                <div class="tab-pane" id="messages" style="min-height:60vh;">
                  <!-- The timeline -->
                  <div class="timeline timeline-inverse">
                    <!-- timeline time label -->

                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>

                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> </span>

                        <h3 class="timeline-header"><a href="#">Info</a> </h3>

                        <div class="timeline-body">
                          There are no Messages to show.
                        </div>
                        <div class="timeline-footer">
                          <!-- <a href="#" class="btn btn-primary btn-sm">Read more</a> -->
                          <!-- <a href="#" class="btn btn-danger btn-sm">Delete</a> -->
                        </div>
                      </div>
                    </div>

                  </div>
                </div>


                <div class="tab-pane" id="notifications" style="min-height:60vh;">
                  <!-- The timeline -->
                  <div class="timeline timeline-inverse">
                    <!-- timeline time label -->

                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>

                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> </span>

                        <h3 class="timeline-header"><a href="#">Info</a> </h3>

                        <div class="timeline-body">
                          There are no Notifications to show.
                        </div>
                        <div class="timeline-footer">
                          <!-- <a href="#" class="btn btn-primary btn-sm">Read more</a> -->
                          <!-- <a href="#" class="btn btn-danger btn-sm">Delete</a> -->
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="tab-pane" id="documents" style="min-height:60vh;">
                  <!-- The timeline -->
                  <div class="timeline timeline-inverse">
                    <!-- timeline time label -->

                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <div>

                      <div class="timeline-item">
                        <span class="time"><i class="far fa-clock"></i> </span>

                        <h3 class="timeline-header"><a href="#">Info</a> </h3>

                        <div class="timeline-body">
                          There are no Documents to show.
                        </div>
                        <div class="timeline-footer">
                          <!-- <a href="#" class="btn btn-primary btn-sm">Read more</a> -->
                          <!-- <a href="#" class="btn btn-danger btn-sm">Delete</a> -->
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="active tab-pane" id="settings" style="min-height:60vh;">

                  {% crispy form %}

                </div>


                <div class="tab-pane" id="password" style="min-height:60vh;">

                  {% crispy password_form %}

                </div>
                <!-- /.tab-pane -->
              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>


{% endblock inner_content %}