
{% extends 'main/tenant_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Login
{% endblock title %}
{% block active_item_home %}

{% endblock %}
{% block extra_css %}
<style>
  .login-page, .register-page {

    -ms-flex-align: center;
    align-items: center;
    background: 

    #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;

    justify-content: center;
    align-items: center;

}
  h4 {
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      font-weight: bold;
      padding-top: 50px;
      padding-bottom: 50px;
  
  }
  .form {
      width: 100%;
      height: 60vh;
      display: flex;
      flex-direction: column;
  }
</style>
{% endblock extra_css %}


  {% block inner_content %}


<div class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo text-center">
        <h4>{{ request.tenant.name }}</h4>
      </div>
      <!-- /.login-logo -->
      <div class="card">
        <div class="card-body login-card-body">
          <p class="login-box-msg">Password Reset</p>

          <form  method="post" role="form" action="{% url 'password_reset' %}" method="post">
            {% csrf_token  %}
            <div class="input-group mb-3">
            <input type="email" name="email" placeholder="Email" class="form-control">
              <div class="input-group-append">
                <div class="input-group-text">
                  <span class="fas fa-phone"></span>
                </div>
              </div>
            </div>
            <div class="row">
            
              <!-- /.col -->
              <div class="col-12 text-center">
                <button type="submit" class="btn btn-primary btn-block">Reset</button>
              </div>
              <!-- /.col -->
            </div>

            <br>
            <hr>

       

            <p class="mb-1">
              <a class="btn btn-primary" style="color: white;" href="{% url 'login' %}">Login</a>
            </p>
          </form>
    
   
          <!-- /.social-auth-links -->
    
      
        
        </div>

 
        <!-- /.login-card-body -->
      </div>
    </div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <div class="callout callout-danger">
        <h5><i class="fas fa-info"></i> Message</h5>
        {{ message }}
      </div>
      {% endfor %}
    </ul>
  {% endif %}
</div>




{% endblock inner_content %}