
{% extends 'main/sub_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
Register
{% endblock title %}
{% block active_item_home %}

{% endblock %}
{% block extra_css %}
<style>
  .login-page, .register-page {

    -ms-flex-align: center;
    align-items: center;
    background: 

    #e9ecef;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    -ms-flex-pack: center;
    padding-top: 60px;

}
  h4 {
      width: 100%;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 50px;
      font-weight: bold;
      padding-top: 50px;
      padding-bottom: 50px;
  


  }

  .login-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
  .form {
      width: 100%;
      height: 60vh;
      display: flex;
      flex-direction: column;
  }
</style>
{% endblock extra_css %}


  {% block inner_content %}




<div class="hold-transition register-page">
    <div class="register-box mb-4">
      <div class="register-logo">
        <a href="/"><b>{{ request.tenant.name }}</b></a>
      </div>
    
      <div class="card">
        <div class="card-body register-card-body">
          <p class="login-box-msg">Register a new membership</p>
    
         {% crispy form %}
    
      
    
        </div>
        <a href="{% url 'login' %}" class="text-center  mb-4">I already have a membership</a>

        <!-- /.form-box -->
      </div><!-- /.card -->
    </div>
    <!-- /.register-box -->

</div>



{% endblock inner_content %}