{% extends 'dashboard_base.html' %}

{% load static %}
{% load humanize %}
{% block app %} Finance {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loc_list' %}">Line Of Credit</a></li>
<li class="breadcrumb-item"><a href="{% url 'loc_list' %}">Movement</a></li>
{% endblock breadcrump %}


{% block active_finance %}
active
{% endblock active_finance %}


{% block show_finance  %}
menu-open
{%  endblock show_finance %}
{% block title %}

Dashboard Finance 

{% endblock title %}

{% block active_loc_sec %}
      active    
{% endblock active_loc_sec %}

{% block active_finance_sec %}
          active
              {% endblock active_finance_sec %}


              {% block show_finance_sec %}
          menu-open
              {% endblock show_finance_sec %}



{% block dashboard_content %}



<div class="container-fluid" id="page">



<section class="content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header">
        <div class="col-md-5">
          <h3 class="card-title">Line Of Credit</h3>
        </div>
        <div class="col-md-6">
       
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="dataTable" class="table table-sm table-md table-bordered table-striped">
          <thead class="">
            <tr>
              <th>Title</th>
              <th>Code</th>
              <th> Initial Amount</th>
              <th>Remainder</th>
              <!-- <th>Anticipated Amount</th> -->
              <th>Created By</th>
              <th>Date Created</th>
              <th>Modified By</th>
              <th>Date Modified</th>
              <th class="no-print">Banking</th>
              <th class="no-print">Financing</th>
              <th class="no-print">Movement</th>
              <th class="no-print">Edit</th>
           
            </tr>
          </thead>
          <tbody>

            {% for account in accounts %}
            <tr>
              <td>{{ account.name }}</td>
              <td>{{ account.code }}</td>
              <td>{{ account.initial_amount | intcomma }}
              </td>
              <td>{{ account.remainder_amount | intcomma }}</td>
              <!-- <td> 
                
                {{ account.anticipated_remainder_amount }}
              </td> -->
          
              <td> {{ account.creator.phone_number }}</td>
              <td>{{ account.date_created }}</td>
              <td> {{ account.modified_by }}</td>
              <td> {{ account.date_modified }}</td>

              {% if account.is_cash %}
              <td class="no-print"><a href="{% url 'sec_loc_banking' pk=account.id %}" class="btn btn-sm btn-warning"> Banking </a></td>

              {% elif account.is_bank %}
              <td class="no-print"><a href="{% url 'sec_loc_banking' pk=account.id %}" class="btn btn-sm btn-warning"> Cash From Bank </a></td>
              {% endif %}
             
              <td class="no-print"> <a href="{% url 'sec_loc_finance' pk=account.id %}" class="btn btn-sm btn-warning"> Financing </a></td>
              <td class="no-print"> <a href="{% url 'sec_loc_details' pk=account.id %}" class="btn btn-sm btn-warning"> Movement </a></td>
              <td class="no-print"> <a href="{% url 'sec_loc_edit' pk=account.id %}" class="btn btn-sm btn-success"> Edit </a></td>
            </tr>
            {% endfor %}







          </tbody>
        </table>

<hr>

        <table id="dataTable" class="table  table-sm table-bordered table-striped">
          <thead>
            <tr>
              <th>Date </th>
              <th colspan="7"></th>

             
             
              <th colspan="2">Balances</th>

              <th></th>
         

         

            
              <th>Processed</th>
              <th class="no-print">Action</th>
              
          </tr>
            <tr>
              <th>Date </th>
              <th>Id</th>

              <th>Description</th>
              <th> Group</th>
              <th> Slip </th>
              <th> P.V</th>

              <th> Vote</th>
              <th> CHQ</th>
              <th>Receipts</th>
              <th>Payments</th>
          
            

              <th>Balance</th>
         

         

            
              <th>Processed</th>
              <th class="no-print">Cancel</th>
              
          </tr>
          </thead>
          <tbody>

              {% for transaction in events %}
              <tr>

                <td> {{ transaction.transaction.date | date:'Y-m-d' }}</td>
             

                  <td> {{ transaction.id}}</td>

                  <td>{{ transaction.description }}</td>

                  <td> {{ transaction.transaction.group.group_name }}</td>
                  <td> {{ transaction.transaction.slip.number }}</td>
                  <td> {{ transaction.transaction.expense.pv_number_ }}</td>
                  <td> {{ transaction.transaction.type.vote_h }}</td>
                  <td> {{ transaction.transaction.slip.cheque_number}}</td>

                  
                  <td> 
                    {{ transaction.transaction.dr_amount | intcomma }}
                    </td>
                  <td> 
          
                    {{ transaction.transaction.cr_amount | intcomma }}
                
                  </td>


                  <!-- <td> 
                    {% if transaction.type == "Cr" %}
                    {{ transaction.cr_amount }}
                    {% endif %}
                  </td>

                  <td>   {% if transaction.type == "Dr" %}
                    {{ transaction.dr_amount }}
                    {% endif %}</td> -->

                  <td>{{ transaction.remainder | intcomma  }}</td>

                  <td> {{ transaction.creator}}</td>
                  {% if transaction.is_payment %}
                  <td class="no-print">
                    {% if transaction.cancelled %}
                    <a class="btn btn-sm btn-secondary dissable"> <small>Cancel Payment</small> </a>
                    {% else %}
                    <a href="{% url 'payment_reversal' pk=transaction.id %}" class="btn btn-sm btn-warning"> <small>Cancel Payment</small>  </a>
                    {% endif %}
                  </td>
                  {% else %}

                  <td class="no-print">
                    {% if transaction.loc.is_cash %}

                    {% if transaction.transaction.type.is_banking %}

                 
               

                  {% if transaction.cancelled %}
                  <a  class="btn btn-sm btn-secondary"> Reversed </a>
                  {% else %}
               
                  <small> Reverse From Bank </small> 
                  {% endif %}





                  
                      {% else %}

                      {% if transaction.cancelled %}
                      <a class="btn btn-sm btn-secondary dissable"> Reversed </a>
                      {% else %}
                      <a href="{% url 'loc_cancel' pk=transaction.id %}" class="btn btn-sm btn-warning"> Reverse </a>
                      {% endif %}

                      {% endif %}

                    {% elif transaction.loc.is_bank %}

                    {% if transaction.transaction.type.is_cash_from_bank %}

                 
              

               {% if transaction.cancelled %}
            
               <a  class="btn btn-sm btn-secondary"> Reversed </a>
               {% else %}
               <small> Reverse From CASH </small> 
               {% endif %}



                  
                      {% else %}

                      {% if transaction.cancelled %}
                      <a class="btn btn-sm btn-secondary dissable"> Reversed </a>
                      {% else %}
                      <a href="{% url 'loc_cancel' pk=transaction.id %}" class="btn btn-sm btn-warning"> Reverse </a>
                      {% endif %}

                      {% endif %}
                    {% endif %}
                  </td>

                  {% endif %}
              </tr>






              {% endfor %}


          </tbody>

          <tfoot class="">
            <tr>
              <th>Totals </th>
              <th colspan="6"></th>

             <th></th>
             
             <th> {{ debits.transaction__dr_amount__sum  | intcomma }}</th>
             <th>{{ credits.transaction__cr_amount__sum | intcomma  }}</th>
        
           
              <th> {{ account.remainder_amount | intcomma }} </th>
         

            
              <th></th>
              <th class="no-print"></th>
          </tr>
        </tfoot>
  
      </table>

      <table id="dataTable" class="table  table-sm table-bordered table-striped">
        <thead class="bg-warning">
          <tr>
            <th>Title</th>
            <th>Code</th>
            <th> Initial Amount</th>
            <th>Remainder</th>
            <th>Created By</th>
            <th>Date Created</th>
            <th>Modified By</th>
            <th>Date Modified</th>
            <th class="no-print">Financing</th>
            <th class="no-print">Edit</th>
         
          </tr>
        </thead>
        <tbody>

          {% for account in accounts %}
          <tr>
            <td>{{ account.name }}</td>
            <td>{{ account.code }}</td>
            <td>{{ account.initial_amount | intcomma }}
            </td>
            <td>{{ account.remainder_amount | intcomma  }}</td>
         
        
            <td> {{ account.creator.phone_number }}</td>
            <td>{{ account.date_created }}</td>
            <td> {{ account.modified_by }}</td>
            <td> {{ account.date_modified }}</td>
            <td class="no-print"> <a href="{% url 'sec_loc_finance' pk=account.id %}" class="btn btn-sm btn-warning"> Finance </a></td>
            <td class="no-print"> <a href="{% url 'sec_loc_edit' pk=account.id %}" class="btn btn-sm btn-success"> Edit </a></td>
          </tr>
          {% endfor %}







        </tbody>
    
      </table>
      </div>
      <!-- /.card-body -->
    </div>
</div>
</section>





</div>

{% endblock dashboard_content %}



{% block extra_js %}

<script src="{% static 'js/flexmonster.js' %}"></script>



{% endblock extra_js %}











