{% extends 'dashboard_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block app %} Finance {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loc_list' %}">Line Of Credit</a></li>
<li class="breadcrumb-item"><a href="{% url 'loc_list' %}">List</a></li>
{% endblock breadcrump %}


{% block active_finance %}
active
{% endblock active_finance %}


{% block show_finance  %}
menu-open
{%  endblock show_finance %}
{% block title %}

Dashboard Finance 

{% endblock title %}

{% block active_loc %}
      active    
{% endblock active_loc %}



{% block active_finance_pri %}
          active
              {% endblock active_finance_pri %}


              {% block show_finance_pri %}
          menu-open
              {% endblock show_finance_pri %}

{% block dashboard_content %}



<div class="container-fluid" id="page">



<section class="content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header">
        <div class="col-md-5">
          <h3 class="card-title">Line Of Credit</h3>
        </div>
        <div class="col-md-6">
       
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="dataTable" class="table  table-md table-bordered table-striped">
          <thead class="bg-warning">
            <tr>
              <th>Title</th>
              <th>Code</th>
              <th> Initial Amount</th>
              <th>Remainder</th>
              <th>Anticipated Amount</th>
              <th>Created By</th>
              <th>Date Created</th>
              <th>Modified By</th>
              <th>Date Modified</th>
              <th>Financing</th>
              <th>Edit</th>
           
            </tr>
          </thead>
          <tbody>

            {% for account in accounts %}
            <tr>
              <td>{{ account.name }}</td>
              <td>{{ account.code }}</td>
              <td>{{ account.initial_amount}}
              </td>
              <td>{{ account.remainder_amount }}</td>
              <td> 
                
                {{ account.anticipated_remainder_amount }}
              </td>
          
              <td> {{ account.creator.phone_number }}</td>
              <td>{{ account.date_created }}</td>
              <td> {{ account.modified_by }}</td>
              <td> {{ account.date_modified }}</td>
              <td> <a href="{% url 'loc_finance' pk=account.id %}" class="btn btn-sm btn-warning"> Finance </a></td>
              <td> <a href="{% url 'loc_edit' pk=account.id %}" class="btn btn-sm btn-success"> Edit </a></td>
            </tr>
            {% endfor %}







          </tbody>
      
        </table>
      </div>
      <!-- /.card-body -->
    </div>
</div>
</section>




<section class="content">
  <div class="row d-flex justify-content-center">
    <div class="col-10">
  

      <div class="card">
        <div class="card-header bg-info">
        
          <div class="row">
              <div class="col-6">
                  <h3 class="card-title">Financing Form</h3>
              </div>

              <div class="col-6">
                  <div class="row">
                      <div class="col-6">
                      </div>

                      <div class="col-6">
                         
                      </div>
                  </div>
                
               
              </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
        
          {% crispy form %}

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>



<section class="content">
  <div class="container-fluid">

    <div class="card">
      <div class="card-header">
        <div class="col-md-5">
          <h3 class="card-title">Line Of Credit Events</h3>
        </div>
        <div class="col-md-6">
       
        </div>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="dataTable" class="table  table-bordered table-striped">
            <thead class="bg-info">
              <tr>
                <th>Date </th>
                <th colspan="5"></th>

               
               
                <th colspan="2">Cash</th>

                <th></th>
           

           

              
                <th>Processed By</th>
               
                
            </tr>
              <tr>
                <th>Date </th>
                <th>Id</th>

                <th>Description</th>
                <th> Member</th>
           

                <th> Vote</th>
                <th> CHQ</th>
                <th>Receipts</th>
                <th>Payments</th>

                <th>Balance</th>
           

           

              
                <th>Processed By</th>
               
                
            </tr>
            </thead>
            <tbody>

                {% for transaction in events %}
                <tr>

                  <td> {{ transaction.transaction.date | date }}</td>
               

                    <td> {{ transaction.id}}</td>

                    <td>{{ transaction.description }}</td>
              


      
               
                    <td> {{ transaction.transaction.member}}</td>

                 

                    <td> {{ transaction.transaction.code}}</td>
                    <td> {{ transaction.transaction.code}}</td>

               

               

                    <td> 
                      {% if transaction.type == "Dr" %}
                      {{ transaction.amount }}
                      {% endif %}
                    </td>

                    <td>   {% if transaction.type == "Cr" %}
                      {{ transaction.amount }}
                      {% endif %}</td>


                    <td>{{ transaction.remainder }}</td>
           
              



                 

                    <td> {{ transaction.creator}}</td>
                </tr>






                {% endfor %}


            </tbody>
    
        </table>
      </div>
      <!-- /.card-body -->
    </div>
</div>
</section>

</div>

{% endblock dashboard_content %}



{% block extra_js %}

<script src="{% static 'js/flexmonster.js' %}"></script>



{% endblock extra_js %}











