{% extends 'dashboard_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block app %} Clients {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'clients_list' %}">Clients</a></li>
<li class="breadcrumb-item"><a href="{% url 'clients_aoe' %}">AOE</a></li>
{% endblock breadcrump %}


{% block active_client %}
active
{% endblock active_client %}

{% block active_c %}
active
{% endblock active_c %}
{% block show_client  %}
menu-open
{%  endblock show_client %}
{% block title %}

Dashboard Clients Manaagement 

{% endblock title %}



{% block dashboard_content %}
<section class="content">
    <div class="row d-flex justify-content-center">
      <div class="col-10">
    

        <div class="card">
          <div class="card-header bg-success">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Client Details Registration Form</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">
                           
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
          
            {% crispy form %}

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}