{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Clients {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'clients_list' %}">Clients</a></li>
<li class="breadcrumb-item"><a href="{% url 'clients_list' %}">List</a></li>
{% endblock breadcrump %}

{% block active_owner %}
active
{% endblock active_owner %}
{% block active_c %}
active
{% endblock active_c %}
{% block active_client %}
active
{% endblock active_client %}

{% block show_client  %}
menu-open
{%  endblock show_client %}
{% block title %}

Dashboard Clients Manaagement 

{% endblock title %}


{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Clients Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">
                            <a href="{% url 'clients_aoe' %}" class="btn btn-sm btn-warning"> Add New</a>
                            <a href="" class="btn btn-sm btn-warning"> Print </a>
                            <a href="" class="btn btn-sm btn-warning"> Export </a>
                            <a href="" class="btn btn-sm btn-warning"> Reports </a>
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>

                <th>National Id</th>
                <th>COA Type</th>
                
                <th>Buildings</th>
                <th>Status</th>
                <th>Payment</th>
                <th>Invoice</th>
                <th>Details</th>
              </tr>
              </thead>
              <tbody>

                {% for client in clients %}
              <tr>
                <td>{{ client.first_name }}</td>
                <td>
                  {{ client.middle_name }}
                </td>
                <td>{{ client.last_name }}</td>
                <td> {{ client.phone_number }}</td>
                <td> {{ client.id_number }}</td>
                <td> {{ client.type }}</td>
                <td>{{ client.buildings }}</td>
              
                <td>
                  {{ client.phone_number }}
                  </td>
                  <td>   <a href="{% url 'clients_details' pk=client.id %}" class="btn btn-sm btn-warning"> Cheque </a></td>
              
                  <td>   <a href="{% url 'clients_details' pk=client.id  %}" class="btn btn-sm btn-danger"> Letter </a></td>
                  <td>   <a href="{% url 'clients_details' pk=client.id  %}" class="btn btn-sm btn-success"> More  </a></td>
              </tr>
       

{% endfor %}







          
              </tbody>
              <tfoot>
            
                <tr>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>National Id</th>
                    <th>COA Type</th>
                 
                    <th>Buildings</th>
                    <th>Status</th>
                    <th>Payment</th>
                    <th>Invoice</th>
                    <th>Details</th>
                  </tr>
        
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}