{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title> Finsa -  {% block title %} {% endblock title %}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/finsa.png' %}">

  <meta name="description" content="A flexxible Sacco / Micro Finance solution that automates the process of offering financial services like loans and savings to individuals or groups.">

 
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <!-- <link href="https:// //cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet"> -->

    <style>
      .lockscreen {
        background: cadetblue;
    }
    </style>

  {% block dashboard_css %}
  {% endblock dashboard_css %}
  <style>

    .f-padding {
      padding-top: 30px;
      padding-bottom: 20px;
  }
    .product-image {

      max-width: 40%;
      height: auto;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
  
  }

  .bborder {
    border-bottom: 1px solid black;
  }
  .content-header {

    padding: .5rem;

}
  .logo {

    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: green;

}

.logo-dash {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}



.logo-dash:hover {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}


.logo:hover {

  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: green;

}
  </style>

  
  {% block extra_css %}


  {% endblock extra_css %}
</head>
<body class="hold-transition {% block dashboard_classes %}  {% endblock dashboard_classes %}">
<div class="wrapper">


    {% block content %}


    {% endblock content %}
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->

  <!-- Main Footer -->
  <footer class="{% block footer_class %} {% endblock footer_class %}" style="border-top: 1px solid black; height: 60px">
    <strong>Copyright &copy; 2020 <a href="http://fingate.co.ke">FinGate </a> - <a href="http://factor.co.ke">Factor Technologies</a> </strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block mr-5 ml-5">
      <b>Version</b> 1.0.0
    </div>
  </footer>
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>

<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>

<!-- overlayScrollbars -->

{% block dashboard_js %}

{% endblock dashboard_js %}
<script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.js' %}"></script>

<!-- OPTIONAL SCRIPTS -->
<script src="{% static 'dist/js/demo.js' %}"></script>


<script>
  function printDiv(divName) {
    var printContents = document.getElementById(divName).innerHTML;
    var originalContents = document.body.innerHTML;

    document.body.innerHTML = printContents;

    window.print();

    document.body.innerHTML = originalContents;
}
</script>




{% block extra_js %}



{% endblock extra_js %}
</body>
</html>




