 {% extends 'base.html' %}


 {% load static %}
 {% block dashboard_classes %} sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed
 {% endblock dashboard_classes %}

 {% block dashboard_css %}
 <!-- <link rel="stylesheet" href="{% static 'jquery.dataTables.min.css' %}"> -->

 <!-- DataTables -->
 <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
 <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
 <!-- Theme style -->
 <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">

 <style>
   .t {
     color: black;
     font-weight: bold;
   }
 </style>
 {% endblock dashboard_css %}
 {% block content %}
 <!-- Navbar -->
 <nav class="main-header navbar navbar-expand navbar-white navbar-light">
   <!-- Left navbar links -->
   <ul class="navbar-nav">
     <li class="nav-item">
       <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
     </li>
     <li class="nav-item d-none d-sm-inline-block">
       <a href="{% url 'index' %}" class="nav-link">Home</a>
    
     </li>
     <li class="nav-item">
      <a class="nav-link btn btn-warning mr-2" href="{% url 'fosa' %}" role="button"><i
          class="fas fa-th-large mr-1"></i>FOSA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-danger mr-2" href="" role="button"><i
          class="fas fa-th-large mr-1"></i>Admin Interface</a>
    </li>

     <li class="nav-item d-none d-sm-inline-block">
       <a href="help" class="nav-link link-primary">Get Help</a>
     </li>
   </ul>

   <!-- SEARCH FORM -->
   <form class="form-inline ml-3">
     <div class="input-group input-group-sm">
       <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
       <div class="input-group-append">
         <button class="btn btn-navbar" type="submit">
           <i class="fas fa-search"></i>
         </button>
       </div>
     </div>
   </form>

   <!-- Right navbar links -->
   <ul class="navbar-nav ml-auto">
     <!-- Messages Dropdown Menu -->
     <li class="nav-item dropdown">
       <a class="nav-link" data-toggle="dropdown" href="#">
         <i class="far fa-comments"></i>
         <span class="badge badge-danger navbar-badge">0</span>
       </a>
       <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

         <div class="dropdown-divider"></div>
         <a href="#" class="dropdown-item dropdown-footer">0 Messages</a>
       </div>
     </li>
     <!-- Notifications Dropdown Menu -->
     <li class="nav-item dropdown">
       <a class="nav-link" data-toggle="dropdown" href="#">
         <i class="far fa-bell"></i>
         <span class="badge badge-warning navbar-badge">0</span>
       </a>
       <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">

         <div class="dropdown-divider"></div>
         <a href="#" class="dropdown-item dropdown-footer">0 Notifications</a>
       </div>
     </li>

     <li class="nav-item dropdown">
       <a class="nav-link" data-toggle="dropdown" href="#">
         <i class="far fa-user"></i>
       </a>
       <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
         <span class="dropdown-item dropdown-header">Quick Links</span>
         <div class="dropdown-divider"></div>
         <a href="{% url 'profile' %}" class="dropdown-item">
           <i class="fas fa-user mr-2"></i> Profile
         </a>
         <div class="dropdown-divider"></div>
         <a href="{% url 'dashboard' %}" class="dropdown-item">
           <i class="fas fa-tachometer-alt mr-2"></i> Dashboard
         </a>
         <div class="dropdown-divider"></div>
         <a href="{% url 'logout' %}" class="dropdown-item">
           <i class="fas fa-user mr-2"></i> Logout
         </a>
         <div class="dropdown-divider"></div>
       </div>
     </li>

   </ul>
 </nav>
 <!-- /.navbar -->

 <!-- Main Sidebar Container -->
 <aside class="main-sidebar sidebar-dark-primary elevation-4">
   <!-- Brand Logo -->
   <a href="{% url 'index' %}" class="brand-link">
     <!-- <img src="{% static 'dist/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8"> -->
     <span class="brand-text font-weight-light logo-dash"
       style="display: flex; justify-content:center; font-weight:1000;">{{ request.tenant.name }}</span>
   </a>

   <!-- Sidebar -->
   <div class="sidebar">
     <!-- Sidebar user panel (optional) -->
     <div class="user-panel mt-3 pb-3 mb-3 d-flex">
       <div class="image">
         <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
       </div>
       <div class="info">
         <a href="{% url 'profile' %}" class="d-block">{{ request.user }}</a>
         
         <a href="{% url 'profile' %}" class="d-block">{{ user.groups.all.0.modules }}</a>

       </div>
     </div>

     <!-- Sidebar Menu -->
     <nav class="mt-2">
       <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
         <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->

         <li class="nav-item has-treeview {% block show_dash %} {%  endblock show_dash %}">
           <a href="#" class="nav-link {% block active_dash %} {% endblock active_dash %}">
             <i class="nav-icon fas fa-tachometer-alt"></i>
             <p>
               Dashboard
               <i class="right fas fa-angle-left"></i>
             </p>
           </a>
           <ul class="nav nav-treeview bg-secondary">
             <li class="nav-item">
               <a href="{% url 'dashboard_daily' %}" class="nav-link {% block menu_class_daily %}
              
                
                {% endblock menu_class_daily %}">
                 <i class="far fa-circle nav-icon"></i>
                 <p>Daily Reports</p>
               </a>
             </li>
             <li class="nav-item">
               <a href="{% url 'dashboard_monthly' %}" class="nav-link {% block menu_class_monthly %}
            
                
                {% endblock menu_class_monthly %}">
                 <i class="far fa-circle nav-icon"></i>
                 <p>Monthly Reports</p>
               </a>
             </li>
             <li class="nav-item">
               <a href="{% url 'dashboard_annual' %}" class="nav-link {% block menu_class_annual %}
             
                
                {% endblock menu_class_annual %}">
                 <i class="far fa-circle nav-icon"></i>
                 <p>Annual Reports</p>
               </a>
             </li>
           </ul>
         </li>

         
 
    
         <li class="nav-item has-treeview {% block show_members %} {%  endblock show_members %}">
          <a href="#" class="nav-link {% block active_members %} {%  endblock active_members %}">
            <i class="nav-icon fas fa-copy"></i>
            <span class="badge badge-success right">7</span>

            <p>
              Entities
              <i class="fas fa-angle-left right"></i>
            </p>
          </a>
          <ul class="nav nav-treeview bg-secondary">
            <li class="nav-item ">
              <a href="{% url 'members_list' %}" class="nav-link {% block active_mem %} {%  endblock active_mem %}">
                <i class="nav-icon fas fa-users"></i>
                <span class="badge badge-info right">7</span>

                <p>
                  Members
                </p>
              </a>
            </li>
            <li class="nav-item ">
              <a href="{% url 'members_aoe' %}" class="nav-link {% block active_new_member %} {%  endblock active_new_member %}">
                <i class="far fa-circle nav-icon"></i>
                <p>New Member </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'groups_list' %}" class="nav-link {% block active_group %} {%  endblock active_group %}">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Groups
                </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'groups_aoe' %}" class="nav-link {% block active_new_group %} {%  endblock active_new_group %}">
                <i class="far fa-circle nav-icon"></i>
                <p>New Group </p>
              </a>
            </li>



            <li class="nav-item">
              <a href="{% url 'econ_act_list' %}" class="nav-link {% block active_econ_act %} {%  endblock active_econ_act %}">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Economic Activity
                </p>
              </a>
            </li>
  


          </ul>
        </li>

        <li class="nav-item has-treeview {% block show_loc %}
          
        {% endblock show_loc %}">
          <a href="#" class="nav-link {% block active_loc %}
         
          {% endblock active_loc %}
    ">
            <i class="nav-icon fas fa-map"></i>
            <p>
              Locations
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview bg-secondary">
            <li class="nav-item ">
              <a href="{% url 'locations_list' %}" class="nav-link {% block active_location %}
         
              {% endblock active_location %}">
                <i class="far fa-map nav-icon"></i>
                <p>Locations </p>
              </a>
            </li>
          </ul>
        </li>

     
         <li class="nav-item has-treeview  {% block show_loans %} {%  endblock show_loans %}">
           <a href="#" class="nav-link  {% block active_loans %} {%  endblock active_loans %}">
             <i class="nav-icon fas fa-copy"></i>
             <p>
               Loans
               <i class="fas fa-angle-left right"></i>
               <span class="badge badge-info right">7</span>
             </p>
           </a>
           <ul class="nav nav-treeview bg-secondary">
            <li class="nav-item {% block active_loans_analysis %} {%  endblock active_loans_analysis %}">
              <a href="{% url 'loans_analysis' %}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Loan Analysis </p>
              </a>
            </li>
            <li class="nav-item ">
              <a href="{% url 'loans_requests' %}" class="nav-link {% block active_loans_requests %} {%  endblock active_loans_requests %}">
                <i class="far fa-circle nav-icon"></i>
                <span class="badge badge-info right">7</span>

                <p>Loan Requests </p>
              </a>
            </li>
             <li class="nav-item ">
               <a href="{% url 'loans' %}" class="nav-link {% block active_loans_all %} {%  endblock active_loans_all %}">
                 <i class="far fa-circle nav-icon"></i>
                 <p>All Loans </p>
               </a>
             </li>

             <li class="nav-item ">
              <a href="{% url 'loans_products' %}" class="nav-link {% block active_loans_products %} {%  endblock active_loans_products %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Loan Products </p>
              </a>
            </li>
      
          
            <li class="nav-item ">
              <a href="{% url 'loans_purpose' %}" class="nav-link {% block active_loans_purpose %} {%  endblock active_loans_purpose %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Purpose </p>
              </a>
            </li>
            <li class="nav-item ">
              <a href="{% url 'loans_plans' %}" class="nav-link {% block active_loans_plan %} {%  endblock active_loans_plan %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Payment Plans </p>
              </a>
            </li>
             <li class="nav-item ">
               <a href="{% url 'loans_types' %}" class="nav-link {% block active_loans_types %} {%  endblock active_loans_types %}">
                 <i class="far fa-circle nav-icon"></i>
                 <p>Types </p>
               </a>
             </li>

             

            <li class="nav-item ">
              <a href="{% url 'loans_collateral' %}" class="nav-link {% block active_loans_collateral %} {%  endblock active_loans_collateral %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Collaterals </p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'loans_reports' %}" class="nav-link {% block active_loans_reports %} {%  endblock active_loans_reports %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Loan Reports</p>
              </a>
            </li>

           </ul>
         </li>
         <li class="nav-item has-treeview {% block show_shares %}
          
         {% endblock show_shares %}">
           <a href="#" class="nav-link {% block active_shares %}
          
           {% endblock active_shares %}
           ">
             <i class="nav-icon fas fa-users"></i>
             <p>
               Shares
               <i class="right fas fa-angle-left"></i>
             </p>
           </a>
           <ul class="nav nav-treeview bg-secondary">
             <li class="nav-item">
               <a href="" class="nav-link {% block active_distribution %}
          
               {% endblock active_distribution %}">
                 <i class="far fa-circle nav-icon"></i>
                 <p>Distribution</p>
               </a>
             </li>

             <li class="nav-item">
              <a href="" class="nav-link {% block active_formula %}
          
              {% endblock active_formula %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Formula</p>
              </a>
            </li>

          

           </ul>
         </li>

         {% if 'savings' in perms %}
         <li class="nav-item has-treeview {% block show_savings %}
          
         {% endblock show_savings %}">
           <a href="#" class="nav-link {% block active_savings %}
          
           {% endblock active_savings %}
     ">
             <i class="nav-icon fas fa-map"></i>
             <p>
               Savings
               <i class="right fas fa-angle-left"></i>
             </p>
           </a>
           <ul class="nav nav-treeview bg-secondary">

             <li class="nav-item">
               <a href="{% url 'sbc_list' %}" class="nav-link {% block active_sbc %}
          
               {% endblock active_sbc %}">
                 <i class="far fa-circle nav-icon"></i>

                 <p> Book Contracts</p>
               </a>
             </li>

             <li class="nav-item">
              <a href="{% url 'scontract_products_list' %}" class="nav-link {% block active_scontract_products %}
          
              {% endblock active_scontract_products %}">
                <i class="far fa-circle nav-icon"></i>

                <p> Contracts Products</p>
              </a>
            </li>


            <li class="nav-item">
              <a href="{% url 'scontracts_list' %}" class="nav-link {% block active_scontracts %}
          
              {% endblock active_scontracts %}">
                <i class="far fa-circle nav-icon"></i>

                <p> Contracts</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'sdeposit_contracts_list' %}" class="nav-link {% block active_savings_deposits %}
          
              {% endblock active_savings_deposits %}">
                <i class="far fa-circle nav-icon"></i>

                <p> Deposits Contracts</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'sproducts_list' %}" class="nav-link {% block active_savings_products %}
          
              {% endblock active_savings_products %}">
                <i class="far fa-circle nav-icon"></i>

                <p> Products</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'locations_list' %}" class="nav-link {% block active_savings_events %}
          
              {% endblock active_savings_events %}">
                <i class="far fa-circle nav-icon"></i>

                <p> Events trial</p>
              </a>
            </li>



           </ul>
         </li>
         {% endif %}

         <li class="nav-item has-treeview {% block show_parameters %}
          
         {% endblock show_parameters %}">
           <a href="#" class="nav-link {% block active_parameters %}
          
           {% endblock active_parameters %}
     ">
             <i class="nav-icon fas fa-map"></i>
             <p>
               System Parameters
               <i class="right fas fa-angle-left"></i>
             </p>
           </a>
           <ul class="nav nav-treeview bg-secondary">

            <li class="nav-item ">
              <a href="{% url 'loans_periodicty' %}" class="nav-link {% block active_parameters_periodicity %} {%  endblock active_parameters_periodicity %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Periodicity </p>
              </a>
            </li>

          


           </ul>
         </li>


         <li class="nav-item has-treeview {% block show_finance %}
          
          {% endblock show_finance %}">
           <a href="#" class="nav-link 
            {% block active_finance %}
          
            {% endblock active_finance %} ">
             <i class="nav-icon fas fa-chart-pie"></i>
             <p>
               Accounting
               <i class="right fas fa-angle-left"></i>
             </p>
           </a>
           <ul class="nav nav-treeview bg-secondary">

             <li class="nav-item">
               <a href="{% url 'coa_list' %}" class="nav-link  {% block active_coa %}
          
                {% endblock active_coa %}">
                 <i class="far fa-circle nav-icon"></i>

                 <p>Chart Of Accounts</p>
               </a>
             </li>
             <li class="nav-item">
               <a href="{% url 'types_list' %}" class="nav-link  {% block active_types %}
          
                {% endblock active_types %}">
                 <i class="far fa-circle nav-icon"></i>
                 <p>Account Types</p>
               </a>
             </li>

             <li class="nav-item">
              <a href="{% url 'transactions' %}" class="nav-link  {% block active_transactions %}
         
               {% endblock active_transactions %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Transactions</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'methods_list' %}" class="nav-link  {% block active_mp %}
         
               {% endblock active_mp %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Methods Of Payment</p>
              </a>
            </li>


            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Expenses</p>
              </a>
            </li>


            
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Balance Sheet</p>
              </a>
            </li>

            
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Turn Over Balance Sheet</p>
              </a>
            </li>

            
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Account Movements</p>
              </a>
            </li>
        
            <li class="nav-item">
              <a href="" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Payroll</p>
              </a>
            </li>


           </ul>
         </li>

         <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Front Office
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview bg-secondary">
           <li class="nav-item">
             <a href="" class="nav-link">
               <i class="far fa-circle nav-icon"></i>
               <p>Deposits</p>
             </a>
           </li>

           <li class="nav-item">
             <a href="" class="nav-link">
               <i class="far fa-circle nav-icon"></i>
               <p>Withdrawers</p>
             </a>
           </li>

           
           <li class="nav-item">
            <a href="" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Entry Fees</p>
            </a>
          </li>

           <li class="nav-item">
            <a href="" class="nav-link">
              <i class="far fa-circle nav-icon"></i>
              <p>Loan Requests</p>
            </a>
          </li>

          </ul>
        </li>



        <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Banking
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview bg-secondary">
           <li class="nav-item">
             <a href="" class="nav-link">
               <i class="far fa-circle nav-icon"></i>
               <p>Employees</p>
             </a>
           </li>

           <li class="nav-item">
             <a href="" class="nav-link">
               <i class="far fa-circle nav-icon"></i>
               <p>Payroll</p>
             </a>
           </li>

          </ul>
        </li>


                  
         <li class="nav-item has-treeview">
          <a href="#" class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Human Resource
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview bg-secondary">
           <li class="nav-item">
             <a href="" class="nav-link">
               <i class="far fa-circle nav-icon"></i>
               <p>Employees</p>
             </a>
           </li>

           <li class="nav-item">
             <a href="" class="nav-link">
               <i class="far fa-circle nav-icon"></i>
               <p>Payroll</p>
             </a>
           </li>

          </ul>
        </li>


        <li class="nav-item has-treeview {% block show_ostructure %}
          
        {% endblock show_ostructure %} ">
          <a href="#" class="nav-link {% block active_ostructure %}
          
          {% endblock active_ostructure %}
       ">
            <i class="nav-icon fas fa-map"></i>
            <p>
              Org Structure
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          
          <ul class="nav nav-treeview bg-secondary">

            <li class="nav-item has-treeview  {% block show_branches %}
          
            {% endblock show_branches %}">
              <a href="" class="nav-link {% block active_branches %}
          
              {% endblock active_branches %}
           ">
                <i class="nav-icon fas fa-map"></i>
                <p>
                  Branches
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview bg-info">
    
                <li class="nav-item">
                  <a href="{% url 'branches' %}" class="nav-link {% block active_branches_inner %}
          
                  {% endblock active_branches_inner %}">
                    <i class="far fa-circle nav-icon"></i>
    
                    <p>Branches</p>
                  </a>
                </li>
    
    
                <li class="nav-item">
                  <a href="{% url 'branch_aoe' %}" class="nav-link {% block active_new_branches %}
          
                  {% endblock active_new_branches %}">
                    <i class="far fa-circle nav-icon"></i>
                    <p>New Branch</p>
                  </a>
                </li>
    
            
    
              </ul>
            </li>



            <li class="nav-item">
              <a href="{% url 'departments' %}" class="nav-link {% block active_departments %}
          
              {% endblock active_departments %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Departments</p>
              </a>
            </li>

  

          </ul>
        </li>



   


                 




        <li class="nav-item has-treeview {% block show_operations %}
          
        {% endblock show_operations %}">
          <a href="#" class="nav-link {% block active_operations %}
          
          {% endblock active_operations %}
       ">
            <i class="nav-icon fas fa-map"></i>
            <p> Operations
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview bg-secondary">

            <li class="nav-item">
              <a href="{% url 'eod' %}" class="nav-link  {% block active_eod %}
          
              {% endblock active_eod %}">
                <i class="far fa-circle nav-icon"></i>

                <p>End Of Day</p>
              </a>
            </li>


            <li class="nav-item">
              <a href="{% url 'eom' %}" class="nav-link  {% block active_eom %}
          
              {% endblock active_eom %}">
                <i class="far fa-circle nav-icon"></i>
                <p>End Of Month</p>
              </a>
            </li>

            <li class="nav-item">
              <a href="{% url 'eoy' %}" class="nav-link  {% block active_eoy %}
          
              {% endblock active_eoy %}">
                <i class="far fa-circle nav-icon"></i>
                <p>End Of Year</p>
              </a>
            </li>

          </ul>
        </li>



         <li class="nav-item has-treeview {% block show_reports %}
          
         {% endblock show_reports %}">
           <a href="#" class="nav-link {% block active_reports %}
          
           {% endblock active_reports %}">
             <i class="nav-icon fas fa-scroll"></i>
             <p>
               Reports
               <i class="right fas fa-angle-left"></i>
             </p>
           </a>
           <ul class="nav nav-treeview bg-secondary">
             <li class="nav-item has-treeview">
               <a href="{% url 'active_loans' %}" class="nav-link {% block active_aloan %}
          
               {% endblock active_aloan %}">
                 <i class="nav-icon fas fa-chart-pie"></i>
                 <p>Active Loans
                   <i class="right fas fa-angle-left"></i>
                 </p>
               </a>
             
             </li>
             <li class="nav-item has-treeview">
               <a href="{% url 'active_savings' %}" class="nav-link {% block active_asavings %}
          
               {% endblock active_asavings %}">
                 <i class="nav-icon fas fa-chart-pie"></i>
                 <p>
                   Active Savings
                   <i class="right fas fa-angle-left"></i>
                 </p>
               </a>
            
             </li>


             <li class="nav-item has-treeview">
              <a href="{% url 'repayments' %}" class="nav-link {% block active_repay %}
          
              {% endblock active_repay %}">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                  Repayments
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
           
            </li>


             <li class="nav-item has-treeview">
               <a href="{% url 'disbursments' %}" class="nav-link {% block active_disburs %}
          
               {% endblock active_disburs %}">
                 <i class="nav-icon fas fa-chart-pie"></i>
                 <p>
                   Disbursments
                   <i class="right fas fa-angle-left"></i>
                 </p>
               </a>
            
             </li>


             <li class="nav-item has-treeview">
              <a href="{% url 'deliquent' %}" class="nav-link {% block active_deliq %}
          
              {% endblock active_deliq %}">
                <i class="nav-icon fas fa-chart-pie"></i>
                <p>
                  Deliquent Loans
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
           
            </li>

           </ul>
         </li>

    
 




{% if user.is_superuser %}
         <li class="nav-header">System Settings</li>

         {% if user.is_admin %}
         <li class="nav-item">
           <a href="/admin" class="nav-link">
             <i class="nav-icon fas fa-ad"></i>
             <p>
               Admin Interface
             </p>
           </a>
         </li>         
          {% endif %}
          <li class="nav-item">
            <a href="/admin" class="nav-link">
              <i class="nav-icon fas fa-ad"></i>
              <p>
                Admin Interface
              </p>
            </a>
          </li>   
         <li class="nav-item has-treeview  {% block show_security %}
          
         {% endblock show_security %}">
          <a href="#" class="nav-link  {% block active_security %}
          
          {% endblock active_security %}">
            <i class="nav-icon fas fa-lock"></i>
            <p>
Security              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview  bg-secondary">

            <li class="nav-item">
              <a href="{% url 'users' %}" class="nav-link  {% block active_users %}
          
              {% endblock active_users %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Users</p>
              </a>
            </li>
           <li class="nav-item">
             <a href="{% url 'roles' %}" class="nav-link {% block active_roles %}
          
             {% endblock active_roles %}">
               <i class="far fa-circle nav-icon"></i>
               <p>Roles</p>
             </a>
           </li>



           <li class="nav-item">
             <a href="{% url 'audit' %}" class="nav-link {% block active_audit %}
          
             {% endblock active_audit %}">
               <i class="far fa-circle nav-icon"></i>
               <p>Audit Trail</p>
             </a>
           </li>

           
      

          </ul>
        </li>
         <li class="nav-item has-treeview {% block show_data %}
          
         {% endblock show_data %}">
          <a href="#" class="nav-link {% block active_data %}
          
          {% endblock active_data %}">
            <i class="nav-icon fas fa-users"></i>
            <p>
               Data
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview bg-secondary">
           <li class="nav-item">
             <a href="{% url 'data_exp' %}" class="nav-link  {% block active_export %}
          
             {% endblock active_export %}">
               <i class="far fa-circle nav-icon"></i>
               <p>Bulk Data Export</p>
             </a>
           </li>

           <li class="nav-item">
             <a href="{% url 'data_imp' %}" class="nav-link  {% block active_import %}
          
             {% endblock active_import %}">
               <i class="far fa-circle nav-icon"></i>
               <p>Bulk Data Import</p>
             </a>
           </li>

          </ul>
        </li>

        <li class="nav-item has-treeview {% block show_sms %}
          
        {% endblock show_sms %}">
          <a href="#" class="nav-link {% block active_sms %}
          
          {% endblock active_sms %}">
            <i class="nav-icon fas fa-users"></i>
            <p>
              Bulk Sms
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview bg-secondary">
           <li class="nav-item">
             <a href="{% url 'gateway' %}" class="nav-link {% block active_gate %}
          
             {% endblock active_gate %}">
               <i class="far fa-circle nav-icon"></i>
               <p>Gateway Setup</p>
             </a>
           </li>

           <li class="nav-item">
             <a href="{% url 'packages' %}" class="nav-link {% block active_pack %}
          
             {% endblock active_pack %}">
               <i class="far fa-circle nav-icon"></i>
               <p>Payments Packages</p>
             </a>
           </li>

          </ul>
        </li>
         <li class="nav-item">
           <a href="{% url 'account_settings' %}" class="nav-link {% block active_account %}
          
            {% endblock active_account %}">
             <i class="nav-icon far fa-circle text-warning"></i>
             <p>Account Settings</p>
           </a>
         </li>
         <li class="nav-item">
           <a href="{% url 'subscriptions' %}" class="nav-link {% block active_sub %}
          
            {% endblock active_sub %}">
             <i class="nav-icon far fa-circle text-info"></i>
             <p>Subscription</p>
           </a>
         </li>

         <li class="nav-item">
           <a href="{% url 'mpesa' %}" class="nav-link {% block active_mpesa %}
          
            {% endblock active_mpesa %}">
             <i class="nav-icon far fa-circle text-danger"></i>
             <p class="text">MPesa Integration</p>
           </a>
         </li>

         <li class="nav-item">
          <a href="{% url 'app' %}" class="nav-link {% block active_app %}
         
           {% endblock active_app %}">
            <i class="nav-icon far fa-circle text-success"></i>
            <p class="text">Mobile App</p>
          </a>
        </li>

        {% endif %}
       </ul>
     </nav>
     <!-- /.sidebar-menu -->
   </div>
   <!-- /.sidebar -->
 </aside>

 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <div class="content-header">
     <div class="container-fluid">
       <div class="row m-0 p-0">
         <div class="col-sm-6">
           <h1 class="m-0 text-dark">Dashboard - {% block app %} {% endblock app %}</h1>
         </div><!-- /.col -->
         <div class="col-sm-6">
           <ol class="breadcrumb float-sm-right">
             <li class="breadcrumb-item"><a href="#">Home</a></li>
             {% block breadcrump %}


             {% endblock breadcrump %}
           </ol>
         </div><!-- /.col -->
       </div><!-- /.row -->
     </div><!-- /.container-fluid -->
   </div>
   <!-- /.content-header -->

   <!-- Main content -->
   {% block dashboard_content %}


   {% endblock dashboard_content %}
   <!-- /.content -->
 </div>


 {% endblock content %}

 {% block footer_class %}
 main-footer
 {% endblock footer_class %}

 {% block extra_js %}

 <script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
 <script src="{% static 'dist/js/demo.js' %}"></script>
 <script src="{% static 'dist/js/pages/dashboard3.js' %}"></script>

<!-- DataTables -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>

<!-- PAGE PLUGINS -->
<!-- jQuery Mapael -->
<script src="{% static 'plugins/jquery-mousewheel/jquery.mousewheel.js' %}"></script>
<script src="{% static 'plugins/raphael/raphael.min.js' %}"></script>
<script src="{% static 'plugins/jquery-mapael/jquery.mapael.min.js' %}"></script>
<script src="{% static 'plugins/jquery-mapael/maps/usa_states.min.js' %}"></script>
<!-- ChartJS -->
<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>

<!-- PAGE SCRIPTS -->
<script src="{% static 'dist/js/pages/dashboard2.js' %}"></script>

 <script>
  $(function () {

    $('#dataTable').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>

 {% endblock extra_js %}



 {% block dashboard_js %}
 <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>

 {% endblock dashboard_js %}