{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>{{ request.tenant.name }} - FinGate - {% block title %}


    
    {% endblock title %}</title>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  
  {% block dashboard_css %}
  {% endblock dashboard_css %}
  <style>
    .product-image {

      max-width: 40%;
      height: auto;
      width: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
  
  }

  .bborder {
    border-bottom: 1px solid black;
  }
  .content-header {

    padding: .5rem;

}
  .logo {

    font-size: 30px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: green;

}

.logo-dash {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}



.logo-dash:hover {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: white;
}


.logo:hover {

  font-size: 30px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  color: green;

}

.wrapper {
  min-height: 450px;
  min-width: 40%;
  margin-top: 70px;
}
  </style>

  
  {% block extra_css %}


  {% endblock extra_css %}
</head>
<body class="hold-transition {% block dashboard_classes %}  {% endblock dashboard_classes %}">
<div class="wrapper">


    {% block pop_content %}


    {% endblock pop_content %}


</div>

<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>


{% block dashboard_js %}

{% endblock dashboard_js %}
<script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<script src="{% static 'dist/js/adminlte.js' %}"></script>

<script src="{% static 'dist/js/demo.js' %}"></script>



{% block extra_js %}



{% endblock extra_js %}
</body>
</html>
