{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Savings {% endblock app %}

{% block active_savings %}
active
{% endblock active_savings %}

{% block active_savings_products %}
active
{% endblock active_savings_products %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'sproducts_list' %}">Saving Products</a></li>
<li class="breadcrumb-item"><a href="{% url 'sproducts_list' %}">List</a></li>
{% endblock breadcrump %}

{% block show_savings  %}
menu-open
{%  endblock show_savings %}

{% block title %}

Dashboard Savings Products

{% endblock title %}

{% block dashboard_content %}



  <section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-body bg-warning">

            <div class="row">
              <div class="col-6">
                <h3 class="card-title">Manage Saving Products Easily</h3>
              </div>
  
              <div class="col-6">
                <div class="row">
                  <div class="col-6">
                  </div>
  
                 
                </div>
  
  
              </div>
  
              <div class="col-12">
                  <div class="card card-success card-outline">
                     
                      <div class="card-body">
                        <div class="card-header">
                          <h3 class="card-title">
                            <i class="fas fa-edit"></i>
                           All Saving Products
                          </h3>
                        </div>
                       
                        <table id="dataTable" class="table table-sm table-bordered table-striped">
                          <thead class="bg-info">
                          <tr>
                            <th> Name</th>
                            <th>Client Type</th>
                            <th>Is Active</th>
                            <th>Currency</th>
                        
                            <th>Created By</th>
                            <th>Date Created</th>
                            <th>Modified By</th>
                            <th>Date Modified</th>
                            <th>Analysis</th>
                          </tr>
                          </thead>

                          <tbody>
                            {% for product in products %}

                            <tr>
                              <td>{{ product.name }}</td>



                              <td>{{ product.client_type }}</td>

                              <td>{{ product.deleted }}</td>

                              <td>{{ product.currency}}</td>


                              <td>
                                {{ product.date_created }}
                              </td>

                              <td>
                                {{ product.creator }}
                              </td>

                              <td>
                                {{ product.modified_by }}
                              </td>


                              <td>
                                {{ product.date_modified }}
                              </td>


                              <td>
                                <a href="{% url 'sproducts_edit' pk=product.id %}" class="btn btn-sm btn-success"> Edit  </a>
                              </td>
                            </tr>






                            {% endfor %}
                          </tbody>
                    
                          <tfoot>
                        
                            <tr>
                              <th> Name</th>
                              <th>Client Type</th>
                              <th>Is Active</th>
                              <th>Currency</th>
                          
                              <th>Created By</th>
                              <th>Date Created</th>
                              <th>Modified By</th>
                              <th>Date Modified</th>
                              <th>Analysis</th>
                            </tr>
                    
                          </tfoot>
                        </table>
                      </div>
                      <!-- /.card -->
                    </div>
              </div>
            </div>
  
  
  
          </div>
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}


{% endblock extra_js %}