/* Used for JSFiddle demos */


/* should be uploaded to S3 */

html,
body {
    margin: 0 1px;
    padding: 0;
    background: #fff;
    font-family: sans-serif;
    font-size: 12px;
}

button {
    border: 2px solid #df3800;
    background: #fff;
    color: #df3800;
    text-transform: uppercase;
    cursor: pointer;
    margin: 5px 0;
    display: inline-block;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-weight: normal;
    padding: 10px 10px;
    font-size: 14px;
}

button:hover {
    background: #df3800;
    color: #fff;
}

button:focus {
    outline: none;
}

.check {
    display: inline-block;
    text-align: center;
    vertical-align: bottom;
    padding-bottom: 10px;
    padding-left: 5px;
}
