{% extends 'dashboard_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block app %} Locations {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'locations_list' %}">Locations</a></li>
<li class="breadcrumb-item"><a href="{% url 'locations_list' %}">AOE</a></li>
{% endblock breadcrump %}

{% block active_location %}
active
{% endblock active_location %}
{% block active_loc %}
active
{% endblock active_loc %}


{% block show_loc  %}
menu-open
{%  endblock show_loc %}
{% block title %}

Locations Management

{% endblock title %}


{% block dashboard_content %}
<section class="content">
    <div class="row d-flex justify-content-center">
      <div class="col-10">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Location Details Registration Form</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">
                           
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
          
            {% crispy form %}

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}