{% extends 'dashboard_base.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% block app %} Locations {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'locations_list' %}">Locations</a></li>
<li class="breadcrumb-item"><a href="{% url 'locations_list' %}">List</a></li>
{% endblock breadcrump %}

{% block active_location %}
active
{% endblock active_location %}
{% block active_loc %}
active
{% endblock active_loc %}


{% block show_loc  %}
menu-open
{%  endblock show_loc %}
{% block title %}

Locations Management

{% endblock title %}


{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Locations Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">
                            <a href="{% url 'locations_aoe' %}" class="btn btn-sm btn-warning"> Add New</a>
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-responsive table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th>Name</th>
                <th>County</th>
           
                <th>Sub county</th>

                <th>Location</th>
                <th>Sub Location</th>
                
                <th>Town</th>
                <th>Village</th>
                <th>Date Created</th>
                <th>Created By</th>
                <th>Edit</th>
                <th>Delete</th>
              </tr>
              </thead>
              <tbody>

                {% for location in clients %}
              <tr>
                <td>{{ location.name }}</td>
                <td>
                  {{ location.county }}
                </td>
                <td>
                  {{ location.sub_county.name }}
                </td>
                <td>{{ location.location.name }}</td>
                <td> {{ location.county.name }}</td>
                <td> {{ location.town }}</td>
                <td> {{ location.village.name }}</td>
                <td> {{ location.date_created }}</td>
                <td> {{ location.creator }}</td>
             
              
      
              
                  <td>   <a href="{% url 'locations_edit' pk=location.id %}" class="btn btn-sm btn-success"> Edit </a></td>
                  <td>   <a href="" class="btn btn-sm btn-danger"> Delete  </a></td>
              </tr>
       

{% endfor %}







          
              </tbody>
              <tfoot>
                <tr>
                  <th>Name</th>
                  <th>County</th>
             
                  <th>Sub county</th>
  
                  <th>Location</th>
                  <th>Sub Location</th>
                  
                  <th>Town</th>
                  <th>Date Created</th>
                  <th>Created By</th>
                  <th>Date Modified</th>
                  <th>Modified By</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}