{% extends 'dashboard_base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block app %} Finance {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'budget_list' %}">Budgets</a></li>
<li class="breadcrumb-item"><a href="{% url 'budget_list' %}">List</a></li>
{% endblock breadcrump %}

{% block active_finance %}
active
{% endblock active_finance %}


{% block show_finance  %}
menu-open
{%  endblock show_finance %}
{% block title %}

Dashboard Clients Manaagement 

{% endblock title %}


{% block active_budget %}
      active    
{% endblock active_budget %}


{% block dashboard_content %}


<section class="container">

  <hr>
  <hr>

  {% if messages %}

  <div class="row">
    <ul class="messages">
      {% for message in messages %}
      <div class="callout callout-danger bg-success">
        <h5><i class="fas fa-info"></i> Message</h5>
        {{ message }}
      </div>
      {% endfor %}
    </ul>
  </div>

  {% endif %}

  <!-- Default box -->
  <div class="card">
    <div class="card-header bg-success">
      <h3 class="card-title">Budget Estimates</h3>

      <div class="card-tools">


      </div>
    </div>
    <div class="card-body">





      <div class="row">
        <div class="col-md-12">



          <form method="post" action="{% url 'budget_edit' pk=budget.id %}" novalidate>

            {% csrf_token %}



       
            <div class="row">
              <div class="col-md-12">
                <h6>Estimates for {{ budget.year }}</h6>
                <hr>
              </div>
            </div>

          

            {{ formset.management_form }}

            {% for form in formset %}

            {% if form.non_field_errors %}

            <div class="alert alert-danger" role="alert">

              {% for error in form.non_field_errors %}
              {{ error }}

              {% endfor %}

            </div>





            {% endif %}



            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}

            {% endfor %}


            <div class="row form-row spacer">

              <div class="col-sm-5">
                <div class="form-group">
                  <label>{{ form.event.label }}</label>


                  {% render_field form.event class="form-control" %}




                </div>
              </div>
              <div class="col-sm-5">
                <!-- text input -->
                <div class="form-group">
                  <label>{{ form.estimate.label }}</label>


                  {% render_field form.estimate class="form-control" %}




                </div>
              </div>





              <div class="col-sm-1 d-flex align-items-center justify-content-center">
                <div class="form-group d-flex align-items-center justify-content-center">
                  <div class="input-group-append d-flex align-items-center justify-content-center pt-4">
                    <button class="btn btn-success add-form-row ">+</button>
                  </div>
                </div>
              </div>
            </div>









            <br>



            {% endfor %}

            <br>

            <div class="row spacer">
              <div class="col-6 offset-3">
                <button class="btn btn-block btn-success" type="submit">
                  Submit </button>

              </div>

            </div>






          </form>



        </div>


      </div>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->

</section>

{% endblock dashboard_content %}




{% block extra_js %}
<script type='text/javascript'>
  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    console.log(newElement)
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
      console.log($(this).attr('name'))
      var name = $(this).prop('name').replace('-' + (total - 1) + '-', '-' + total + '-');
      var id = 'id_' + name;
      $(this).attr({
        'name': name,
        'id': id
      }).val('').removeAttr('checked');
    });
    newElement.find('label').each(function () {
      var forValue = $(this).attr('for');
      if (forValue) {
        forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
        $(this).attr({
          'for': forValue
        });
      }
    });
    console.log(newElement)
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
      .removeClass('btn-success').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>');
    return false;
  }

  function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1) {
      btn.closest('.form-row').remove();
      var forms = $('.form-row');
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
      for (var i = 0, formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).find(':input').each(function () {
          updateElementIndex(this, prefix, i);
        });
      }
    }
    return false;
  }
  $(document).on('click', '.add-form-row', function (e) {
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
  });
  $(document).on('click', '.remove-form-row', function (e) {
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
  });
</script>

{% endblock extra_js %}



