



{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block app %} Loans {% endblock app %}

{% block active_loans %}
active
{% endblock active_loans %}

{% block active_loans_plan %}
active
{% endblock active_loans_plan %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loans_plans' %}">Loan Plans</a></li>
<li class="breadcrumb-item"><a href="">AOE</a></li>

{% endblock breadcrump %}

{% block show_loans  %}
menu-open
{%  endblock show_loans %}

{% block title %}

Dashboard Loan Plan 

{% endblock title %}



{% block dashboard_content %}

<section class="content">
    <div class="row d-flex justify-content-center">
      <div class="col-10">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Loan Payment Plan Details Form</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">
                           
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <a href="{% url 'PaymentPlanCreate' %}" id="add_author" onclick="return showAddPopup(this);"><i class="fas fa-plus"></i></a>
            <a id="edit_author" style="cursor: pointer; cursor: hand;"><i class="fas fa-pen"></i></a>
            <br><br>
            <form method="post">

              {% csrf_token %}

              {% crispy form %}

             



            </form>

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
{% endblock dashboard_content %}



{% block extra_js %}

{% block script %}

<script type="text/javascript">
function showEditPopup(url) {
    var win = window.open(url, "Edit", 
        'height=500,width=800,resizable=yes,scrollbars=yes');
    return false;
}
function showAddPopup(triggeringLink) {
    var name = triggeringLink.id.replace(/^add_/, '');
    href = triggeringLink.href;
    var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
    win.focus();
    return false;
}
function closePopup(win, newID, newRepr, id) {
    $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>')
    win.close();
}



$("#edit_author").click(function(){
	author_name = $("#id_author option:selected").text();
	var data = {"author_name":author_name};
    $.ajax({
        type : 'GET',
        url :  '/author/ajax/get_author_id',
        data : data,
        success : function(data){
        	var url = "/author/" + data['author_id'] + "/edit/";
        	showEditPopup(url);
        },
        error: function(data) {
          alert("Something Went Wrong"); 
        }
  	});
})
</script>
{% endblock %}


{% endblock %}





