{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Loans {% endblock app %}

{% block active_loans %}
active
{% endblock active_loans %}

{% block active_backtrack %}
active
{% endblock active_backtrack %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loans_products' %}">Loan Products</a></li>
<li class="breadcrumb-item"><a href="{% url 'loans_backtrack' %}">Backtracking</a></li>
{% endblock breadcrump %}

{% block show_loans  %}
menu-open
{%  endblock show_loans %}

{% block title %}

Dashboard Loans - BackTracking

{% endblock title %}



{% block dashboard_content %}
<hr/>
<section class="container">




    
      <div class="row">
   
        <div class="col-12" id="page">
      
  
          <div class="card">
            <div class="card-header bg-warning ">
            
              <div class="row">
                  <div class="col-6">
                      <h3 class="card-title">Loan Backtracking</h3>
                  </div>
  
                  <div class="col-6 text-center">
  
                   
                  </div>
              </div>
            </div>
   
            <!-- /.card-header -->
            <div class="card-body">

              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-6 invoice-col">
                
                  <address>
                    <strong>{{ loan.member }}</strong><br>
                    <strong>Group: {{ loan.member.group }}</strong><br>
  
                  </address>
                </div>
                <div class="col-sm-6 invoice-col">
                
                  <address>
                    <strong>{{ loan.loan_product }}</strong><br>
                    Amount Requested: {{ loan.requested_amount }}<br>
                 
                  </address>
                </div>
                <!-- /.col -->
  
                <!-- /.col -->
        
                <!-- /.col -->
              </div>
              <div class="row">
                <hr>
                <div class="col-md-9">
                  <h6>External Guarantors</h6>
                </div>
  
                <div class="col-md-3">
  
                </div>
              </div>
              <table id="dataTable" class="table table-sm table-bordered table-striped">
                <thead class="">
                <tr>
               
                  <th>Member</th>
                  <th>Deposit Lock in % </th>
                  <th>Active</th>
               
                </tr>
                </thead>
                <tbody>
                  {% for account in internal_gaurantors %}
                <tr>
              
             
                  <td>{{ account.member }}</td>
                  <td>  {{account.lock }}</td>
              
                  <td> {{account.active }}</td>
                 
  
      
               
                  </tr>
  
                {% endfor %}
                </tbody>
          
              </table>
  
              <br>
              <hr>
              <div class="row">
                <div class="col-md-9">
                  <h6>External Guarantors</h6>
                </div>
  
                <div class="col-md-3">
  
                </div>
              </div>
  
              <table id="dataTable" class="table table-sm table-bordered table-striped">
                <thead class="">
                <tr>
               
                  <th>Guarantor</th>
                  <th>Item </th>
                  <th>Count</th>
  
                  <th>Description</th>
                  <th>Serial</th>
                  <th>Value </th>
                </tr>
                </thead>
                <tbody>
                  {% for account in external_pledges %}
                <tr>
              
             
                  <td>{{ account.guarantor }}</td>
                  <td>  {{account.item_title }}</td>
              
                  <td> {{account.count }}</td>
                 
                  <td>{{ account.description }}</td>
                  <td>  {{account.serial_number }}</td>
              
                  <td> {{account.estimated_value }}</td>
      
               
                  </tr>
  
                {% endfor %}
                </tbody>
          
              </table>
  
              <hr>

            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
  

      <!-- /.row -->
    </section>
{% endblock dashboard_content %}



{% block extra_js %}

{% endblock extra_js %}