{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Loans - Confirmations {% endblock app %}

{% block active_loans %}
active
{% endblock active_loans %}

{% block active_loans_requests_confirms %}
active
{% endblock active_loans_requests_confirms %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loans_types' %}">Loan Requests</a></li>
<li class="breadcrumb-item"><a href="">Confirmations</a></li>
{% endblock breadcrump %}

{% block show_loans  %}
menu-open
{%  endblock show_loans %}

{% block title %}

Dashboard Loans Confirmations

{% endblock title %}

{% block dashboard_content %}

<section class="content">

  {% if messages %}

  <div class="row">
      <ul class="messages">
          {% for message in messages %}
          <div class="callout callout-danger bg-warning">
            <h5><i class="fas fa-info"></i> Message</h5>
            {{ message }}
          </div>
          {% endfor %}
        </ul>
  </div>

{% endif %}
  <div class="row">
    <div class="col-12">


      <div class="card">
        <div class="card-body bg-warning">

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Manage Loan Confirmations Easily</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

               
              </div>


            </div>

            <div class="col-12">
                <div class="card card-success card-outline">
                   
                    <div class="card-body">
                      <div class="card-header">
                        <h3 class="card-title">
                          <i class="fas fa-edit"></i>
                          Requests For Confirmation
                        </h3>
                      </div>
                     
                      <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                        <thead class="bg-info">
                        <tr>
                          <th>Member Name</th>
                          <th>Id Number</th>
                          <th>Loan Product</th>
                          <th>Amount Requested</th>
                          <th>Approved</th>
                          <th>Approved By</th>
                          <th>Confirmed</th>
                          <th>Cofirmed By</th>
                       
                          <th>Created By</th>
                          <th>Date Created</th>
                          <th>Modified By</th>
                          <th>Date Modified</th>
                          <th>Confirm</th>
                        </tr>
                        </thead>

                        <tbody>
                          {% for request in requests %}

                          <tr>
                            <td class="id" hidden>{{ request.id }}</td>
                            <td class="name">{{ request.member }}</td>
                            <td>{{ request.member.id_number }}</td>
                            <td>{{ request.loan_product }}</td>
                            <td>{{ request.requested_amount}}</td>
                            <td>{{ request.is_approved }}</td>
                            <td>{{ request.approving_officer}}</td>

                            <td>{{ request.is_confirmed }}</td>
                            <td>{{ request.confirming_officer}}</td>

                         

                            <td class="processed_by">{{ request.creator }}</td>
                            <td class="date">{{ request.date_created}}</td>

                            <td>{{ request.modified_by }}</td>
                            <td>{{ request.date_modified}}</td>

                            <td>   <a href="" class="btn btn-sm btn-warning action-btn"  data-toggle="modal" data-target="#modal-warning"> Confirm  </a></td>

                            


                          </tr>





                          {% endfor %}
                        </tbody>
                  
                        <tfoot>
                      
                          <tr>
                            <th>Member Name</th>
                            <th>Id Number</th>
                            <th>Loan Product</th>
                            <th>Amount Requested</th>
                            <th>Approved</th>
                            <th>Approved By</th>
                            <th>Confirmed</th>
                            <th>Cofirmed By</th>
                         
                            <th>Created By</th>
                            <th>Date Created</th>
                            <th>Modified By</th>
                            <th>Date Modified</th>
                            <th>Confirm</th>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                    <!-- /.card -->
                  </div>
            </div>
          </div>



        </div>
        <!-- /.card-header -->
        <div class="card-body">

          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-edit"></i>
              Recently Confirmed
                          </h3>
          </div>

          <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
            <thead class="bg-info">
              <tr>
                <th>Member Name</th>
                <th>Id Number</th>
                <th>Loan Product</th>
                <th>Amount Requested</th>
                <th>Approved</th>
                <th>Approved By</th>
                <th>Confirmed</th>
                <th>Cofirmed By</th>
             
                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
              </tr>
            </thead>

            <tbody>
              {% for request in recent %}

              <tr>
                <td>{{ request.member }}</td>
                <td>{{ request.member.id_number }}</td>
                <td>{{ request.loan_product }}</td>
                <td>{{ request.requested_amount}}</td>
                <td>{{ request.is_approved }}</td>
                <td>{{ request.approving_officer}}</td>

                <td>{{ request.is_confirmed }}</td>
                <td>{{ request.confirming_officer}}</td>

              

                <td>{{ request.creator }}</td>
                <td>{{ request.date_created}}</td>

                <td>{{ request.modified_by }}</td>
                <td>{{ request.date_modified}}</td>

                <!-- <td>   <a href="" class="btn btn-sm btn-warning"> Undo  </a></td> -->

                


              </tr>





              {% endfor %}
            </tbody>
      
            <tfoot>
          
              <tr>
                <th>Member Name</th>
                <th>Id Number</th>
                <th>Loan Product</th>
                <th>Amount Requested</th>
                <th>Approved</th>
                <th>Approved By</th>
                <th>Confirmed</th>
                <th>Cofirmed By</th>
             
                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
              </tr>
      
            </tfoot>
          </table>
       
        </div>



      

        <div class="modal fade" id="modal-warning" role="dialog">
          <div class="modal-dialog modal-xl" role="document">
      
            <div class="modal-content">
      
              <div class="modal-header bg-warning pt-1 pb-1">
                <div class="container-fluid">
                  <div class="row align-center">
                    <div class="col-6">
                      <h5 class="modal-title">Loan Confirmation</h5>
                    </div>
      
                    <div class="col-5">
                      <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Loans</a></li>
                        <li class="breadcrumb-item active">Loan Confirmation</li>
                      </ol>
                    </div>
      
                    <div class="col-1">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  </div>
                </div>
      
      
      
      
              </div>
      
              <div class="modal-body">
      
                <div class="">
      
      
                  <section class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12">
      
      
      
                          <!-- Main content -->
                          <div class="invoice p-3 mb-3">
                            <!-- title row -->
                            <div class="row">
                              <div class="col-6">
                                <h4>
                                  <p class="member_name"></p>
                                </h4>
                              </div>
      
                              <div class="col-6">
                                <h4>
      
                                  <p>Application Date: <small><a class="date"></a></small></p>
                                </h4>
                              </div>
                              <!-- /.col -->
                            </div>
      
                            <hr>
      
                            <div class="row">
                              <!-- accepted payments column -->
                              <div class="col-4">
      
      
                                <p>Members Savings Information</p>
      
                                <p>Total Savings Amount: Ksh <small><a class="amount" style="color: black;"></a></small></p>
      
                                <h5>Saving Plan</h5>
                                <p class="savings_plan" style="margin-top: 10px;">
      
                                </p>
      
                                <h5>Broken Contract</h5>
                                <p class="text-muted well well-sm shadow-none amount-in-words" style="margin-top: 10px;">
      
                                </p>
                              </div>
      
      
      
                              <div class="col-4">
                                <p>Members Group Information</p>
                                <p> Name:<small><a class="group" style="color: black;"></a></small></p>
                                <p> Total Members:<small><a class="total_members" style="color: black;"></a></small></p>
                                <p> Total Savings: Ksh <small><a class="total_savings" style="color: black;"></a></small></p>
                                <p> Active Loans: <small><a class="active_loans" style="color: black;"></a></small></p>
                                <p> Total Loans: Ksh <small><a class="total_loans" style="color: black;"></a></small></p>
      
      
      
                              </div>
      
      
                              <div class="col-4">
      
                                <p>Members Projects Information</p>
      
                                <p>Total Projects Amount: Ksh <small><a class="amount" style="color: black;"></a></small></p>
      
                                <h5>Commitment</h5>
                                <p class="text-muted well well-sm shadow-none amount-in-words" style="margin-top: 10px;">
      
                                </p>
      
                                <h5>Broken Contract</h5>
                                <p class="text-muted well well-sm shadow-none saving-contract-broken" style="margin-top: 10px;">
      
                                </p>
                              </div>
                              <!-- /.col -->
      
                              <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <hr>
                            <!-- info row -->
                            <div class="ajaxProgress row">
                              <div class="modal fade">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h4 class="modal-title">Loading Data</h4>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                      <p>One fine body&hellip;</p>
                                    </div>
      
                                  </div>
                                  <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                              </div>
                            </div>
      
                            <!-- /.row -->
      
      
                            <!-- /.row -->
      
                            <div class="row">
                              <!-- accepted payments column -->
                              <div class="col-6">
      
                                <p>Loan Product: <small><a class="product" style="color: blue;"></a></small></p>
      
                                <p>Amount: Ksh <small><a class="amount" style="color: black;"></a></small></p>
      
                                <h5>Amount In Words</h5>
                                <p class="text-muted well well-sm shadow-none amount-in-words" style="margin-top: 10px;">
      
                                </p>
                              </div>
                              <!-- /.col -->
                              <div class="col-6">
                                <!-- <p class="lead">Amount Due 2/22/2014</p> -->
      
                                <div class="table-responsive">
                                  <table class="table">
                                    <tr>
                                      <th style="width:50%">Requested Amount: Ksh</th>
                                      <td class="amount"> </td>
                                    </tr>
                                    <tr>
                                      <th style="width:50%">Appoved Amount: Ksh</th>
                                      <td class="approved"></td>
                                    </tr>
                                    <tr>
                                      <th>Processing Fee: Ksh</th>
                                      <td class="fee"></td>
                                    </tr>
      
                                    <tr>
                                      <th>Total: Ksh</th>
                                      <td class="total"></td>
                                    </tr>
                                  </table>
                                </div>
                              </div>
                              <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <hr>
      
      
      
      
                            <div class="row">
                              <!-- accepted payments column -->
                              <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                                <thead class="bg-info">
                                  <tr>
      
                                    <th>Loan Product </th>
                                    <th> Requested</th>
                                    <th> Approved</th>
                                    <th>Approved By</th>
                                    <th>Cofirmed By</th>
      
                                    <th>Disbursed By</th>
                                    <th>Created By</th>
                                    <th>Date Created</th>
                                    <th>Repaid</th>
                                    <th>Last Payment</th>
                                  </tr>
                                </thead>
      
                                <tbody class="contracts_table">
      
                                </tbody>
      
      
                              </table>
                              <!-- /.col -->
                            </div>
                            <!-- /.row -->
                            <hr>
                            <div class="row text-center">
      
                              <div class="col-12">
                                <h4 class="text-center">Pipeline Status</h4>
                              </div>
      
      
      
      
                              <div class="col-4">
                                <h6>
                                  <p>Approved: <small><a class="is_approved">
      
                                      </a></small></p>
                                </h6>
                              </div>
      
                              <div class="col-4">
                                <h6>
                                  <p>Confirmed: <small><a class="is_confirmed"> </a></small></p>
                                </h6>
                              </div>
      
                              <div class="col-4">
                                <h6>
                                  <p>Disbursed: <small><a class="is_disbursed"> </a></small></p>
                                </h6>
                              </div>
      
                              <!-- /.col -->
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-6">
                                <h4>
                                  <p>Processed By: <small><a class="processed_by"></a></small></p>
                                </h4>
                              </div>
      
                              <div class="col-6">
                                <h4>
      
                                </h4>
                              </div>
                              <!-- /.col -->
                            </div>
                            <hr>
                            <!-- this row will not appear when printing -->
                            <div class="row no-print">
                              <div class="col-12">
                                <!-- <a href="" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a> -->
      
                                <a href="" id="confirm_link"  class="btn btn-warning float-right confirm_link" style="margin-right: 5px;">
                                    <i class="fas fa-check"></i> Confirm
                                </a>
                              </div>
                            </div>
                          </div>
                          <!-- /.invoice -->
                        </div><!-- /.col -->
                      </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                  </section>
                  <!-- /.content -->
                </div>
      
      
              </div>
            </div>
      
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}








{% block extra_js %}

<script>
  var $loading = $('.ajaxProgress').hide();
  $('.action-btn').click(function (obj) {

    $(document)
      .ajaxStart(function () {
        $loading.show();
      })

    var row = $(this).parent().parent().find('.id').text()
    var name = $(this).parent().parent().find('.name').text()
    var processed_by = $(this).parent().parent().find('.processed_by').text()
    var date = $(this).parent().parent().find('.date').text()

    $('.member_name').text(name)
    $('.date').text(date)
    $('.processed_by').text(processed_by)


    $.ajax({
      type: "POST",
      method: "POST",
      url: "{% url 'loan_load' %}",
      method: "POST",
      data: JSON.stringify({
        "csrfmiddlewaretoken": "{{csrf_token}}",
        "loan_id": row
      }),
      contentType: "application/json",
      success: function (data) {

        $loading.hide();
        document.getElementById("confirm_link").href =  data['loan']['confirm_link']

        $('.product').text(data["product"]["product_title"])
        $('.amount').text(data["loan"]["requested_amount"])
        $('.approved').text(data["loan"]["requested_amount"])
        $('.fee').text(data["loan"]["requested_amount"] * data["product"]["loan_fee_processing"] / 100)
        $('.total').text(data["loan"]["requested_amount"] - (data["loan"]["requested_amount"] * data["product"]["loan_fee_processing"] / 100))
        $('.amount-in-words').text(data["loan"]["requested_amount_words"])
        

        if (data["loan"]["is_approved"]) {
          $('.is_approved').html(
            '<button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>'
          );
        } else {
          $('.is_approved').html(
            '<button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>'
          );
        }



        if (data["loan"]["is_confirmed"]) {
          $('.is_confirmed').html(
            '<button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>'
          );
        } else {
          $('.is_confirmed').html(
            '<button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>'
          );
        }




        if (data["loan"]["is_disbursed"]) {
          $('.is_disbursed').html(
            '<button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>'
          );
        } else {
          $('.is_disbursed').html(
            '<button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>'
          );
        }


        $('.group').text(data["group"]["group_name"])
        $('.total_members').text(data["group"]["total_members"])

        $('.total_loans').text(data["group"]["total_loans"])
        $('.active_loans').text(data["group"]["active_loans"])


        $('.savings_plan').text(data["savings_product"]["name"])
        $('.total_savings').text(data["group"]["total_savings"])
        $('.saving-contract-broken').text(data["loan"]["requested_amount_words"])

        

        if (data["contracts"].length == 0) {


          $('.contracts_table').html(
            '<tr class="bg-warning"><p> No Previous Contracts Found</p></tr>'
          );
        } else {

          var tbody = ""

          for (var contract in data["contracts"]) {



            var row = "<tr><td>" + data["contracts"][contract]['requested_amount'] + "</td><td>" + data[
                "contracts"][contract]['requested_amount'] + "</td><td>" + data["contracts"][contract][
                'requested_amount'
              ] + "</td><td>" +

              data["contracts"][contract]['approving_officer_id'] + "</td><td>" + data["contracts"][contract][
                'confirming_officer_id'
              ] + "</td><td>" + data["contracts"][contract]['disbursing_officer_id'] + "</td><td>" + data[
                "contracts"][contract]['requested_amount'] + "</td><td>" +
              data["contracts"][contract]['requested_amount'] + "</td><td>" + data["contracts"][contract][
                'requested_amount'
              ] + "</td><td>" + data["contracts"][contract]['requested_amount'] + "</td></tr>"


            tbody = tbody + row
          }



          $('.contracts_table').html(tbody);


          console.log( $('.approve_link'))
          
          $('a.confirm_link').prop('href', data['loan']['confirm_link'])
        }
        console.log(data)

      },
      error: function (error) {
        console.log(error)

      }
    });


  });
</script>

{% endblock extra_js %}