{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Loans {% endblock app %}

{% block active_loans %}
active
{% endblock active_loans %}

{% block active_loans_products %}
active
{% endblock active_loans_products %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loans_products' %}">Loan Products</a></li>
<li class="breadcrumb-item"><a href="{% url 'loans_products' %}">Types</a></li>
{% endblock breadcrump %}

{% block show_loans  %}
menu-open
{%  endblock show_loans %}

{% block title %}

Dashboard Loans - Products

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Loan Products Easily</h3>
                </div>

                <div class="col-6">
                  
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th>Product Name</th>
                <th>Client</th>
                <th>Periodicity</th>
                <th>Payment Plan</th>
                <th>Date Created</th>
                <th>Created By</th>
                <th>Date Modified</th>
                <th>Modified By</th>
                <th>More</th>
              </tr>
              </thead>

              <tbody>
                {% for product in products %}
              <tr>
                <td>{{product.product_title}}</td>
                <td>
                  {{product.client_type}}
                </td>
                <td>{{product.periodicity}}</td>
                <td>  {{product.payment_plan }} </td>
                <td>  {{product.date_created }}</td>
                <td> {{product.creator }}</td>
                <td> {{product.date_modified  }}</td>

                <td> {{product.modified_by  }}</td>
                
                </td>
                
          
                  <td>   <a href="{% url 'edit_loans_products' pk=product.id %}" class="btn btn-sm btn-warning"> More  </a></td>

             
             
                </tr>

              {% endfor %}
  







          
              </tbody>
        
              <tfoot>
            
                <tr>
                  <th>Product Name</th>
                  <th>Client</th>
                  <th>Periodicity</th>
                  <th>Payment Plan</th>
                  <th>Date Created</th>
                  <th>Created By</th>
                  <th>Date Modified</th>
                  <th>Modified By</th>
                  <th>More</th>
                </tr>
        
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}