{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load static %}
{% block app %} Loans {% endblock app %}

{% block active_loans %}
active
{% endblock active_loans %}

{% block active_loans_requests %}
active
{% endblock active_loans_requests %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loans_products' %}">Loans Request</a></li>
<li class="breadcrumb-item"><a href="{% url 'loans_products' %}">AOE</a></li>
{% endblock breadcrump %}

{% block show_loans  %}
menu-open
{%  endblock show_loans %}

{% block title %}

Dashboard Loan Request

{% endblock title %}



{% block dashboard_content %}

<section class="content">
  <div class="row d-flex justify-content-center">
    <div class="col-10">


      <div class="card">
        <div class="card-header bg-info">

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Loan Request Details Form</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>

                <div class="col-6">

                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">

          {% if messages %}

          <div class="row">
            <ul class="messages">
              {% for message in messages %}
              <div class="callout callout-danger bg-warning">
                <h5><i class="fas fa-info"></i> Message</h5>
                {{ message }}
              </div>
              {% endfor %}
            </ul>
          </div>

          {% endif %}

          <br><br>
          <form method="post">



            {% csrf_token %}

            {% crispy form %}




            {% if form.errors %}
            {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-danger">
              <strong>{{ field.name }}{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
            {% endif %}

            <br>
            <br>

            <hr class="bg-info">
            <div class="row bg-warning" style="height: 6px; width: 100%">

            </div>
            <hr class="bg-info">



            {%  csrf_token %}

            {{ formset.management_form }}

            {% for form in formset %}

            {% if form.non_field_errors %}

            <div class="alert alert-danger" role="alert">

              {% for error in form.non_field_errors %}
              {{ error }}

              {% endfor %}

            </div>





            {% endif %}



            {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}

            {% endfor %}


            <div class="row form-row spacer">
              <div class="col-sm-2">
                <div class="form-group">
                  <label>{{ form.first_name.label }}</label>


                  {% render_field form.first_name class="form-control" %}




                </div>
              </div>


              <div class="col-sm-2">
                <div class="form-group">
                  <label>{{ form.middle_name.label }}</label>


                  {% render_field form.middle_name class="form-control" %}




                </div>
              </div>

              <div class="col-sm-2">
                <div class="form-group">
                  <label>{{ form.last_name.label }}</label>


                  {% render_field form.last_name class="form-control" %}




                </div>
              </div>

              <div class="col-sm-2">
                <div class="form-group">
                  <label>{{ form.phone_number.label }}</label>


                  {% render_field form.phone_number class="form-control" %}




                </div>
              </div>

              <div class="col-sm-2">
                <div class="form-group">
                  <label>{{ form.id_number.label }}</label>


                  {% render_field form.id_number class="form-control" %}




                </div>
              </div>

              <div class="col-sm-1">
                <div class="form-group">
                  <label>{{ form.sex.label }}</label>


                  {% render_field form.sex class="form-control" %}




                </div>
              </div>
           


              <div class="col-sm-1 d-flex align-items-center justify-content-center">
                <div class="form-group d-flex align-items-center justify-content-center">
                  <div class="input-group-append d-flex align-items-center justify-content-center pt-4">
                    <button class="btn btn-success add-form-row ">+</button>
                  </div>
                </div>
              </div>
            </div>









            <br>



            {% endfor %}

            <br>

            <div class="row spacer">
              <div class="col-6 offset-3">
                <button class="btn btn-block btn-success">
                  Process
                </button>

              </div>

            </div>








          </form>

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
{% endblock dashboard_content %}



{% block extra_js %}
<script type='text/javascript'>
  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    console.log(newElement)
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
      console.log($(this).attr('name'))
      var name = $(this).prop('name').replace('-' + (total - 1) + '-', '-' + total + '-');
      var id = 'id_' + name;
      $(this).attr({
        'name': name,
        'id': id
      }).val('').removeAttr('checked');
    });
    newElement.find('label').each(function () {
      var forValue = $(this).attr('for');
      if (forValue) {
        forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
        $(this).attr({
          'for': forValue
        });
      }
    });
    console.log(newElement)
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
      .removeClass('btn-success').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>');
    return false;
  }

  function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1) {
      btn.closest('.form-row').remove();
      var forms = $('.form-row');
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
      for (var i = 0, formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).find(':input').each(function () {
          updateElementIndex(this, prefix, i);
        });
      }
    }
    return false;
  }
  $(document).on('click', '.add-form-row', function (e) {
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
  });
  $(document).on('click', '.remove-form-row', function (e) {
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
  });
</script>

{% endblock extra_js %}