{% extends 'fosa/base.html' %}

{% load static %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block app %} Loan Group Guarantors {% endblock app %}

{% block active_s %}
active
{% endblock active_s %}

{% block active_me %}
active
{% endblock active_me %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="">Seach Results</a></li>
<li class="breadcrumb-item"><a href="">Loan Guarantors</a></li>
{% endblock breadcrump %}

{% block show_s  %}
menu-open
{%  endblock show_s %}

{% block title %}

Seacrh Results for {{ term }}

{% endblock title %}

{% block extra_css %}

<style>



</style>


{% endblock extra_css %}

{% block content %}
<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Loan Application</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Loan Application Form - Group Guarantors </li>
      </ol>
    </div>
  </div>

</section>


<section class="container">



<hr/>
  
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-info card-outline" style="min-height: 69vh;">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle" src="{{ member.avatar.thumbnail.url }}"
                alt="User profile picture">
            </div>

            <hr>

            <h5 class="text-center">Member Info</h5>
            <hr>
            <p class="text-muted text-center">Name: {{ member.get_names }}</p>
            <p class="text-muted text-center">Member No: {{ member.account_number }}</p>
            <p class="text-muted text-center">ID No: {{ member.id_number }}</p>
            <p class="text-muted text-center">Phone No: {{ member.phone_number }}</p>
            <hr>
            <h5 class="text-center">Group Info</h5>
            <hr>
            <p class="text-muted text-center">Group: {{ member.group }}</p>
          </div>
        </div>

        <div class="card card-warning">
    
        </div>
      </div>
      <div class="col-9">
    

        <div class="card">
          <div class="card-header bg-warning ">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Loan Application Procedure</h3>
                </div>

                <div class="col-6 text-center">

                 
                </div>
            </div>
          </div>
          <div class="card-header ">
          
            <div class="row">
          

                <div class="col-12 text-center">
      
                      <div class="progress">
                        <div class="progress-bar" style="width: 20%"></div>
                      </div>
                      <span class="progress-description">
                        20% Done   <h3 class="card-title">Individual Pledges</h3>
                      </span>
                
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            {% if messages %}

            <div class="row">
              <ul class="messages">
                {% for message in messages %}
                <div class="callout callout-danger bg-warning">
                  <h5><i class="fas fa-info"></i> Message</h5>
                  {{ message }}
                </div>
                {% endfor %}
              </ul>
            </div>
  
            {% endif %}
  
            <br><br>
            <form method="post" action="" novalidate>
  
              {%  csrf_token %}
  
              {{ formset.management_form }}
  
              {% for form in formset %}
  
              {% if form.non_field_errors %}
  
              <div class="alert alert-danger" role="alert">
  
                {% for error in form.non_field_errors %}
                {{ error }}
  
                {% endfor %}
  
              </div>
  
  
  
  
  
              {% endif %}
  
  
  
              {% for hidden_field in form.hidden_fields %}
              {{ hidden_field }}
  
              {% endfor %}
  
  
              <div class="row form-row spacer">

      
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>{{ form.item_title.label }}</label>
  
  
                    {% render_field form.item_title class="form-control" %}
  
              
  
  
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label>{{ form.count.label }}</label>
  
  
                    {% render_field form.count class="form-control" %}
  
              
  
  
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="form-group">
                    <label>{{ form.serial_number.label }}</label>
  
  
                    {% render_field form.serial_number class="form-control" %}
  
              
  
  
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label>{{ form.description.label }}</label>
  
  
                    {% render_field form.description class="form-control" %}
  
              
  
  
                  </div>
                </div>

           

                <div class="col-sm-6">
                  <div class="form-group">
                    <label>{{ form.estimated_value.label }}</label>
  
  
                    {% render_field form.estimated_value class="form-control" %}
  
              
  
  
                  </div>
                </div>
                <div class="col-sm-1 d-flex align-items-center justify-content-center">
                  <div class="form-group d-flex align-items-center justify-content-center">
                    <div class="input-group-append d-flex align-items-center justify-content-center pt-4">
                      <button class="btn btn-success add-form-row ">+</button>
                    </div>
                  </div>
                </div>


                <div class="col-sm-12">
               <hr class="bg-warning">
            
                </div>
              </div>
  
  
  
  
          
  

  
  
          <br>
  
       
  
          {% endfor %}
  
          <br>
  
          <div class="row spacer">
            <div class="col-6 offset-3">
              <button class="btn btn-block btn-info">
                Process
              </button>
  
            </div>
  
          </div>
  
  
  
  
  
  
          </form>
  
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>






{% endblock content %}








{% block extra_js %}
<script type='text/javascript'>
  function updateElementIndex(el, prefix, ndx) {
    var id_regex = new RegExp('(' + prefix + '-\\d+)');
    var replacement = prefix + '-' + ndx;
    if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
    if (el.id) el.id = el.id.replace(id_regex, replacement);
    if (el.name) el.name = el.name.replace(id_regex, replacement);
  }

  function cloneMore(selector, prefix) {
    var newElement = $(selector).clone(true);
    var total = $('#id_' + prefix + '-TOTAL_FORMS').val();
    console.log(newElement)
    newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function () {
      console.log($(this).attr('name'))
      var name = $(this).prop('name').replace('-' + (total - 1) + '-', '-' + total + '-');
      var id = 'id_' + name;
      $(this).attr({
        'name': name,
        'id': id
      }).val('').removeAttr('checked');
    });
    newElement.find('label').each(function () {
      var forValue = $(this).attr('for');
      if (forValue) {
        forValue = forValue.replace('-' + (total - 1) + '-', '-' + total + '-');
        $(this).attr({
          'for': forValue
        });
      }
    });
    console.log(newElement)
    total++;
    $('#id_' + prefix + '-TOTAL_FORMS').val(total);
    $(selector).after(newElement);
    var conditionRow = $('.form-row:not(:last)');
    conditionRow.find('.btn.add-form-row')
      .removeClass('btn-success').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('<span class="glyphicon glyphicon-minus" aria-hidden="true">-</span>');
    return false;
  }

  function deleteForm(prefix, btn) {
    var total = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
    if (total > 1) {
      btn.closest('.form-row').remove();
      var forms = $('.form-row');
      $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
      for (var i = 0, formCount = forms.length; i < formCount; i++) {
        $(forms.get(i)).find(':input').each(function () {
          updateElementIndex(this, prefix, i);
        });
      }
    }
    return false;
  }
  $(document).on('click', '.add-form-row', function (e) {
    e.preventDefault();
    cloneMore('.form-row:last', 'form');
    return false;
  });
  $(document).on('click', '.remove-form-row', function (e) {
    e.preventDefault();
    deleteForm('form', $(this));
    return false;
  });
</script>

{% endblock extra_js %}