{% extends 'fosa/base.html' %}

{% load static %}
{% block app %} System Search Results {% endblock app %}

{% block active_s %}
active
{% endblock active_s %}

{% block active_me %}
active
{% endblock active_me %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'search' %}">Seach Results</a></li>
<li class="breadcrumb-item"><a href="">Search</a></li>
{% endblock breadcrump %}

{% block show_s  %}
menu-open
{%  endblock show_s %}

{% block title %}

Seacrh Results for {{ term }}

{% endblock title %}

{% block extra_css %}

<style>



</style>


{% endblock extra_css %}

{% block content %}


<section class="container content-header">
   
  <div class="row">
    <div class="col-sm-6">
      <h1>Loan Application</h1>
    </div>
    <div class="col-sm-6">
      <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="#">POS</a></li>
        <li class="breadcrumb-item active">Loan Details - Loan </li>
      </ol>
    </div>
  </div>

</section>


<section class="container">



<hr/>
  
    <div class="row">
      <div class="col-md-3">

        <!-- Profile Image -->
        <div class="card card-info card-outline" style="min-height: 69vh;">
          <div class="card-body box-profile">
            <div class="text-center">
              <img class="profile-user-img img-fluid img-circle" src="{{ member.avatar.thumbnail.url }}"
                alt="User profile picture">
            </div>

            <hr>

            <h5 class="text-center">Member Info</h5>
            <hr>
            <p class="text-muted text-center">Name: {{ member.get_names }}</p>
            <p class="text-muted text-center">Member No: {{ member.account_number }}</p>
            <p class="text-muted text-center">ID No: {{ member.id_number }}</p>
            <p class="text-muted text-center">Phone No: {{ member.phone_number }}</p>
            <hr>
            <h5 class="text-center">Group Info</h5>
            <hr>
            <p class="text-muted text-center">Group: {{ member.group }}</p>
          </div>
        </div>

        <div class="card card-info">
    
        </div>
      </div>
      <div class="col-9" id="page">
    

        <div class="card">
          <div class="card-header bg-warning ">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Loan Application Procedure</h3>
                </div>

                <div class="col-6 text-center">

                 
                </div>
            </div>
          </div>
          <div class="card-header ">
          
            <div class="row">
          

                <div class="col-12 text-center">
      
                      <div class="progress">
                        <div class="progress-bar" style="width: 100%"></div>
                      </div>
                      <span class="progress-description">
                        100% Done   <h3 class="card-title">Loan Details</h3>
                      </span>
                
                </div>
            </div>
          </div>
 
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h4>
                  <i class="fas fa-globe"></i> {{ request.tenant.name }}, Inc.
                  <small class="float-right">{{ loan.date_created | date }}</small>
                </h4>
              </div>
              <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="row invoice-info">
              <div class="col-sm-6 invoice-col">
              
                <address>
                  <strong>{{ loan.member }}</strong><br>
                  <strong>Group: {{ loan.member.group }}</strong><br>

                </address>
              </div>
              <div class="col-sm-6 invoice-col">
              
                <address>
                  <strong>{{ loan.loan_product }}</strong><br>
                  Amount Requested: {{ loan.requested_amount }}<br>
               
                </address>
              </div>
              <!-- /.col -->

              <!-- /.col -->
      
              <!-- /.col -->
            </div>



            <br>
            <hr>
            <div class="row">
              <div class="col-md-9">
                <h6>Individual Pledges</h6>
              </div>

              <div class="col-md-3">
                <a href="{% url 'loan_individual_pledges' pk=loan.id %}" type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-plus"></i></a>

              </div>
            </div>

            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="">
              <tr>
             
            
                <th>Item </th>
                <th>Count</th>

                <th>Description</th>
                <th>Serial</th>
                <th>Value </th>
              </tr>
              </thead>
              <tbody>
                {% for account in individual_pledges %}
              <tr>
            
           
            
                <td>  {{account.item_title }}</td>
            
                <td> {{account.count }}</td>
               
                <td>{{ account.description }}</td>
                <td>  {{account.serial_number }}</td>
            
                <td> {{account.estimated_value }}</td>
    
             
                </tr>

              {% endfor %}
              </tbody>
        
            </table>








<hr>
<hr>








            <div class="row">
              <hr>
              <div class="col-md-9">
                <h6>Group Guarantors</h6>
              </div>

              <div class="col-md-3">
                <a href="{% url 'loan_guarantors_pos' pk=loan.id %}" type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-plus"></i></a>

              </div>
            </div>
            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="">
              <tr>
             
                <th>Member</th>
                <th>Deposit Lock in % </th>
                <th>Active</th>
             
              </tr>
              </thead>
              <tbody>
                {% for account in internal_gaurantors %}
              <tr>
            
           
                <td>{{ account.member }}</td>
                <td>  {{account.lock }}</td>
            
                <td> {{account.active }}</td>
               

    
             
                </tr>

              {% endfor %}
              </tbody>
        
            </table>

            <br>
            <hr>
            <div class="row">
              <div class="col-md-9">
                <h6>External Guarantors</h6>
              </div>

              <div class="col-md-3">
                <a href="{% url 'loan_external_guarantors_pos' pk=loan.id %}" type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-plus"></i></a>

              </div>
            </div>

            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="">
              <tr>
             
                <th>Guarantor</th>
                <th>Item </th>
                <th>Count</th>

                <th>Description</th>
                <th>Serial</th>
                <th>Value </th>
              </tr>
              </thead>
              <tbody>
                {% for account in external_pledges %}
              <tr>
            
           
                <td>{{ account.guarantor }}</td>
                <td>  {{account.item_title }}</td>
            
                <td> {{account.count }}</td>
               
                <td>{{ account.description }}</td>
                <td>  {{account.serial_number }}</td>
            
                <td> {{account.estimated_value }}</td>
    
             
                </tr>

              {% endfor %}
              </tbody>
        
            </table>

            <hr>
            <div class="row text-center">

              <div class="col-12">
                <h4 class="text-center">Pipeline Status</h4>
              </div>




              <div class="col-4">
                <h6>
                  <p>Approved: <small><a class="is_approved">

                    {% if loan.is_approved %}
                    <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
                   {% else %}

                   <button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-times"></i></button>

                   {% endif %}
                      </a></small></p>
                </h6>
              </div>

              <div class="col-4">
                <h6>
                  <p>Confirmed: <small><a class="is_confirmed"> 
                    
                    {% if loan.is_confirmed %}
                    <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
                   {% else %}

                   <button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-times"></i></button>

                   {% endif %}
                  
                  
                  
                  </a></small></p>
                </h6>
              </div>

              <div class="col-4">
                <h6>
                  <p>Disbursed: <small><a class="is_disbursed">

                    {% if loan.is_disbursed %}
                     <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
                    {% else %}

                    <button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-times"></i></button>

                    {% endif %}
                    
                    
                    </a></small></p>
                </h6>
              </div>

              <!-- /.col -->
            </div>

            <hr>
            <div class="row text-center">
              <div class="col-4">
                <h6>
                  <p>Approved By: <small><a class="is_approved">

                
                    {% if loan.is_approved %}
                    {{ loan.approving_officer }}
                    {% else %}

                      None
                    {% endif %}
                    
                      </a></small></p>
                </h6>
              </div>

              <div class="col-4">
                <h6>
                  <p>Confirmed By: <small><a class="is_confirmed"> 
                    
             
                    {% if loan.is_confirmed %}
                      {{ loan.confirming_officer }}
                    {% else %}

                      None
                    {% endif %}
                    
                  
                  
                  
                  </a></small></p>
                </h6>
              </div>

              <div class="col-4">
                <h6>
                  <p>Disbursed By: <small><a class="is_disbursed">

                    {% if loan.is_disbursed %}
                    {{ loan.disbursing_officer }}
                    {% else %}

                      None
                    {% endif %}
                    
                    
                    </a></small></p>
                </h6>
              </div>

              <!-- /.col -->
            </div>
            <hr>
            <div class="row text-center">
              <div class="col-4">
                <h6>
                  <p>Approved On: <small><a class="is_approved">

                
                    {% if loan.is_approved %}
                    {{ loan.date_approved }}
                    {% else %}

                      None
                    {% endif %}
                    
                      </a></small></p>
                </h6>
              </div>

              <div class="col-4">
                <h6>
                  <p>Confirmed On: <small><a class="is_confirmed"> 
                    
             
                    {% if loan.is_confirmed %}
                      {{ loan.date_confirmed }}
                    {% else %}

                      None
                    {% endif %}
                    
                  
                  
                  
                  </a></small></p>
                </h6>
              </div>

              <div class="col-4">
                <h6>
                  <p>Disbursed On: <small><a class="is_disbursed">

                    {% if loan.is_disbursed %}
                    {{ loan.date_disbursed }}
                    {% else %}

                      None
                    {% endif %}
                    
                    
                    </a></small></p>
                </h6>
              </div>

              <!-- /.col -->
            </div>
            <hr>
            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-5">
                <h6>
                  <p>Processed By: <small><a class="processed_by">{{ loan.creator }}</a></small></p>
                </h6>
              </div>

              <div class="col-5">
                <h6>
                  <p>Processed On: <small><a class="processed_by">{{ loan.date_created }}</a></small></p>
                </h6>
              </div>
              <div class="col-md-1"></div>
              <!-- /.col -->
            </div>

            <div class="row">
              <div class="col-md-1"></div>
              <div class="col-5">
                <h6>
                  <p>Modified By: <small><a class="processed_by"> {{ loan.modified_by }} </a></small></p>
                </h6>
              </div>

              <div class="col-5">
                <h6>
                  <p>Modified On: <small><a class="processed_by">{{ loan.date_modified }}</a></small></p>
                </h6>
              </div>
              <div class="col-md-1"></div>
              <!-- /.col -->
            </div>
            <hr>
            <!-- this row will not appear when printing -->
            <div class="row no-print">
              <div class="col-12">
                <a href="" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>

                <!-- <button type="button" class="btn btn-info float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i>Approve
                  </button> -->
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>






{% endblock content %}







{% block extra_js %}



{% endblock extra_js %}