{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Loans {% endblock app %}

{% block active_loans %}
active
{% endblock active_loans %}

{% block active_loans_all %}
active
{% endblock active_loans_all %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loans' %}">Loans</a></li>
<li class="breadcrumb-item"><a href="{% url 'loans' %}">List</a></li>
{% endblock breadcrump %}

{% block show_loans  %}
menu-open
{%  endblock show_loans %}

{% block title %}

Dashboard Loans

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Loans Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">

                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <div class="card card-success card-outline">
                   
                    <div class="card-body">
                      <div class="card-header">
                        <h3 class="card-title">
                          <i class="fas fa-edit"></i>
                         All Active Loans
                        </h3>
                      </div>
                     
                      <table id="dataTable" class="table table-sm table-bordered table-striped">
                        <thead class="bg-info">
                          <tr>
                            <th>Member</th>
                            <th>Id</th>
                            <th>Loan</th>
                            <th>Amount</th>
                            <th> Approved</th>
                            <th>Approved</th>
                            <th>Approved By</th>
                            <th>Confirmed</th>
                            <th>Confirmed By</th>
                            <th>Disbursed</th>
                            <th>Disbursed By</th>
                            <th>Created By</th>
                            <th>Date Created</th>
                            <th>Backtrack</th>
                            <th>Analysis</th>
                          </tr>
                        </thead>
        
                        <tbody>
        
                          {% for request in loans %}
        
                          <tr>
                            <td class="id" hidden>{{ request.id }}</td>
                            <td class="name">{{ request.member }}</td>
                            <td>{{ request.member.id_number }}</td>
                            <td>{{ request.loan_product }}</td>
                            <td>{{ request.requested_amount}}</td>
                            <td></td>
                            <td> {% if request.is_approved %}
        
                              <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
            
                              {% else %}
            
                              <button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
            
            
                              {% endif %}
                              
                              </td>
                            <td>{{ request.approving_officer}}</td>
            
                            <td> {% if request.is_confirmed %}
        
                              <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
            
                              {% else %}
            
                              <button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
            
            
                              {% endif %}
                              
                              </td>
                            <td>{{ request.confirming_officer}}</td>
            
                            <td> {% if request.is_disbursed %}
        
                              <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
            
                              {% else %}
            
                              <button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
            
            
                              {% endif %}
                              
                              </td>
                            <td>{{ request.disbursing_officer}}</td>
            
                            <td class="processed_by">{{ request.creator }}</td>
                            <td class="date">{{ request.date_created}}</td>
                            <td>   <a href="{% url 'backtrack' pk=request.id %}" class="btn btn-sm btn-success action-btn" > Backtrack  </a></td>
            
                         
            
                            <td>   <a href="{% url 'loan_details_pos' pk=request.id %}" class="btn btn-sm btn-success action-btn" > Details  </a></td>
            
                            
            
            
                          </tr>
        
        
        
        
        
                          {% endfor %}
                        </tbody>
                  
                        <tfoot>
                      
                          <tr>
                            <th>Member</th>
                            <th>Id</th>
                            <th>Loan</th>
                            <th>Amount</th>
                            <th> Approved</th>
                            <th>Approved</th>
                            <th>Approved By</th>
                            <th>Confirmed</th>
                            <th>Confirmed By</th>
                            <th>Disbursed</th>
                            <th>Disbursed By</th>
                            <th>Created By</th>
                            <th>Date Created</th>
                            <th>Backtrack</th>

                            <th>Analysis</th>
                          </tr>
                  
                        </tfoot>
                      </table>
                    </div>
                    <!-- /.card -->
                  </div>
            </div>
              <!-- /.col -->
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>


    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}