{% extends 'dashboard_base.html' %}

{% load static %}
{% load humanize %}
{% block app %} Monthly {% endblock app %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item"><a href="{% url 'dashboard_monthly' %}">Monthly</a></li>
{% endblock breadcrump %}
{% block active_dash %}
active
{% endblock active_dash %}
{% block title %}

Dashboard Daily Report View

{% endblock title %}



{% block show_dash %}
menu-open
{%  endblock show_dash %}
{% block menu_class_monthly %}
active

{% endblock menu_class_monthly %}

{% block dashboard_content %}




<section class="content">
  <div class="container-fluid">
    <!-- Info boxes -->
    <hr>
    <div class="row m-0 p-0">
      <div class="col-sm-6">
        <h5 class="m-0 text-dark">Registers Status</h5>
      </div><!-- /.col -->
  
      <div class="col-sm-6">
 
      </div><!-- /.col -->
    </div><!-- /.row -->
 <br>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-2">
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user"></i></span>

          <div class="info-box-content">
            <a href="{% url 'members_list' %}" ><span class="info-box-text">Members</span></a>
            <span class="info-box-number">
              {{ snapshot.members }}
             
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-2">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-users"></i></span>

          <div class="info-box-content">
            <a href="{% url 'groups_list' %}" ><span class="info-box-text">Member Groups</span></a>
            <span class="info-box-number"> {{ snapshot.member_groups }}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

      <div class="col-12 col-sm-6 col-md-2">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-map"></i></span>

          <div class="info-box-content">
            <a href="{% url 'branches' %}" ><span class="info-box-text">Branches</span></a>
            <span class="info-box-number"> {{ snapshot.branches }}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>

      <div class="col-12 col-sm-6 col-md-2">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-map"></i></span>

          <div class="info-box-content">
            <a href="{% url 'departments' %}" ><span class="info-box-text">Departments</span></a>
            <span class="info-box-number"> {{ snapshot.departments }}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-2">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

          <div class="info-box-content">
            <a href="{% url 'users' %}" ><span class="info-box-text">Loan Agents</span></a>

            <span class="info-box-number">  {{ snapshot.loan_agents }}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>

      <div class="col-12 col-sm-6 col-md-2">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

          <div class="info-box-content">
            <a href="{% url 'users' %}" ><span class="info-box-text">Users</span></a>
            <span class="info-box-number">  {{ snapshot.users }}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
    </div>


    <hr>

    <div class="row m-0 p-0">
      <div class="col-sm-6">
        <h5 class="m-0 text-dark">Vote Heads Tracking</h5>
      </div><!-- /.col -->
  
      <div class="col-sm-6 text-right">
        <button class="btn btn-sm btn-info">Add More</button>
      </div><!-- /.col -->
    </div><!-- /.row -->
<br>





    <div class="row">

      {% for vote in voteheads %}
      <div class="col-12 col-sm-6 col-md-4">
        <div class="row">
          <div class="col-9">   <h5>{{ vote.transaction_type.title }}</h5></div>

          <div class="col-3">   <button class="btn btn-sm btn-warning mb-2"><i class="fas fa-chart-bar"></i>  Analysis</button></div>
        </div>
     
        <div class="info-box">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-user"></i></span>

          <div class="info-box-content">
            <span class="info-box-text"> Balance</span>
            <span class="info-box-number">
              {{ vote.balance | intcomma }}
             
            </span>
          </div>



          <div class="info-box-content">
            <span class="info-box-text">Received</span>
            {% if vote.transaction_type.classification == 'liability' %}
            <span class="info-box-text">Given</span>
            {% elif vote.transaction_type.classification == 'asset' %}
            <span class="info-box-text">Received</span>
            {% endif %}
            <span class="info-box-number">
              {{ vote.variance | intcomma }}
             
            </span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>

      {% endfor %}
    </div>
    <!-- /.row -->

    <!-- /.row -->

    <hr>

    <div class="row m-0 p-0">
      <div class="col-sm-6">
        <h5 class="m-0 text-dark">Loans Charts</h5>
      </div><!-- /.col -->
  
      <div class="col-sm-6 text-right">
       
      </div><!-- /.col -->
    </div><!-- /.row -->
<br>
    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-md-12">
      
        <!-- /.card -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header border-0">
                    <div class="d-flex justify-content-between">
                      <h3 class="card-title"></h3>
                      <a href="javascript:void(0);">Loans Released Monthly</a>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="d-flex">
                      <p class="d-flex flex-column">
                        <span class="text-bold text-lg">820</span>
                        <span>Income Overtime</span>
                      </p>
                      <p class="ml-auto d-flex flex-column text-right">
                        <span class="text-success">
                          <i class="fas fa-arrow-up"></i> 12.5%
                        </span>
                        <span class="text-muted">Since last week</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->
    
                    <div class="position-relative mb-4">
                      <canvas id="visitors-chart" height="200"></canvas>
                    </div>
    
                    <div class="d-flex flex-row justify-content-end">
                      <span class="mr-2">
                        <i class="fas fa-square text-primary"></i> This Week
                      </span>
    
                      <span>
                        <i class="fas fa-square text-gray"></i> Last Week
                      </span>
                    </div>
                  </div>
                </div>
                <!-- /.card -->
    
             
                <!-- /.card -->
              </div>
              <!-- /.col-md-6 -->
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header border-0">
                    <div class="d-flex justify-content-between">
                      <h3 class="card-title">Loans Collection Monthly</h3>
                      <a href="javascript:void(0);">View Report</a>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="d-flex">
                      <p class="d-flex flex-column">
                        <span class="text-bold text-lg">$18,230.00</span>
                        <span>Sales Over Time</span>
                      </p>
                      <p class="ml-auto d-flex flex-column text-right">
                        <span class="text-success">
                          <i class="fas fa-arrow-up"></i> 33.1%
                        </span>
                        <span class="text-muted">Since last month</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->
    
                    <div class="position-relative mb-4">
                      <canvas id="sales-chart" height="200"></canvas>
                    </div>
    
                    <div class="d-flex flex-row justify-content-end">
                      <span class="mr-2">
                        <i class="fas fa-square text-primary"></i> This year
                      </span>
    
                      <span>
                        <i class="fas fa-square text-gray"></i> Last year
                      </span>
                    </div>
                  </div>
                </div>
                <!-- /.card -->
    
            
              </div>
              <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.row -->

    
        <!-- /.card -->
      </div>





      <div class="col-md-12">
      
        <!-- /.card -->
        <div class="content">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header border-0">
                    <div class="d-flex justify-content-between">
                      <h3 class="card-title"></h3>
                      <a href="javascript:void(0);">Loans Collection Vs Loans Due</a>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="d-flex">
                      <p class="d-flex flex-column">
                        <span class="text-bold text-lg">820</span>
                        <span>Income Overtime</span>
                      </p>
                      <p class="ml-auto d-flex flex-column text-right">
                        <span class="text-success">
                          <i class="fas fa-arrow-up"></i> 12.5%
                        </span>
                        <span class="text-muted">Since last week</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->
    
                    <div class="position-relative mb-4">
                      <canvas id="visitors-chart" height="200"></canvas>
                    </div>
    
                    <div class="d-flex flex-row justify-content-end">
                      <span class="mr-2">
                        <i class="fas fa-square text-primary"></i> This Week
                      </span>
    
                      <span>
                        <i class="fas fa-square text-gray"></i> Last Week
                      </span>
                    </div>
                  </div>
                </div>
                <!-- /.card -->
    
             
                <!-- /.card -->
              </div>
              <!-- /.col-md-6 -->
              <div class="col-lg-6">
                <div class="card">
                  <div class="card-header border-0">
                    <div class="d-flex justify-content-between">
                      <h3 class="card-title">Total Outstanding Open Loans</h3>
                      <a href="javascript:void(0);">View Report</a>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="d-flex">
                      <p class="d-flex flex-column">
                        <span class="text-bold text-lg">$18,230.00</span>
                        <span>Sales Over Time</span>
                      </p>
                      <p class="ml-auto d-flex flex-column text-right">
                        <span class="text-success">
                          <i class="fas fa-arrow-up"></i> 33.1%
                        </span>
                        <span class="text-muted">Since last month</span>
                      </p>
                    </div>
                    <!-- /.d-flex -->
    
                    <div class="position-relative mb-4">
                      <canvas id="sales-chart" height="200"></canvas>
                    </div>
    
                    <div class="d-flex flex-row justify-content-end">
                      <span class="mr-2">
                        <i class="fas fa-square text-primary"></i> This year
                      </span>
    
                      <span>
                        <i class="fas fa-square text-gray"></i> Last year
                      </span>
                    </div>
                  </div>
                </div>
                <!-- /.card -->
    
            
              </div>
              <!-- /.col-md-6 -->
            </div>
            <!-- /.row -->
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- /.row -->

    
        <!-- /.card -->
      </div>
      <!-- /.col -->

      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div><!--/. container-fluid -->
</section>

{% endblock dashboard_content %}