



{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% load static %}
{% block app %} Savings {% endblock app %}

{% block active_savings %}
active
{% endblock active_savings %}

{% block active_savings_accounts %}
active
{% endblock active_savings_accounts %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'sproducts_list' %}">Saving Account</a></li>
<li class="breadcrumb-item"><a href="">Open A Saving Account</a></li>
{% endblock breadcrump %}

{% block show_savings  %}
menu-open
{%  endblock show_savings %}

{% block title %}

Dashboard Savings Accounts

{% endblock title %}


{% block dashboard_content %}

<section class="content">

    <div class="row d-flex justify-content-center">
      <div class="col-10">
    
        <div class="card">
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
            <div class="callout callout-danger bg-warning">
              <h5><i class="fas fa-info"></i> Message</h5>
              {{ message }}
            </div>
            {% endfor %}
          </ul>
        {% endif %}
          <div class="card-header bg-info">
            <div class="row">
              <div class="col-6">
                 
                  You are opening A Savings Account for {{ member.get_names }}
              </div>

              <div class="col-6">
                  <div class="row">
                      <div class="col-6">
                      </div>

                      <div class="col-6">
                         
                      </div>
                  </div>
                
               
              </div>
          </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-12">
                  <h3 class="card-title">Saving Account Details Form</h3>
                </div>

           
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">

            <form action="{% url 'open_saving_account' pk=member.id %}" method="post">

            <div class="card">
              <div class="card-header bg-secondary">
                <h3 class="card-title">Saving Account Details </h3>

              </div>

              <div class="card-body">


                       
              {% csrf_token %}
            
              {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
              {% endfor %}
            
              {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                  {% for error in form.non_field_errors %}
                    {{ error }}
                  {% endfor %}
                </div>
              {% endif %}
            

              <div class="row">
              

             
              {% for field in form.visible_fields %}
              <div class="col-md-6">
                <div class="form-group">
                  {{ field.label_tag }}
            
                  {% if form.is_bound %}
                    {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                        <div class="invalid-feedback">
                          {{ error }}
                        </div>
                      {% endfor %}
                    {% else %}
                      {% render_field field class="form-control is-valid" %}
                    {% endif %}
                  {% else %}
                    {% render_field field class="form-control" %}
                  {% endif %}
            
                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                </div>
              </div>
              {% endfor %}


          
          </div>
            
              </div>
            </div>
         
            <div class="card">
              <div class="card-header bg-secondary">
                <h3 class="card-title">Saving Contract Form Details </h3>

              </div>

              <div class="card-body">

                

              {% for hidden_field in contract_form.hidden_fields %}
              {{ hidden_field }}
            {% endfor %}
          
            {% if contract_form.non_field_errors %}
              <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                  {{ error }}
                {% endfor %}
              </div>
            {% endif %}

            <div class="row">
              {% for field in contract_form.visible_fields %}

              <div class="col-md-6">
                <div class="form-group">
                  {{ field.label_tag }}
            
                  {% if contract_form.is_bound %}
                    {% if field.errors %}
                      {% render_field field class="form-control is-invalid" %}
                      {% for error in field.errors %}
                        <div class="invalid-feedback">
                          {{ error }}
                        </div>
                      {% endfor %}
                    {% else %}
                      {% render_field field class="form-control is-valid" %}
                    {% endif %}
                  {% else %}
                    {% render_field field class="form-control" %}
                  {% endif %}
            
                  {% if field.help_text %}
                    <small class="form-text text-muted">{{ field.help_text }}</small>
                  {% endif %}
                </div>
              </div>
          
            {% endfor %}
                 
            </div>
          
  

              </div>
            </div>
            





        
  
            
           


















              <div class="row">



                <div class="col-12">
                  <button class="btn btn-block btn-lg btn-info" type="submit">Submit</button>
                </div>
             
              </div>


            </form>
 

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
{% endblock dashboard_content %}





