



{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block app %} Savings {% endblock app %}

{% block active_savings %}
active
{% endblock active_savings %}

{% block active_sbc %}
active
{% endblock active_sbc %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'sbc_list' %}">Saving Book Contracts</a></li>
<li class="breadcrumb-item"><a href="{% url 'sbc_aoe' %}">AOE</a></li>
{% endblock breadcrump %}

{% block show_savings  %}
menu-open
{%  endblock show_savings %}

{% block title %}

Dashboard Savings 

{% endblock title %}


{% block dashboard_content %}

<section class="content">
    <div class="row d-flex justify-content-center">
      <div class="col-10">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Saving Book Contract Form</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">
                           
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
          
            {% crispy form %}

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
{% endblock dashboard_content %}





