{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Loans {% endblock app %}

{% block active_loans %}
active
{% endblock active_loans %}

{% block active_loans_analysis %}
active
{% endblock active_loans_analysis %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loans_types' %}">Loan Type</a></li>
<li class="breadcrumb-item"><a href="{% url 'loans_types' %}">Types</a></li>
{% endblock breadcrump %}

{% block show_loans  %}
menu-open
{%  endblock show_loans %}

{% block title %}

Dashboard Loans 

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Loan Types Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">

                            <a href="{% url 'members_aoe' %}"  class="btn btn-warning btn-sm" id="paymentBtn">
                              <i class="fas fa-pen fa-lg"></i>
                              New
                            </a>
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>

                <th>National Id</th>
                <th>Type</th>
                <th>Unit</th>
                <th>Building</th>
                <th>Status</th>
                <!-- <th>Payment</th>
                <th>Invoice</th> -->
                <th>Details</th>
              </tr>
              </thead>
        
              <tfoot>
            
                <tr>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Id</th>
                    <th>Type</th>
                    <th>Unit</th>
                    <th>Building</th>
                    <th>Status</th>
                
                    <th>Details</th>
                  </tr>
        
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}