{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Loans {% endblock app %}

{% block active_loans %}
active
{% endblock active_loans %}

{% block active_backtrack %}
active
{% endblock active_backtrack %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loans_products' %}">Loan Products</a></li>
<li class="breadcrumb-item"><a href="{% url 'loans_backtrack' %}">Backtracking</a></li>
{% endblock breadcrump %}

{% block show_loans  %}
menu-open
{%  endblock show_loans %}

{% block title %}

Dashboard Loans - BackTracking

{% endblock title %}



{% block dashboard_content %}
<section class="content">
  <div class="row">
    <div class="col-12">


      <div class="card">
        <div class="card-header bg-info">

          <div class="row">
            <div class="col-6">
              <h3 class="card-title">Manage Loan BackTracking Easily</h3>
            </div>

            <div class="col-6">
              <div class="row">
                <div class="col-6">
                </div>


              </div>


            </div>

            <div class="col-12">
              <div class="card card-primary card-outline">
                <div class="card-header bg-warning">
                  <h3 class="card-title">
                    <i class="fas fa-edit"></i>
                    
                  </h3>
                </div>
                <div class="card-body">

                  <form action="{% url 'search_loans' %}" method="get">
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <input type="text" placeholder="search by Member Number, Id number,name, group name">
                        </div>

                      </div>
                      <div class="col-md-4">

                        <button type="button" class="btn btn-warning">
                         Search
                        </button>
      
                      </div>
                    </div>
                   
                  </form>


               


                  <div class="text-muted mt-3">

                  </div>
                </div>
                <!-- /.card -->
              </div>
            </div>
          </div>



        </div>
        <!-- /.card-header -->
        <div class="card-body">

          <table id="dataTable" class="table table-bordered table-striped">
            <thead class="bg-info">
              <tr>
              <tr>
                <th>Month</th>
                <th> Financial Year</th>
                <th>Description</th>
                <th>Date Run</th>
                <th>Rerun</th>
                <th>Run By</th>
                <th>Analyisis</th>


              </tr>
              </tr>
            </thead>
            <tbody>

              {% for account in accounts %}
              <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.type.title }}
                </td>
                <td>{{ account.description }}</td>
                <td> {{ account.balance }} </td>
                <td> {{ account.creator.phone_number }}</td>
                <td>{{ account.date_created }}</td>
                <td> {{ account.modified_by }}</td>
                <td> {{ account.date_modified }}</td>
                <td> <a href="{% url 'coa_details' pk=account.id %}" class="btn btn-sm btn-warning"> View </a></td>
                <td> <a href="{% url 'coa_edit' pk=account.id %}" class="btn btn-sm btn-success"> Edit </a></td>
                <td> <a href="{% url 'coa_delete' pk=account.id %}" class="btn btn-sm btn-danger"> Delete </a></td>
              </tr>
              {% endfor %}







            </tbody>
            <tfoot>

              <tr>
                <th>Month</th>
                <th> Financial Year</th>
                <th>Description</th>
                <th>Date Run</th>
                <th>Rerun</th>
                <th>Run By</th>
                <th>Analyisis</th>


              </tr>

            </tfoot>
          </table>

        </div>



  

        <div class="modal fade" id="backtrackingModal" role="dialog">
          <div class="modal-dialog modal-xl" role="document">

            <div class="modal-content">

              <div class="modal-header bg-warning">
                <h1 class="modal-title">Loan Backtracking</h1>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">

                <div class="">
                  <!-- Content Header (Page header) -->
                  <section class="content-header">
                    <div class="container-fluid">
                      <div class="row mb-2">
                     
                        <div class="col-sm-6">
                       
                            <div class="input-group input-group-md">
                              <input class="form-control form-control-navbar"  placeholder="Search by member" name="search_term" aria-label="Search" id="search_field">
                              <div class="input-group-append">
                                <button class="btn btn-navbar action-btn" type="submit">
                                  <i class="fas fa-search"></i>
                                </button>
                              </div>
                            </div>
                        
                        </div>
                        <div class="col-sm-6">
                          <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Loans</a></li>
                            <li class="breadcrumb-item active">Backtracking</li>
                          </ol>
                        </div>
                      </div>
                    </div><!-- /.container-fluid -->
                  </section>

                  <section class="content">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-12">



                          <!-- Main content -->
                          <div class="invoice p-3 mb-3">
                            <div class="row">
                              <div class="col-6">
                                <h4>
                                  
                                  
                                  <p>Member: <small><a class="member_name"></a></small></p>
                                </h4>
                              </div>
      
                              <div class="col-6">
                                <h4>
      
                                  <p>Application Date: <small><a class="date"></a></small></p>
                                </h4>
                              </div>
                              <!-- /.col -->
                            </div>
      
                            <hr>

                            <div class="card-body">
                              <table id="dataTable" class="table table-responsive table-bordered table-striped">
                                <thead class="bg-info">
                                <tr>
                                  <th rowspan="2">Name</th>
                                
                                  <th>Phone Number</th>
                  
                                  <th>National Id</th>
                                  
                                  <th>Economic Activity</th>
                                  <th>Group</th>
                                  <th>Action</th>
                               
                                </tr>
                                </thead>
                                <tbody class="members_table">
    
                                </tbody>
                             
                              </table>
                  
                          
                            </div>

                            <!-- /.row -->

                            <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                              <thead class="bg-info">
                                <tr>
    
                                  <th>Loan Product </th>
                                  <th> Requested</th>
                                  <th> Approved</th>
                                  <th>Approved By</th>
                                  <th>Cofirmed By</th>
    
                                  <th>Disbursed By</th>
                                  <th>Created By</th>
                                  <th>Date Created</th>
                                  <th>Repaid</th>
                                  <th>Last Payment</th>
                                </tr>
                              </thead>
    
                              <tbody class="contracts_table">
    
                              </tbody>
    
    
                            </table>


                        
                          </div>
                          <!-- /.invoice -->
                        </div><!-- /.col -->
                      </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                  </section>
                  <!-- /.content -->
                </div>


              </div>
            </div>

            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>


        <div class="modal fade" id="modal-info">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>One fine body&hellip;</p>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>

        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

{% endblock dashboard_content %}



{% block extra_js %}
<script>
  $('.action-btn').click(function (obj) {
    var q = $('#search_field').val()
    console.log(q)

    $.ajax({
      type: "POST",
      method: "POST",
      url: "{% url 'search_member' %}",
      method: "POST",
      data: JSON.stringify({
        "csrfmiddlewaretoken": "{{csrf_token}}",
        "term": q
      }),
      contentType: "application/json",
      success: function (data) {

        console.log(data);
     
   



        if (data["members"].length == 0) {


          $('.members_table').html(
            '<tr class="bg-warning"><p> No Results Found For' + q + '</p></tr>'
          );
        } else {

          var tbody = ""

          for (var contract in data["contracts"]) {

            console.log(contract)


            var row = "<tr><td>" + data["contracts"][contract]['requested_amount'] + "</td><td>" + data[
                "contracts"][contract]['requested_amount'] + "</td><td>" + data["contracts"][contract][
                'requested_amount'
              ] + "</td><td>" +

              data["contracts"][contract]['approving_officer_id'] + "</td><td>" + data["contracts"][contract][
                'confirming_officer_id'
              ] + "</td><td>" + data["contracts"][contract]['disbursing_officer_id'] + "</td><td>" + data[
                "contracts"][contract]['requested_amount'] + "</td><td>" +
              data["contracts"][contract]['requested_amount'] + "</td><td>" + data["contracts"][contract][
                'requested_amount'
              ] + "</td><td>" + data["contracts"][contract]['requested_amount'] + "</td></tr>"


            tbody = tbody + row
          }



          $('.contracts_table').html(tbody);


          
    

      

     
        }

      },
      error: function (error) {
        console.log(error)

      }
    });


    


  })
</script>
<script>



  var $loading = $('.ajaxProgress').hide();
  $('.action-btny').click(function (obj) {

    $(document)
      .ajaxStart(function () {
        $loading.show();
      })

    var row = $(this).parent().parent().find('.id').text()
    var name = $(this).parent().parent().find('.name').text()
    var processed_by = $(this).parent().parent().find('.processed_by').text()
    var date = $(this).parent().parent().find('.date').text()

    var link = ""

    $('.member_name').text(name)
    $('.date').text(date)
    $('.processed_by').text(processed_by)

    $.ajax({
      type: "POST",
      method: "POST",
      url: "{% url 'loan_load' %}",
      method: "POST",
      data: JSON.stringify({
        "csrfmiddlewaretoken": "{{csrf_token}}",
        "loan_id": row
      }),
      contentType: "application/json",
      success: function (data) {

        $loading.hide();
        document.getElementById("approve_link").href =  data['loan']['approve_link']
        $('.product').text(data["product"]["product_title"])
        $('.amount').text(data["loan"]["requested_amount"])
        $('.approved').text(data["loan"]["requested_amount"])
        $('.fee').text(data["product"]["loan_fee_processing"])
        $('.total').text(data["loan"]["requested_amount"] - data["product"]["loan_fee_processing"])
        $('.amount-in-words').text(data["loan"]["requested_amount_words"])
        

        if (data["loan"]["is_approved"]) {
          $('.is_approved').html(
            '<button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>'
          );
        } else {
          $('.is_approved').html(
            '<button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>'
          );
        }



        if (data["loan"]["is_confirmed"]) {
          $('.is_confirmed').html(
            '<button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>'
          );
        } else {
          $('.is_confirmed').html(
            '<button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>'
          );
        }




        if (data["loan"]["is_disbursed"]) {
          $('.is_disbursed').html(
            '<button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>'
          );
        } else {
          $('.is_disbursed').html(
            '<button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>'
          );
        }


        $('.group').text(data["group"]["group_name"])
        $('.total_members').text(data["group"]["total_members"])

        $('.total_loans').text(data["group"]["total_loans"])
        $('.active_loans').text(data["group"]["active_loans"])


        $('.savings_plan').text(data["savings_product"]["name"])
        $('.total_savings').text(data["group"]["total_savings"])
        $('.saving-contract-broken').text(data["loan"]["requested_amount_words"])

        

        if (data["contracts"].length == 0) {


          $('.contracts_table').html(
            '<tr class="bg-warning"><p> No Previous Contracts Found</p></tr>'
          );
        } else {

          var tbody = ""

          for (var contract in data["contracts"]) {

            console.log(contract)


            var row = "<tr><td>" + data["contracts"][contract]['requested_amount'] + "</td><td>" + data[
                "contracts"][contract]['requested_amount'] + "</td><td>" + data["contracts"][contract][
                'requested_amount'
              ] + "</td><td>" +

              data["contracts"][contract]['approving_officer_id'] + "</td><td>" + data["contracts"][contract][
                'confirming_officer_id'
              ] + "</td><td>" + data["contracts"][contract]['disbursing_officer_id'] + "</td><td>" + data[
                "contracts"][contract]['requested_amount'] + "</td><td>" +
              data["contracts"][contract]['requested_amount'] + "</td><td>" + data["contracts"][contract][
                'requested_amount'
              ] + "</td><td>" + data["contracts"][contract]['requested_amount'] + "</td></tr>"


            tbody = tbody + row
          }



          $('.contracts_table').html(tbody);


          
    

      

     
        }

      },
      error: function (error) {
        console.log(error)

      }
    });


    


  });
</script>

{% endblock extra_js %}