{% extends 'dashboard_base.html' %}

{% load static %}
{% load humanize %}
{% block app %} Loans {% endblock app %}

{% block active_loans %}
active
{% endblock active_loans %}

{% block active_loans_statuses %}
active
{% endblock active_loans_statuses %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loans_statuses' %}">Loan Statuses</a></li>
<li class="breadcrumb-item"><a href="{% url 'loans_statuses' %}">Loan Statuses</a></li>
{% endblock breadcrump %}

{% block show_loans  %}
menu-open
{%  endblock show_loans %}

{% block title %}

Dashboard Loans

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Loans Statuses Easily</h3>
                </div>

                <div class="col-6">
                  <h3 class="card-title">Count: {{ statuses.count }}</h3>

                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-sm table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th>Member</th>
                <th>Pricipals</th>
                <th>Interest</th>

                <th>Balance</th>
                <th>Total Repaid</th>
                <th>Created By</th>
                <th>Date Created</th>
                <th>Modified By</th>
                <th>Date Modified</th>
              </tr>
              </thead>

              <tbody>
                {% for status in statuses %}
                  <tr>
                    <th>{{status.member }}</th>

                    <th>{{status.total_loans | intcomma }}</th>

                    <th>{{status.total_interest | intcomma  }}</th>

                    <th>{{status.total_balance | intcomma  }}</th>
                    <th>{{status.total_repaid | intcomma  }}</th>
                    <th>{{status.creator }}</th>
                    <th>{{status.date_created }}</th>
                    <th>{{status.modified_by }}</th>
                    <th>{{status.date_modified }}</th>
                  </tr>

                {% endfor %}
              </tbody>
        
              <tfoot>
            
                <tr>
                  <th>Member</th>
                  <th>Pricipals</th>
                  <th>Interest</th>
  
                  <th>Balance</th>
                  <th>Total Repaid</th>
                  <th>Created By</th>
                  <th>Date Created</th>
                  <th>Modified By</th>
                  <th>Date Modified</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}