{% extends 'dashboard_base.html' %}

{% load static %}
{% load humanize %}
{% block app %} Loans {% endblock app %}

{% block active_loans %}
active
{% endblock active_loans %}

{% block active_loans_all %}
active
{% endblock active_loans_all %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loans' %}">Loans</a></li>
<li class="breadcrumb-item"><a href="{% url 'loans' %}">List</a></li>
{% endblock breadcrump %}

{% block show_loans  %}
menu-open
{%  endblock show_loans %}

{% block title %}

Dashboard Loans

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card card-success card-outline">
           
            <div class="card-body">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-edit"></i>
                 All Active Loans - Count {{ loans.count }}
                </h3>
              </div>
             
              <table id="dataTable" class="table table-sm table-bordered table-striped">
                <thead class="bg-info">
                  <tr>
                    <th>Member</th>
                    <th>Id</th>
                    <th>Loan</th>
                    <th>Amount</th>
                    <th>Interest</th>
                    <th>Balance</th>

                    <th> Approved</th>
                    <th>Approved</th>
                    <th>Approved</th>
                    <th>Confirmed</th>
                    <th>Confirmed</th>
                    <th>Disbursed</th>
                    <th>Disbursed</th>
                    <th>Created</th>
                    <th>Created</th>
                 
                    <th>Analysis</th>
                  </tr>
                </thead>

                <tbody>

                  {% for request in loans %}

                  <tr>
                    <td class="id" hidden>{{ request.id }}</td>
                    <td class="name">{{ request.member }}</td>
                    <td>{{ request.member.id_number }}</td>
                    <td>{{ request.loan_product }}</td>
                    <td>{{ request.requested_amount | intcomma }}</td>
                    <td>{{ request.interest | intcomma }}</td>
                    <td>{{ request.balance | intcomma  }}</td>
                    <td></td>
                    <td> {% if request.is_approved %}

                      <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
    
                      {% else %}
    
                      <button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
    
    
                      {% endif %}
                      
                      </td>
                    <td>{{ request.approving_officer}}</td>
    
                    <td> {% if request.is_confirmed %}

                      <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
    
                      {% else %}
    
                      <button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
    
    
                      {% endif %}
                      
                      </td>
                    <td>{{ request.confirming_officer}}</td>
    
                    <td> {% if request.is_disbursed %}

                      <button type="button" class="btn btn-sm btn-success float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
    
                      {% else %}
    
                      <button type="button" class="btn btn-sm btn-warning float-right" style="margin-right: 5px;"><i class="fas fa-check"></i></button>
    
    
                      {% endif %}
                      
                      </td>
                    <td>{{ request.disbursing_officer}}</td>
    
                    <td class="processed_by">{{ request.creator }}</td>
                    <td class="date">{{ request.date_created | date:'Y-m-d'}}</td>
    
                 
    
                    <td>   <a href="" class="btn btn-sm btn-success action-btn" data-toggle="modal" data-target="#modal-success"> Analysis  </a></td>
    
                    
    
    
                  </tr>





                  {% endfor %}
                </tbody>
          
                <tfoot>
                  <tr>
                    <th>Member</th>
                    <th>Id</th>
                    <th>Loan</th>
                    <th>Amount</th>
                    <th>Interest</th>
                    <th>Balance</th>

                    <th> Approved</th>
                    <th>Approved</th>
                    <th>Approved</th>
                    <th>Confirmed</th>
                    <th>Confirmed</th>
                    <th>Disbursed</th>
                    <th>Disbursed</th>
                    <th>Created</th>
                    <th>Created</th>
                 
                    <th>Analysis</th>
                  </tr>
          
                </tfoot>
              </table>
            </div>
            <!-- /.card -->
          </div>
    </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal-success" role="dialog">
      <div class="modal-dialog modal-xl" role="document">
  
        <div class="modal-content">
  
          <div class="modal-header bg-success pt-1 pb-1">
            <div class="container-fluid">
              <div class="row align-center">
                <div class="col-6">
                  <h5 class="modal-title">Loan Analysis</h5>
                </div>
  
                <div class="col-5">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Loans</a></li>
                    <li class="breadcrumb-item active">Loan Analysis</li>
                  </ol>
                </div>
  
                <div class="col-1">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
              </div>
            </div>
  
  
  
  
          </div>
  
          <div class="modal-body">
  
            <div class="">
  
  
              <section class="content">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
  
  
  
                      <!-- Main content -->
                      <div class="invoice p-3 mb-3">
                        <!-- title row -->
                        <div class="row">
                          <div class="col-6">
                            <h4>
                              <p class="member_name"></p>
                            </h4>
                          </div>
  
                          <div class="col-6">
                            <h4>
  
                              <p>Application Date: <small><a class="date"></a></small></p>
                            </h4>
                          </div>
                          <!-- /.col -->
                        </div>
  
                        <hr>
  
                 
                        <!-- /.row -->
                        <hr>
                        <!-- info row -->
                        <div class="ajaxProgress row">
                          <div class="modal fade">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h4 class="modal-title">Loading Data</h4>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <p>One fine body&hellip;</p>
                                </div>
  
                              </div>
                              <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                          </div>
                        </div>
  
                        <!-- /.row -->
  
  
                        <!-- /.row -->
  
                        <div class="row">
                          <!-- accepted payments column -->
                          <div class="col-6">
  
                            <p>Loan Product: <small><a class="product" style="color: blue;"></a></small></p>
  
                            <p>Amount: Ksh <small><a class="amount" style="color: black;"></a></small></p>
  
                            <h5>Amount In Words</h5>
                            <p class="text-muted well well-sm shadow-none amount-in-words" style="margin-top: 10px;">
  
                            </p>
                          </div>
                          <!-- /.col -->
                          <div class="col-6">
                            <!-- <p class="lead">Amount Due 2/22/2014</p> -->
  
                            <div class="table-responsive">
                              <table class="table">
                                <tr>
                                  <th style="width:50%">Requested Amount: Ksh</th>
                                  <td class="amount"> </td>
                                </tr>
                                <tr>
                                  <th style="width:50%">Appoved Amount: Ksh</th>
                                  <td class="approved"></td>
                                </tr>
                                <tr>
                                  <th>Processing Fee: Ksh</th>
                                  <td class="fee"></td>
                                </tr>
  
                                <tr>
                                  <th>Total: Ksh</th>
                                  <td class="total"></td>
                                </tr>
                              </table>
                            </div>
                          </div>
                          <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <hr>
  
  
  
  
                        <div class="row">
                          <!-- accepted payments column -->
                          <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                            <thead class="bg-info">
                              <tr>
  
                                <th>Loan Product </th>
                                <th> Requested</th>
                                <th> Approved</th>
                                <th>Approved By</th>
                                <th>Cofirmed By</th>
  
                                <th>Disbursed By</th>
                                <th>Created By</th>
                                <th>Date Created</th>
                                <th>Repaid</th>
                                <th>Last Payment</th>
                              </tr>
                            </thead>
  
                            <tbody class="contracts_table">
  
                            </tbody>
  
  
                          </table>
                          <!-- /.col -->
                        </div>
                        <!-- /.row -->
                        <hr>
                        <div class="row text-center">
  
                          <div class="col-12">
                            <h4 class="text-center">Pipeline Status</h4>
                          </div>
  
  
  
  
                          <div class="col-4">
                            <h6>
                              <p>Approved: <small><a class="is_approved">
  
                                  </a></small></p>
                            </h6>
                          </div>
  
                          <div class="col-4">
                            <h6>
                              <p>Confirmed: <small><a class="is_confirmed"> </a></small></p>
                            </h6>
                          </div>
  
                          <div class="col-4">
                            <h6>
                              <p>Disbursed: <small><a class="is_disbursed"> </a></small></p>
                            </h6>
                          </div>
  
                          <!-- /.col -->
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-6">
                            <h4>
                              <p>Processed By: <small><a class="processed_by"></a></small></p>
                            </h4>
                          </div>
  
                          <div class="col-6">
                            <h4>
  
                            </h4>
                          </div>
                          <!-- /.col -->
                        </div>
                        <hr>
                        <!-- this row will not appear when printing -->
                        <div class="row no-print">
                          <div class="col-12">
                            <a href="" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
  
                            <!-- <a href=""  class="btn btn-success float-right disburse_link" style="margin-right: 5px;">
                                <i class="fas fa-check"></i> Disburse
                            </a> -->
                          </div>
                        </div>
                      </div>
                      <!-- /.invoice -->
                    </div><!-- /.col -->
                  </div><!-- /.row -->
                </div><!-- /.container-fluid -->
              </section>
              <!-- /.content -->
            </div>
  
  
          </div>
        </div>
  
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}