{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Periodicity {% endblock app %}

{% block active_parameters %}
active
{% endblock active_parameters %}

{% block active_parameters_periodicity %}
active
{% endblock active_parameters_periodicity %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loans_types' %}">System Parameters</a></li>
<li class="breadcrumb-item"><a href="{% url 'loans_types' %}">Periodicity</a></li>
{% endblock breadcrump %}

{% block show_parameters  %}
menu-open
{%  endblock show_parameters %}

{% block title %}

Dashboard System Paramters 

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Periodicity Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">

                            <a href="{% url 'members_aoe' %}"  class="btn btn-warning btn-sm" id="paymentBtn">
                              <i class="fas fa-pen fa-lg"></i>
                              New
                            </a>
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th>Loan percentage</th>
                <th>Date Created</th>
                <th>Created By</th>
                <th>Date Modified</th>

                <th>Modified By</th>
                
              </tr>
              </thead>
        
              <tfoot>
            
                <tr>
                  <th>Loan percentage</th>
                  <th>Date Created</th>
                  <th>Created By</th>
                  <th>Date Modified</th>
  
                  <th>Modified By</th>
                  
                </tr>
        
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}


{% endblock extra_js %}