



{% extends 'simple_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block app %} Members {% endblock app %}

{% block active_members %}
active
{% endblock active_members %}

{% block active_new_member  %}
active
{% endblock active_new_member %}


{% block show_members  %}
menu-open
{%  endblock show_members %}

{% block title %}

Dashboard Loans - Add Payment Plan 

{% endblock title %}



{% block pop_content %}

<section class="content">
    <div class="row d-flex justify-content-center">
      <div class="col-10">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Creat A paymentPlan</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">
                           
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
          
            {% crispy form %}

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
{% endblock pop_content %}





