{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Loans {% endblock app %}

{% block active_loans %}
active
{% endblock active_loans %}

{% block active_loans_purpose %}
active
{% endblock active_loans_purpose %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'loans_types' %}">Loan Type</a></li>
<li class="breadcrumb-item"><a href="{% url 'loans_types' %}">Types</a></li>
{% endblock breadcrump %}

{% block show_loans  %}
menu-open
{%  endblock show_loans %}

{% block title %}

Dashboard Loans 

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Loan Purpose Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">

                            <a href="{% url 'members_aoe' %}"  class="btn btn-warning btn-sm" id="paymentBtn">
                              <i class="fas fa-pen fa-lg"></i>
                              New
                            </a>
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th> Name</th>
          
                <th>Date Created</th>
                <th>Created By</th>
                <th>Date Modified</th>
                <th>Modified By</th>
                <th>Edit</th>
              </tr>
              </thead>
              <tbody>
                {% for plan in purpose %}
                <tr>
                  <td>{{plan.name}}</td>
                  <td>
                    {{ plan.date_created }}
                  </td>
       
                  <td>
                    {{ plan.creator}}
                  </td>
                  <td>
                    {{ plan.date_modified}}
                  </td>
                  <td>
                    {{ plan.modified_by}}
                  </td>
            
                    <td>   <a href="{% url 'edit_loans_plans' pk=plan.id %}" class="btn btn-sm btn-info"> Edit  </a></td>
               
               
               
                  </tr>
  
                {% endfor %}
              </tbody>
        
              <tfoot>
            
                <tr>
                  <th> Name</th>
            
                  <th>Date Created</th>
                  <th>Created By</th>
                  <th>Date Modified</th>
                  <th>Modified By</th>
                  <th>Edit</th>
                </tr>
        
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}

<script type="text/javascript">
    $(document).ready(function() {
        $(".paymentBtn").modalForm({
            formURL: "{% url 'payment' %}"
        });
        $(".invoiceBtn").modalForm({
            formURL: "{% url 'invoice' %}"
        });
        $(".statementBtn").modalForm({
            formURL: "{% url 'statement' %}"
        });    
    });
    </script>

{% endblock extra_js %}