{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Members {% endblock app %}
{% load crispy_forms_tags %}

{% block active_members %}
active
{% endblock active_members %}

{% block active_mem %}
active
{% endblock active_mem %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'members_list' %}">Members</a></li>
<li class="breadcrumb-item"><a href="">Details</a></li>
{% endblock breadcrump %}

{% block show_members  %}
menu-open
{%  endblock show_members %}

{% block title %}

Dashboard Members 

{% endblock title %}

{% block extra_css %}


{% endblock %}

{% block dashboard_content %}
<section class="content">

    <!-- Default box -->
    <div class="card card-solid">

        <div class="card-body">
            {% if messages %}

            <div class="row">
                <ul class="messages">
                    {% for message in messages %}
                    <div class="callout callout-danger bg-warning">
                      <h5><i class="fas fa-info"></i> Message</h5>
                      {{ message }}
                    </div>
                    {% endfor %}
                  </ul>
            </div>
          
          {% endif %}
            <div class="row">

                <div class="col-12 col-sm-2">
                    <h5 class="d-inline-block d-sm-none">{{ tenant.get_names }}</h5>
                    <div class="col-12 d-flex justify-content-center">
                        <img src="{{ tenant.avatar.url }}" class="product-image" alt="{{ tenant.get_names }} Image">
                    </div>
                    <div class="col-12 product-image-thumbs">

                    </div>
                </div>
                <div class="col-12 col-sm-8">
                    <div class="col-12" style="padding: 0;">

                        <div class="btn btn-warning btn-sm btn-flat" data-toggle="modal" data-target="#paymentModal">
                            <i class="fas fa-money-bill-alt fa-lg"></i>
                            Transaction
                        </div>

                            {% if tenant.has_saving_acc %}
                            <a href="{% url 'edit_saving_account' pk=tenant.id %}" class="paymentBtn btn btn-danger btn-sm btn-flat paymentBtn" id="paymentBtn">
                                <i class="fas fa-money-bill-alt fa-lg"></i>
                             
                                View Saving Info
                            </a>
                            {% else %}

                            <a href="{% url 'open_saving_account' pk=tenant.id %}" class="paymentBtn btn btn-success btn-sm btn-flat paymentBtn" id="paymentBtn">
                                <i class="fas fa-money-bill-alt fa-lg"></i>
                             
                                Open A Saving Acc
                            </a>
                            {% endif %}

                            {% if tenant.has_current_acc %}
                            <a href="{% url 'edit_current_account' pk=tenant.id %}" class="paymentBtn btn btn-info btn-sm btn-flat paymentBtn" id="paymentBtn">
                                <i class="fas fa-money-bill-alt fa-lg"></i>
                             
                                Current Acc Info
                            </a>
                          

                         
                            {% endif %}

                            {% if tenant.has_group_acc %}
                            <a href="" class="paymentBtn btn btn-danger btn-sm btn-flat paymentBtn" id="paymentBtn">
                                <i class="fas fa-money-bill-alt fa-lg"></i>
                             
                                Edit Group Account
                            </a>
                            {% else %}

                            <a href="" class="paymentBtn btn btn-success btn-sm btn-flat paymentBtn" id="paymentBtn">
                                <i class="fas fa-money-bill-alt fa-lg"></i>
                             
                                Open A Group Acc
                            </a>
                            {% endif %}

                            {% if tenant.has_project_acc %}
                            <a href="" class="paymentBtn btn btn-info btn-sm btn-flat paymentBtn" id="paymentBtn">
                                <i class="fas fa-money-bill-alt fa-lg"></i>
                             
                                Project Info
                            </a>

                            {% else %}

                            <a href="" class="paymentBtn btn btn-success btn-sm btn-flat paymentBtn" id="paymentBtn">
                                <i class="fas fa-money-bill-alt fa-lg"></i>
                             
                                Project Request
                            </a>
                          

                         
                            {% endif %}

                            {% if tenant.has_active_loan %}


                            {% else %}

                            <a href="{% url 'aoe_loan_request' pk=tenant.id %}" class="paymentBtn btn btn-info btn-sm btn-flat paymentBtn" id="paymentBtn">
                                <i class="fas fa-money-bill-alt fa-lg"></i>
                             
                                Loan Request
                            </a>
                           
                            {% endif %}
                            <div class="btn btn-warning btn-sm btn-flat" data-toggle="modal" data-target="#statementModal">
                                <i class="fas fa-money-bill-alt fa-lg"></i>
                                Statement

                            </div>
                        
                            <div class="btn btn-warning btn-sm btn-flat" data-toggle="modal" data-target="#letterModal">
                                Letter
                            </div>

                            <div class="btn btn-warning btn-sm btn-flat" data-toggle="modal" data-target="#noteModal">
                                Notes
                            </div>
                        
                            <a href = "{% url 'members_edit' pk=tenant.id %}" class="btn btn-info btn-sm btn-flat">
                                
                                <i class="fas fa-pen fa-lg "></i>
                                Edit
                            </a>
                    

                    </div>

                    <div class="row">
                        <div class="col-3">
                            <p><span class="t">Name:</span> {{ tenant.get_names }}</p>
                            <p><span class="t">Saving Acc: <a style="color: blue;">{{ saving_acc.acc_number }}</a> </span ></p>
                                <p><span class="t">Saving Balance: Ksh {{ saving_acc.acc_balance }}</span ></p>
                                    {% if tenant.has_current_acc %}
                                    <p><span class="t">Loan Default Status:</span >  <i class="fas fa-circle fa-1x text-green"></i></p>
    
                                    {% endif %}

                        </div>

                    

                        <div class="col-3">
                            <p><span class="t">Phone Number:</span > {{ tenant.phone_number }}</p>

                                <p><span class="t">Current Acc:  <a style="color: blue;"> {{ current_acc.acc_number }}</a></span ></p>
                                    <p><span class="t">Current Balance: Ksh {{ current_acc.acc_balance }}</span ></p>

                        </div>

                        <div class="col-3">
                            <p><span class="t">National Id:</span > {{ tenant.id_number }}.</p>

                               


                           

                                <p><span class="t">Group Acc: </span ></p>
                                    <p><span class="t">Group Balance: Ksh </span ></p>

                                        <!-- {% if tenant.has_saving_acc %}
                                        <p><span class="t">Saving Contract Status:</span >  <i class="fas fa-circle fa-1x text-green"></i></p>
        
                                        {% endif %} -->
                         

                         
                        </div>
                        <div class="col-3">
             
                            <p class=""><span class="t">Shares:</span> {{ tenant.get_overpayments }} </p>
                            <!-- <p class=""><span class="t">Guarantor Status:</span> {{ tenant.get_c_overpayments }} </p>
                            <p class=""><span class="t">Group:</span> {{ tenant.get_c_overpayments }} </p> -->


                            <p><span class="t">Project Acc: </span ></p>
                                <p><span class="t">Project Balance: Ksh </span ></p>

                        </div>


                    </div>
                  

                 



                </div>

                <div class="col-12 col-sm-2">
                    <h5 class="d-inline-block d-sm-none">{{ tenant.get_names }}</h5>
                    <div class="col-12 d-flex justify-content-center">
                        <img src="{{ tenant.avatar.thumbnail.url }}" class="product-image" alt="{{ tenant.get_names }} Signature">
                    </div>
                    <div class="col-12 product-image-thumbs">

                    </div>
                </div>
            </div>
            <div class="row">
                <nav class="w-100">
                    <div class="nav nav-tabs bg-warning" id="product-tab" role="tablist">
                        <a class="nav-item nav-link active" id="transactions-tab" data-toggle="tab" href="#transactions"
                            role="tab" aria-controls="product-desc" aria-selected="true">Transactions</a>
                        <a class="nav-item nav-link" id="loans-tab" data-toggle="tab" href="#loans"
                            role="tab" aria-controls="product-desc" aria-selected="true">Loans</a>
                         
                            <a class="nav-item nav-link" id="savings-tab" data-toggle="tab" href="#savings"
                            role="tab" aria-controls="product-desc" aria-selected="true">savings</a>
                            <a class="nav-item nav-link" id="projects-tab" data-toggle="tab" href="#projects"
                            role="tab" aria-controls="product-desc" aria-selected="true">Projects</a>
                        <a class="nav-item nav-link" id="g_loans-tab" data-toggle="tab"
                            href="#g_loans" role="tab" aria-controls="product-comments"
                            aria-selected="false">Loans Guaranteed</a>
                            <a class="nav-item nav-link" id="groups-tab" data-toggle="tab" href="#groups"
                            role="tab" aria-controls="product-desc" aria-selected="true">Groups</a>
                            <a class="nav-item nav-link" id="sms-tab" data-toggle="tab" href="#sms"
                            role="tab" aria-controls="product-rating" aria-selected="false">Sms</a>
                            <a class="nav-item nav-link" id="emails-tab" data-toggle="tab" href="#emails"
                            role="tab" aria-controls="product-rating" aria-selected="false">Emails</a>
                        <a class="nav-item nav-link" id="notes-tab" data-toggle="tab" href="#notes"
                            role="tab" aria-controls="product-rating" aria-selected="false">Notes</a>
                        <a class="nav-item nav-link" id="letters-tab" data-toggle="tab" href="#letters" role="tab"
                            aria-controls="product-rating" aria-selected="false">Letters</a>
                            <a class="nav-item nav-link" id="audit-tab" data-toggle="tab" href="#audit" role="tab"
                            aria-controls="product-rating" aria-selected="false">Event Trail</a>

                    </div>
                </nav>
                <div class="tab-content p-1" id="nav-tabContent" style="width: 98%;">
                    <div class="tab-pane fade" id="transactions" role="tabpanel" aria-labelledby="transactions-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title"> Transactions On  {{ tenant.get_names }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                           
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                          <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                                            <thead class="bg-info">
                                              <tr>
                                                <th>Tranaction Id</th>
                                                <!-- <th>Type</th> -->
                                                <th> Member</th>
                                                <th>Particulars</th>
                                
                                                <th> Account</th>
                                               
                                               
                                                <th>Amount</th>
                                
                                                <th>Actual Amount</th>
                                                <th>Code </th>
                                                <th>Member Group</th>
                                
                                                <th>Receving Member</th>
                                                <th>Receiving Account</th>
                                             
                                
                                                <th>Date </th>
                                                <th>Processed By</th>
                                               
                                                
                                            </tr>
                                            </thead>
                                            <tbody>
                                
                                                {% for transaction in transactions %}
                                                <tr>
                                
                                
                                                    <td> {{ transaction.id}}</td>
                                              
                                
                                
                                                    <!-- <td> {{ transaction.type}}</td> -->
                                               
                                                    <td> {{ transaction.member}}</td>
                                
                                                    <td> {{ transaction.description}}</td>
                                
                                
                                               
                                
                                                    <td> {{ transaction.acc}}</td>
                                               
                                
                                                    <td> {{ transaction.amount }}</td>
                                
                                                    <td>{{ transaction.actual_amount }}</td>
                                               
                                                    <td> {{ transaction.code.code }}</td>
                                              
                                
                                
                                
                                                    <td> {{ transaction.member.group }}</td>
                                              
                                
                                
                                                    <td> {{ transaction.receiving_member}}</td>
                                              
                                
                                
                                                    <td> {{ transaction.receiver}}</td>
                                             
                                
                                
                                                    <td> {{ transaction.date}}</td>
                                               
                                
                                
                                                    <td> {{ transaction.creator}}</td>
                                                </tr>
                                
                                
                                
                                
                                
                                
                                                {% endfor %}
                                
                                         
                                
                                
                                
                                
                                
                                
                                
                                
                                
                                            </tbody>
                                            <tfoot class="bg-secondary"> 
                                
                                                <tr>
                                                    <th>Tranaction Id</th>
                                                    <!-- <th>Type</th> -->
                                                    <th> Member</th>
                                                    <th>Particulars</th>
                                                    <th> Account</th>
                                                   
                                                   
                                                    <th>Amount</th>
                                                    <th>Actual Amount</th>
                                
                                                    <th>Code </th>
                                                  
                                                    <th>Member Group</th>
                                
                                                    <th>Receving Member</th>
                                                    <th>Receiving Account</th>
                                                 
                                
                                                    <th>Date </th>
                                                    <th>Processed By</th>
                                                   
                                                    
                                                </tr>
                                
                                            </tfoot>
                                        </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>

                    <div class="tab-pane fade" id="loans" role="tabpanel" aria-labelledby="loans-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title"> Loans Taken By {{ tenant.get_names }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                           
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                          <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                                            <thead class="bg-info">
                                            <tr>
                                              <!-- <th>Member Name</th> -->
                                              <th>Id Number</th>
                                              <th>Loan Type</th>
                                              <th>Amount Requested</th>
                                              <th>Amount Approved</th>
                                              <th>Approved</th>
                                              <th>Approving Officer</th>
                                              <th>Confirmed</th>
                                              <th>Cofirming Officer</th>
                                              <th>Disbursed</th>
                                              <th>Disbursing Officer</th>
                                              <th>Created By</th>
                                              <th>Date Created</th>
                                              <th>Modified By</th>
                                              <th>Date Modified</th>
                                              <th>Analysis</th>
                                            </tr>
                                            </thead>
                    
                                            <tbody>
                                              {% for request in requests %}
                    
                                              <tr>
                                                <!-- <td>{{ request.member }}</td> -->
                                                <td>{{ request.member.id_number }}</td>
                                                <td></td>
                                                <td>{{ request.requested_amount}}</td>
                                                <td></td>
                                                <td>{{ request.is_approved }}</td>
                                                <td>{{ request.approving_officer}}</td>
                    
                                                <td>{{ request.is_confirmed }}</td>
                                                <td>{{ request.confirming_officer}}</td>
                    
                                                <td>{{ request.is_disbursed }}</td>
                                                <td>{{ request.disbursing_officer}}</td>
                    
                                                <td>{{ request.creator }}</td>
                                                <td>{{ request.date_created}}</td>
                    
                                                <td>{{ request.modified_by }}</td>
                                                <td>{{ request.date_modified}}</td>
                    
                                                <td>   <a href="" class="btn btn-sm btn-success"  data-toggle="modal" data-target="#modal-success"> Analysis  </a></td>
                    
                                                
                    
                    
                                              </tr>
                    
                    
                    
                    
                    
                                              {% endfor %}
                                            </tbody>
                                      
                                            <tfoot>
                                          
                                              <tr>
                                                <!-- <th>Member Name</th> -->
                                                <th>Id Number</th>
                                                <th>Loan Type</th>
                                                <th>Amount Requested</th>
                                                <th>Amount Approved</th>
                                                <th>Approved</th>
                                                <th>Approving Officer</th>
                                                <th>Confirmed</th>
                                                <th>Cofirming Officer</th>
                                                <th>Disbursed</th>
                                                <th>Disbursing Officer</th>
                                                <th>Created By</th>
                                                <th>Date Created</th>
                                                <th>Modified By</th>
                                                <th>Date Modified</th>
                                                <th>Analysis</th>
                                              </tr>
                                      
                                            </tfoot>
                                          </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>

                    <div class="tab-pane fade" id="savings" role="tabpanel" aria-labelledby="savings-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title"> Savings For  {{ tenant.get_names }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                           
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table id="dataTable" class="table table-responsive table-bordered table-striped">
                                                <thead class="bg-info">
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Initial Amount</th>
                                                        <th>Creation Date</th>
                                                        <th> Savings Officer</th>
                                                    

                                                      
                                                      
                                                        <th>Created by</th>
                                                        <th>Date Created</th>

                                                        <th>Modified by </th>
                                                        <th>Date Modified </th>

                                                      
                                                    </tr>
                                                </thead>
                                                <tbody>



                                                    {% for contract in saving_contracts %}


                                                    <tr>
                                                        <td>{{ contract.product}}</td>

                                                        <td>
                                                            {{ contract.initial_amount }}


                                                        </td>

                                                        <td>
                                                            {{ contract.creation_date }}
                                                        </td>


                                                        <td>
                                                            {{ contract.savings_officer}}
                                                        </td>

                                                        <td>
                                                            {{ contract.creator}}
                                                        </td>

                                                        <td>
                                                            {{ contract.date_created }}
                                                        </td>

                                                        <td>
                                                            {{ contract.date_modified }}
                                                        </td>

                                                        <td>
                                                            {{ contract.modified_by }}
                                                        </td>
                                                    </tr>








                                                    {% endfor %}

                                             









                                                </tbody>
                                                <tfoot class="bg-secondary"> 

                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Initial Amount</th>
                                                        <th>Creation Date</th>
                                                        <th> Savings Officer</th>
                                                    

                                                      
                                                      
                                                        <th>Created by</th>
                                                        <th>Date Created</th>

                                                        <th>Modified by </th>

                                                        <th>Date Modified </th>

                                                     
                                                      
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>

                    <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="projects-tab">

                        <section class="content">
                            <div class="row">
                              <div class="col-12">
                          
                          
                                <div class="card">
                                  <div class="card-header bg-info">
                          
                                    <div class="row">
                                      <div class="col-6">
                                        <h3 class="card-title"> Projects By  {{ tenant.get_names }}</h3>

                                      
                                      </div>
                          
                                      <div class="col-6">
                                        <div class="row">
                                          <div class="col-6">
                                          </div>
                          
                                         
                                        </div>
                          
                          
                                      </div>
                          
                                      <div class="col-12">
                                          <div class="card card-warning card-outline">
                                            <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                                                <thead class="bg-info">
                                                    <tr>
                                                        <th>Name</th>
                                                        <th> Code</th>
                                                        <th>Begin Date</th>
                                                        <th>Market</th>
                                                        <th>city</th>
                                                        <th>Email</th>                                                                                                     
                                                        <th>Created by</th>
                                                        <th>Date Created</th>
                                                        <th>Modified by</th>
                                                        <th>Date Modified</th>
                                                        <th>View</th>
                                                        <th>Edit</th> 
                                                    </tr>
                                                </thead>
                                                <tbody>

                                               <tbody>

                                                    {% for loan in loans %}
                                                    <tr>


                                                        <td> {{ loan.id}}</td>
                                                  


                                                        <td> {{ transaction.type}}</td>
                                                   


                                                        <td> {{ transaction.acc}}</td>
                                                   

                                                        <td> {{ transaction.amount }}</td>
                                                   
                                                        <td> {{ transaction.code}}</td>
                                                  


                                                        <td> {{ transaction.description}}</td>
                                                  


                                                        <td> {{ transaction.receiving_member}}</td>
                                                  


                                                        <td> {{ transaction.receiver}}</td>
                                                 


                                                        <td> {{ transaction.date}}</td>
                                                   


                                                        <td> {{ transaction.creator}}</td>
                                                    </tr>






                                                    {% endfor %}

                                             









                                                </tbody>









                                                </tbody>
                                                <tfoot class="bg-secondary"> 

                                                    <tr>
                                                        <th>Name</th>
                                                        <th> Code</th>
                                                        <th>Begin Date</th>
                                                        <th>Market</th>
                                                        <th>city</th>
                                                        <th>Email</th>                                                                                                     
                                                        <th>Created by</th>
                                                        <th>Date Created</th>
                                                        <th>Modified by</th>
                                                        <th>Date Modified</th>
                                                        <th>View</th>
                                                        <th>Edit</th> 
                                                    </tr>
                                                </tfoot>
                                            </table>
                                              <!-- /.card -->
                                            </div>
                                      </div>
                                    </div>
                          
                          
                          
                                  </div>
                                  <!-- /.card-header -->
                                  <div class="card-body">
                          
                               
                                 
                                  </div>
                          
                          
                          
                                  <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                              </div>
                              <!-- /.col -->
                            </div>
                            <!-- /.row -->
                          </section>

                     


                    </div>



                    <div class="tab-pane fade" id="g_loans" role="tabpanel" aria-labelledby="g_loans-tab">


                 





                        <section class="content">
                            <div class="row">
                              <div class="col-12">
                          
                          
                                <div class="card">
                                  <div class="card-header bg-info">
                          
                                    <div class="row">
                                      <div class="col-6">
                                        <h3 class="card-title"> Guaranteed Loans  {{ tenant.get_names }}</h3>

                                      
                                      </div>
                          
                                      <div class="col-6">
                                        <div class="row">
                                          <div class="col-6">
                                          </div>
                          
                                         
                                        </div>
                          
                          
                                      </div>
                          
                                      <div class="col-12">
                                          <div class="card card-warning card-outline">
                                            <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                                                <thead class="bg-info">
                                                    <tr>
                                                        <th>Member</th>
                                                        <th colspan="3"> Loan Amount</th>
                                                       
                                                       
                                                       
                                                      
                                                        <th>Group</th>
                                                        <th>Date Created</th>
        
                                                        <th>Loan Is Cleared </th>
                                                        <th>Date </th>
                                                        <th>View</th>
                                                        <th>Edit</th>
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody>
        
                                             
        
        
        
        
        
        
        
        
        
                                                </tbody>
                                           
                                            </table>
                                              <!-- /.card -->
                                            </div>
                                      </div>
                                    </div>
                          
                          
                          
                                  </div>
                                  <!-- /.card-header -->
                                  <div class="card-body">
                          
                               
                                 
                                  </div>
                          
                          
                          
                                  <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                              </div>
                              <!-- /.col -->
                            </div>
                            <!-- /.row -->
                          </section>


                    </div>
                    <div class="tab-pane fade" id="groups" role="tabpanel" aria-labelledby="groups-tab">


                    



                        <section class="content">
                            <div class="row">
                              <div class="col-12">
                          
                          
                                <div class="card">
                                  <div class="card-header bg-info">
                          
                                    <div class="row">
                                      <div class="col-6">
                                      
                                      </div>
                          
                                      <div class="col-6">
                                        <div class="row">
                                          <div class="col-6">
                                          </div>
                          
                                         
                                        </div>
                          
                          
                                      </div>
                          
                                      <div class="col-12">
                                          <div class="card card-warning card-outline">
                                              <div class="card-header">
                                                <h3 class="card-title">
                                                  <i class="fas fa-edit"></i>
                                                  Current Group
                                                </h3>
                                                  
                                                <table id="dataTable" class="table table-bordered table-striped">
                                                  <thead class="bg-warning">
        
                                                    <tr>
                                                    
                                                          <th>Group Name</th>
                                                          <th> Particulars</th>
                                                          <th>Date Created</th>
                                                          <th>Created By</th>
                                                          <th>Date Modified</th>
                                                          <th>Modified By</th>
                                                          <th>Group Details</th>
                                                          
                                                     
                                                        
                                                    </tr>
                                                  </thead>
                                                  <tbody class="bg-warning">
                                      
                                                    {% for event in group %}
                                                    <tr>
                                                      <td>{{ event.group_name }}</td>
                                                      <td>{{ event.particulars }}
                                                      </td>
                                                      <td>{{ event.date_created }}</td>
                                                      <td> {{ event.creator }} </td>
                                                      <td> {{ event.date_modified }}</td>
                                                      <td>{{ event.modified_by }}</td>
                                                      <td>   <a href="{% url 'groups_details' pk=event.id %}" class="btn btn-sm btn-success"> Details  </a></td>

                                                     
                                                    </tr>
                                                    {% endfor %}
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                                  </tbody>
                                                  <tfoot>
                                                    <tr>
                                                    
                                                        <th>Group Name</th>
                                                        <th> Particulars</th>
                                                        <th>Date Created</th>
                                                        <th>Created By</th>
                                                        <th>Date Modified</th>
                                                        <th>Modified By</th>
                                                        <th>Group Details</th>

                                                   
                                                      
                                                  </tr>
                                      
                                                  </tfoot>
                                                </table>
                                              </div>
                                              <div class="card-body">
                                              
                                                <h3>Group History</h3>
                                               
                                                <table id="dataTable" class="table table-bordered table-striped">
                                                  <thead class="bg-info">
        
                                                    <tr>
                                                    
                                                          <th>Group Name</th>
                                                          <th> Particulars</th>
                                                          <th>Date Created</th>
                                                          <th>Created By</th>
                                                          <th>Date Modified</th>
                                                          <th>Modified By</th>
                                                          
                                                     
                                                        
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                      
                                                    {% for event in groupsevents %}
                                                    <tr>
                                                      <td>{{ event.group_name }}</td>
                                                      <td>{{ event.particulars }}
                                                      </td>
                                                      <td>{{ event.date_created }}</td>
                                                      <td> {{ event.creator }} </td>
                                                      <td> {{ event.date_modified }}</td>
                                                      <td>{{ event.modified_by }}</td>
                                                     
                                                    </tr>
                                                    {% endfor %}
                                      
                                      
                                      
                                      
                                      
                                      
                                      
                                                  </tbody>
                                                  <tfoot>
                                                    <tr>
                                                    
                                                        <th>Group Name</th>
                                                        <th> Particulars</th>
                                                        <th>Date Created</th>
                                                        <th>Created By</th>
                                                        <th>Date Modified</th>
                                                        <th>Modified By</th>
                                                        
                                                   
                                                      
                                                  </tr>
                                      
                                                  </tfoot>
                                                </table>
                          
                                                <div class="text-muted mt-3">
                                               
                                                </div>
                                              </div>
                                              <!-- /.card -->
                                            </div>
                                      </div>
                                    </div>
                          
                          
                          
                                  </div>
                                  <!-- /.card-header -->
                                  <div class="card-body">
                          
                                   
                                 
                                  </div>
                          
                          
                          
                                  <div class="modal modal-warning fade" id="modal-overlay">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="overlay d-flex justify-content-center align-items-center">
                                              <i class="fas fa-2x fa-sync fa-spin"></i>
                                          </div>
                                          <div class="modal-header">
                                            <h4 class="modal-title">Default Modal</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <p>One fine body&hellip;</p>
                                          </div>
                                          <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                          </div>
                                        </div>
                                        <!-- /.modal-content -->
                                      </div>
                                      <!-- /.modal-dialog -->
                                    </div>
                          
                          
                                    <div class="modal fade" id="modal-info">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title">Default Modal</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <p>One fine body&hellip;</p>
                                          </div>
                                          <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                          </div>
                                        </div>
                                        <!-- /.modal-content -->
                                      </div>
                                      <!-- /.modal-dialog -->
                                    </div>
                          
                          
                          
                                    <div class="modal fade" id="modal-success">
                                      <div class="modal-dialog">
                                        <div class="modal-content">
                                          <div class="modal-header">
                                            <h4 class="modal-title">Default Modal</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                            </button>
                                          </div>
                                          <div class="modal-body">
                                            <p>One fine body&hellip;</p>
                                          </div>
                                          <div class="modal-footer justify-content-between">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                          </div>
                                        </div>
                                        <!-- /.modal-content -->
                                      </div>
                                      <!-- /.modal-dialog -->
                                    </div>
                                  <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                              </div>
                              <!-- /.col -->
                            </div>
                            <!-- /.row -->
                          </section>


                    </div>
                    <div class="tab-pane fade" id="sms" role="tabpanel" aria-labelledby="sms-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title"> Sms sent to {{ tenant.get_names }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                          
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">

                                            <div class="card">
                                                <div class="card-header">
                                                    No Sms Sent Yet
                                                </div>

                                                <div class="card-body">
                                                    <p>No Messages have been sent to this member yet</p>
                                                </div>
                                            </div>
                                            <!-- <table id="dataTable" class="table table-responsive table-sm table-bordered table-striped">
                                                <thead class="bg-info">
                                                    <tr>
                                                        <th>Number</th>
                                                        <th colspan="3"> Subject</th>
                                                       
                                                       
                                                       
                                                      
                                                        <th>Created by</th>
                                                        <th>Date Created</th>

                                                        <th>Modified by </th>
                                                        <th>Date Modified</th>
                                                        <th>View</th>
                                                        <th>Edit</th>
                                                        <th>Void</th>
                                                        <th>Created by</th>
                                                        <th>Date Created</th>

                                                        <th>Modified by </th>
                                                        <th>Date Modified</th>
                                                        <th>View</th>
                                                        <th>Edit</th>
                                                        <th>Void</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                             









                                                </tbody>
                                                <tfoot class="bg-secondary"> 

                                                    <tr>
                                                        <th>Number</th>
                                                        <th colspan="3"> Subject</th>
                                                       
                                                        <th>Created by</th>
                                                        <th>Date Created</th>

                                                        <th>Modified by </th>
                                                        <th>Date Modified</th>
                                                        <th>View</th>
                                                        <th>Edit</th>
                                                        <th>Void</th>
                                                    
                                                    </tr>

                                                </tfoot>
                                            </table> -->
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>

                    <div class="tab-pane fade" id="emails" role="tabpanel" aria-labelledby="emails-tab">


                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title"> Emails Sent To {{ tenant.get_names }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                          
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="card">
                                                <div class="card-header bg-info">
                                                    No Emails Sent Yet
                                                </div>

                                                <div class="card-body">
                                                    <p>No emails have been sent to this member yet</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>


                    </div>
                    <div class="tab-pane fade" id="letters" role="tabpanel" aria-labelledby="letters-tab">




                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title">Letters to {{ tenant.get_names }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                        
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <div class="card-body">

                                                {% if notes.count > 0 %}
    
                                                <table id="dataTable" class="table table-bordered table-striped">
                                                    <thead class="bg-secondary">
                                                        <tr>
                                                            <th>Subject</th>
                                                            <th>Action Date</th>
                                                            <th rowspan="6">Summary</th>                                                                                                                                           
                                                            <th>Created by</th>
                                                            <th>Date Created</th>
                                                            <th>Modified by </th>
                                                            <th>Date Modified</th>
                                                            <th>View</th>
                                                            <th>Edit</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
    
    
                                                        <tbody>
    
                                                            {% for note in notes %}
    
    
                                                            <td>{{ note.subject }}</td>
    
                                                            <td>{{ note.do_date }}</td>
    
                                                            <td>{{ note.message }}</td>
    
                                                            <td>{{ note.creator }}</td>
    
                                                            <td>{{ note.date_created }}</td>
                                                            <td>{{ note.modified_by }}</td>
                                                            <td>{{ note.date_modified }}</td>
                                                            <td>View</td>
                                                            <td>Edit</td>
    
    
    
    
                                                            {% endfor %}
    
    
                                                        </tbody>
    
    
    
    
    
    
    
    
    
    
                                                    </tbody>
                                                    <tfoot class="bg-secondary"> 
                                                        <tr>
                                                            <th>Subject</th>
                                                            <th>Action Date</th>
                                                            <th rowspan="6">Summary</th>                                                                                                                                           
                                                            <th>Created by</th>
                                                            <th>Date Created</th>
                                                            <th>Modified by </th>
                                                            <th>Date Modified</th>
                                                            <th>View</th>
                                                            <th>Edit</th>
                                                        </tr>
    
                                                    </tfoot>
                                                </table>
                                               
    
                                                {% else %}
                                                <div class="card">
                                                    <div class="card-header bg-info">
                                                        No Notes Yet
                                                    </div>
    
                                                    <div class="card-body">
                                                        <p>No Notes have been Added to this member yet</p>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>

                    </div>




                    <div class="tab-pane fade" id="notes" role="tabpanel" aria-labelledby="notes-tab">




                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title">Notes to {{ tenant.get_names }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                          
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">

                                            {% if notes.count > 0 %}

                                            <table id="dataTable" class="table table-bordered table-striped">
                                                <thead class="bg-secondary">
                                                    <tr>
                                                        <th>Subject</th>
                                                        <th>Action Date</th>
                                                        <th rowspan="6">Summary</th>                                                                                                                                           
                                                        <th>Created by</th>
                                                        <th>Date Created</th>
                                                        <th>Modified by </th>
                                                        <th>Date Modified</th>
                                                        <th>View</th>
                                                        <th>Edit</th>
                                                    </tr>
                                                </thead>
                                                <tbody>


                                                    <tbody>

                                                        {% for note in notes %}


                                                        <td>{{ note.subject }}</td>

                                                        <td>{{ note.do_date }}</td>

                                                        <td>{{ note.message }}</td>

                                                        <td>{{ note.creator }}</td>

                                                        <td>{{ note.date_created }}</td>
                                                        <td>{{ note.modified_by }}</td>
                                                        <td>{{ note.date_modified }}</td>
                                                        <td>View</td>
                                                        <td>Edit</td>




                                                        {% endfor %}


                                                    </tbody>










                                                </tbody>
                                                <tfoot class="bg-secondary"> 
                                                    <tr>
                                                        <th>Subject</th>
                                                        <th>Action Date</th>
                                                        <th rowspan="6">Summary</th>                                                                                                                                           
                                                        <th>Created by</th>
                                                        <th>Date Created</th>
                                                        <th>Modified by </th>
                                                        <th>Date Modified</th>
                                                        <th>View</th>
                                                        <th>Edit</th>
                                                    </tr>

                                                </tfoot>
                                            </table>
                                           

                                            {% else %}
                                            <div class="card">
                                                <div class="card-header bg-info">
                                                    No Notes Yet
                                                </div>

                                                <div class="card-body">
                                                    <p>No Notes have been Added to this member yet</p>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>

                    </div>


                    <div class="tab-pane fade" id="audit" role="tabpanel" aria-labelledby="audit-tab">




                        <section class="content">
                            <div class="row">
                                <div class="col-12">


                                    <div class="card">
                                        <div class="card-header bg-info">

                                            <div class="row">
                                                <div class="col-6">
                                                    <h3 class="card-title">Audit Trial for {{ tenant.get_names }}</h3>
                                                </div>

                                                <div class="col-6">
                                                    <div class="row">
                                                        <div class="col-6">
                                                        </div>

                                                        <div class="col-6">
                                                          
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-print"></i>Print </a>
                                                            <a href="" class="btn btn-sm btn-warning"> <i class="fas fa-excel"></i>Export </a>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.card-header -->
                                        <div class="card-body">
                                            <table id="dataTable" class="table table-bordered table-striped">
                                                <thead class="bg-info">
                                                    <tr>
                                                        <th>Event Type</th>
                                                        <th>Event Description</th>
                                                        <th>Financial Event</th>
                                                       
                                                       <th>Amount</th>
                                                      <th>Effects</th>
                                                        <th>Created by</th>
                                                        <th>Date Created</th>

                                                     
                                                      
                                                    
                                                    </tr>
                                                </thead>
                                                <tbody>










                                                </tbody>
                                                <tfoot class="bg-info"> 

                                                  <tr>
                                                    <th>Event Type</th>
                                                    <th>Event Description</th>
                                                    <th>Financial Event</th>
                                                   
                                                   <th>Amount</th>
                                                  <th>Effects</th>
                                                    <th>Created by</th>
                                                    <th>Date Created</th>

                                                
                                                  
                                                
                                                </tr>

                                                </tfoot>
                                            </table>
                                        </div>
                                        <!-- /.card-body -->
                                    </div>
                                    <!-- /.card -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </section>

                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->



      <div class="modal fade" id="modal" role="dialog">
        <div class="modal-dialog modal-xl" role="document">

            <div class="modal-content">


                
                    
            </div>
        
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>


      <div class="modal fade" id="paymentModal" role="dialog">
        <div class="modal-dialog modal-xl" role="document">

            <div class="modal-content">
                <form method="post" action="{% url 'payment' pk=tenant.id %}">
                    {% csrf_token %}
                  
                   <div class="modal-header bg-warning">
                      <h5 class="modal-title">Transaction Processing Form</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  
                    <div class="modal-body">
                
                     
                      <div class="row invoice-info">
                        <div class="col-sm-6 invoice-col">
                          <strong>Client Info</strong>
                          <address>
                            <strong>{{ tenant.get_names }}</strong><br>
                            
                         
                          </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6 invoice-col">
                        
                        </div>
               
                        <!-- /.col -->
                      </div>



                        <input type="text" value="{{ tenant.id }}" name="tenant" hidden>

                        {% crispy transaction_form %}


                      </>
                    
                
                    </div>
                  
                  
                  </form>
            </div>
        
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

      <div class="modal fade" id="statementModal" role="dialog">
        <div class="modal-dialog modal-xl" role="document">

            <div class="modal-content">
              
<div class="modal-header bg-warning">
    <h5 class="modal-title">Statement</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body">
  
    <div class="">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Statement</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Statement</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
  
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
           
  
  
              <!-- Main content -->
              <div class="invoice p-3 mb-3">
                <!-- title row -->
                <div class="row">
                  <div class="col-12">
                    <h4>
                      <i class="fas fa-globe"></i> {{ request.tenant.name }}, Inc.
                      <small class="float-right">Date: 2/10/2014</small>
                    </h4>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- info row -->
                <div class="row invoice-info">
                    <div class="col-sm-6 invoice-col">
                      <strong>Tenant Info</strong>
                      <address>
                        <strong>{{ tenant.get_names }}</strong><br>
                        {{ tenant.town }} <br>
                        {{ tenant.city }}<br>
                        Phone: {{tenant.phone_number }}<br>
                        Email: {{tenant.email}}
                      </address>
                    </div>
                    <!-- /.col -->
                    <div class="col-sm-6 invoice-col">
                      <strong>Unit Info</strong>
                      <address>
                        <strong>{{ tenant.get_names }}</strong><br>
                        {{ tenant.town }} <br>
                        {{ tenant.city }}<br>
                        Phone: {{tenant.phone_number }}<br>
                        Email: {{tenant.email}}
                      </address>
                    </div>
           
                    <!-- /.col -->
                  </div>

                <!-- /.row -->
  
             
                <!-- /.row -->
  
                <div class="row">
                  <!-- accepted payments column -->
                  <div class="col-6">
                    <p class="lead">Payment Methods:</p>
                    <img src="../../dist/img/credit/visa.png" alt="Visa">
                    <img src="../../dist/img/credit/mastercard.png" alt="Mastercard">
                    <img src="../../dist/img/credit/american-express.png" alt="American Express">
                    <img src="../../dist/img/credit/paypal2.png" alt="Paypal">
  
                    <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                      Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                      plugg
                      dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                    </p>
                  </div>
                  <!-- /.col -->
                  <div class="col-6">
                    <p class="lead">Amount Due 2/22/2014</p>
  
                    <div class="table-responsive">
                      <table class="table">
                        <tr>
                          <th style="width:50%">Subtotal:</th>
                          <td>$250.30</td>
                        </tr>
                        <tr>
                          <th>Tax (9.3%)</th>
                          <td>$10.34</td>
                        </tr>
                        <tr>
                          <th>Shipping:</th>
                          <td>$5.80</td>
                        </tr>
                        <tr>
                          <th>Total:</th>
                          <td>$265.24</td>
                        </tr>
                      </table>
                    </div>
                  </div>
                  <!-- /.col -->
                </div>
                <!-- /.row -->
  
                <!-- this row will not appear when printing -->
                <div class="row no-print">
                  <div class="col-12">
                    <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
               
                    <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                      <i class="fas fa-download"></i> Generate PDF
                    </button>
                  </div>
                </div>
              </div>
              <!-- /.invoice -->
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </section>
      <!-- /.content -->
    </div>
    
  
  </div>
            </div>
        
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>



      <div class="modal fade" id="letterModal" role="dialog">
        <div class="modal-dialog modal-xl" role="document">

            <div class="modal-content">
                <form method="post" action="{% url 'add_letter' pk=tenant.id %}">
                    {% csrf_token %}
                   <div class="modal-header bg-warning">
                      <h5 class="modal-title">Write A Letter about {{ tenant.get_names }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  
                    <div class="modal-body">
                
                     
                      <div class="row invoice-info">
                        <div class="col-sm-6 invoice-col">
                          <strong>Client Info</strong>
                          <address>
                            <strong>{{ member.get_names }}</strong><br>
                            
                         
                          </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6 invoice-col">
                        
                        </div>
               
                        <!-- /.col -->
                      </div>



                        <input type="text" value="{{ tenant.id }}" name="tenant" hidden>

                        {% crispy letter_form %}


                      </>
                    
                
                    </div>
                  
                  
                  </form>
            </div>
        
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>


      <div class="modal fade" id="noteModal" role="dialog">
        <div class="modal-dialog modal-xl" role="document">

            <div class="modal-content">
                <form method="post" action="{% url 'add_note' pk=tenant.id %}">
                    {% csrf_token %}
                  
                   <div class="modal-header bg-warning">
                      <h5 class="modal-title">Write A Note about {{ tenant.get_names }} </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                  
                    <div class="modal-body">
                
                     
                      <div class="row invoice-info">
                        <div class="col-sm-6 invoice-col">
                          <strong>Client Info</strong>
                          <address>
                            <strong>{{ tenant.get_names }}</strong><br>
                            
                         
                          </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-6 invoice-col">
                        
                        </div>
               
                        <!-- /.col -->
                      </div>



                        <input type="text" value="{{ tenant.id }}" name="tenant" hidden>

                        {% crispy note_form %}


                      </>
                    
                
                    </div>
                  
                  
                  </form>
            </div>
        
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>


</section>





{% endblock dashboard_content %}



{% block extra_js %}







{% endblock extra_js %}