{% extends 'dashboard_base.html' %}

{% load static %}

{% block app %} Human Resource {% endblock app %}

{% block active_hr %}
active
{% endblock active_hr %}

{% block active_hr_home %}
active
{% endblock active_hr_home %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'hr' %}">HR Module</a></li>
<li class="breadcrumb-item"><a href="{% url 'hr' %}">Daily</a></li>
{% endblock breadcrump %}

{% block title %}

Store Module

{% endblock title %}



{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/flexmonster.css' %}">

{%  endblock extra_css %}

{% block show_hr %}
menu-open
{%  endblock show_hr %}


{% block dashboard_content %}




<section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box">
            <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-user"></i></span>

            <div class="info-box-content">
              <a href="{% url 'employees_list' %}" ><span class="info-box-text">Employees</span></a>
              <span class="info-box-number">
                {{ employees }}
               
              </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>

        <div class="col-12 col-sm-6 col-md-3">
            <div class="info-box mb-3">
              <span class="info-box-icon bg-tertiary elevation-1"><i class="fas fa-users"></i></span>
  
              <div class="info-box-content">
                <a href="{% url 'salaries_list' %}" ><span class="info-box-text">Salary Groups</span></a>
                <span class="info-box-number"> {{ salaries }}</span>
              </div>
              <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
          </div>
        <!-- /.col -->
        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-secondary elevation-1"><i class="fas fa-users"></i></span>

            <div class="info-box-content">
              <a href="{% url 'roles_list' %}" ><span class="info-box-text">Roles</span></a>
              <span class="info-box-number"> {{ roles }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix hidden-md-up"></div>

        <div class="col-12 col-sm-6 col-md-3">
          <div class="info-box mb-3">
            <span class="info-box-icon bg-info elevation-1"><i class="fas fa-map"></i></span>

            <div class="info-box-content">
              <a href="{% url 'professions_list' %}" ><span class="info-box-text">Professions</span></a>
              <span class="info-box-number"> {{ professions }}</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>




      
    
      </div>


    </div><!--/. container-fluid -->
  </section>


  <section class="content">
    <div class="container-fluid">
 
    </div><!-- /.container-fluid -->
  </section>

{% endblock dashboard_content %}



{% block extra_js %}


<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'js/flexmonster.js' %}"></script>



{% endblock extra_js %}










