{% extends 'dashboard_base.html' %}

{% load static %}
{% block app %} Human Resource {% endblock app %}

{% block active_hr %}
active
{% endblock active_hr %}

{% block active_pro %}
active
{% endblock active_pro %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'professions_list' %}">Professions</a></li>
<li class="breadcrumb-item"><a href="{% url 'professions_list' %}">List</a></li>
{% endblock breadcrump %}

{% block show_hr  %}
menu-open
{%  endblock show_hr %}

{% block title %}

Dashboard Human Resource

{% endblock title %}

{% block dashboard_content %}
<section class="content">
    <div class="row">
      <div class="col-12">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Manage Employees Professions Easily</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">

                            <a href="{% url 'professions_aoe' %}"  class="btn btn-warning btn-sm" id="paymentBtn">
                              <i class="fas fa-pen fa-lg"></i>
                              New Profession
                            </a>
                        </div>

                      
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="dataTable" class="table  table-bordered table-striped">
              <thead class="bg-info">
              <tr>
                <th>Title</th>
                <th>Salary Group</th>
                <th>Date Created</th>
                <th>Created By</th>

                <th>Modified By</th>
                
                <th>Date Modified</th>
            
                <!-- <th>Details</th> -->
                <th>Edit</th>
              </tr>
              </thead>
              <tbody>
                {% for member in members %}
              <tr>
                <td>{{member.title}}</td>
                <td>
                  {{member.salary_group }}
                </td>
                <td>{{member.creator}}</td>
                <td>  {{member.date_created }} </td>
                <td>  {{member.modified_by }}</td>
                <td> {{member.date_modified }}</td>
                
                
          
                  <!-- <td>   <a href="{% url 'roles_details' pk=member.id %}" class="btn btn-sm btn-success"> More  </a></td> -->
                  <td>   <a href="{% url 'professions_edit' pk=member.id %}" class="btn btn-sm btn-warning"> Edit  </a></td>

             
             
                </tr>

              {% endfor %}
  







          
              </tbody>
              <tfoot>
            
                <tr>
                  <th>Title</th>
                  <th>Salary Group</th>
                  <th>Date Created</th>
                  <th>Created By</th>
  
                  <th>Modified By</th>
                  
                  <th>Date Modified</th>
              
                  <!-- <th>Details</th> -->
                  <th>Edit</th>
                </tr>
        
              </tfoot>
            </table>

            <div class="row">
              <div class="col-md-2">
                
              </div>

              <div class="col-md-8 text-left">
                {% if members.has_other_pages %}
                <ul class="pagination">
                  {% if members.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ members.previous_page_number }}">&laquo;</a></li>
                  {% else %}
                  <li class="page-item disabled"><span class="page-link">  &laquo;</span></li>
                  {% endif %}
                  {% for i in members.paginator.page_range %}
                  {% if users.number == i %}
                    <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if members.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ members.next_page_number }}">&raquo;</a></li>
                  {% else %}
                  <li class="page-item disabled"><span>&raquo;</span></li>
                  {% endif %}
                </ul>
                {% endif %}
              </div>

              <div class="col-md-2">
                
              </div>

          
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>

  
      <!-- /.col -->
    </div>

    <div class="modal fade" id="modal" role="dialog">
      <div class="modal-dialog modal-xl" role="document">

          <div class="modal-content">
                  
          </div>
      
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.row -->
  </section>

{% endblock dashboard_content %}







{% block extra_js %}



{% endblock extra_js %}