



{% extends 'dashboard_base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block app %} Human Resource {% endblock app %}

{% block active_hr %}
active
{% endblock active_hr %}

{% block active_pro  %}
active
{% endblock active_pro %}
{% block breadcrump %}

<li class="breadcrumb-item"><a href="{% url 'professions_list' %}">Professions</a></li>
<li class="breadcrumb-item"><a href="{% url 'professions_aoe' %}">AOE</a></li>
{% endblock breadcrump %}

{% block show_hr  %}
menu-open
{%  endblock show_hr %}

{% block title %}

Dashboard Human Resource 

{% endblock title %}



{% block dashboard_content %}

<section class="content">
    <div class="row d-flex justify-content-center">
      <div class="col-10">
    

        <div class="card">
          <div class="card-header bg-info">
          
            <div class="row">
                <div class="col-6">
                    <h3 class="card-title">Profession Form</h3>
                </div>

                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                        </div>

                        <div class="col-6">
                           
                        </div>
                    </div>
                  
                 
                </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
          
            {% crispy form %}

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
{% endblock dashboard_content %}





